body {
    color: $color-text-secondary;
    background-color: $color-background;

    &.fixed {
        overflow: hidden;
        height: 100vh;
    }
}

.helper {
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 20vh;
    margin-top: 82px;
}

.helper_blur {
    .user-info__wrapper {
        filter: blur(8px);
        pointer-events: none;
    }
}

.main {
    position: relative;
    z-index: 1;
    min-height: 20vh;
}

.section {
    width: 100%;
    padding-bottom: 48px;

    .mobile-view {
        margin-top: 16px;
        display: none;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        display: flex;
        gap: 8px;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 44px;
        color: $color-text-primary;

        i {
            font-size: 24px;
            color: $color-text-primary;
        }
    }
}

a,
img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

a {
    transition: color 250ms;
}

.hidden {
    display: none;
}

html,
body {
    scrollbar-width: 18px;
    scrollbar-color: $color-elements $color-background;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    width: 15px;
}

html::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
    background: $color-background;
}

html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
    background: $color-elements;
    cursor: pointer;
    border-radius: 3px;
    opacity: 0.2;
}

html {
    &.fixed_scroll {
        overflow: hidden;
    }
}

// fix hieroglyph bug
i {
    visibility: hidden;
}

i.loaded,
.flex-tb i {
    visibility: initial;
}

// fix для модалок
.icon-menu-close {
    pointer-events: none;
}

i {
    font-weight: 400;

    &.active {
        color: $color-primary-solid;
    }
}

.datepicker,
.search-modal,
.modal__content,
.sidebar-external,
[data-controller="symfony--ux-vue--vue"] {
    i {
        visibility: initial;
    }
}

@media all and (min-width: 640px) {
}

@media all and (min-width: 1280px) {
    .body {
        display: grid;
        grid-gap: 8px;

        &.opened {
            & .sidebar-content__wrapper {
                width: 480px;
            }
        }
    }

    .helper {
        // for swiper - возможно не совсем корректные значения
        max-width: calc(100vw);
        margin-top: 80px;
    }

    .body.opened {
        .helper {
            // for swiper - возможно не совсем корректные значения
            max-width: calc(100vw);
        }
    }

    .section {
        &__title {
            font-size: 44px;
            line-height: 52px;
        }
    }
}
