.container {
    margin: 0 auto;
    max-width: 100vw;
    width: 100%;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    gap: 24px;

    @media all and (min-width: 640px) {
        padding: 0 32px;
    }

    @media all and (min-width: 768px) {}

    @media all and (min-width: 1280px) {
        padding: 0 80px;
        //max-width: calc(100vw);
        max-width: 1920px;
        min-width: 0;
        gap: 40px;

        .body.opened & {
            //max-width: calc(100vw);
            max-width: 1920px;
        }
        .body.opened .page--tournament & {
            max-width: 920px;
        }
    }
    @media all and (min-width: 1920px) {
        .body.opened .page--tournament & {
            max-width: 1162px;
        }
    }

}

.container__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    @media screen and (max-width: 767px) {
        &--pagination {
            display: grid;
            grid-template-rows: min-content min-content;
            grid-template-columns: 3fr 1fr;

            & .swiper-buttons {
                grid-row: 1 / 2;
                grid-column: 2 / 3;
                justify-self: end;
            }

            & .container__title {
                grid-column: 1 / 2;
            }

            & * {
                grid-column: 1 / -1;
            }
        }
    }
}

.container__title {
    display: flex;
    align-items: center;
    gap: 10px;

    &--s {
        font-size: 20px;
    }

    &--m {
        font-size: 28px;
    }

    &--l {
        font-size: 32px;
        gap: 16px;

        i {
            font-size: 32px;
        }
    }

    @media all and (min-width: 768px) {
        &--s {
            font-size: 28px;
        }

        &--m {
            font-size: 36px;
        }
    }

    @media all and (min-width: 1280px) {
        &--s {
            font-size: 32px;
        }

        &--m,
        &--l {
            font-size: 44px;
        }
    }
}

.container__box {
    @media all and (min-width: 769px) {
        background-color: $color-surface;
        padding: 40px;
        border-radius: $border-radius;
        box-shadow: $card-shadow;
        max-width: 814px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
}
