@font-face {
    font-family: my-icons;
    src: url("../../fonts/my-icons.woff2?20fd0875") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon"], [class*=" icon"] {
    font-family: 'my-icons' !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
}


.icon-about::before {
    content: "\554a";
}

.icon-aed::before {
    content: "\554b";
}

.icon-apple::before {
    content: "\554c";
}

.icon-arrow-back::before {
    content: "\554d";
}

.icon-arrow-down::before {
    content: "\554e";
}

.icon-arrow-link::before {
    content: "\554f";
}

.icon-arrow-right::before {
    content: "\5550";
}

.icon-bell::before {
    content: "\5551";
}

.icon-bonuses::before {
    content: "\5552";
}

.icon-btc::before {
    content: "\5553";
}

.icon-casino::before {
    content: "\5554";
}

.icon-chat::before {
    content: "\5555";
}

.icon-check-circle::before {
    content: "\5556";
}

.icon-check-mark-green::before {
    content: "\5557";
}

.icon-check::before {
    content: "\5558";
}

.icon-clock::before {
    content: "\5559";
}

.icon-close::before {
    content: "\555a";
}

.icon-cup::before {
    content: "\555b";
}

.icon-default::before {
    content: "\555c";
}

.icon-docs::before {
    content: "\555d";
}

.icon-dollar::before {
    content: "\555e";
}

.icon-dots::before {
    content: "\555f";
}

.icon-download::before {
    content: "\5560";
}

.icon-emoji::before {
    content: "\5561";
}

.icon-eth::before {
    content: "\5562";
}

.icon-eur::before {
    content: "\5563";
}

.icon-exclamation-single::before {
    content: "\5564";
}

.icon-eye-blind::before {
    content: "\5565";
}

.icon-eye::before {
    content: "\5566";
}

.icon-facebook::before {
    content: "\5567";
}

.icon-faq::before {
    content: "\5568";
}

.icon-favorite::before {
    content: "\5569";
}

.icon-fire::before {
    content: "\556a";
}

.icon-fullscreen::before {
    content: "\556b";
}

.icon-games::before {
    content: "\556c";
}

.icon-google::before {
    content: "\556d";
}

.icon-home::before {
    content: "\556e";
}

.icon-hot::before {
    content: "\556f";
}

.icon-info::before {
    content: "\5570";
}

.icon-inr::before {
    content: "\5571";
}

.icon-instagram::before {
    content: "\5572";
}

.icon-lock::before {
    content: "\5573";
}

.icon-login::before {
    content: "\5574";
}

.icon-logout::before {
    content: "\5575";
}

.icon-loyalty::before {
    content: "\5576";
}

.icon-mail::before {
    content: "\5577";
}

.icon-menu-close::before {
    content: "\5578";
}

.icon-menu-open::before {
    content: "\5579";
}

.icon-metamask::before {
    content: "\557a";
}

.icon-my-bonuses::before {
    content: "\557b";
}

.icon-play::before {
    content: "\557c";
}

.icon-plus::before {
    content: "\557d";
}

.icon-pointer-left::before {
    content: "\557e";
}

.icon-pointer-right::before {
    content: "\557f";
}

.icon-prize-tournaments::before {
    content: "\5580";
}

.icon-prize::before {
    content: "\5581";
}

.icon-question-circle::before {
    content: "\5582";
}

.icon-question::before {
    content: "\5583";
}

.icon-search::before {
    content: "\5584";
}

.icon-send::before {
    content: "\5585";
}

.icon-share::before {
    content: "\5586";
}

.icon-shield::before {
    content: "\5587";
}

.icon-shild::before {
    content: "\5588";
}

.icon-sport::before {
    content: "\5589";
}

.icon-star-reward::before {
    content: "\558a";
}

.icon-telegram::before {
    content: "\558b";
}

.icon-terms::before {
    content: "\558c";
}

.icon-tournaments::before {
    content: "\558d";
}

.icon-trust::before {
    content: "\558e";
}

.icon-twitter::before {
    content: "\558f";
}

.icon-usdt::before {
    content: "\5590";
}

.icon-user::before {
    content: "\5591";
}

.icon-wallet::before {
    content: "\5592";
}

.icon-warning::before {
    content: "\5593";
}

.icon-withdraw::before {
    content: "\5594";
}

