html {
  font-size: $font-size-default;
  font-family: $font-primary;
}

body {
  font-size: 16px;
  font-family: $font-primary !important;
  line-height: 28px;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: normal;
  user-select: none;
  font-family: $font-primary;
  color: $color-text-secondary;
}

h1 {
  display: block;
  width: 100%;
  font-size: 28px;
  line-height: 36px;
  font-weight: 700;

  color: $color-text-primary;
}

h2 {
  display: block;
  width: 100%;
  font-size: 30px;
  font-weight: 700;
}

h3 {
  font-size: 24px;
  font-weight: 700;
}

p {
  margin-bottom: 20px;
}

li,
a {
  user-select: none;
}

.text__link {
  text-decoration: underline;
  color: #b0a39b;

  &:hover {
    color: #ff6b00;
  }
}

@media all and (min-width: 480px) {
  body {
    font-size: $font-size-default;
    line-height: 32px;
  }

  h1 {
    font-size: 36px;
    line-height: 48px;
  }
}

@media all and (min-width: 768px) {
  h1 {
    font-size: 44px;
    line-height: 52px;
  }
}
