$font-primary: "Ubuntu", sans-serif;

$font-size-default: 20px;
$font-size-smaller: 12px;

// ----- colors ----------------------------------------------------------------;
$color-background: #141417;
$color-divider: #42424f;
$color-divider-secondary: #42424f;
$color-surface: #141417;
$color-elements: #19191d;
$color-elements-hover: #282832;
$color-primary: #bde322;
$color-primary-solid: $color-primary;
$color-primary-hover: #c8e552;
$color-primary-link: #bde322;
$color-text-primary: #ffffff;
$color-text-secondary: #c9c9d4;
$color-text-placeholder: #afafb8;
$color-text-on-bg: #1c1c20;
$color-status-active: #21c964;
$color-primary-gradient: #9176ff;
$color-primary-gradient-solid: #b7a5ff;

$color-button-gradient: linear-gradient(
    180deg,
    $color-primary 45.31%,
    $color-primary-solid 100%
);
$color-button-gradient-hover: linear-gradient(
    180deg,
    $color-primary-solid 45.31%,
    $color-primary 100%
);
$color-button-primary-gradient: linear-gradient(
    93deg,
    $color-primary-gradient 2.68%,
    $color-primary-gradient-solid 97.32%
);

// ----- inputs colors ---------------------------------------------------------;
$input-background: $color-elements;
$input-color: $color-text-primary;

// ----- border-radius---------------------------------------------------------;
$border-radius-small: 8px;
$border-radius: 20px;
$border-radius-medium: 12px;

// ----- colors of statuses----------------------------------------------------------------;
$color-success: #13d074;
$color-error: #e12323;
$color-warning: #f8bc24;

// ----- shadow ----------------------------------------------------------------;
$card-shadow:
    2px 2px 8px 0px rgba(0, 0, 1, 0.95),
    -2px -2px 8px 0px rgba(56, 56, 63, 0.75);
$button-normal-shadow:
    1px 2px 6px 0px rgba(0, 0, 1, 0.95),
    -1px -2px 6px 0px rgba(155, 151, 183, 0.35);
$tooltip-shadow: 0px 2px 4px 0px rgba(0, 0, 1, 0.6);
$modal-shadow: 0px 18px 20px 0px rgba(0, 0, 1, 0.6);
