@import "../../base/mixins/line-clamp.scss";
@import '../counter.scss';
@import "../tooltips.scss";

.card-tournament {
    position: relative;
    border-radius: $border-radius;
    overflow: hidden;
    background-color: $color-surface;
    display: flex;
    flex-direction: column;
    height: auto;
    box-shadow: $card-shadow;
    border: 2px solid var(--color-button-border);

    &--active {
        border: 1px solid $color-primary;
    }
}

.card-tournament-top {
    position: relative;
    aspect-ratio: 5/4;
    background: $color-background;
    overflow: hidden;
    max-height: 288px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 20px 20px 8px 20px;
    z-index: 1;

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        inset: 0;
        background-color: rgba($color-background, 0.5);
    }

    & + .card-tournament__title {
        margin-top: 24px;
    }

    @media all and (min-width: 1280px) {
        padding: 24px;
    }
}

.card-tournament-top__header {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;

    @media all and (min-width: 768px) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
}

.card-tournament-top__img {
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;

    &--default {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 332px;
        height: 107px;
    }
}

.card-tournament-top__footer {
    position: relative;
    color: $color-text-primary;
}

.card-tournament-content {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;

    @media all and (min-width: 768px) {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        padding: 24px;
        gap: 24px;
    }
}

.card-tournament-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card-tournament-games {
    display: flex;
    flex-direction: column;

    @media all and (min-width: 768px) {
        flex-direction: row;
        height: 20px;
    }
}

.card-tournament-games__item {
    font-size: 10px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 4px;

    & a {
        font-size: 12px;
        color: $color-primary-link;
        text-decoration: underline;
    }

    @media all and (min-width: 768px) {
        & + & {
            margin-left: 12px;
            padding-left: 12px;
            border-left: 1px solid $color-divider-secondary;
        }
    }
}

.card-tournament-table {

}


.card-tournament-stats {
    margin-bottom: 20px;
}

.card-tournament-stats__col {
    flex-direction: column;
    align-items: flex-end;
}

.card-tournament-stats__item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 12px;
    line-height: 20px;
    padding: 8px 0;

    &:not(&:last-child) {
        border-bottom: 1px solid $color-divider;
    }

    & > div:first-child {
        white-space: nowrap;
        margin-right: 24px;
        flex-shrink: 1;
    }

    & > div:last-child {
        display: flex;
        overflow: hidden;

        .tooltip-caption {
            display: inline-block;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            text-overflow: ellipsis;
            text-align: right;
        }
    }

    > div span {
        color: $color-text-primary;
    }

    & .tooltip-wrapper,
    & .tooltip-caption {
        width: 100%;
    }
}

.card-tournament-stats__value {
    display: flex;

    &--crypto {
        font-size: 10px;
        line-height: 12px;

        span {
            color: $color-text-secondary;
            text-transform: uppercase;
            margin-left: 4px;
        }
    }
}

.card-tournament__buttons {
    display: flex;
    flex-direction: column;
    gap: 8px;

    @media all and (min-width: 768px) {
        flex-direction: row;
        gap: 18px;
    }
}

.card-tournament-deadline {
    display: flex;
    line-height: 20px;
}

.card-tournament-deadline__text {
    text-transform: uppercase;
    color: $color-text-primary;
    font-size: 10px;
    font-weight: 600;
}


.card-tournament__title {
    @include line-clamp(2);
    font-size: 20px;
    line-height: 28px;
    max-width: 340px;
    font-weight: 700;
    margin-bottom: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}

.card-tournament__prize {
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    align-items: flex-start;
    display: flex;
    gap: 8px;

    span:first-child {
        color: $color-primary-hover;
    }
}

.card-tournament-price {
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 4px;
}

.card-tournament-price__converted {
    font-size: 10px;
    font-weight: 500;
    line-height: 12px;
    grid-column: span 2;
    text-align: right;
    color: $color-text-secondary;
}

.card-tournament__text {
    font-size: 14px;
    line-height: 24px;

    p {
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 0;
    }

    @media all and (min-width: 768px) {
        p {
            font-size: 16px;
            line-height: 28px;
        }
    }
}

.card-tournament__place {
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 20px;
    display: grid;
    grid-template-columns: 25px 1fr 1fr;
    align-items: center;
    padding: 6px 16px;
    background-color: $color-elements;
    border-radius: $border-radius;
    word-break: break-all;

    &.active {
        background-color: $color-elements;
        color: $color-text-primary;

        & span {
            font-weight: 400;
        }
    }

    div,
    > span {
        display: flex;
        gap: 8px;

        img {
            margin-left: -8px;
        }

        &:first-child {
            justify-content: flex-end;
        }

        &:nth-child(2) {
            margin-left: 16px;
            display: inline-block;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        &:last-child {
            margin-left: auto;
            text-align: right;
        }

        span {
            font-weight: 700;
            color: $color-text-primary;
        }
    }

    & > div:first-child {
        display: flex;
        align-items: center;
    }
}

.card-tournament-stats__date {
    position: relative;
    margin-right: 6px;
    padding-right: 6px;

    &:after {
        content: '';
        height: 10px;
        right: 0;
        bottom: 50%;
        transform: translateY(50%);
        position: absolute;
        width: 1px;
        background: $color-text-secondary;
    }
}
