.tournaments__list {
    display: grid;
    gap: 24px;

    @media all and (min-width: 1280px) {
        gap: 32px;
    }

    @media all and (min-width: 1920px) {
        grid-template-columns: repeat(2, 1fr);
    }
}
