<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<title>Boilerplate</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
	<style>
		* {
			padding: 0;
			margin: 0;
			list-style: none;
		}

		html,
		body {
			height: 100%;
			width: 100%;
			font-size: 14px;
			font-family: 'Roboto', sans-serif;
		}

		body {
			background-color: rgba(0, 0, 0, 0.45);
		}

		section {
			display: flex;
			flex-wrap: wrap;
		}

		@supports(display: grid) {
			section {
				display: grid;
				grid-template-columns: repeat(auto-fill, minmax(480px, 1fr));
				grid-gap: 10px;
				padding: 10px;
			}
		}

		section div {
			width: 32%;
			margin: 0 1% 1% 0;
			border: 1px solid rgba(0, 199, 69, 1);
			border-radius: 5px;
			padding-bottom: 15px;
			background-color: rgba(0, 0, 0, 0.5);
			box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.75);
		}

		@supports(display: grid) {
			section div {
				width: 100%;
				margin: 0;
			}
		}

		h2 {
			font-size: 22px;
			line-height: 30px;
			font-family: "Roboto", sans-serif;
			color: #ffffff;
			font-weight: 500;
			text-align: center;
			text-shadow: 0 1px 1px rgba(0, 0, 0, 0.85);
			letter-spacing: 0.05em;
			border-bottom: 1px solid rgba(0, 199, 69, 1);
			padding-bottom: 10px;
			padding-top: 10px;
			margin: 0 10px 15px;
		}

		ul h2 {
			margin-top: 10px;
		}

		.btn-primary {
			display: flex;
			box-sizing: border-box;
			width: 100%;
			min-height: 40px;
			font-size: 14px;
			line-height: 14px;
			font-family: "Roboto", sans-serif;
			font-weight: 500;
			text-align: center;
			text-transform: uppercase;
			color: white;
			text-decoration: none;
			border-radius: 2px;
			padding: 0 10px;
			background-color: #a80000;
			box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.75);
			align-items: center;
			margin: auto;
			justify-content: center;
			transition: background-color 0.2s ease-out, box-shadow 0.2s ease-out;
			cursor: pointer;
		}

		.btn-primary.done-adaptive {
			background-color: rgba(0, 122, 255, 0.55);
			transition: background-color 0.2s ease-out;
		}

		.btn-primary.done {
			background-color: rgba(0, 199, 69, 0.55);
			transition: background-color 0.2s ease-out;
		}

		.btn-primary.template {
			background-color: rgb(180, 81, 0);
			transition: background-color 0.2s ease-out;
		}

		.btn-primary.done:hover {
			background-color: rgba(0, 199, 69, 1);
		}

		ul {
			display: flex;
			flex-wrap: wrap;
			padding: 0 10px;
		}

		ul li {
			margin: 0 1% 1% 0;
		}

		sup {
			display: inline-block;
			color: white;
			font-weight: 300;
			padding: 10px;
			opacity: .75;
		}

		sup p {
			padding: 5px 0;
		}

		sup span {
			display: inline-block;
			min-width: 10px;
			text-align: center;
		}

		@supports(display: grid) {
			ul {
				display: grid;
				grid-gap: 10px;
				grid-template-columns: repeat(auto-fill, minmax(32%, auto));
				margin: 0;
			}
		}

		@media(max-width:580px) {
			@supports(display: grid) {
				section {
					grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
				}
			}
		}
	</style>
</head>

<body>
	<section>
		<div>
			<h2>Общее</h2>
			<ul>

				<li>
					<a href="html/pages/main.html" class="btn-primary done">Main page</a>
				</li>
				<li>
					<a href="html/pages/main-logged.html" class="btn-primary done">Main page logged</a>
				</li>
				<li>
					<a href="html/pages/loyalty.html" class="btn-primary done">loyalty</a>
				</li>
				<li>
					<a href="html/pages/loader.html" class="btn-primary done">Loader</a>
				</li>
				<li>
					<a href="html/pages/search.html" class="btn-primary done">Search</a>
				</li>
				<li>
					<a href="html/pages/toaster.html" class="btn-primary done">Toaster</a>
				</li>
				{# <li><a href="html/pages/events.html" class="btn-primary">Events list</a></li>#}
				{# <li><a href="html/pages/event_info.html" class="btn-primary">Events item</a></li>#}
			</ul>

			<h2>Страницы уведомлений</h2>
			<ul>
				<li>
					<a href="html/pages/blocked.html" class="btn-primary done">⚬ Blocked</a>
				</li>
				<li>
					<a href="html/pages/construction.html" class="btn-primary done">⚬ Construction</a>
				</li>
				<li>
					<a href="html/pages/not-avaliable.html" class="btn-primary done">⚬ not avaliable</a>
				</li>
				<li>
					<a href="html/pages/restricted.html" class="btn-primary done">⚬ restricted</a>
				</li>
				<li>
					<a href="html/pages/403.html" class="btn-primary done ">⚬ 403</a>
				</li>
				<li>
					<a href="html/pages/404.html" class="btn-primary done">⚬ 404</a>
				</li>
				<li>
					<a href="html/pages/500.html" class="btn-primary done">⚬ 500</a>
				</li>
			</ul>

			<h2>Текстовые страницы</h2>
			<ul>
				<li><a href="html/pages/faq.html" class="btn-primary done">FAQ</a></li>
				<li><a href="html/pages/about.html" class="btn-primary done">About</a></li>
			</ul>
		</div>
		<div>
			<h2>Авторизация</h2>
			<ul>
				<li>
					<a href="html/pages/login.html" class="btn-primary done">: Login</a>
				</li>
				{# <li>
					<a href="html/pages/update_data.html" class="btn-primary template">: Update data</a>
				</li> #}
			</ul>
			<h2>Регистрация</h2>
			<ul>
				<li>
					<a href="html/pages/registration.html" class="btn-primary done">: Registration</a>
				</li>
				{# <li>
					<a href="html/pages/confirm-email.html" class="btn-primary template">Confirm email</a>
				</li> #}
			</ul>
			{# <h2>2fac auth</h2> #}
			{# <ul> #}
				{# <li>
					<a href="html/pages/auth.html" class="btn-primary ">2fac install</a>
				</li>
				<li>
					<a href="html/pages/auth2.html" class="btn-primary ">2fac step 2</a>
				</li> #}
				{# <li><a href="html/pages/2fac-app-install.html" class="btn-primary">2fac install</a></li> #}
				{# <li><a href="html/pages/2fac-app-scan-qr-code.html" class="btn-primary">scan qr code</a></li>#}
				{# <li>
					<a href="html/pages/2fac-confirmation-code.html" class="btn-primary ">2fac confirmation code</a>
				</li>
				<li>
					<a href="html/pages/2fac-backup-key.html" class="btn-primary ">2fac enter backup key</a>
				</li>
				<li>
					<a href="html/pages/2fac-save-backup-key.html" class="btn-primary ">2fac save backup key</a>
				</li> #}
				{#
			</ul> #}
		</div>
		<div>
			<h2>Восстановление пароля</h2>
			<ul>
				<li>
					<a href="html/pages/password_recovery.html" class="btn-primary done">: pass recovery</a>
				</li>
				<li>
					<a href="html/pages/password_verification.html" class="btn-primary done">: pass verification</a>
				</li>
				<li>
					<a href="html/pages/password_new.html" class="btn-primary done">: pass new</a>
				</li>
			</ul>
			{# <h2>Обратная связь</h2>
			<ul>
				<li><a href="html/pages/help.html" class="btn-primary template">: Help/Contacts</a></li>
			</ul> #}
		</div>
		<div>
			<h2>Список игр</h2>
			<ul>
				<li><a href="html/pages/games.html" class="btn-primary done">Games</a></li>
				<li><a href="html/pages/games-category.html" class="btn-primary done">Games Category</a></li>
				<li><a href="html/pages/no-games.html" class="btn-primary done">Games Empty</a></li>
				<li><a href="html/pages/game.html" class="btn-primary done">Game Page</a></li>
			</ul>
		</div>
		<div>
			<h2>Бонусы</h2>
			<ul>
				<li>
					<a href="html/pages/bonuses.html" class="btn-primary done">Bonuses</a>
				</li>
				<li>
					<a href="html/pages/bonuses-player.html" class="btn-primary done">+ Bonuses player</a>
				</li>
				<li>
					<a href="html/pages/bonuses-history.html" class="btn-primary done">+ Bonuses history</a>
				</li>
				<li>
					<a href="html/pages/bonus-info.html" class="btn-primary done">Bonus info</a>
				</li>
				<li>
					<a href="html/pages/quests.html" class="btn-primary done">Quests</a>
				</li>
				<!--				<li><a href="html/pages/bonuses_history/bonuses_history.html" class="btn-primary">+ Bonuses history</a></li>-->
				<!--				<li><a href="html/pages/shop/shop.html" class="btn-primary ">+ Shop</a></li>-->
				<!--				<li><a href="html/pages/promo/promo.html" class="btn-primary ">+ Promo</a></li>-->
			</ul>
			<h2>Турниры</h2>
			<ul>
				<li><a href="html/pages/tournaments-list.html" class="btn-primary done">+ Tournaments list</a></li>
				<li><a href="html/pages/tournaments-info.html" class="btn-primary done">Tournament info</a></li>
			</ul>
		</div>
		<div>
			<h2>Страница игрока</h2>
			<ul>
				<li><a href="html/pages/profile.html" class="btn-primary done">+ Profile</a></li>
				<li><a href="html/pages/profile-edit.html" class="btn-primary done">+ Profile Edit</a></li>
				<li><a href="html/pages/no-games.html" class="btn-primary done">Profile Notifications Empty</a></li>
				<li><a href="html/pages/games-favorite.html" class="btn-primary done">Profile Favorite Games</a></li>
				<li><a href="html/pages/accounts.html" class="btn-primary done">+ Profile: Accounts</a></li>
				<li><a href="html/pages/transactions-history.html" class="btn-primary done">+ Profile: transaction
						history</a></li>
				<li><a href="html/pages/messages.html" class="btn-primary done">+ Profile: Messages</a></li>
				<li><a href="html/pages/messages-info.html" class="btn-primary done">+ Profile: Message</a></li>
				<li><a href="html/pages/documents.html" class="btn-primary done">+ Documents</a></li>
				<li><a href="html/pages/responsible.html" class="btn-primary done">+ Profile Responsible</a></li>
			</ul>
		</div>
		<div>
			<h2>Платежные методы</h2>
			<ul>
				<li><a href="html/pages/deposits.html" class="btn-primary done">+ Profile: Deposits</a></li>
				<li><a href="html/pages/withdrawals.html" class="btn-primary done">+ Profile: Cashout</a></li>
			</ul>
		</div>
		<div>
			<h2>Модальные окна</h2>
			<ul>
				<li><a href="html/pages/modals.html" class="btn-primary done">Modals</a></li>
			</ul>
		</div>
		<div>
			<h2>Компоненты</h2>
			<ul>
				<li>
					<a href="html/icons.html" class="btn-primary done">Icons</a>
				</li>
				<li>
					<a href="html/pages/components.html" class="btn-primary done">Components</a>
				</li>
				{# <li><a href="static_pages/ddos/ddos.html" class="btn-primary">DDoS</a></li>
				<li><a href="static_pages/maintenance/maintenance.html" class="btn-primary">maintenance</a></li> #}
				<li>
					<sup>
						<p>
							<span>⚬</span>
							— notification page
						</p>
						<p>
							<span>+</span>
							— page with profile menu
						</p>
						<p>
							<span>:</span>
							— page with form
						</p>
					</sup>
				</li>
			</ul>
		</div>
	</section>

</body>

</html>