{% set hasDescription = hasDescription | default(false) %}

<div class="card-tournament">
    <div class="card-tournament-top">
        <img src="../../img/backgrounds/game.jpg" alt="" class="card-tournament-top__img">
        <div class="card-tournament-top__header">
            <div class="status status--warning">Active</div>
            <div class="card-tournament-deadline">
                <div class="card-tournament-deadline__text">ends in</div>
                <div id="counter" class="counter"></div>
            </div>
        </div>
        <div class="card-tournament-top__footer">
            <div class="card-tournament__title">Incredible tournament with a great prize for our winners</div>
            <div class="card-tournament__prize">
                <i class="icon-cup"></i>
                <div class="card-tournament-price">
                    <span>2 550 000</span> USD
                    <span class="card-tournament-price__converted">0.000000123</span>
                </div>
                <i data-tooltip data-tooltip-placement-768="top-start" data-tooltip-placement-1280="left" class="icon-question">
                    <span class="tooltip-text">Guaranteed<br/> prize fund</span>
                </i>
            </div>
        </div>

    </div>
    <div class="card-tournament-content">
        <div class="card-tournament-info">
            <div class="card-tournament-games">
                <div class="card-tournament-games__item">
                    <img src="../../../img/icons/success.svg" alt="">
                    Available games: <a href="">2333</a>
                </div>
                <div class="card-tournament-games__item">
                    <img src="../../../img/icons/restricted.svg" alt="" class="src">
                    Restricted games: <a href="">2333</a>
                </div>
            </div>
            {% if not hasDescription %}
            <div class="card-tournament-table">
                <div class="card-tournament__place">
                    <div>
                        <img src="../../img/icons/gold.svg" alt="">
                        1
                    </div>
                    <div>Nickname</div>
                    <div>200 589 points</div>
                </div>
                <div class="card-tournament__place">
                    <div>
                        <img src="../../img/icons/silver.svg" alt="">
                        2
                    </div>
                    <div>Nickname</div>
                    <div>200 589 points</div>
                </div>
                <div class="card-tournament__place">
                    <div>
                        <img src="../../img/icons/bronze.svg" alt="">
                        3
                    </div>
                    <div>Nickname</div>
                    <div>200 589 points</div>
                </div>
                <div class="card-tournament__place">
                    <div>
                        <img src="../../img/icons/regular.svg" alt="">
                        4
                    </div>
                    <div>Nickname</div>
                    <div>200 589 points</div>
                </div>
                <div class="card-tournament__place active">
                    <div>
                        899
                    </div>
                    <div>Michael_78 (you)</div>
                    <div><span>100 000 USD</span></div>
                </div>
            </div>
            {% else %}
            <div class="card-tournament__text">
                <p>
                    Many elderly clients who enjoy playing live games or slot
                    machines
                    at
                    times
                    struggle to
                    get out of their houses in order
                    to go to a land based casino. That’s how was born; to bring the
                    real
                    casino
                    entertainment to the screens of our clients.
                    Be it mobile phone, tablet, laptop, desktop and even further
                    mirror
                    viewing on a
                    smart
                    TV (local jurisdiction laws apply
                    and it is the clients responsibility to keep upto date with the
                    restrictions) is
                    some of
                    the way...
                </p>

            </div>
            {% endif %}
        </div>
        <div>
            <div class="card-tournament-stats">
                <div class="card-tournament-stats__item">
                    <div>Starts</div>
                    <div>
                        <span class="card-tournament-stats__date">01.05.2022</span>
                        <span>08:00</span>&nbsp;
                        <div>(UTC + 2)</div>
                    </div>
                </div>
                <div class="card-tournament-stats__item">
                    <div>Ends</div>
                    <div>
                        <span class="card-tournament-stats__date">01.05.2022</span>
                        <span>08:00</span>&nbsp;
                        <div>(UTC + 2)</div>
                    </div>
                </div>
                <div class="card-tournament-stats__item">
                    <div>Participation fee</div>
                    <div class="card-tournament-stats__col">
                        <div class="card-tournament-stats__value">
                            <span>15</span>&nbsp;
                            <div>USD</div>
                        </div>
                        <div class="card-tournament-stats__value--crypto">
                            1.0234132674<span>btc</span>
                        </div>
                    </div>
                </div>
                <div class="card-tournament-stats__item">
                    <div>Minimum bet</div>
                    <div class="card-tournament-stats__col">
                        <div class="card-tournament-stats__value">
                            <span>15</span>&nbsp;
                            <div>USD</div>
                        </div>
                        <div class="card-tournament-stats__value--crypto">
                            1.0234132674<span>btc</span>
                        </div>
                    </div>
                </div>
                <div class="card-tournament-stats__item">
                    <div>Number of prizes</div>
                    <div>
                        <span>4</span>
                    </div>
                </div>
                <div class="card-tournament-stats__item">
                    <div>Tournament strategy</div>
                    <div>
                        <span data-tooltip class="tooltip-wrapper">
                            <span class="tooltip-caption">Win Multiplier GradationWin Multiplier GradationWin Multiplier Gradation</span>
                            <span class="tooltip-text">Win Multiplier GradationWin Multiplier GradationWin Multiplier Gradation</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="card-tournament__buttons">
                {{ fieldButton({
                    tag: 'a',
                    content: 'Learn more',
                    href: '',
                    sizeClass: '2',
                    typeClass: '2',
                    customClass: 'button--yellow'
                } ) }}
                {{ fieldButton({
                    tag: 'a',
                    content: 'Subscribe',
                    href: '',
                    sizeClass: '2',
                    typeClass: '1'
                } ) }}
            </div>
        </div>
    </div>
</div>
