<div class="container">
    <div class="slider-main">
        <div class="swiper-container" data-main-swiper>
            <div class="swiper-wrapper">
                {% for i in range(1, 4) %}
                    <div class="swiper-slide">
                        <img src="../../img/backgrounds/tournament.jpg" class="slider-main__img" alt="bonus"/>
                        <div class="slider-main__content">
                            <div class="slider-main__description">
                                <div class="slider-main__label">Promotions</div>
                                <div class="slider-main__title">Presenting new casino Raise 777</div>
                                <div class="slider-main__subtitle">Experience the excitement of playing online slot machines from the comfort of your own home</div>
                            </div>

                            <a href="#" class="slider-main__link">
                                Learn more
                                <i class="icon-pointer-right"></i>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="slider-main__pagination">
                <i class="icon-arrow-down prev"></i>
                <div class="swiper-pagination"></div>
                <i class="icon-arrow-down next"></i>
            </div>
        </div>
    </div>
</div>
