<div class="footer-menu">
    <div class="footer-menu__title" data-footer-menu-toggler>
        <span>About</span>
        <i class="icon-arrow-down"></i>
    </div>
    <ul class="footer-menu__list">
        <li class="footer-menu__item"><a href="/pages/about.html" class="footer-menu__link">About</a></li>
        <li class="footer-menu__item"><a href="/pages/tournaments.html" class="footer-menu__link">Tournaments</a></li>
        <li class="footer-menu__item"><a href="/pages/bonuses.html" class="footer-menu__link">Bonuses</a></li>
    </ul>
</div>

