<div class="footer-menu">
    <div class="footer-menu__title" data-footer-menu-toggler>
        <span>Games</span>
        <i class="icon-arrow-down"></i>
    </div>
    <ul class="footer-menu__list">
        <li class="footer-menu__item"><a href="/pages/games.html" class="footer-menu__link">All games</a></li>
        <li class="footer-menu__item"><a href="/pages/bonuses.html" class="footer-menu__link">Sportsbook</a></li>
        <li class="footer-menu__item"><a href="/pages/tournaments.html" class="footer-menu__link">Slots</a></li>
        <li class="footer-menu__item"><a href="/pages/loyalty_program.html" class="footer-menu__link">Baccarat</a></li>
        <li class="footer-menu__item"><a href="/pages/loyalty_program.html" class="footer-menu__link">Roulette</a></li>
        <li class="footer-menu__item"><a href="/pages/loyalty_program.html" class="footer-menu__link">Card games</a></li>
    </ul>
</div>

