<div class="footer-menu">
    <div class="footer-menu__title" data-footer-menu-toggler>
        <span>Info</span>
        <i class="icon-arrow-down"></i>
    </div>
    <ul class="footer-menu__list">
        <li class="footer-menu__item"><a href="/pages/faq.html" class="footer-menu__link">FAQ</a></li>
        <li class="footer-menu__item"><a href="/pages/loyalty_program.html" class="footer-menu__link">Terms & Conditions</a></li>
        <li class="footer-menu__item"><a href="/pages/loyalty_program.html" class="footer-menu__link">Privacy policy</a></li>
        <li class="footer-menu__item"><a href="/pages/loyalty_program.html" class="footer-menu__link">KYC Policy</a></li>
        <li class="footer-menu__item"><a href="/pages/loyalty_program.html" class="footer-menu__link">Self-exclusion Policy</a></li>
        <li class="footer-menu__item"><a href="/pages/loyalty_program.html" class="footer-menu__link">Responsible Gambling Policy</a></li>
        <li class="footer-menu__item"><a href="/pages/loyalty_program.html" class="footer-menu__link">Refund Policy</a></li>
        <li class="footer-menu__item"><a href="/pages/loyalty_program.html" class="footer-menu__link">Withdrawal policy</a></li>
        <li class="footer-menu__item"><a href="/pages/loyalty_program.html" class="footer-menu__link">Web app</a></li>
    </ul>
</div>

