<ul class="sidebar-menu">
    <li class="sidebar-menu__item">
        <a class="sidebar-menu__link" href="/pages/games.html.html"><i class="icon-sport"></i><span>Sport</span></a>
    </li>
    <li class="sidebar-menu__item">
        <a class="sidebar-menu__link" href="/pages/games.html.html"><i class="icon-hot"></i><span>Hot games</span></a>
    </li>
    <li class="sidebar-menu__item">
        <a class="sidebar-menu__link" href="/pages/games.html.html"><i class="icon-bonuses"></i><span>Bonuses</span></a>
    </li>
    <li class="sidebar-menu__item">
        <a class="sidebar-menu__link" href="/pages/games.html.html"><i
                class="icon-tournaments"></i><span>Tournaments</span></a>
    </li>
    <li class="sidebar-menu__item" data-sidebar-submenu>
        <span class="sidebar-menu__link">
            <i class="icon-casino"></i>
            <span>Casino</span>
            <i class="icon-arrow-down"></i>
        </span>
        <ul class="sidebar-menu__sub">
            <li class="sidebar-menu__item">
                <a class="sidebar-menu__link" href="/pages/games.html.html">
                    <i class="icon-games"></i>
                    <span>All games</span>
                </a>
            </li>
            <li class="sidebar-menu__item">
                <a class="sidebar-menu__link" href="/pages/games.html.html">
                    <i class="icon-about"></i>
                    <span>About</span>
                </a>
            </li>
            <li class="sidebar-menu__item">
                <a class="sidebar-menu__link" href="/pages/games.html.html">
                    <i class="icon-faq"></i>
                    <span>FAQ</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="sidebar-menu__item">
        <a class="sidebar-menu__link" href="/pages/games.html.html"><i class="icon-loyalty"></i><span>Loyalty</span></a>
    </li>
    <li class="sidebar-menu__item">
        <a class="sidebar-menu__link" href="/pages/games.html.html"><i class="icon-terms"></i><span>Terms &
                Conditions</span></a>
    </li>
</ul>