<div class="user-menu">
    <ul class="user-menu__list">
        <li class="user-menu__item">
            <a class="user-menu__link" href="/pages/acounts.html">
                <i class="icon-wallet"></i><span>Accounts</span>
            </a>
        </li>
        <li class="user-menu__item">
            <a class="user-menu__link" href="/pages/transactions_history.html">
                <i class="icon-clock"></i><span>Transaction history</span>
            </a>
        </li>
        <li class="user-menu__item">
            <a class="user-menu__link" href="/pages/bonuses_player.html">
                <i class="icon-dollar"></i><span>Bonuses history</span>
            </a>
        </li>
        <li class="user-menu__item">
            <a class="user-menu__link" href="/html/pages/messages.html">
                <i class="icon-bell"></i><span>Notifications</span><span class="message-counter">99+</span>
            </a>
        </li>
        <li class="user-menu__item">
            <a class="user-menu__link" href="/pages/documents.html">
                <i class="icon-docs"></i><span>Documents</span>
            </a>
        </li>
        <li class="user-menu__item">
            <a class="user-menu__link" href="/pages/documents.html">
                <i class="icon-shield"></i><span>Responsible gaming</span>
            </a>
        </li>
        <li class="user-menu__item">
            <a class="user-menu__link" href="/pages/documents.html">
                <i class="icon-favorite"></i><span>Favorite games</span>
            </a>
        </li>
        <li class="user-menu__item">
            <a class="user-menu__link" href="/pages/profile-info.html">
                <i class="icon-user"></i><span>Profile info</span>
            </a>
        </li>
    </ul>
</div>