<form class="form">
    <h1 class="form__title">Log in</h1>
    <fieldset class="form__section form__section--socials">
        <span class="form__description">Log in with your social media</span>
        {% set available = ['google', 'fb', 'twitter', 'telegram', 'instagram', 'ok', 'vk', 'apple', 'metamask', 'shield'] %}
        {% include "@components/socials.twig" %}
        <span class="form__description">Or complete the form</span>
    </fieldset>
    <fieldset class="form__section form__section--icon">
        {{ fieldInput({
            type: 'text',
            id: 'login',
            placeholder: 'Enter your email',
            label: 'Email *'
        }) }}
    </fieldset>
    <fieldset class="form__section form__section--icon">
        {{ fieldInput({
            type: 'password',
            id: 'pass',
            placeholder: 'Enter your password',
            label: 'Password *',
            notification: 'Необходимо заполнить поле'
        }) }}
        <i class="switch-icon icon-eye-blind"></i>
    </fieldset>
    <fieldset class="form__section form__section--controls">
        {{ fieldInput({
            type: 'checkbox',
            id: 'rememberMe',
            label: "Remember me",
        }) }}

        <a href="restore_request.html" class="forgot-link">Forgot password?</a>
    </fieldset>
    <fieldset class="form__section form__section--submit">
        {{ fieldButton({
            tag: 'button',
            type: 'submit',
            sizeClass: '2',
            typeClass: '1',
            content: 'log in'
        }) }}
    </fieldset>
    <div class="form__addition">
        Don't have an account?
        <a data-tab-switch-to="signup" data-tab-id="userAuthTabs">Sign up</a>
    </div>
</form>
