<form class="form">
	<h1 class="form__title">Create account</h1>
	<fieldset class="form__section form__section--socials">
		<span class="form__description">Log in with your social media</span>
		{% set available = ['google', 'fb', 'twitter', 'telegram', 'instagram', 'ok', 'vk', 'apple', 'metamask', 'shield'] %}
		{% include "@components/socials.twig" %}
		<span class="form__description">Or complete the form</span>
	</fieldset>
	<fieldset class="form__section">
		{{ fieldInput({
            type: 'text',
            id: 'email-register',
            placeholder: 'Enter your email',
            label: 'Email'
        }) }}
		{{ fieldInput({
            type: 'tel',
            id: 'phone-register',
            placeholder: 'Enter your phone number',
            label: 'Phone'
        }) }}
		{{ fieldInput({
			type: 'select',
			id: 'country',
			label: 'Select with checkbox',
			placeholder: 'Select channels',
			value: [
				{ label: "Germany" },
				{ label: "India" },
				{ label: "Austria" },
				{ label: "Poland"}
			],
			notification: 'Заполнено верно',
			customData: 'data-select-menu multiple '
		}) }}
		{{ fieldInput({
            type: 'select',
            id: 'timezone',
            label: 'Currency',
            value: [
                { label: "USD" },
                { label: "EUR" },
                { label: "UAH" }
            ],
            notification: 'Заполнено верно',
            customData: 'data-select-menu'
        }) }}
		{{ fieldInput({
            type: 'select',
            id: 'country',
            label: 'Country',
            value: [
                { label: "Germany" },
                { label: "India" },
                { label: "Austria" },
                { label: "Poland"}
            ],
            notification: 'Заполнено верно',
            customData: 'data-select-menu'
        }) }}
    </fieldset>
    <fieldset class="form__section form__section--icon">
		{{ fieldInput({
            type: 'password',
            id: 'password',
            placeholder: 'Your password',
            label: 'Password *',
            customClass: 'form__input--details'
        }) }}
        <i class="switch-icon icon-eye-blind"></i>
    </fieldset>
    <fieldset class="form__section form__section--icon">
		{{ fieldInput({
            type: 'password',
            id: 'repeat-password',
            placeholder: 'Repeat your password',
            label: 'Repeat password *',
        }) }}
        <i class="switch-icon icon-eye-blind"></i>
    </fieldset>
    <fieldset class="form__section">
		{{ fieldInput({
            type: 'select',
            id: 'question',
            label: 'Choose question',
            value: [
                { label: "Question 1" },
                { label: "Question 2" },
                { label: "Question 3" },
                { label: "Question 4"}
            ],
            notification: 'Заполнено верно',
            customData: 'data-select-menu'
        }) }}
		{{ fieldInput({
            type: 'text',
            id: 'answer',
            placeholder: 'Enter secret answer',
            label: 'Secret Answer'
        }) }}
		{{ fieldInput({
            type: 'text',
            id: 'PartnerCode',
            placeholder: 'Enter code',
            label: 'Partner code'
        }) }}
	</fieldset>
	<fieldset class="form__section">
		{{ fieldInput({
            type: 'checkbox',
            id: 'agree',
            label: 'I unconditionally agree to<a href="terms.html">Terms & Conditions, Data Policy, Cookies Policy</a>and I am over 18 years old',
            notification: 'Необходимо заполнить поле'
        }) }}
		<div class="form__input form__input--checkbox checkbox">
			<input type="checkbox" id="agree1">
			<label for="agree1">I am a PEP</label>
			<i data-tooltip class="icon-question">
				<span class="tooltip-text">A Politically Exposed Person (PEP) is someone who, through their prominent position or influence, is more susceptible to being involved in bribery or corruption. Examples of PEPs would be members of parliament, ambassadors, heads of state, judges or high ranking military officials, among others. This also extends to immediate family members such as partners and children as well as any business associates of such persons.</span>
			</i>
		</div>
	</fieldset>
	<fieldset class="form__section">
		{% include '@components/registration-bonuses.twig' %}
	</fieldset>
	<fieldset class="form__section form__section--submit">
		{{ fieldButton({
            tag: 'button',
            type: 'submit',
            sizeClass: '1',
            typeClass: '1',
            content: 'create account'
        }) }}
		<div class="loader loader--small">
			<div class="loader__inner">
				<img src="../../../img/elements/loader.svg" class="loader__circle" alt="loading">
			</div>
		</div>
	</fieldset>
	<div class="form__addition">
		Already have an account?
		<a data-tab-switch-to="login" data-tab-id="userAuthTabs">Log in</a>
	</div>
</form>
