.accounts__header {
    display: flex;
    align-items: flex-start;
    grid-gap: 24px;
}

.accounts-grid {
    display: flex;
    flex-direction: column;
    grid-gap: 16px;
    margin-bottom: 32px;
}

.accounts-item {
    padding: 24px 16px;
    border-radius: $border-radius;
    background: $color-surface;
    border: 2px solid transparent;
    box-shadow: $card-shadow;
    &.active {
        border-color: $color-primary-solid;
        & .accounts-item__label {
            cursor: unset;
        }
        & .accounts-item__buttons {
            display: flex;
            align-items: center;
            grid-gap: 16px;
        }
        & .status {
            color: $color-text-primary;
            &:before {
                border-color: $color-primary-solid;
            }
            &:after {
                content: "";
                position: absolute;
                left: 4px;
                width: 10px;
                height: 10px;
                border-radius: 5px;
                background: $color-primary-solid;
            }
        }
    }
    &__buttons {
        display: none;
        & .button {
            padding: 0;
            width: 52px;

            & .icon-withdraw {
                color: $color-text-primary;
            }
            .tooltip-info {
                width: 100%;
                height: 100%;
                i {
                    font-size: 24px;
                    line-height: 40px;
                }
                .tooltip {
                    text-transform: none;
                    &:before {
                        right: calc(50% - 12px);
                    }
                }
            }
        }
    }
    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px 0;
        border-top: 1px solid $color-divider;

        &:not(:nth-child(3)) {
            height: 60px;
        }

        &:last-child {
            padding-bottom: 0;
        }
    }
    input {
        display: none;
    }
    &__label {
        cursor: pointer;
    }
    &__status {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 40px;
        margin-bottom: 12px;
        & .status {
            display: flex;
            align-items: center;
            font-size: 20px;
            font-weight: 700;
            line-height: 32px;
            &:before {
                content: "";
                width: 18px;
                height: 18px;
                border-radius: 10px;
                border: 2px solid $color-text-secondary;
                margin-right: 8px;
            }
        }
    }
    &__title {
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
    }
    &__value {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    &__currency,
    .currency-real {
        color: $color-text-primary;
        font-size: 14px;
        font-weight: 700;
        line-height: 24px;
    }
    .currency-crypto {
        color: $color-text-placeholder;
        font-size: 10px;
        font-weight: 500;
        line-height: 12px;
    }
}

@media all and (min-width: 640px) {
    .accounts-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .accounts__header {
        align-items: center;

        .button {
            margin-left: auto;
        }
    }
}
@media all and (min-width: 768px) {
    .accounts__header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 16px;
    }

    .accounts-item {
        &__row {
            &:not(:nth-child(3)) {
                height: 64px;
            }
        }
        &__title {
            font-size: 16px;
            line-height: 28px;
        }
        .currency-real {
            font-size: 16px;
            line-height: 28px;
        }
        .currency-crypto {
            font-size: 10px;
            line-height: 12px;
        }
    }
}
@media all and (min-width: 1280px) {
    .accounts-grid {
        grid-template-columns: 1fr 1fr 1fr;
        margin-bottom: 72px;
    }
}
@media all and (min-width: 1320px) {
    .accounts-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
