.article {
    --gap: 32px;
    row-gap: var(--gap);
    display: grid;

    h2 {
        color: $color-text-primary;
        font-size: 24px;
    }

    picture {
        border-radius: $border-radius;
        overflow: hidden;
        display: block;
        margin-bottom: 32px;

        img {
            width: 100%;
            max-width: 734px;
            height: auto;
        }
    }
}

.article__section {
    display: grid;
    gap: 16px;

    p {
        margin: 0;
    }

    ol,
    ul {
        margin-left: 20px;
    }

    li {
        display: list-item;
    }

    &>img,
    &>video,
    &>iframe {
        width: 100%;
        height: auto;
        border-radius: 16px;
    }

    iframe {
        min-height: 165px;
    }

    hr {
        width: 100%;
        border-color: $color-divider;
        margin: 0;
        border-top: 0;
        border-left: 0;
    }
}

.article__link {
    color: $color-primary;
}

.article__list-number-letter {
    ul>li {
        list-style-type: lower-latin;
    }
}

.article__list-number2-letter-circle {
    --list-gap: 16px;
    counter-reset: lvl1;
    margin-left: 0 !important;

    li {
        @extend %list-nested-lvl1;
        display: block;
        position: relative;
        list-style: none;

        &::before {
            margin-right: var(--list-gap);
            counter-increment: lvl1;
            content: counter(lvl1) ".";
        }
    }
}

%list-nested-lvl1>ol {
    counter-reset: lvl2;
    margin-left: 0 !important;

    li {
        @extend %list-nested-lvl2;
        margin-left: 32px;

        &::before {
            counter-increment: lvl2;
            content: counter(lvl1) "." counter(lvl2);
        }
    }
}

%list-nested-lvl2>ol {
    margin-left: 32px !important;

    li {
        @extend %list-nested-lvl3;
        display: list-item;
        list-style-type: lower-latin;
        padding-left: var(--list-gap);

        &:before {
            content: none;
        }
    }
}

%list-nested-lvl3>ul {
    li {
        list-style-type: disc;
        padding-left: 0px;
        margin-left: 0;
    }
}

.article__list-number-circle>ul {
    li {
        list-style-type: disc;
    }
}
.article {
    .button {
        &--s1 {
            width: 100%;
        }
    }
}
@media all and (min-width: 481px) {
    .article {
        .button {
            &--s1 {
                width: fit-content;
            }
        }
        h2 {
            font-size: 28px;
            line-height: 36px;
        }
    }
}

@media all and (min-width: 769px) {
    .article {
        --gap: 40px;
    }

    .article__section {
        iframe {
            min-height: 410px;
        }
    }
}

@media all and (min-width: 1280px) {
    .article {
        picture {
            margin-bottom: 40px;
        }
    }
}