.banners-wrapper {
    height: fit-content;
}

.banners {
    overflow: hidden;

    & .swiper-pagination {
        display: flex;
        position: static;
        margin-top: 12px;
        justify-content: center;

        .swiper-pagination-bullet {
            background: transparent;
            opacity: 1;
            border: 2px solid #fff;

            &-active {
                background: #fff;
            }
        }
    }

    @media all and (min-width: 768px) {
        & .swiper-pagination {
            margin-top: 24px;
        }
    }


    @media all and (min-width: 1280px) {
        & .swiper-pagination {
            display: none;
        }
    }
}

.banner {
    position: relative;
    border-radius: $border-radius-medium;
    overflow: hidden;
    min-height: 120px;

    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        inset: 0;
        background-image: linear-gradient(
            90deg,
            rgba(0, 0, 0, 0.7) 17.92%,
            rgba(0, 0, 0, 0) 67.46%
        );
        z-index: -1;
    }

    @media all and (min-width: 768px) {
        min-height: 188px;
    }

    @media all and (min-width: 1280px) {
        min-height: 200px;
    }

    @media all and (min-width: 1920px) {
        min-height: 188px;
    }
}

.banner__img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}

.banner__title {
    --gap-size: 16px;
    color: $color-text-primary;

    position: absolute;
    font-size: 24px;
    bottom: var(--gap-size);
    left: var(--gap-size);

    @media all and (min-width: 768px) {
        font-size: 32px;
    }

    @media all and (min-width: 1280px) {
        --gap-size: 20px;

        font-size: 36px;
    }

    @media all and (min-width: 1920px) {
        --gap-size: 40px;
    }
}

.banner__link {
    position: absolute;
    inset: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
}

