.blocked {
  background-color: $color-background;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px;

  &--page {
    height: initial;
    padding-bottom: 32px;
  }

  &__content {
    background-color: $color-surface;
    padding: 20px;
    text-align: center;
    border-radius: $border-radius;
    width: 100%;
    max-width: 734px;
    margin: 0 auto;
    box-shadow: $card-shadow;
  }

  &__empty-img {
    margin-bottom: 20px;
  }

  &__img {
    background-color: $color-elements;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 16px;
    margin-bottom: 20px;

    img {
      width: 60px;
    }

    &--numbers {
      img {
        width: 78px;
      }
    }
  }

  &__title {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 8px;
  }

  &__text {
    font-size: 12px;
    line-height: 20px;
  }
}

@media all and (min-width: 480px) {
  .blocked {
    &__content {
      padding: 40px;
    }

    &--page {
      padding-bottom: 40px;
    }

    &__empty-img {
      margin-bottom: 32px;
    }

    &__img {
      width: 120px;
      height: 120px;
      margin-bottom: 32px;

      img {
        width: 72px;
      }

      &--numbers {
        img {
          width: 94px;
        }
      }
    }

    &__title {
      font-size: 28px;
      line-height: 36px;
    }

    &__text {
      font-size: 14px;
      line-height: 24px;
    }
  }
}

@media all and (min-width: 640px) {
  .blocked {
    padding: 40px 32px 40px;
  }
}

@media all and (min-width: 769px) {
  .blocked {
    &--page {
      padding-bottom: 80px;
    }

    &__empty-img {
      margin-bottom: 40px;
    }

    &__img {
      width: 180px;
      height: 180px;
      margin-bottom: 40px;

      img {
        width: 108px;
      }

      &--numbers {
        img {
          width: 142px;
        }
      }
    }

    &__title {
      font-size: 36px;
      line-height: 48px;
    }

    &__text {
      font-size: 16px;
      line-height: 28px;
    }
  }
}
