.page--bonuses-history {
  .bonuses__header {
    display: flex;
    align-items: center;
    flex-direction: column;
    grid-gap: 16px;
    margin-bottom: 40px;
    & h1 {
      margin-bottom: 0;
    }
  }
  .bonuses-list {
    display: flex;
    flex-direction: column;
    grid-gap: 24px;
    margin-bottom: 32px;
  }
  .bonuses-item {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: $color-surface;
    border-radius: 12px;
    box-shadow: $card-shadow;
    min-width: 0;
    &__img {
      flex-shrink: 0;
      position: relative;
      aspect-ratio: 340/227;
      border-radius: 12px 12px 0 0;
      overflow: hidden;
      background-repeat: no-repeat;
      background-position: center;
      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    & .status {
      position: absolute;
      right: 20px;
      top: 20px;
      z-index: 1;
      border-radius: $border-radius-small;
      padding: 4px 12px;
      background: $color-elements;
      box-shadow: $card-shadow;
      font-size: 14px;
      font-weight: 600;
      line-height: 24px;
      text-transform: uppercase;
      &--canceled {
        color: $color-error;
      }
      &--threshold {
        color: $color-error;
      }
      &--active {
        color: $color-success;
      }
      &--waiting {
        color: $color-warning;
      }
    }
    &__name {
      font-size: 20px;
      line-height: 28px;
      margin-bottom: 12px;
      color: $color-text-primary;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      word-break: break-word;
      @supports (-webkit-line-clamp: 2) {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: initial;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
    }
    &__description {
      display: flex;
      flex-direction: column;
      height: 100%;
      padding: 20px;
      & .tooltip {
        max-width: 120px;
      }
    }
    &__row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 8px 0;
      font-size: 14px;
      line-height: 24px;
      &:not(:first-child) {
        border-top: 1px solid $color-divider;
      }
    }
    &__value {
      display: flex;
      align-items: center;
      color: $color-text-primary;
      font-weight: 700;
      &--crypto {
        flex-direction: column;
        align-items: flex-end;
      }
      & a {
        color: $color-primary;
      }
      & b {
        font-size: 10px;
        line-height: 12px;
        color: #a9b3bd;
        font-weight: 500;
      }
      & .tooltip-info {
        line-height: 1;
        margin-left: 4px;
        & i {
          font-size: 24px;
          font-weight: 400;
          color: #83898e;
        }
      }
    }
    &__buttons {
      display: flex;
      flex-direction: column;
      grid-gap: 8px;
      padding-top: 16px;
      margin-top: auto;
    }
    & .counter {
      position: absolute;
      top: 20px;
      left: 20px;
      color: #ffffff;
      font-size: 10px;
      line-height: 12px;
      text-transform: uppercase;
      height: 32px;
      display: flex;
      align-items: flex-end;
      font-weight: 600;
      padding: 8px 6px 8px 10px;
      background-color: #1e262f;
      border-radius: 16px;
    }
  }

  @media all and (min-width: 640px) {
    .bonuses {
      &__header {
        flex-direction: row;
      }
    }
    .bonuses-list {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    .bonuses-item__name {
      height: 56px;
      margin-bottom: 0;
    }
    .bonuses-item__buttons {
      flex-direction: row;
    }
  }
  @media all and (min-width: 768px) {
    .bonuses-list {
      margin-bottom: 40px;
    }
  }
  @media all and (min-width: 1440px) {
    .bonuses-list {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}
