.bonuses__header {
  display: flex;
  align-items: center;
  flex-direction: column;
  grid-gap: 16px;
}

.bonuses__head {
  display: flex;
  align-items: center;
  flex-direction: column;
  grid-gap: 4px;
  align-items: baseline;
}

.bonuses-list {
  display: grid;
  //flex-direction: column;
  grid-gap: 24px;
}

.tabs__content {
  .bonuses-list {
    margin-bottom: 24px;
  }
}

.bonuses-item {
  //@extend %bonuses-item;
  display: flex;
  flex-direction: column;
  height: 100%;
  background: $color-surface;
  border-radius: $border-radius-medium;
  box-shadow: 0 2px 14px 0 rgba(26, 29, 67, 0.24);
  min-width: 0;
  width: 100%;
  // overflow: hidden;

  &__name {
    font-size: 20px;
    line-height: 28px;
    color: $color-text-primary;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-word;

    @supports (-webkit-line-clamp: 2) {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: initial;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
    font-size: 14px;
    line-height: 24px;

    &:not(:first-child) {
      border-top: 1px solid $color-divider;
    }
  }

  &__value {
    display: flex;
    align-items: center;
    color: $color-text-primary;
    font-weight: 700;

    &--crypto {
      flex-direction: column;
      align-items: flex-end;
    }

    & a {
      color: $color-primary;
    }

    & b {
      font-size: 10px;
      line-height: 12px;
      color: #a9b3bd;
      font-weight: 500;
    }

    & .tooltip-info {
      line-height: 1;
      margin-left: 4px;

      & i {
        font-size: 24px;
        font-weight: 400;
        color: #83898e;
      }
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    grid-gap: 8px;
    margin-top: auto;
  }

  & .status {
    z-index: 1;
    box-shadow: 0 2px 8px 0 rgba(3, 21, 29, 0.12);
  }
}

.bonuses-item__img {
  @extend %bonuses-item__img;
  flex-shrink: 0;
  position: relative;
  aspect-ratio: 288/280;
  overflow: hidden;
  background-color: $color-text-primary;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: $border-radius-medium * -1;
  border-top-left-radius: $border-radius-medium;
  border-top-right-radius: $border-radius-medium;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &-info {
    position: absolute;
    top: 20px;
    left: 20px;
  }
}

.bonuses-item__description {
  @extend %bonuses-item__description;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px;
  background-color: $color-surface;
  z-index: 1;
  border-radius: $border-radius-medium;
  gap: 16px;

  & .tooltip {
    max-width: 120px;
  }
}

@media all and (min-width: 640px) {
  .bonuses {
    &__header {
      flex-direction: row;
    }
  }
  .bonuses-item {
    & .status {
      left: 40px;
    }
  }

  .bonuses-item__name {
    height: 56px;
    margin-bottom: 0;
  }
}

@media all and (min-width: 768px) {
  .tabs__content {
    .bonuses-list {
      margin-bottom: 40px;
    }
  }

  .bonuses-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .bonuses-item__img {
    margin-bottom: 0;
    margin-left: $border-radius-medium * -1;
    width: calc(100% + 20px);
    height: 100%;
    border-top-left-radius: 0;
    border-bottom-right-radius: $border-radius-medium;
    &-info {
      left: 40px;
    }
  }

  .bonuses-item__description {
    order: -1;
  }

  .bonuses-item__buttons {
    flex-direction: row;

    %bonuses-item__description & {
      display: none;
    }

    %bonuses-item__img & {
      display: flex;
      flex-direction: column;
      position: absolute;
      bottom: 20px;
      left: 40px;
      right: 20px;
    }
  }
}

@media all and (min-width: 1280px) {
  .bonus__title {
    margin: 0 auto;
    max-width: 920px;
  }

  .bonuses-list {
    align-items: center;
    width: 100%;
    max-width: 920px;
    margin-left: auto;
    margin-right: auto;
  }

  .bonuses-item {
    display: grid;
    grid-template-columns: 6.5fr 3.5fr;
  }
}

@media all and (min-width: 1320px) {
  .bonus__title {
    max-width: unset;
  }

  .bonuses-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: unset;
  }
}
