.page--bonuses {
    .bonuses {
        & .profile__header {
            margin-bottom: 32px;
        }
    }

    .bonuses__header {
        display: flex;
        align-items: center;
        // flex-direction: column;
        flex-wrap: wrap;
        grid-gap: 16px;

        & h1 {
            width: fit-content;
        }

        & .select--tabs {
            margin-left: auto;
        }
    }

    .bonuses-list {
        display: flex;
        flex-direction: column;
        grid-gap: 24px;
        margin-bottom: 32px;
    }

    .bonuses-item {
        position: relative;
        display: flex;
        flex-direction: column;
        border-radius: $border-radius;
        box-shadow: $card-shadow;
        min-width: 0;
        height: 472px;
        cursor: pointer;
        //aspect-ratio: 1;

        &__img {
            flex-shrink: 0;
            position: relative;
            aspect-ratio: 340/227;
            border-radius: $border-radius;
            overflow: hidden;
            // background-image: url("../../img/components/bonuses/bonuses.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            min-height: 472px;
            width: 100%;
            height: 100%;

            .statuses {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 16px;
                position: absolute;
                top: 20px;
                left: 20px;

                .status {
                    display: block;
                }
            }

            & img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        & .status {
            text-align: center;
            width: auto;

            z-index: 1;
            border-radius: 20px;
            padding: 4px 12px;
            background: $color-elements;
            box-shadow: 0 2px 8px 0 rgba(3, 21, 29, 0.12);
            font-size: 14px;
            font-weight: 600;
            line-height: 24px;
            text-transform: uppercase;
            box-sizing: border-box;

            &--canceled {
                color: $color-error;
            }

            &--threshold {
                color: $color-error;
            }

            &--active {
                color: $color-success;
            }

            &--waiting {
                color: $color-warning;
            }

            &--activate {
                position: relative;
                left: -20px;
                border-radius: 0;
                background-color: $color-primary;
                color: $color-text-on-bg;
                font-weight: 500;

                &:before {
                    content: "";
                    display: block;
                    position: absolute;
                    height: 10px;
                    bottom: 0;
                    right: -20px;
                    border: 16px solid $color-primary;
                    transform: rotate(-90deg);
                    border-bottom-color: transparent;
                }
            }
        }

        &__name {
            font-size: 20px;
            font-weight: 700;
            line-height: 28px;
            margin-bottom: 12px;
            color: $color-text-primary;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            word-break: break-word;

            @supports (-webkit-line-clamp: 2) {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: initial;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
            }
        }

        &__description {
            display: flex;
            flex-direction: column;
            position: absolute;
            bottom: 0;
            padding: 20px;
            width: 100%;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: 32px;

            background: linear-gradient(0deg,
                    rgba(20, 20, 23, 0.8) 0%,
                    rgba(20, 20, 23, 0.8) 70.77%,
                    rgba(33, 37, 41, 0) 100%);
            border-radius: 0px 0px 20px 20px;

            & .tooltip {
                max-width: 120px;
            }
        }

        &__params {
            display: none;
            padding: 20px;
            width: 100%;
            height: 100%;
            font-size: 16px;
            color: #fff;
            flex-direction: column;

            ul:first-child {
                margin-top: auto;
            }

            ul:last-child {
                margin-bottom: 100px;
            }
        }

        &__row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 8px 0;
            font-size: 14px;
            line-height: 24px;

            &:not(:first-child) {
                border-top: 1px solid $color-divider;
            }
        }

        &__value {
            display: flex;
            align-items: center;
            color: $color-text-primary;
            font-weight: 700;

            &--crypto {
                flex-direction: column;
                align-items: flex-end;
            }

            & a {
                color: $color-primary;
            }

            & b {
                font-size: 10px;
                line-height: 12px;
                color: #a9b3bd;
                font-weight: 500;
            }

            & .tooltip-info {
                line-height: 1;
                margin-left: 4px;

                & i {
                    font-size: 24px;
                    font-weight: 400;
                    color: #83898e;
                }
            }
        }

        &__buttons {
            display: flex;
            flex-direction: column;
            align-items: center;
            grid-gap: 8px;
            padding-top: 16px;
            margin-top: auto;
            z-index: 22;
        }

        & .counter {
            color: #ffffff;
            font-size: 10px;
            line-height: 12px;
            text-transform: uppercase;
            height: 36px;
            display: flex;
            align-items: flex-end;
            font-weight: 600;
            padding: 4px 6px 8px 10px;
            background-color: $color-elements;
            border-radius: 8px;
            box-shadow: $card-shadow;
        }
    }

    .bonuses-item:hover .bonuses-item__params {
        display: flex;
        position: absolute;
        justify-content: flex-end;
        top: 0;
        left: 0;
        z-index: 20;
        width: 100%;
        height: 100%;
        border-radius: $border-radius;
        background: linear-gradient(180deg,
                rgba(33, 37, 41, 0.85) 0%,
                rgba(33, 37, 41, 0.8) 100%);
    }

    .bonuses-item:hover .bonuses-item__description {
        background: transparent;
    }

    .bonuses-item:hover .bonuses-item__name,
    .bonuses-item:hover .status,
    .bonuses-item:hover .counter {
        display: none;
    }

    // .bonuses-item:hover .bonuses-item__description,
    // .bonuses-item:hover .status,
    // .bonuses-item:hover .counter {
    //     display: none;
    // }

    .bonuses-item:hover {
        color: #ffffff;
    }

    @media all and (min-width: 480px) {
        .bonuses__header {
            .select--tabs .input-wrapper {
                width: 100%;
            }
        }
    }

    @media all and (min-width: 640px) {
        .bonuses-list {
            display: grid;
            grid-template-columns: 1fr;
        }

        .bonuses-item__name {
            height: 64px;
            margin-bottom: 0;
        }

        .bonuses-item__buttons {
            flex-direction: column;
            text-transform: none;
        }
    }

    @media all and (min-width: 768px) {
        .bonuses-list {
            grid-template-columns: 1fr 1fr;
            margin-bottom: 40px;
        }

        .bonuses {
            gap: 40px;

            &__header {
                flex-direction: row;
            }
        }

        .bonuses-item__name {
            font-size: 24px;
            line-height: 32px;
        }
    }

    @media all and (min-width: 1280px) {
        .bonuses-list {
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 24px;
        }
    }

    @media all and (min-width: 1320px) {
        .bonuses-list {
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-gap: 48px;
        }
    }
}
