.button-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    background: $color-elements;
    border-radius: $border-radius-medium;

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 28px;
        width: 100%;
        max-width: fit-content;
        padding: 4px 16px;
        border-radius: $border-radius-small;
        color: $color-text-secondary;

        &.active {
            color: $color-text-on-bg;
            background: $color-primary-solid;

            &:hover {
                color: $color-text-on-bg;
            }
        }

        &:hover {
            color: $color-text-primary;
        }
    }
}
