.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 40px;
  padding: 0 16px;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: 0.02em;
  border-radius: 8px;
  box-sizing: border-box;
  user-select: none;
  cursor: pointer;
  transition: all 0.5s;
  grid-gap: 8px;
  box-shadow:
    1px 2px 6px 0px rgba(0, 0, 1, 0.95),
    -1px -2px 6px 0px rgba(155, 151, 183, 0.35);

  i {
    width: 24px;
    height: 24px;
    font-size: 24px;
    text-shadow: none;
  }

  &:hover {
    transition: all 0.5s;
  }

  &.disabled {
    cursor: default;
  }
}

.button--s1 {
  width: fit-content;
}

.button--s2 {
  width: 100%;
}

.button--s3 {
  width: auto;
}

.button--s4 {
  width: auto;
  min-width: 140px;
}

.button--t1 {
  color: $color-text-on-bg;
  background-color: $color-primary-solid;

  &:hover {
    background: $color-primary-hover;
  }

  &.disabled {
    color: $color-text-placeholder;
    background: $color-divider;

    &:hover {
      background: $color-divider;
    }
  }
}

.button--t2 {
  color: $color-primary;
  background-color: $color-elements;

  &:hover {
    background: $color-elements-hover;
  }

  &.disabled {
    color: $color-text-placeholder;

    &:hover {
      background-color: $color-elements;
    }
  }
}

.button--t3 {
  color: $color-text-primary;
  box-shadow: none;
  padding: 0;

  &:hover span {
    border-bottom: 1px solid $color-text-primary;
  }
}

.button--t4 {
  color: $color-text-on-bg;
  background: linear-gradient(93deg, #9176ff 2.68%, #b7a5ff 97.32%);

  i {
    margin-right: 0 !important;
  }

  &:hover {
    background: linear-gradient(73deg, #9176ff 2.68%, #b7a5ff 97.32%);
  }
}

.button--has-skew {
  transform: skew(-15deg);

  & > * {
    transform: skew(15deg);
  }
}

.button--sidebar {
  justify-content: center;
  width: 100%;
  border-radius: $border-radius-small;
  background: $color-elements;
  text-transform: unset;
  padding: 8px;
  font-weight: 400;

  & span {
    display: none;
    margin-right: auto;
  }

  & i {
    width: auto;

    &:last-child {
      display: none;
    }
  }

  &:hover {
    background: $color-divider;

    & span {
      color: $color-text-primary;
    }
  }
}

.button--icon {
  padding: 10px;
  color: $color-primary-solid;

  span {
    display: none;
  }
}

.button--close {
  width: 40px;
  height: 40px;
  padding: 0;
  border-radius: $border-radius-small;
  background: $color-elements;
  color: $color-text-primary;
  flex-shrink: 0;
}

.button--menu {
  .icon-menu-open {
    font-size: 14px;
  }
}

.button--deposit {
  width: 52px;

  span {
    display: none;
  }
}

.button--menu,
.button--message {
  position: relative;
  width: 52px;
  padding: 0;

  & span {
    display: none;

    &.message-counter {
      position: absolute;
      top: 0;
      right: -9px;
      display: flex;
      align-items: center;
      text-align: center;
      background: $color-error;
      color: $color-text-on-bg;
      padding: 2px 4px 1px 4px;
      border-radius: 20px;
      font-size: 10px;
      font-weight: 500;
      line-height: 12px;
    }
  }

  & i {
    margin-right: 0;
  }
}

.button--search {
  i {
    color: $color-primary;
  }
}

.button--lang {
  order: 3;
}

.button--logout {
  order: 3;
  min-height: 40px;
}

@media all and (min-width: 480px) {
  .sidebar {
    .button {
      font-weight: 600;
    }
  }
}
