.chat-button {
    position: fixed;
    width: 64px;
    height: 64px;
    background-color: $color-primary;
    box-shadow: $button-normal-shadow;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 76px;
    right: 20px;
    font-size: 0;
    border-radius: $border-radius-small;
    z-index: 98;

    i {
        font-size: 20px;
        color: $color-background;
    }
}

.chat-button__counter {
    background-color: $color-error;
    font-size: 10px;
    font-weight: 700;
    line-height: 12;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 25px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-text-primary;
    border-radius: 2px;
}

@media all and (min-width: 768px) {
    .chat-button {
        bottom: 120px;
    }
}
