.counter {
  display: flex;
  align-items: flex-end;
  color: $color-text-primary;

  > span,
  > .counter__cell {
    align-self: center;
    text-transform: none;
    font-size: 16px;
    line-height: 24px;
    margin-right: 8px;
    padding-left: 8px;
    height: 20px;
    display: flex;
    align-items: center;
    font-weight: 700;
    position: relative;

    span {
      font-weight: 400;
      margin-left: 2px;
      text-transform: lowercase;
      color: $color-text-placeholder;
    }

    & + span,
    & + .counter__cell {
      &::before {
        content: "";
        width: 1px;
        height: 16px;
        background-color: $color-divider;
        position: absolute;
        top: 4px;
        left: 0;
      }
    }
  }
}

@media all and (min-width: 480px) {
}
@media all and (min-width: 768px) {
}
@media all and (min-width: 1280px) {
}
