.currencies {
    display: flex;
    align-items: center;
    grid-gap: 4px;
    flex-wrap: wrap;
    line-height: 1;
    margin-bottom: 12px;

    &__item {
        i {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: $color-primary-solid;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 12px;
            color: $color-text-on-bg;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 1, 0.60);
            background-image: none;

            &:before {
                display: block;
            }
        }
    }

    & [data-tooltip] {
        display: flex;
        color: #C9C9D5;
        font-size: 20px;
    }

    & .tooltip-info i {
        font-size: 20px;
    }
}

@media all and (min-width: 480px) {
}

@media all and (min-width: 768px) {
}

@media all and (min-width: 1280px) {
}
