.currency {
  position: relative;
  display: flex;
  flex-direction: column;
  grid-gap: 12px;

  &__img {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    height: 24px;
    width: 24px;
    // background: #50af95;
    border-radius: 12px;
    color: $color-text-primary;
    flex-shrink: 0;
  }

  &__block {
    display: flex;
    align-items: center;
    grid-gap: 8px;

    &:first-child {
      padding-bottom: 12px;
      border-bottom: 1px solid $color-divider;
      cursor: pointer;

      &:after {
        display: block;
        width: 1px;
        margin-left: 12px;
        height: 40px;
        background: $color-divider;
      }
    }
    &.active {
      & .currency__name i {
        transform: rotate(180deg);
      }
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  &__title {
    display: inline-block;
    color: $color-text-secondary;
    font-size: 10px;
    font-weight: 600;
    line-height: 12px;
    text-transform: uppercase;
  }

  &__name {
    display: flex;
    align-items: center;
    grid-gap: 8px;
    justify-content: space-between;

    & span {
      color: $color-primary-solid;
      font-size: 12px;
      font-weight: 700;
      line-height: 20px;
    }

    & i {
      font-size: 18px;
      font-weight: 400;
      line-height: 20px;
      cursor: pointer;
    }
  }

  &__value,
  &__exchange {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__value {
    color: $color-text-primary;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
  }

  &__exchange {
    font-size: 14px;
    line-height: 14px;
  }

  &-select {
    width: 100%;
    border-radius: $border-radius-small;
    background: $color-surface;
    box-shadow: $modal-shadow;
    overflow: hidden;
    position: absolute;
    top: 60px;
    min-width: 270px;

    z-index: 11;
    display: none;

    &.visible {
      display: block;
    }

    &__list {
      @include scrollbar-primary;
      display: flex;
      flex-direction: column;
      max-height: 200px;
      overflow: auto;
      padding: 0 16px;
      border-right: 4px solid transparent;
    }

    &__item {
      display: flex;
      justify-content: space-between;
      padding: 8px 16px;
      align-items: center;
      color: $color-text-placeholder;
      font-size: 14px;
      font-weight: 700;
      line-height: 24px;

      &.active {
        border-radius: $border-radius-small;
        background: $color-elements;
        color: $color-text-primary;
      }
    }

    &__value {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    &__empty {
      border-radius: $border-radius;
      background: $color-elements;
      padding: 16px 24px;
      font-size: 14px;
      font-weight: 700;
      line-height: 24px;
      text-align: center;
      margin: 0;
    }

    &__controls {
      display: flex;
      flex-direction: column;
      grid-gap: 16px;
      padding: 16px;
      background: $color-elements;
    }
  }
}

@media all and (min-width: 640px) {
}

@media all and (min-width: 768px) {
  .currency {
    flex-direction: row;
    align-items: center;

    &__block {
      &:first-child {
        padding-bottom: 0;
        border-bottom: none;

        &:after {
          content: '';
        }
      }
    }

    &-select {
      top: calc(100% + 4px);
      left: 50%;
      transform: translateX(calc(-50% - 65px));
      width: 548px;

      &__item {
        &:hover {
          cursor: pointer;
          color: $color-primary-hover;
        }

        &.active {
          cursor: unset;
          color: $color-text-primary;
        }
      }

      &__controls {
        padding: 16px 24px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        grid-gap: 8px;
      }
    }
  }
}

@media all and (min-width: 1281px) {
}
