.documents {
    &__header {
        display: flex;
        flex-direction: column;
        grid-gap: 32px;
    }
    &__rules {
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
    }
    &-grid {
        display: flex;
        flex-direction: column;
        grid-gap: 16px;
    }
    &-item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        grid-gap: 16px;
        padding: 16px;
        border-radius: $border-radius;
        background: $color-surface;
        box-shadow: $card-shadow;

        &__loading {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            grid-gap: 16px;
            height: 100%;
            text-align: center;
            font-size: 16px;
            font-weight: 400;
            line-height: 28px;
            & svg {
                animation: loader 1s infinite linear;
            }
        }
        &__name {
            color: $color-text-primary;
            font-size: 16px;
            line-height: 28px;
        }
        &__date {
            display: flex;
            align-items: center;
            grid-gap: 4px;
            font-size: 14px;
            line-height: 24px;
        }
        &__footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: auto;
        }
        &__status {
            border-radius: $border-radius-small;
            background: var(--elements, $color-elements);
            box-shadow: 0 2px 8px 0 rgba(3, 21, 29, 0.12);
            padding: 0 12px;
            font-size: 14px;
            font-weight: 500;
            line-height: 24px;
            text-transform: uppercase;
            box-shadow: $card-shadow;
            &.status--processing {
                color: #f0b00b;
            }
            &.status--approved {
                color: $color-status-active;
            }
            &.status--success {
                color: #9ba1b6;
            }
            &.status--error {
                color: #d02601;
            }
        }
        & .download__link {
            font-size: 24px;
            line-height: 1;
            color: $color-text-primary;
            font-weight: 600;
        }
    }
}
.form--upload {
    display: flex;
    flex-direction: column;
    grid-gap: 16px;
    & input[type='file'] {
        display: none;
    }
}
@keyframes loader {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@media all and (min-width: 480px) {
    .documents-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
@media all and (min-width: 768px) {
    .documents-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .documents__header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 16px;
    }
    .form--upload {
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }
    .documents__rules {
        text-align: right;
    }
}
@media all and (min-width: 1280px) {
    .documents-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
