.dropdown {
    position: relative;

    &.active {
        > i {
            color: $color-text-primary;
        }

        .dropdown__content {
            display: block;
        }
    }

    i {
        cursor: pointer;
    }

    &:hover {
        > i {
            color: $color-text-primary;
        }
    }

    &__content {
        display: none;
        background-color: $color-elements;
        padding: 8px 0;
        position: absolute;
        top: 100%;
        right: 0;
        z-index: 2;
        box-shadow: $card-shadow;
        border-radius: $border-radius-small;
        min-width: 116px;
        width: fit-content;

        &-item {
            width: 100%;
            padding: 8px 16px;
            font-size: 14px;
            line-height: 24px;
            display: flex;
            align-items: center;
            gap: 12px;
            white-space: nowrap;

            i {
                color: $color-text-secondary;
            }

            &:hover {
                color: $color-primary-hover;

                i {
                    color: $color-primary-hover;
                }
            }
        }
    }
}

@media all and (min-width: 480px) {
}

@media all and (min-width: 768px) {
}

@media all and (min-width: 1280px) {
}
