.emoji_picker {
    display: flex;
    flex-direction: column;
    width: 100%;

    .icon-emoji {
        cursor: pointer;
        position: absolute;
        top: 28px;
        right: 20px;
        color: $color-text-secondary;
        &:hover {
            color: $color-primary;
        }
    }

    .picker_container {
        display: none;
        position: absolute;
        padding: 12px;
        overflow: auto;
        z-index: 1;
        width: 100%;
        height: 172px;
        right: 0;
        bottom: 51px;
        background: $color-elements;
        box-shadow: $tooltip-shadow;

        &.open {
            display: block;
        }


    }

    .category {
        display: flex;
        flex-direction: column;
        margin-bottom: 8px;

        span {
            font-size: 12px;
            line-height: 20px;
            color: #fff;
        }
    }

    .emojis_container {
        display: flex;
        gap: 8px;
        row-gap: 2px;
        flex-wrap: wrap;

    }

    .category button {
        background: inherit;
        border: none;
        font-size: 24px;
        padding: 0;
    }
}
