@import "../base/variables.scss";
@import "status.scss";

.f2a-simple {
  background: $color-surface;
  border-radius: $border-radius;
  padding: 24px;
  max-width: 600px;
  margin: 0 auto;

  &__title {
    color: $color-text-primary;
    margin-bottom: 8px;
    font-size: 24px;
    line-height: 32px;
  }

  &__description {
    font-size: 14px;
    margin: 8px 0 24px;
    line-height: 24px;
  }

  & .button {
    width: 100%;
  }
}

@media all and (min-width: 480px) {
  .f2a-simple {
    padding: 40px;

    &__description {
      margin-top: 12px;
      margin-bottom: 16px;
    }

    & .button {
      width: initial;
    }
  }
}

@media all and (min-width: 768px) {
}

@media all and (min-width: 1280px) {
}
