@import "../components/dropdown.scss";
@import "../components/button-group.scss";
@import "../components/game-description.scss";

.game {
    display: flex;
    flex-direction: column;
    gap: 24px;

    &__content {
        height: calc(100vh - 100px);
        display: flex;
        flex-direction: column;
        width: fit-content;
        max-width: 100%;
        aspect-ratio: 5/4;
        box-shadow: $button-normal-shadow;
        border-radius: $border-radius-medium;
        background-color: $color-background;
        margin: auto;

        img,
        iframe {
            width: 100%;
            height: 100%;
        }
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 8px;
        padding: 12px;

        &-arrow-back,
        &-dropdown {
            height: 24px;
        }

        &-dropdown {
            margin-left: 8px;
        }

        &-icons {
            display: none;
        }

        i {
            cursor: pointer;
            transition: color 250ms;
            font-size: 24px;
            line-height: 1;

            &:hover {
                color: $color-primary-hover;
            }
        }
        .dropdown__content-item {
            i {
                font-size: 20px;
            }
        }
    }
    &__title {
        align-items: center;
        margin-right: auto;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        color: $color-text-primary;

        font-size: 14px;
        font-weight: 700;
        line-height: 24px;

        & span:not(:last-child) {
            color: $color-text-secondary;

            a:hover {
                color: $color-primary-hover;
            }

            &::after {
                content: "/";
                margin: 0 10px;
            }
        }
    }

    &__iframe {
        height: 100%;
        overflow: hidden;
    }

    &__footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 12px 8px;

        .button-group {
            margin: 0 auto;
        }

        &-message {
            display: flex;
            align-items: flex-start;
            grid-gap: 12px;
            font-size: 14px;
            line-height: 24px;

            & i {
                font-size: 20px;
            }
        }

        .game__share-button {
            font-size: 14px;
            line-height: 24px;
            font-weight: 500;

            span {
                font-size: 13px;
                margin: 0px 8px;
                display: inline-block;
            }

        }
    }
}

@media all and (min-width: 768px) {
    .game {
        gap: 40px;

        &__content {
            height: calc(100vh - 110px);
        }
        &__header {
            padding: 24px;
            &-dropdown {
                display: none;
            }
            &-icons {
                display: flex;
                gap: 16px;
            }
        }
        &__title {
            font-size: 24px;
            line-height: 32px;
        }
        &__footer {
            padding: 20px 24px;
            &-message {
                font-size: 16px;
                line-height: 28px;

                & i {
                    font-size: 24px;
                }
            }
        }
    }
}

@media all and (min-width: 1280px) {
    .game {
        &__content {
            height: calc(100vh - 140px);
            aspect-ratio: 16 / 9;
        }
    }
}

@media (orientation: portrait) {
    .game {
        &__content {
            height: auto;
            width: 100%;
        }
    }
}
