.game-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 98px;
  padding: 8px;
  border-radius: $border-radius-small;
  gap: 8px;
  overflow: hidden;
  transition: box-shadow 0.3s;

  &:hover::before {
    content: '';
    border: 2px solid $color-primary;
    inset: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: $color-background;
    border-radius: $border-radius-small;
    z-index: -1;
  }

  &:hover {
    box-shadow: 0px 2px 24px 0px rgba(101, 191, 0, 0.502);
  }

  @media all and (min-width: 768px) {
    padding: 12px;
    gap: 12px;
    justify-content: flex-end;
  }

  @media all and (min-width: 1280px) {
    gap: 8px;
  }

  @media all and (min-width: 1920px) {
    padding: 20px;
    gap: 26px;
  }
}

.game-card__img {
  position: absolute;
  inset: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: -2;
}

.game-card__star {
  --icon-size: 16px;

  display: none;
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  align-items: center;
  top: 8px;
  right: 8px;
  height: var(--icon-size);
  width: var(--icon-size);
  overflow: hidden;
  opacity: 0;
  transition: all 0.5s;

  .game-card:hover & {
    display: flex;
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }

  i {
    font-size: var(--icon-size);
    color: $color-text-primary;

    &.active {
      color: $color-primary-solid;
    }
  }

  @media all and (min-width: 768px) {
    --icon-size: 24px;

    top: 12px;
    right: 12px;
  }

  @media all and (min-width: 1920px) {
    top: 20px;
    right: 20px;
  }
}

.game-card__play {
  --size: 40px;

  visibility: hidden;
  pointer-events: none;

  position: relative;

  height: var(--size);
  width: var(--size);
  background-color: $color-primary;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.25s;
  top: 30%;
  transform: translateY(-50%);

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 0 8px 12px;
    border-color: transparent transparent transparent #000;

    @media all and (min-width: 1280px) {
      border-width: 12px 0 12px 20px;
    }
  }

  .game-card:hover & {
    pointer-events: all;
    visibility: visible;
    opacity: 1;
  }

  @media all and (min-width: 940px) {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @media all and (min-width: 1280px) {
    width: 60px;
    height: 60px;
  }

  @media all and (min-width: 1560px) {
    width: 72px;
    height: 72px;
  }
}

.game-card__footer {
  display: grid;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  column-gap: 15px;

  margin-top: auto;

  @media all and (min-width: 1280px) {
    grid-template-columns: 1fr;
  }
}

.game-card__subtitle {
  display: none;
  color: $color-text-secondary;

  .game-card--big:hover & {
    display: block;
  }

  @media all and (min-width: 1280px) {
    grid-column: 1 / 3;
    font-size: 14px;

    .game-card:hover & {
      display: block;
    }
  }
}

.game-card__title {
  display: none;
  color: $color-primary;

  @media all and (min-width: 1280px) {
    font-size: 20px;

    .game-card:hover & {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }
}

.game-card__button-demo {
  visibility: hidden;
  pointer-events: none;
  color: $color-text-primary;
  text-transform: uppercase;
  border-bottom: 2px solid $color-text-primary;
  line-height: 24px;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 4px;
  align-self: end;
  grid-column: 1 / 3;
  justify-self: center;
  opacity: 0;
  transition: all 0.5s;

  .game-card:hover & {
    visibility: visible;
    pointer-events: all;
    opacity: 1;
  }

  .game-card--big:hover & {
    display: block;
  }

  @media all and (min-width: 768px) {
    margin-bottom: 6px;
  }

  @media all and (min-width: 1280px) {
    grid-column: unset;
    justify-self: end;
    margin-bottom: 0;
  }
}

//Большие карточки

@mixin game-card-bg {
  border-radius: $border-radius-medium;
  padding: 32px 15px 16px 15px;

  &::before {
    border-radius: $border-radius-medium;
    background-color: $color-background;

    @media all and (min-width: 1280px) {
      background-color: transparent;
    }
  }

  @media all and (min-width: 768px) {
    padding: 20px;
  }

  @media all and (min-width: 1280px) {
    padding: 24px;
  }

  .game-card {
    &__star {
      top: 16px;
      right: 16px;
      height: 24px;
      width: 24px;

      i {
        font-size: 24px;
      }
      @media all and (min-width: 768px) {
        top: 20px;
        right: 20px;
        height: 32px;
        width: 32px;

        i {
          font-size: 32px;
        }
      }

      @media all and (min-width: 1280px) {
        top: 24px;
        right: 24px;
      }
    }

    &__play {
      top: 32px;
      width: 72px;
      height: 72px;
      transform: translate(-50%, 0);
      position: absolute;
      left: 50%;

      @media all and (min-width: 360px) {
        top: 50%;
        transform: translate(-50%, -50%);
      }

      @media all and (min-width: 768px) {
        width: 96px;
        height: 96px;
      }

      &::before {
        border-width: 13px 0 13px 20px;

        @media all and (min-width: 768px) {
          border-width: 20px 0 20px 30px;
        }
      }
    }

    &__footer {
      z-index: 999;
    }

    &__subtitle {
      overflow: hidden;
      grid-column: span 2;
      text-overflow: ellipsis;
      white-space: nowrap;

      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;

      @media all and (min-width: 768px) {
        color: $color-text-primary;
      }
    }

    &__title {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 32px;

      @media all and (min-width: 768px) {
        font-size: 32px;
        line-height: 44px;
      }

      @media all and (min-width: 1280px) {
        font-size: 36px;
        line-height: 48px;
      }
    }

    &__button-demo {
      grid-column: unset;
    }

    @media all and (min-width: 768px) {
      &__subtitle,
      &__title {
        display: block;
      }
    }
  }
}

.game-card {
  &:nth-child(10n + 1) {
    @include game-card-bg();
  }

  @media all and (max-width: 639px) {
    &:nth-child(10n + 8) {
      @include game-card-bg();
    }
  }

  @media all and (min-width: 768px) {
    &:nth-child(10n + 1),
    &:nth-child(10n + 10) {
      @include game-card-bg();
    }
  }
}
