@import "../base/variables.scss";
@import "../components//status.scss";

.game {
    &__description {
        position: relative;

        &-title,
        &-subtitle {
            color: $color-text-primary;
        }

        &-title {
            font-size: 24px;
            font-weight: 700;
            line-height: 32px;
            padding-bottom: 12px;
        }

        .tab {
            padding: 0;
            gap: 24px;

            &__content {
                border-top: 1px solid $color-divider;
            }

            .tabs li span {
                white-space: nowrap;
            }

        }

        &-subtitle {
            margin-top: 24px;
            margin-bottom: 24px;
        }

        &-tags {
            display: flex;
            gap: 8px;
            margin-bottom: 24px;
        }

        p {
            font-size: 16px;
            line-height: 28px;
            margin-bottom: 24px;
        }
        &--text {
            overflow: hidden;
            position: relative;
            font-size: 16px;
            line-height: 28px;
            color: #abadaf;
            height: 56px;
            margin-bottom: 24px;

            &:before {
                content: "";
                position: absolute;
                width: 100%;
                height: 20px;
                background: linear-gradient(
                    0deg,
                    $color-background,
                    rgba(0, 0, 0, 0)
                );
                bottom: 0;
                display: none;
            }

            &.show-gradient {
                &:before {
                    display: block;
                }
            }
        }

        &--btn {
            padding: 0 5px;

            [data-game-description-hide],
            [data-game-description-show] {
                display: none;
            }
        }
    }

    &__characteristics {
        &-list {
            display: grid;
            grid-template-columns: 1fr;
            margin-top: 24px;
            gap: 12px;
        }

        &-item {
            padding: 10px 16px;
        }

        &-title {
            color: $color-text-secondary;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            margin-bottom: 4px;
        }

        &-content {
            display: flex;
            align-items: center;
            gap: 8px;
            color: $color-text-primary;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 28px;

            i {
                color: $color-success;
            }
        }
    }
}

@media all and (min-width: 480px) {
    .game {
        &__description {
            &-title {
                padding-top: 4px;
                padding-bottom: 24px;
            }
            .tab {
                gap: unset;

                &__content {
                    border-top: 1px solid $color-divider;
                }

                .tabs {
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: auto;

                    li {
                        padding: 0 16px;
                    }
                }
            }
        }
    }
}

@media all and (min-width: 768px) {
    .game {
        &__characteristics {
            &-list {
                grid-template-columns: repeat(2, 1fr);
                margin-top: 24px;
                gap: 12px 16px;
            }

            &-item {
                padding: 10px 24px;
            }

            &-title {
                font-size: 16px;
                line-height: 28px;
            }

            &-content {
                gap: 8px;
                font-size: 20px;
                line-height: 32px;

                i {
                    color: $color-success;
                }
            }
        }
    }
}

@media all and (min-width: 1280px) {
}
