@import '../components/game-card.scss';

.games {
  display: grid;
  gap: 24px;

  .container__title {
    color: $color-text-primary;
  }

  @media all and (min-width: 1280px) {
    gap: 40px;
  }

  &__button-more {
    width: fit-content;
    margin: auto;
  }
}

.games__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 8px;

  .game-card {
    width: 100%;
    margin-bottom: 16px;
    aspect-ratio: 3 / 2;

    &:nth-child(10n + 1) {
      grid-column: span 2;
      grid-row: span 2;
      min-height: 186px;
      max-height: 308px;

      justify-content: flex-end;

      &:hover {
        .game-card__subtitle,
        .game-card__title {
          display: block;
        }
      }
    }

    &:nth-child(10n + 8) {
      @media all and (max-width: 639px) {
        grid-column: span 2;
        grid-row: span 2;
        min-height: 186px;
        max-height: 308px;
        &:hover {
          .game-card__subtitle,
          .game-card__title {
            display: block;
          }
        }
      }
    }
  }
}

@media all and (min-width: 480px) {
  .games__list {
    column-gap: 16px;
  }
}

@media all and (min-width: 640px) {
  .games__list {
    grid-template-columns: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;

    .game-card {
      min-height: 100%;
      margin-bottom: unset;

      &:nth-child(10n + 1),
      &:nth-child(10n + 10) {
        grid-column: span 2;
        grid-row: span 2;
        min-height: 100%;
        max-height: unset;
      }

      &:nth-child(10n + 10) {
        grid-column: 3 / span 2;
        grid-row: 3 / span 2;
      }

      &:nth-child(10n + 20) {
        grid-row: var(--grid-row) / span 2; // games.js
      }
    }
  }
}

@media all and (min-width: 768px) {
  .games__list {
    width: 100%;
    max-width: 1024px;
    margin: auto;
  }
}

@media all and (min-width: 1280px) {
  .games__list {
    gap: 24px;
  }
}

@media all and (min-width: 1440px) {
  .games__list {
    margin: auto;

    .game-card {
      max-height: none;

      &:nth-child(10n + 1),
      &:nth-child(10n + 10) {
        max-height: none;
      }
    }
  }
}

@media all and (min-width: 1560px) {
  .games__list {
    max-width: 1280px;
  }
}

@media all and (min-width: 1920px) {
  .games__list {
    max-width: 1440px;
    gap: 28px;
  }
}
