.games-categories {
    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 8px;
        // height: 100%;
        overflow: auto;
        padding: 8px;
    }

    &__link {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        grid-gap: 12px;
        padding: 16px 12px;
        border-radius: $border-radius-small;
        background: $color-surface;
        box-shadow:
            2px 2px 8px 0px rgba(0, 0, 1, 0.95),
            -2px -2px 8px 0px rgba(56, 56, 63, 0.75);
        border: 1px solid transparent;
        aspect-ratio: 1.47 / 1;

        width: 100%;
        height: 100%;
        max-height: 144px;

        & i {
            font-size: 40px;
            line-height: 1;
        }

        & img {
            width: 40px;
            max-height: 40px;
            object-fit: contain;
        }

        &:hover {
            color: $color-text-primary;
            background: $color-elements;
        }
    }

    &__name {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        margin-bottom: 0;
        text-transform: uppercase;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        max-height: 24px;
        word-break: break-all;
    }
}

#gameCategories {
    .sidebar-external__content {
        margin-left: -8px;
        margin-right: -8px;
        padding-bottom: 100px;
    }
}

@media all and (min-width: 480px) {
    #gameCategories {
        width: 320px;
    }
}

@media all and (min-width: 768px) {
}

@media all and (min-width: 1280px) {
    #gameCategories, #langMenu {
        width: 480px;
    }

    .games-categories {
        &__list {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 20px;
            // height: 100%;
            overflow: auto;

            &::-webkit-scrollbar {
                width: 4px;
            }

            &::-webkit-scrollbar-track {
                box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            }

            &::-webkit-scrollbar-thumb {
                background-color: $color-divider;
                outline: 1px solid $color-divider;
            }
        }
        &__link {
            aspect-ratio: unset;
        }
    }
}
