.info-block {
    &-list {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
        padding: 0 16px;
    }
    &-item {
        position: relative;
        aspect-ratio: 9/7;
        padding: 16px 38px;
        display: flex;
        align-items: flex-end;
    }

    &__img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        img {
            transform: skew(-10deg);
            object-fit: cover;
            width: 110%;
            height: 100%;
            border-radius: $border-radius-small;
        }
    }
    &__content {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 8px;
        z-index: 1;
        h1, h2, h3, p {
            color: $color-text-primary;
            text-shadow: 0 0 5px #000;
            margin-bottom: 0;
        }
    }
    &__title {
        font-size: 14px;
        line-height: 24px;
        font-weight: 700;
    }
    &__text {
        font-size: 11px;
        line-height: 14px;
        font-weight: 400;
    }
    &__link {
        display: flex;
        align-items: center;
        color: $color-primary;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        text-shadow: 0 0 5px #000;
        i {
            font-size: 10px;
            margin-left: 8px;
        }
    }
}

@media all and (min-width: 481px) {
    .info-block {
        &-list {
            grid-gap: 20px;
            padding: 0 25px;
        }

        &__title {
            font-size: 20px;
            line-height: 28px;
        }
        &__text {
            font-size: 12px;
            line-height: 20px;
        }
    }
}
@media all and (min-width: 640px) {
    .info-block {
        &-list {
            padding: 0 30px;
        }
    }
}
@media all and (min-width: 768px) {
    .info-block {
        &-list {
            grid-template-columns: 1fr 1fr;
        }
    }
}
@media all and (min-width: 1280px) {
    .info-block {
        &-list {
            grid-gap: 40px;
            padding: 0 40px;
        }

        &__content {
            grid-gap: 16px;
        }
        &__title {
            font-size: 32px;
            line-height: 44px;
        }
        &__text {
            font-size: 16px;
            line-height: 28px;
        }
    }
}
@media all and (min-width: 1440px) {
    .info-block {
        &-item {
            padding: 40px 90px;
        }
    }
}
