// @import './vendor/intlTelInput.scss';

.iti {
    .form__input & {
        width: 100%;
    }
}

.iti__arrow {
    border-top-color: $color-text-primary;
}

.iti__country-list {
    @include scrollbar-secondary;
    background-color: $color-elements;
    border-radius: $border-radius-small;
    margin-top: 4px;
    min-width: 260px;
    max-width: 350px;
    overflow-x: hidden;
}

.iti__country {
    padding: 8px 16px;
    font-size: 14px;
    display: grid;
    grid-template-areas: 'flag code name';
    grid-template-columns: min-content max-content 1fr;
    column-gap: 8px;

    &:hover {
        color: $color-primary-hover;
    }
}

.iti__country-name,
.iti__dial-code {
    color: inherit;
}

.iti__flag-box,
.iti__dial-code,
.iti__country-name {
    margin: 0;
}

.iti__country-name {
    grid-area: name;
}

.iti__flag-box {
    order: -2;
    grid-area: flag;
}

.iti__dial-code {
    order: -1;
    grid-area: code;
}
