.lang {
    &__list {
        display: flex;
        flex-direction: column;
        grid-gap: 20px;
    }

    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        grid-gap: 8px;
        border-radius: $border-radius-small;
        padding: 8px;
        background: $color-elements;
        box-shadow:
            1px 2px 6px 0px rgba(0, 0, 1, 0.95),
            -1px -2px 6px 0px rgba(155, 151, 183, 0.35);

        &:hover,
        &.active {
            & i {
                opacity: 1;
            }
        }

        &.active {
            & i {
                color: $color-primary-solid;
            }
        }

        & span {
            font-size: 14px;
            line-height: 24px;
            color: $color-text-primary;
        }

        & i {
            font-size: 24px;
            line-height: 1;
            margin-left: auto;
            opacity: 0;
            transition: opacity 0.4s;
        }

        img {
            width: 24px;
            height: 24px;
        }
    }
}

@media all and (min-width: 480px) {
}

@media all and (min-width: 768px) {
}

@media all and (min-width: 1280px) {
}
