.loader {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: $color-background;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999999;
  top: 0;
  left: 0;

  &--transparent {
    background: transparent;
  }

  &--small {
    position: unset;
    width: 100%;
    height: 100%;
    background: transparent;

    & .loader__inner {
      width: 40px;
      height: 40px;
    }
  }

  // &--button {
  //   position: unset;
  //   width: 100%;
  //   height: 100%;
  //   background: transparent;

  //   & .loader {
  //     &__inner {
  //       width: 40px;
  //       height: 40px;
  //     }
  //   }
  // }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 60px;
    height: 60px;
  }

  &__circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: rotating 1s linear infinite;
  }
  &__spinner {
    animation: rotating 1s linear infinite;
  }
}
.selectric-scroll {
  .loader--small {
    & .loader__inner {
      width: 28px;
      height: 28px;
    }
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
