.logo {
  height: 40px;

  & img {
    height: 100%;
  }
}

@media all and (min-width: 480px) {
}
@media all and (min-width: 640px) {
}
@media all and (min-width: 768px) {
}
@media all and (min-width: 1280px) {
}
