.main-banner {
    position: relative;
    overflow: hidden;
    border-radius: $border-radius;
    min-height: 276px;
    background-image: linear-gradient(104deg, #000 -9.53%, rgba(0, 0, 0, 0.80) 12.61%, rgba(0, 0, 0, 0.50) 48.89%, rgba(0, 0, 0, 0.00) 86.07%);

    & .swiper-wrapper {
        height: 276px;
    }

    & .swiper-slide {
        overflow: hidden;
        border-radius: $border-radius;

        .button {
            flex-direction: row-reverse;
        }
    }

    & .swiper-pagination-bullet {
        background: transparent;
        opacity: 1;
        border: 2px solid $color-text-primary;

        &.swiper-pagination-bullet-active {
            background: $color-text-primary;
        }
    }

    & .socials {
        display: flex;
    }

    & .socials-link {
        height: 32px;
        width: 32px;
    }

    @media all and (min-width: 768px) {
        min-height: 380px;
    }

    @media all and (min-width: 1280px) {
        min-height: 500px;
    }
}

.main-banner__img {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;

    img {
        height: 100%;
        width: 100%;
    }
}

.main-banner__content {
    position: relative;
    height: 100%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.main-banner__title {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    font-family: $font-primary;
    width: fit-content;

    span {
        color: $color-primary-solid;
    }
}

.main-banner__separator {
    text-transform: uppercase;
    font-size: 14px;
    position: relative;
    color: $color-text-primary;

    &::before, &::after {
        content: '';
        display: block;
        width: 80px;
        height: 1px;
        background: $color-divider-secondary;
        top: 50%;
        position: absolute;
    }

    &::before {
        left: 0;
        transform: translate(-120%, -50%);
    }

    &::after {
        right: 0;
        transform: translate(120%, -50%);
    }
}

@media all and (min-width: 768px) {
    .main-banner__content {
        padding: 0 40px;
    }

    .main-banner__title {
        font-size: 32px;
        line-height: 44px;
    }
}

@media all and (min-width: 1280px) {
}
