.messages {
  display: grid;
  gap: 32px;
}

.messages-grid {
  display: flex;
  flex-direction: column;
  grid-gap: 24px;
}

.messages-item {
  border-radius: $border-radius;
  background: $color-elements;
  box-shadow: $card-shadow;
  overflow: hidden;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 184px;

  &.new {
    position: relative;
    border: 1px solid $color-primary-gradient;
    background-color: $color-surface;
      .messages-item__description::before {
          box-shadow: inset 0px -16px 10px -4px $color-surface;
      }

    &::before {
      content: '';
      position: absolute;
      top: 2px;
      left: 2px;
      bottom: 2px;
      right: 2px;
      background-color: $color-surface;
      z-index: 1;
      border-radius: 9px;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: $color-background;
      border-radius: 10px;
    }

    .messages-item__header,
    .messages-item__content {
      z-index: 1;
    }
  }

  &__status {
    & span {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 24px;
      border-radius: $border-radius;
      background: $color-primary-solid;
      color: $color-text-on-bg;
      font-size: 12px;
      font-style: normal;
      font-weight: 700;
      line-height: 20px;
      text-transform: uppercase;
    }
  }

  &__header {
    // display: flex;
    align-items: center;
    // grid-gap: 8px;
    margin-bottom: 8px;

    display: grid;
    grid-template-columns: minmax(54px, min-content) minmax(54px, min-content) 1fr;
  }

  &__content {
    display: flex;
    height: 100%;
    overflow: hidden;

    & .button {
      display: none;
    }
  }

  &__date {
    display: flex;
    align-items: center;
    grid-gap: 8px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-right: 8px;
  }

  &__title {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    color: $color-text-primary;
    margin-bottom: 0;
  }

  &__description {
    display: flex;
    flex-direction: column;
    grid-gap: 12px;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 0;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 100%;
      box-shadow: inset 0px -16px 10px -4px $color-elements;
    }

    & p {
      margin-bottom: 0;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
    }

    & .section {
      padding: unset;
    }
  }

  & .read-more__link {
    display: flex;
    align-items: center;
    grid-gap: 8px;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    text-transform: uppercase;
    color: $color-text-secondary;
    grid-column: 3;

    & i {
      font-size: 12px;
      font-weight: 400;
    }
  }
}

.messages .messages-item__status + .read-more__link {
  margin-left: 0;
}

@media all and (min-width: 481px) {
  .messages {
    &-item__title {
      font-size: 20px;
      font-weight: 700;
      line-height: 28px;
    }
  }
}

@media all and (min-width: 640px) {
  .messages-item {
    & .read-more__link {
      display: none;
    }
  }

  .messages-item__content {
    justify-content: space-between;
    grid-gap: 40px;
    padding: 4px;

    & .button {
      display: flex;
      align-self: end;
    }
  }
}

@media all and (min-width: 768px) {
  .messages {
    gap: 40px;
  }

  .messages-item {
    height: 192px;
  }
}

@media all and (min-width: 1024px) {
  .messages-item {
    padding: 21px;
  }
}

@media all and (min-width: 1280px) {
  .messages-item {
    height: 168px;
  }
}

@media all and (min-width: 1320px) {
  .messages-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .messages-item {
    height: 192px;
  }

  .read-more__link {
    transition: color 0.4s;

    &:hover {
      color: #aeb4ba;
    }
  }
}
