.message {
  border: 1px solid $color-warning;
  border-radius: 24px;
  display: flex;
  padding: 16px;
  text-align: left;
  gap: 8px;
  font-size: 14px;
  line-height: 24px;
  margin: 16px 0;

  i {
    color: $color-warning;
    font-size: 24px;
  }
}

@media all and (min-width: 480px) {
}

@media all and (min-width: 768px) {
}

@media all and (min-width: 1280px) {
}
