.mfp-content {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    .wrapping {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 100%;
        box-sizing: border-box;
        outline: none;
        width: 460px;
        position: relative;

        .mfp-close {
            top: 12px;
            right: 12px;
            width: 24px;
            height: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: transparent;
            font-size: 24px;
            color: $color-text-primary;
            opacity: 1;
            font-family: $font-primary;
        }
    }
}

.modal__input-description {
    display: flex;
    flex-direction: column;
    grid-gap: 2px;
    font-size: 12px;
    color: $color-text-secondary;
    padding-left: 8px;
    line-height: 20px;
    margin-bottom: 16px;
}

.modal__accordion {
    max-height: 428px;
    overflow-y: scroll;
    padding-right: 16px;

    scrollbar-color: $color-divider $color-surface;
    scrollbar-width: thin;
    margin-bottom: 24px;

    &::-webkit-scrollbar {
        width: 4px;
        border-radius: 12px;
    }

    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }

    &::-webkit-scrollbar-thumb {
        background-color: $color-text-secondary;
        border-radius: 12px;
    }

    &-item {
        padding: 12px 0;
        border-bottom: 1px solid $color-divider;

        i {
            transition: 200ms;
        }

        &.open {
            & .modal__accordion-content {
                display: block;
            }

            .icon-arrow-right {
                transform: rotate(90deg);
            }
        }
    }

    &-header {
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;
        font-weight: 700;
        line-height: 24px;
        color: $color-text-primary;

        span,
        i {
            color: $color-text-secondary;
        }
    }

    &-content {
        display: none;

        p {
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            max-height: 120px;
            overflow: hidden;
            margin-bottom: 4px;

            a {
                color: $color-primary;
                text-decoration: underline;
            }

            &.open {
                max-height: fit-content;
            }
        }

        .show-more {
            color: #fff;
            font-size: 14px;
            font-weight: 600;
            line-height: 24px;
            cursor: pointer;
            text-transform: uppercase;
        }
    }
}

.modal {
    i {
        visibility: initial;
    }


    &__wallets,
    &__wallet {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin-bottom: 24px;

        a {
            width: 100%;
            padding: 16px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $color-text-primary;
            font-size: 16px;
            font-weight: 500;
            background: $color-elements;
            border-radius: 20px;

            &:not(:last-child) {
                margin-bottom: 12px;
            }

            img {
                width: 32px;
                height: 32px;
                margin-right: 16px;
            }
        }
    }


    &__input-icon {
        position: relative;

        i {
            top: 27px;
            right: 10px;
            position: absolute;
            z-index: 2;
            cursor: pointer;

            &:hover {
                color: $color-text-primary;
            }
        }
    }

    &__wrapper {
        position: relative;

        span {
            position: absolute;
            top: 37px;
            font-size: 14px;
            line-height: 14px;
            right: 26px;
        }

        input {
            padding-right: 48px;
        }
    }

    &__message {
        background-color: $color-surface;
        border: 1px solid $color-warning;
        border-radius: 24px;
        display: flex;
        padding: 16px;
        text-align: left;
        gap: 8px;
        font-size: 14px;
        line-height: 24px;
        margin: 24px 0;

        i {
            color: $color-warning;
            font-size: 24px;
        }
    }

    &__buttons--large {
        flex-direction: column;
    }

    &__qr {
        display: none;
    }

    &__list {
        margin: 24px 0;
        border-top: 1px solid $color-divider;

        &-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 12px 0;
            border-bottom: 1px solid $color-divider;
            font-size: 12px;
            line-height: 20px;
        }

        &-val {
            color: $color-text-primary;
            font-weight: 700;
            display: flex;
            flex-direction: column;
        }

        &-converted-value {
            font-size: 10px;
            color: $color-text-secondary;
            line-height: 1;
            text-align: right;
        }

        &--wins {
            margin-top: 0;

            .modal__list-prop {
                color: #C9C9D4;
            }

            .modal__list-val {
                text-align: left;
                min-width: 160px;
            }
        }

    }

    &__content {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        padding: 36px 20px 20px;
        background: $color-surface;
        border-radius: $border-radius;
        box-shadow: 0px 18px 20px 0px rgba(0, 0, 1, 0.60);

        &-inner {
            max-height: 400px;
            overflow: scroll;
        }

        &--center {
            align-items: center;
            text-align: center;

            .modal__buttons {
                justify-content: center;
            }
        }

        & .form__input {
            margin-bottom: 16px;

            &+.modal__buttons {
                margin-top: 8px;
            }

            &.radio {
                margin-bottom: 0;
                text-align: center;

                & .input-wrapper {
                    box-shadow: none;
                    background: transparent;
                }
            }
        }

        &--welcome {
            background-repeat: no-repeat;
            background-position: right;
            border: 2px solid $color-primary-solid;
            box-shadow: 0px 2px 24px 0px rgba(14, 133, 80, 0.5);
            background-position: right top;
            background-size: 70vw;

            .modal__buttons {
                justify-content: center;
            }
        }
    }

    &__text-green {
        font-size: 36px;
        line-height: 48px;
        font-weight: 700;
        color: $color-primary;
        margin-bottom: 12px;
    }

    &__title {
        font-size: 20px;
        color: $color-text-primary;
        line-height: 28px;
        margin-bottom: 24px;
        max-width: 300px;

        &+.modal__message {
            margin-top: 0;
        }
    }

    &__win-img {
        position: relative;
        width: 212px;
        height: 142px;
        border-radius: 16px;
        overflow: hidden;

        &--wrapper {
            border-radius: 4px;
            box-shadow: 2px 2px 8px 0px #000001F2, -2px -2px 8px 0px #38383FBF;
            margin: 0 auto;
            padding: 8px 12px;
            margin-bottom: 24px;
            max-width: 236px;

            h4 {
                font-size: 16px;
                line-height: 28px;
                margin-bottom: 4px;
                text-align: center;
                width: 100%;
            }
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        span {
            height: 40px;
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            font-size: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #F8BC24;
            font-weight: 700;
            background: #141417;
        }



    }

    &__description {
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 16px;

        p {
            margin-bottom: 8px;
        }

        &+.modal__message {
            margin-top: 0;
        }
    }

    &__radio {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-bottom: 24px;
    }

    &__buttons {
        display: flex;
        flex-direction: column;
        gap: 16px;
        justify-content: flex-end;
        width: 100%;

        & .button {
            width: 100%;
        }

        & .loader__inner {
            margin: 0 auto;
        }
    }

    &__avatar-wrapper {
        height: 120px;
        margin-top: 24px;
    }

    &__ranges {
        margin: 24px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 32px;

        & .btn-group {
            display: flex;
            flex-direction: column;
            width: 100%;

            &__titles {
                display: flex;
                justify-content: space-between;
                width: 100%;
                padding-left: 6px;
                margin-top: 8px;

                span {
                    font-size: 12px;
                    line-height: 20px;
                    font-weight: 400;
                    color: $color-text-secondary;
                    padding-left: 0;
                }
            }
        }

        span {
            font-size: 16px;
            font-weight: 700;
            line-height: 28px;
            color: $color-text-primary;
            padding-left: 6px;
        }

        input {
            width: 100%;
            background: $color-divider;
            border: solid 2px #82cfd0;
            height: 5px;
            outline: none;
            -webkit-appearance: none;
            border: none;
            margin: 8px 0;
            border-radius: 6px;
        }

        input::-webkit-slider-thumb {
            -webkit-appearance: none;
            height: 20px;
            width: 20px;
            border-radius: 50%;
            background: $color-primary-solid;
            cursor: ew-resize;
        }
    }
}

@media all and (min-width: 480px) {
    .modal {
        &__message {
            font-size: 16px;
            line-height: 28px;
        }


        &__buttons--large {
            flex-direction: row;
        }

        &__qr {
            display: block;
            width: 128px;
            height: 128px;
            padding: 10px;
            border-radius: $border-radius-small;
            background-color: $color-text-primary;
        }

        &__list {
            &-item {
                font-size: 16px;
                line-height: 28px;
            }
        }

        &__ranges {
            flex-direction: row;
        }

        &__content {
            padding: 36px 24px 16px;

            &--welcome {
                background-size: initial;
            }

            & .form__input {
                &.radio {
                    text-align: left;
                }
            }
        }

        &__title {
            font-size: 24px;
            line-height: 32px;
        }

        &__description {
            font-size: 16px;
            line-height: 28px;
        }

        &__text-green {
            font-size: 44px;
            line-height: 52px;
            margin-bottom: 36px;
        }

        &__buttons {
            flex-direction: row;
            & .button--s1 {
                width: auto;
            }

            & .button--s2 {
                width: 100%;
            }

            & .button--s3 {
                width: 180px;
            }

            & .button--s4 {
                width: 200px;
            }
        }
    }
}

@media all and (min-width: 768px) {}

@media all and (min-width: 1280px) {}
