.page {
    padding: 20px 0;
    display: grid;
    gap: 32px;

    .sportbook__iframe {
        max-width: 100%;
        overflow: hidden;
        padding: 0;
    }
}

@media all and (min-width: 768px) {
    .page {
        padding: 32px 0 60px;
        gap: 40px;
    }
}

@media all and (min-width: 1280px) {
    .page {
        padding: 40px 0 60px;
        gap: 80px;
    }
}
