.pagination {
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 12px;
  }
  &__item {
    width: 40px;
    height: 40px;
    border-radius: $border-radius-small;
    background: $color-elements;
    color: $color-text-primary;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    & a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      cursor: pointer;
    }
    &--active {
      background: $color-primary-solid;
      color: $color-text-on-bg;
    }
  }
}

@media all and (min-width: 480px) {
}
@media all and (min-width: 768px) {
  .pagination {
    &__item {
      transition: background-color 0.4s;
      &:hover {
        background-color: $color-surface;
      }
      &--active {
        &:hover {
          background: $color-primary-solid;
          cursor: unset;
        }
      }
    }
  }
}
@media all and (min-width: 1280px) {
}
