.payments-grid {
  display: flex;
  flex-direction: column;
  grid-gap: 16px;
}
.payments-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: $border-radius;
  background: $color-surface;
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 1, 0.95), -2px -2px 8px 0px rgba(56, 56, 63, 0.75);
  &__img {
    width: 126px;
    height: 66px;
    object-fit: scale-down;
    margin-bottom: 16px;
  }
  &__content {
    text-align: center;
  }
  &__title {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    max-width: 100%;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    color: $color-text-primary;
    margin-bottom: 4px;
  }
  &__description {
    & p {
      font-size: 14px;
      line-height: 24px;
      margin-bottom: 16px;
    }
  }
}

@media all and (min-width: 640px) {
  .payments-item {
    flex-direction: row;
    grid-gap: 40px;
    justify-content: space-between;
    &__img {
      margin-bottom: 0;
    }
    &__content {
      display: flex;
      align-items: center;
      text-align: left;
      grid-gap: 40px;
      width: 100%;
    }
    &__description {
      width: 100%;
      p {
        margin-bottom: 0;
      }
    }
  }
}
@media all and (min-width: 769px) {}
@media all and (min-width: 1281px) {
  .payments-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 24px;
  }
}
