.providers {
    &--sidebar {
        .providers__list {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 16px;
            padding-bottom: 130px;
        }
    }

    &__header {
        display: flex;
        justify-content: space-between;
        position: relative;
        align-items: center;
    }

    &__title {
        font-weight: 700;
        font-size: 20px;
        line-height: 28px;
        color: $color-text-secondary;

        &-hidden-word {
            display: none;
        }
    }

    &__list {
        display: flex;
        overflow: hidden;
        padding: 10px;
        margin: -10px;

        &-item {
            display: flex;
            height: 90px;
            padding: 18px 10px;
            justify-content: center;
            align-items: center;
            background-color: $color-background;
            border-radius: $border-radius-small;
            transition: none;
            box-shadow:
                2px 2px 8px 0px rgba(0, 0, 1, 0.95),
                -2px -2px 8px 0px rgba(56, 56, 63, 0.75);

            &:hover {
                background-color: $color-elements;
            }

            & img {
                max-height: 54px;
                object-fit: cover;
            }
        }

        &-link {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

@media all and (min-width: 480px) {
    .providers {
        &__title {
            font-size: 28px;
            line-height: 36px;

            &-hidden-word {
                display: inline-block;
            }
        }
    }
}

@media all and (min-width: 768px) {
    .providers {
        &__title {
            font-size: 32px;
            line-height: 44px;
        }

        &__list {
            &-item {
                & img {
                    max-height: 60px;
                }
            }
        }
    }
}

@media all and (min-width: 769px) {
    .providers {
        &--sidebar {
            .providers__list {
                grid-template-columns: repeat(3, 1fr);
            }
        }
    }
}

@media all and (min-width: 1280px) {
    .providers {
        &__list {
            &-item {
                & img {
                    max-height: 78px;
                }
            }
        }
    }
}
