@import '../components/counter.scss';

.quest__header {
    display: flex;
    align-items: center;
    flex-direction: column;
    grid-gap: 16px;
    margin-bottom: 40px;

    & h1 {
        margin-bottom: 0;
    }
}

.quests-list {
    display: grid;
    grid-gap: 16px;
}

.quest-label {
    position: absolute;
    right: 0;
    top: 16px;
    width: 100px;
    height: 36px;
    line-height: 35px;
    font-family: $font-primary;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 10% 50%);
    background-image: linear-gradient(
            140deg,
            rgba(255, 255, 255, 0) 20%,
            rgba(255, 255, 255, 0.3) 30%,
            rgba(255, 255, 255, 0) 40%
        ),
        linear-gradient(0deg, #9eea49 0%, #65bf00 100%);
    background-size:
        200% 300%,
        100% 100%;
    background-position:
        -200px 0,
        0 0;
    background-repeat: no-repeat; /* Запрет повторения фонов */
    text-align: center;
    color: $color-elements-hover;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;
    box-shadow: 0px 2px 24px 0px rgba(101, 191, 0, 0.5);
    animation: slideRight 1.5s infinite linear; // 10s - скорость анимации

    &:after {
        //content: '';
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        width: 30px;
        height: 100%;
        background-image: linear-gradient(
            90deg,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0.6) 60%,
            rgba(255, 255, 255, 0) 100%
        );
        animation: slideRight 3s linear infinite; /* Продолжительность, функция времени и повторение анимации */
        transform: rotate(45deg);
    }
}

.quest {
    position: relative;
    display: flex;
    flex-direction: column;
    background: $color-surface;
    border-radius: $border-radius-medium;
    overflow: hidden;
    box-shadow:
        2px 2px 8px 0px rgba(0, 0, 1, 0.95),
        -2px -2px 8px 0px rgba(56, 56, 63, 0.75);

    &--blocked {
        .quest__description > * {
            opacity: 0.3;
            pointer-events: none;
        }
    }

    &--glowing {
        $padding: 2px;
        position: relative;
        background: none;
        padding: $padding;
        z-index: 1;

        &::before {
            content: '';
            position: absolute;
            z-index: -1;
            inset: $padding;
            background: $color-surface;
            border-radius: $border-radius-medium;
        }

        &::after {
            content: '';
            position: absolute;
            inset: -1px;
            z-index: -2;
            padding: inherit;
            background-image: linear-gradient(
                to right,
                $color-primary-gradient,
                $color-primary-gradient-solid
            );
            border-radius: inherit;
        }
    }

    .counter {
        position: absolute;
        top: 16px;
        left: 16px;
        color: $color-text-primary;
        font-size: 10px;
        line-height: 12px;
        text-transform: uppercase;
        height: 36px;
        display: flex;
        align-items: flex-end;
        font-weight: 600;
        padding: 4px 12px;
        background-color: $color-elements;
        border-radius: $border-radius-small;

        .counter__cell {
            span {
                color: $color-text-placeholder;
            }
        }
    }
}

.quest__title {
    color: $color-text-primary;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    font-family: $font-primary;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    min-height: 28px;
    max-height: 56px;
    word-break: break-all;
}

.quest__subtitle {
    font-size: 12px;
    line-height: 20px;
    margin-top: 8px;
    margin-bottom: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    min-height: 20px;
    word-break: break-all;
}

.quest-prize {
    display: flex;
    text-align: center;
    justify-content: center;
    height: min-content;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: $color-text-primary;
    background-color: $color-elements;
    padding: 8px 16px;
    gap: 8px;

    i {
        color: $color-primary-solid;
        font-size: 16px;
    }
}

.quest-prize__hint {
    color: $color-text-secondary;
    font-size: 12px;
}

.quest-prize__word {
    color: $color-primary-solid;
}

.quest__img {
    flex-shrink: 0;
    position: relative;
    border-radius: $border-radius-medium;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    overflow: hidden;
    height: 150px;

    &--default {
        object-fit: contain !important;
        padding: 35px;
    }

    & img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        background-color: $color-elements-hover;
    }

    & .button {
        height: auto;

        div {
            display: flex;
            flex-direction: column;
        }
    }
}

.quest__description {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 16px;

    & .tooltip {
        max-width: 120px;
    }
}

.quest__footer {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 16px;
    margin-top: auto;
}

.quest-progress {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    width: 100%;
    gap: 8px;
}

.quest-progress__text,
.quest-progress__counter {
    text-transform: uppercase;
    font-size: 10px;
    line-height: 12px;
}

.quest-progress__counter {
    text-align: end;
    color: $color-text-primary;
    font-weight: 600;
}

.quest-progress__bar {
    position: relative;
    width: 100%;
    background-color: $color-divider;
    border-radius: 16px;
    height: 12px;
    grid-column: 1 / 3;

    &-indicator {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        background-color: $color-success;
        border-radius: inherit;
        width: 10%;
    }
}

.quest__button-prize {
    padding: 0;
    min-width: 60px;
    height: 60px;

    & .icon-prize-animated {
        width: 60px;
        height: 60px;
        background: url(../../img//components/quest/prize-animated.svg);
        background-repeat: no-repeat;
        background-size: cover;

        &--sparks {
            background: url(../../img//components/quest/prize-animated-sparks.gif);
        }
    }
}

.quest__button-show-prize {
    & > span {
        margin-top: 5px;
    }
}

.quest__button-lock {
    --x-gap: 14px;
    position: absolute;
    bottom: 16px;
    left: var(--x-gap);
    right: var(--x-gap);
    padding: 0 12px;
    color: $color-text-on-bg;
    font-style: normal;
    font-weight: 400;
    text-transform: capitalize;
    background: linear-gradient(
        to right,
        $color-primary-gradient-solid,
        $color-primary-gradient
    );
    border: none;
    white-space: normal;
    min-height: 40px;
    width: auto;

    &:hover {
        cursor: default;
        background: linear-gradient(
            to right,
            $color-primary-gradient-solid,
            $color-primary-gradient
        );
        border: none;
    }
}

@media all and (min-width: 640px) {
    .quests-list {
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .quest__subtitle {
        font-size: 14px;
        line-height: 24px;
    }

    .quest-prize {
        font-size: 16px;
        line-height: 28px;
    }
}

@media all and (min-width: 768px) {
    .quests-list {
        grid-template-columns: repeat(2, 1fr);
    }

    .quest__footer {
        gap: 20px;
    }

    .quest__button-lock {
        --x-gap: 22px;
        height: 40px;
    }

    .quest__img {
        height: 227px;
    }

    .quest-prize {
        i {
            font-size: 20px;
        }
    }
}

@media all and (min-width: 1280px) {
    .quests-list {
        margin-bottom: 40px;
        grid-template-columns: repeat(3, 1fr);
    }

    .quest__img {
        height: 216px;
    }

    .quest__button-lock {
        --x-gap: 28px;
    }
}

@media all and (min-width: 1920px) {
    .quests-list {
        grid-template-columns: repeat(4, 1fr);
    }

    .quest__img {
        height: 273px;
    }

    .quest__description {
        padding: 20px;
    }
}

@keyframes slideRight {
    0% {
        background-position:
            -500px 0,
            0 0;
    }
    100% {
        background-position:
            100px 0,
            0 0;
    }
}
