.quests-main {
    display: flex;
    flex-direction: column;
    gap: 24px;

    .icon-question {
        color: $color-text-placeholder;
    }
}

.quests-main__list {
    display: grid;
    gap: 24px;

    & {
        .quest {
            width: 100%;
            display: none;

            &:first-child {
                display: flex;
            }
        }
    }
}

.quests-main__title {
    gap: 16px;

    i {
        font-size: 32px;
    }
}

@media all and (min-width: 768px) {
    .quests-main__list {
        & > *:nth-child(2) {
            display: flex;
        }
        grid-template-columns: repeat(2, 1fr);
    }
}

@media all and (min-width: 1280px) {
    .quests-main__list {
        gap: 20px;

        & > *:nth-child(3) {
            display: flex;
        }
        grid-template-columns: repeat(3, 1fr);
    }
}

@media all and (min-width: 1920px) {
    .quests-main__list {
        & > *:nth-child(4) {
            display: flex;
        }
        grid-template-columns: repeat(4, 1fr);
    }
}
