.modal__content {
  .registration-bonuses-wrapper {
    border-top: 1px solid $color-divider;
    margin-top: 24px;
  }
}

.registration-bonuses {
  padding: 16px 0;

  &:first-of-type {
    padding-top: 0;
  }

  &:not(:last-of-type) {
    border-bottom: 1px solid $color-elements-hover;
  }
  &-wrapper {
    width: 100%;
    margin-bottom: 24px;
    .form__section--title {
      margin: 16px 0 8px;
    }
  }

  &__hidden-input {
    display: none;
    visibility: hidden;
    &:checked {
      & + .registration-bonuses__label {
        color: $color-text-primary;
        &:after {
          opacity: 1;
          background: $color-primary-solid;
        }
        &:before {
          border-color: $color-primary-solid;
        }
      }
      & ~ .registration-bonuses__content {
        display: block;
        &.promo-code {
          display: grid;
        }
      }
    }
  }
  &__label {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 24px;
    font-weight: 500;
    font-family: $font-primary;
    padding: 0 32px;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    cursor: pointer;
    .label__bg {
      z-index: 1;
    }
    &:before,
    &:after {
      content: "";
      position: absolute;
    }
    &:before {
      top: 3px;
      left: 3px;
      z-index: 2;
      width: 18px;
      height: 18px;
      border: 2px solid $color-text-secondary;
      border-radius: 100%;
    }
    &:after {
      left: 7px;
      top: 7px;
      z-index: 2;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: $color-text-secondary;
      opacity: 0;
    }
  }
  &__content {
    display: none;
    padding: 8px 0 0 32px;
    text-align: left;
    &.promo-code {
      display: none;
      grid-template-columns: 1fr;
      grid-gap: 12px;
      .form__input {
        margin-bottom: 0;
      }
      .button {
        max-width: 220px;
      }
    }
  }
  &__row {
    font-size: 14px;
    line-height: 24px;
    &:not(:last-of-type) {
      margin-bottom: 5px;
    }
    .bold-text {
      margin-left: 2px;
      font-weight: 500;
      color: $color-text-primary;
    }
  }
}

@media all and (min-width: 480px) {
  .registration-bonuses {
    &__content {
      &.promo-code {
        grid-template-columns: 1fr 140px;
      }
    }
  }
}
@media all and (min-width: 768px) {
}
@media all and (min-width: 1280px) {
}

//добавлено для демо, так как там другие классы в верстке

[data-bonuses] .registration-bonuses {
  border-bottom: 1px solid $color-divider;
}

.registration-bonuses {
  padding: 16px 0;

  &:not(:last-of-type) {
    border-bottom: 1px solid $color-divider;
  }

  &-wrapper {
    width: 100%;
    margin-bottom: 24px;
    .form__section--title {
      margin: 24px 0;
      text-align: left;
      font-size: 20px;
      line-height: 24px;
    }
  }

  &__hidden-input {
    display: none;
    visibility: hidden;
    &:checked {
      & + .registration-bonuses__label {
        color: $color-text-primary;
        &:after {
          opacity: 1;
          background: $color-primary-solid;
        }
        &:before {
          border-color: $color-primary-solid;
        }
      }
      & ~ .registration-bonuses__content {
        display: block;
        &.promo-code {
          display: grid;
        }
      }
    }
  }
  &__label {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 24px;
    font-weight: 500;
    font-family: $font-primary;
    padding: 0 32px;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    cursor: pointer;
    .label__bg {
      z-index: 1;
    }
    &:before,
    &:after {
      content: "";
      position: absolute;
    }
    &:before {
      top: 3px;
      left: 3px;
      z-index: 2;
      width: 18px;
      height: 18px;
      border: 2px solid $color-text-secondary;
      border-radius: 100%;
    }
    &:after {
      left: 7px;
      top: 7px;
      z-index: 2;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: $color-text-secondary;
      opacity: 0;
    }
  }
  &__content {
    display: none;
    padding: 8px 0 0 32px;
    text-align: left;
    &.promo-code {
      display: none;
      grid-template-columns: 1fr;
      grid-gap: 12px;
      .form__input {
        margin-bottom: 0;
      }
      .button {
        max-width: 220px;
      }
    }
  }
  &__row {
    font-size: 14px;
    line-height: 24px;
    &:not(:last-of-type) {
      margin-bottom: 5px;
    }
    .bold-text {
      margin-left: 2px;
      font-weight: 500;
      color: $color-text-primary;
    }
  }
}

@media all and (min-width: 481px) {
  .registration-bonuses {
    &__content {
      &.promo-code {
        grid-template-columns: 1fr 140px;
      }
    }
  }
}
