.reward {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    overflow: hidden;

    &__title {
        margin-bottom: 24px;

        h2 {
            color: $color-text-primary;
            font-size: 24px;
            font-style: italic;
            font-weight: 700;
            line-height: 32px;
        }
    }

    &__content {
        font-size: 16px;
        line-height: 28px;
        overflow-x: scroll;
        border-radius: 12px;
        padding-bottom: 4px;

        &::-webkit-scrollbar {
            height: 8px;
        }

        &::-webkit-scrollbar-thumb {
            border: 3px solid transparent;
            background-color: $color-divider;
            outline: 4px solid transparent;
        }
    }

    &__row {
        display: flex;
        align-items: stretch;
        min-height: 40px;
        position: relative;
        width: max-content;
        background-color: $color-elements;

        &:first-child {
            height: 48px;

            &>* {
                height: 48px;
            }
        }

        &:last-child {

            & .reward__item,
            & .reward__item-title {
                border-bottom: none;
            }
        }

    }

    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 120px;
        border-right: 2px solid $color-elements-hover;
        min-height: 40px;
        border-bottom: 2px solid $color-elements-hover;
        background-color: $color-elements;

        i {
            color: #fff;
        }

        &-title {
            display: flex;
            align-items: center;
            padding: 0 16px;
            width: 200px;
            min-height: 40px;
            border-right: 2px solid $color-elements-hover;
            background-color: $color-elements;
            border-bottom: 2px solid $color-elements-hover;
        }

        &:last-child {

            border-right: none;
        }
    }

    &__heading {
        font-size: 16px;
        font-weight: 700;
        line-height: 28px;
        text-transform: capitalize;
    }


}

@media all and (min-width: 640px) {
    .reward {
        &__item {
            &-title {
                position: sticky;
                left: 0;
            }
        }

        &__heading {
            font-style: italic;
        }
    }
}

@media all and (min-width: 769px) {
    .reward {
        &__header {
            margin-bottom: 24px;
        }

        &__heading {
            font-size: 20px;
            line-height: 28px;
        }
    }
}

@media all and (min-width: 1281px) {
    .reward {
        &__title {
            h2 {
                font-size: 44px;
                line-height: 52px;
            }
        }

        &__row,
        &__content {
            width: 100%;
            align-items: start;
        }

        &__item {
            &-title {
                position: static;
                width: 100%;
            }
        }
    }
}