.search__wrapper {
    position: relative;
    margin-left: 32px;
    margin-right: 20px;

    .search-bar {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 44px;
        background: #1f2227;
        position: fixed;
        left: 0;
        right: 0;
        top: 76px;
        opacity: 0;
        padding: 10px 20px;
        visibility: hidden;
        transition: all 300ms ease-in-out;
        box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);

        &.active {
            left: 0;
            height: 84px;
            opacity: 1;
            visibility: visible;

            .form-search {
                display: flex;
                width: 100%;
                max-width: 1360px;
                opacity: 1;
                visibility: visible;
            }
        }

        input {
            background: #2a2b30;
            border-radius: 30px;
            outline: 0;
            border: 0;
            width: 100%;
            height: 44px;
            padding: 0 50px;
            color: $color-text-primary;
        }

        .search-button {
            left: 0;
            border-radius: 10px 0 0 10px;
        }

        .close-button {
            cursor: pointer;
            right: 0;
            border-radius: 0 10px 10px 0;
        }
    }

    .form-search {
        position: relative;
        opacity: 0;
        visibility: hidden;
        display: none;
    }

    .search {
        z-index: 1;
        display: flex;
        align-items: center;
        transition:
            box-shadow 0.4s,
            background-color 0.4s;

        .icon-search {
            flex-shrink: 0;
            width: 24px;
            height: 24px;
            font-size: 24px;
            color: var(--background-on);
        }

        &:hover {
            cursor: pointer;
        }
    }

    .search__placeholder {
        margin-left: 4px;
        font-size: 12px;
        line-height: 16px;
        color: var(--surface-on);
    }
}

.search__wrapper .search-bar .search-button,
.search__wrapper .search-bar .close-button {
    position: absolute;
    top: 0;
    width: 44px;
    height: 44px;
    color: $color-text-primary;
    font-size: 16px;
}

.search__wrapper .search-bar .search-button i,
.search__wrapper .search-bar .close-button i {
    width: 100%;
    height: 100%;
}

.search-modal {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    display: none;
    width: 100vw;
    height: 100vh;

    i {
        visibility: initial;
    }

    &-header {
        display: flex;
        align-items: center;

        h2 {
            color: $color-text-primary;
            font-size: 36px;
            line-height: 48px;
            margin-bottom: 0;
        }

        i {
            cursor: pointer;
            font-size: 24px;
            color: $color-text-primary;
        }
    }
}

.search-modal-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(26, 30, 33, 0.8);
}

.search-modal-body {
    position: relative;
    z-index: 10;
    width: 100%;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    top: 0;
    box-shadow: 0px 18px 20px 0px rgba(0, 0, 1, 0.6);

    &.open {
        display: flex;
        flex-direction: column;
        gap: 24px;
        padding: 40px 20px 20px;
        background: $color-surface;
    }
}

.search-modal-title-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 16px 8px;
}

.search-modal-title {
    color: $color-text-primary;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 0;
    font-style: normal;
}

.search-modal-history {
    overflow: hidden;
    margin-bottom: 20px;
}

.search-modal-history-wrapper {
    padding: 0 16px;
    overflow: hidden;

    .swiper-wrapper {
        overflow: visible;
    }

    .swiper-buttons {
        top: -50px;

        .swiper-button-prev,
        .swiper-button-next {
            position: absolute;
            color: $color-text-primary;
            font-weight: 700;
            background: $color-surface;
            border-radius: 0;

            &:hover {
                background: $color-surface;
                color: $color-divider;
            }

            &.swiper-button-disabled {
                display: none;
            }

            &::before {
                content: '';
                width: 20px;
                height: 100%;
                position: absolute;
            }
        }

        .swiper-button-next {
            right: -17px;

            &::before {
                left: -20px;
                background: linear-gradient(
                    90deg,
                    rgba(2, 0, 36, 1) 0%,
                    rgba(255, 201, 28, 0) 0%,
                    rgba(22, 27, 33, 1) 100%
                );
            }
        }

        .swiper-button-prev {
            left: -17px;
            border-right: none;

            &::before {
                right: -20px;
                background: linear-gradient(
                    270deg,
                    rgba(2, 0, 36, 1) 0%,
                    rgba(255, 201, 28, 0) 0%,
                    rgba(22, 27, 33, 1) 100%
                );
            }
        }
    }
}

.search-modal-history-item {
    display: flex;
    align-items: center;
    height: 24px;
    padding: 0 8px;
    background-color: $color-elements;
    max-width: fit-content;
    border-radius: $border-radius-small;

    span {
        color: $color-text-primary;
        font-size: 12px;
    }

    i {
        margin-left: 4px;
        font-size: 16px;
    }
}

.helper {
    &.opened {
        .search-modal-body {
            left: 142px;
        }
    }
}

.search-modal-body-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    &.active {
        .search-widget-form {
            border-radius: 24px 24px 0 0;
        }
    }

    .search-icon {
        top: 0;
        left: 20px;
        font-size: 20px;
        color: $color-primary-solid;
    }

    .close-icon {
        right: 25px;
        cursor: pointer;
        font-size: 14px;
    }

    .search-widget-form {
        width: 100%;

        input {
            width: 100%;
            padding-left: 40px;
            padding-right: 60px;
            max-width: 100%;
            border-radius: $border-radius-small;
            border: none;

            &[type='text']:focus {
                border: none;
            }
        }
        .input-wrapper {
            &:focus-within {
                border: 1px solid transparent;
            }
        }
    }
}

.search-modal-body-header .search-icon,
.search-modal-body-header .close-icon {
    position: absolute;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    z-index: 2;
    top: 1px;
}

.search-modal-body-games {
    z-index: 1;
    width: 100%;

    .games_not_found-1 {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $color-text-secondary;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px;
    }

    .search-widget-game-list {
        padding-right: 20px;
        padding-bottom: 24px;
        overflow: auto;

        max-height: calc(100vh - 195px);

        &.scroll-content {
            display: none;
        }

        .scroll-element {
            display: none;
        }

        &.scroll-scrolly_visible {
            position: relative;
            display: block;
            padding-right: 38px;

            &::before {
                content: '';
                position: absolute;
                bottom: 100%;
                left: 0;
                right: 0;
                height: 16px;
                background: var(--background-body);
            }

            & ~ .scroll-element {
                display: block;
                right: 16px;
            }
        }
    }

    .game-content {
        display: flex;
    }

    .game-img {
        width: 136px;
        height: 98px;
        border-radius: $border-radius-small;
        flex-shrink: 0;
        margin-right: 12px;
        background-size: contain;
        border-radius: $border-radius-small;
        overflow: hidden;

        img {
            height: 100%;
            object-fit: cover;
        }
    }

    .game-item {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;

        &:not(:last-child) {
            padding-bottom: 16px;
            margin-bottom: 16px;
            border-bottom: 1px solid $color-divider;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    .game-info {
        display: flex;
        flex-direction: column;
        text-align: left;
        margin-top: 0;
        background: transparent;
        padding-right: 10px;
        justify-content: center;

        .game-name {
            font-size: 16px;
            line-height: 24px;

            font-weight: 500;
            color: $color-text-primary;
            width: 100%;
            margin-bottom: 8px;

            overflow: hidden;
            word-break: break-all;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }

        .game-provider {
            font-size: 14px;
            line-height: 24px;

            overflow: hidden;
            word-break: break-all;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
    }

    .game-buttons {
        display: flex;
        align-items: center;
        margin-top: 12px;
        width: 100%;
        gap: 12px;
        margin-left: 7px;
        margin-right: 4px;

        .game-button {
            width: 100%;
        }

        .button--t3 {
            background: #ffce0a;
            box-sizing: border-box;
            color: #262626;
            text-transform: uppercase;

            &:hover {
                background: var(--secondary-variant);
            }

            &:active {
                background: var(--secondary-variant);
            }
        }

        .button--t4 {
            background: unset;
            color: var(--background-on);
            text-transform: uppercase;
            border: 2px solid #ffce0a;

            &:hover {
                background: rgba(255, 255, 255, 0.16);
                border-color: #ffe894;
            }

            &:active {
                background: rgba(255, 255, 255, 0.16);
                border-color: #ffe894;
            }
        }
    }
}

.search-modal.active {
    height: calc(var(--vh, 1vh) * 100);
}

@media all and (min-width: 540px) {
    .search-modal-body-games {
        .game-img {
            margin-right: 24px;
        }

        .game-item {
            flex-wrap: nowrap;
        }

        .game-info {
            .game-name {
                font-size: 20px;
                line-height: 28px;
            }
        }

        .game-buttons {
            flex-direction: column;
            gap: 8px;
            width: fit-content;
            margin-left: auto;

            .game-button {
                width: 180px;
            }
        }
    }
}

@media all and (min-width: 768px) {
    .search-modal-body {
        max-width: 704px;
        border-radius: 12px;
    }

    .search-modal-body-games {
        .search-widget-game-list {
            max-height: calc(50vh - 64px);
        }
    }

    .search-modal {
        &-header {
            display: flex;
            align-items: center;

            h2 {
                font-size: 36px;
                margin-bottom: 0;
            }

            i {
                font-size: 24px;
            }
        }
    }

    .search-modal-body-header {
        position: relative;

        & .close-icon {
            right: 10px;
        }
    }

    .search-modal-body {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        &.open {
            gap: 40px;
            padding: 40px;
        }
    }
}

@media all and (min-width: 1280px) {
    .search-modal-body {
        max-width: 814px;
    }

    .search {
        &-widget-game-list {
            scrollbar-color: $color-divider $color-surface;
            scrollbar-width: thin;
            overflow: auto;

            &::-webkit-scrollbar {
                width: 4px;
            }

            &::-webkit-scrollbar-track {
                box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            }

            &::-webkit-scrollbar-thumb {
                background-color: $color-divider;
                outline: 1px solid $color-divider;
            }
        }
    }
}
