.search-input {
    position: relative;

    i {
        position: absolute;
        top: 4px;
        left: 11px;
        color: $color-primary;
        z-index: 1;
    }

    input {
        padding-left: 30px;
    }
}

@media all and (min-width: 481px) {}

@media all and (min-width: 769px) {}

@media all and (min-width: 1281px) {}