.seo-block {
    display: flex;
    flex-direction: column;
    gap: 40px;
    &__text {
        display: flex;
        flex-direction: column;
        gap: 24px;
        & p {
            color: $color-text-secondary;
            font-size: 16px;
            line-height: 28px;
            margin-bottom: 16px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        & .button {
            margin-right: auto;
        }
    }
    &__title {
        color: $color-text-primary;
        font-size: 28px;
        font-weight: 700;
        line-height: 36px;
        margin-bottom: 0;
    }
    &__description {
        position: relative;
        max-height: 150px;
        overflow: hidden;
        transition: all .5s;
        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 40px;
            background: linear-gradient(180deg, rgba(16, 20, 24, 0.00) 0%, $color-background 100%);
        }
        &.shown {
            max-height: unset;
            transition: all .5s;
            &:after {
                display: none;
            }
        }
    }
    &__img {
        width: 100%;
        aspect-ratio: 3/2;
        object-fit: cover;
        border-radius: $border-radius;
        overflow: hidden;
    }

}

@media all and (min-width: 481px) {}
@media all and (min-width: 767px) {
    .seo-block {
        &__title {
            font-size: 36px;
            line-height: 48px;
        }
        &__text {
            p {
                font-size: 20px;
                line-height: 32px;
            }
        }
    }
}
@media all and (min-width: 1279px) {
    .seo-block {
        &__text {
            gap: 40px;
        }
        &__title {
            font-size: 44px;
            line-height: 52px;
        }
    }
}
