.slider-main {
    position: relative;
    overflow: hidden;
    border-radius: $border-radius;

    & .swiper-wrapper {
        height: 276px;
    }

    & .swiper-slide {
        overflow: hidden;
        border-radius: $border-radius;

        .button {
            flex-direction: row-reverse;
        }
    }

    & .swiper-pagination-bullet {
        background: transparent;
        opacity: 1;
        border: 2px solid $color-text-primary;

        &.swiper-pagination-bullet-active {
            background: $color-text-primary;
        }
    }
}

.slider-main__img {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;

    img {
        height: 100%;
        width: 100%;
    }
}

.slider-main__content {
    position: relative;
    height: 100%;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;

    @media all and (min-width: 768px) {
        padding: 40px;
    }

    @media all and (min-width: 1280px) {
        padding: 80px 40px;
    }

    @media all and (min-width: 1920px) {
        padding: 100px 40px;
    }
}

.slider-main__description {
    color: $color-text-primary;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 8px;

    @media all and (min-width: 768px) {
        max-width: 420px;
        gap: 16px;
    }
}

.slider-main__label {
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
}

.slider-main__title {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    font-family: $font-primary;

    span {
        color: $color-primary-solid;
    }
}

.slider-main__link {
    display: flex;
    align-items: center;
    color: $color-text-primary;
    text-transform: uppercase;
    font-size: 14px;
    gap: 8px;

    i {
        font-size: 24px;
    }
}

.slider-main__subtitle {
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    font-family: $font-primary;

    @media all and (min-width: 768px) {
        font-size: 16px;
    }
}

.slider-main__pagination {
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
    bottom: 12px;
    display: inline-flex;
    z-index: 2;

    i {
        cursor: pointer;
        color: $color-text-primary;

        &.prev {
            rotate: 90deg;
        }

        &.next {
            rotate: 270deg;
        }
    }
}

.swiper-pagination {
    position: static;
    display: flex;
    align-items: center;
}

@media all and (min-width: 768px) {
    .slider-main {
        & .swiper-wrapper {
            height: 380px;
        }
    }

    .slider-main__label {
        font-size: 14px;
        line-height: 24px;
    }

    .slider-main__title {
        font-size: 32px;
        line-height: 44px;
    }

    .slider-main__subtitle {
        font-weight: 500;
        line-height: 28px;
    }

    .slider-main__pagination {
        transform: translateX(0);
        left: 40px;
    }
}

@media all and (min-width: 1280px) {
    .slider-main {
        & .swiper-wrapper {
            height: 500px;
        }
    }
}
