.socials {
    display: grid;
    grid-template-columns: repeat(auto-fill, 28px);
    grid-gap: 14px;
    &-link {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 28px;
        font-size: 24px;
        background: $color-text-placeholder;
        color: $color-text-on-bg;
        border-radius: 8px;
        &:hover {
            background: $color-primary-solid;
        }
    }
}

@media all and (min-width: 481px) {}
@media all and (min-width: 580px) {}
@media all and (min-width: 640px) {}
@media all and (min-width: 769px) {}
@media all and (min-width: 840px) {}
@media all and (min-width: 980px) {}
@media all and (min-width: 1024px) {}
@media all and (min-width: 1281px) {}
@media all and (min-width: 1440px) {}
