.status {
    color: $color-text-primary;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    height: 32px;
    padding: 0 12px;
    background-color: $color-surface;
    border-radius: $border-radius-small;
    text-transform: uppercase;
    width: fit-content;

    i {
        margin-right: 4px;
    }

    &--success {
        color: $color-status-active;
    }

    &--error {
        color: #d02601;
    }

    &--warning {
        color: #f0b00b;
    }

    &--unsubscribed {
        color: #b664dc;
    }

    &--subscribed {
        color: #3d95e7;
    }

    &--expired {
        color: #9ba1b6;
    }

    &--tag {
        color: $color-text-secondary;
        font-size: 10px;
        line-height: 12px;
        font-weight: 500;
        box-shadow: $tooltip-shadow;
        &:hover {
            color: $color-text-primary;
        }
    }
}
