.tab {
    display: flex;
    flex-direction: column;
    grid-gap: 16px;

    &--form {
        padding: 0;
        grid-gap: 24px;
        margin-top: 16px;
    }

    &--game {
        flex-direction: column-reverse;
        padding: 0;

        & .tabs {
            margin: 0 auto 18px;
            width: fit-content;

            li {
                width: fit-content;
                padding: 0 16px;
            }
        }
    }

}

.tabs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 6px;
    border-radius: 12px;
    background: $color-elements;

    &-hidden-block {
        display: none;

        &.open {
            display: flex;
            flex-direction: column;
        }
    }

    &__item {
        display: none;

        &:first-child {
            display: block;
        }
    }

    & li {
        border-radius: $border-radius-small;
        background: transparent;
        color: $color-text-primary;
        font-size: 14px;
        
        font-weight: 500;
        line-height: 20px;
        height: 28px;
        text-align: center;
        width: 100%;
        align-items: center;
        display: flex;
        justify-content: center;

        &:hover {
            cursor: pointer;
        }

        &.current {
            background: $color-primary-solid;
            cursor: unset;
            color: $color-text-on-bg;
        }
    }
}