.tippy-box[data-theme~='default'] {
    border-radius: $border-radius-small;
    background-color: $color-elements;
    color: $color-text-primary;
    box-shadow: $card-shadow;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
}

.tippy-box[data-theme~='default'][data-placement^='top'] > .tippy-arrow::before {
    border-top-color: $color-elements;
}

.tippy-box[data-theme~='default'][data-placement^='bottom'] > .tippy-arrow::before {
    border-bottom-color: $color-elements;
}

.tippy-box[data-theme~='default'][data-placement^='left'] > .tippy-arrow::before {
    border-left-color: $color-elements;
}

.tippy-box[data-theme~='default'][data-placement^='right'] > .tippy-arrow::before {
    border-right-color: $color-elements;
}

.tooltip-text {
    display: none;
}
