.tooltip {
    position: absolute;
    bottom: calc(100% + 8px);
    right: -16px;
    border-radius: $border-radius-small;
    padding: 8px 16px;
    text-align: right;
    background: $color-elements;
    width: max-content;
    max-width: 180px;
    font-size: 12px;
    line-height: 20px;
    color: $color-text-primary;
    opacity: 0;
    visibility: hidden;
    transition: opacity .4s;
    &:before {
        content: '';
        position: absolute;
        right: 20px;
        top: 100%;
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 6px solid transparent;
        border-top: 6px solid $color-elements;
    }
    &-info {
        position: relative;
        width: fit-content;
        & i {
            font-size: 18px;
        }
        &:hover {
            cursor: pointer;
            & .tooltip {
                opacity: 1;
                visibility: visible;
            }
        }

        .form__input--tooltip & {
            display: flex;
            align-items: center;
            position: absolute;
            top: 24px;
            right: 16px;
            height: 40px;
        }
    }

    .form__input--tooltip & {
        border-radius: 16px;
        right: -50%;
        transform: translateX(35%);
        max-width: 190px;
        bottom: calc(100% - 8px);
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.12);

        &::before {
            right: 40%;
            transform: translateX(-35%);
        }
    }
}
