.tournaments {
  .tabs__wrapper {
    margin-bottom: 32px;
  }

  .form__input {
    z-index: 2;
  }

  .selectric-items .selectric-scroll {
    overflow: hidden;
  }

  & .blocked__content {
    margin: auto;
  }

  &--single {
    & .tournaments__list-item {
      background-color: transparent;
      padding: 0;
      overflow: visible;
      margin-top: 24px;

      > *:not(.tournaments__list-background) {
        margin-left: 0;
        margin-right: 0;
      }
    }

    & .tournaments__list {
      &-time {
        top: 58px;
        right: initial;
        left: 20px;
      }

      &-info {
        & .tournaments__list-title {
          -webkit-line-clamp: 2;
        }
      }

      &-text {
        h3 {
          margin-bottom: 4px;
        }

        p {
          font-size: 20px;
          line-height: 32px;
          margin-bottom: 12px;
        }
      }
    }

    & .tournament__list-card {
      border-radius: 20px;
      overflow: hidden;

      .tournaments__list-img {
        opacity: 0.5;
      }
    }
  }

  &-score {
    display: grid;
    gap: 24px;

    .search-input {
      input {
        height: 40px;
      }

      i {
        color: $color-primary-solid;
      }
    }

    &__info {
      background-color: $color-elements;
      display: flex;
      flex-direction: column;
      gap: 12px;
      border-radius: $border-radius;
      padding: 16px;
      box-shadow: $card-shadow;

      &-item {
        padding-top: 12px;
        border-top: 1px solid $color-divider;
        display: flex;
        gap: 8px;
        align-items: flex-end;
        font-size: 10px;
        font-style: normal;
        font-weight: 600;
        line-height: 12px;
        text-transform: uppercase;

        &:first-child {
          border-top: none;
          padding-top: 0;
        }

        span {
          color: $color-text-primary;
          font-size: 14px;
          font-weight: 700;
          line-height: 15px;
          text-transform: none;
        }

        .tournaments-header__buster {
          margin: 0;
          font-size: 10px;
          line-height: 12px;
        }
      }

      &-place {
        display: flex;
        align-items: flex-end;
        gap: 4px;
      }
    }

    &__link {
      color: $color-primary;
      font-size: 16px;
      line-height: 18px;
      border-bottom: 1px solid $color-primary;
      width: fit-content;
      white-space: nowrap;
      transition: 200ms;

      &:hover {
        color: $color-primary-hover;
        border-bottom: 1px solid $color-primary-hover;
      }
    }

    &__search {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      gap: 12px;

      &-item {
        display: flex;
        gap: 16px;
        margin: 0 4px;
      }

      & .search-input {
        width: 100%;
        background: none;

        &__wrapper {
          border-radius: $border-radius-small;
          transform: skew(-15deg);
          box-shadow: $button-normal-shadow;
          background: $input-background;
          overflow: hidden;
        }

        & input {
          transform: skew(15deg);
          padding-left: 40px;

          &::placeholder {
            visibility: visible;
          }
        }

        & i {
          top: 20px;
          left: 12px;
          transform: translateY(-50%);
        }
      }
    }

    &__content {
      display: grid;
      gap: 8px;

      &-header,
      &-item {
        display: grid;
        grid-template-columns: minmax(30px, 50px) 1fr 1fr;
        gap: 15px;

        > div {
          display: flex;
          align-items: center;
          gap: 4px;
          white-space: nowrap;

          &:nth-child(2) {
            width: 100%;
            text-overflow: ellipsis;
            overflow: hidden;
            display: inline-block;
          }

          &:nth-child(3) {
            justify-content: flex-end;
          }
        }

        & > *:last-child {
          display: none;
        }
      }

      &-header {
        font-size: 10px;
        font-weight: 600;
        line-height: 12px;
        padding: 0 16px;
      }

      &-item {
        font-size: 14px;
        line-height: 24px;
        padding: 8px 16px;
        border-radius: $border-radius;
        background-color: $color-surface;

        img {
          width: 16px;
          height: 16px;
        }

        span {
          color: $color-text-primary;
          font-weight: 700;
        }

        &.active {
          border: 1px solid $color-primary;
          background-color: $color-elements;
        }
      }

      &-text {
        font-size: 12px;
        line-height: 20px;
      }
    }
  }

  &__prizes {
    overflow: hidden;

    &-item {
      padding: 24px;
      display: flex;
      background-color: $color-surface;
      border-radius: $border-radius;
      gap: 20px;
      box-shadow:
        2px 2px 8px 0px rgba(0, 0, 1, 0.95),
        -2px -2px 8px 0px rgba(56, 56, 63, 0.75);
    }

    &-img {
      width: 40px;
      height: 40px;
    }

    &-title {
      font-size: 14px;
      line-height: 24px;
      margin-bottom: 8px;
      text-transform: uppercase;
    }

    &-val {
      font-size: 24px;
      font-weight: 700;
      line-height: 32px;

      > div {
        display: none;

        &.active {
          display: flex;
        }
      }

      span {
        color: $color-primary-solid;
        margin-right: 4px;
      }

      .prizes__percent {
        display: flex;
        flex-direction: column;
        gap: 4px;
        &-content {
          display: flex;
          flex-direction: row;
          align-items: flex-end;
          gap: 8px;
        }
        &-val {
          font-size: 28px;
          font-weight: 700;
          line-height: 36px;
        }
        &-descr {
          font-size: 16px;
          font-weight: 500;
          line-height: 24px;
          color: $color-text-secondary;
        }
        &-note {
          font-size: 14px;
          font-weight: 400;
          line-height: 24px;
          color: $color-text-secondary;
        }
      }
    }
  }

  &__header {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr;
    margin-bottom: 32px;
    gap: 16px;

    &--guest {
      display: grid;
      align-items: center;
      grid-template-columns: 1fr;
      margin-bottom: 16px;
      gap: 16px;
    }

    &--simple {
      display: flex;
      justify-content: space-between;
    }

    & .form__input {
      margin-bottom: 0;
    }

    & .tab {
      padding: 0;
    }

    h2 {
      font-size: 28px;
      line-height: 36px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 16px;
    flex-grow: 1;

    &-title {
      font-size: 28px;
      line-height: 36px;
      margin-top: 32px;
    }

    &-right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  &__games {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 24px;
    font-size: 10px;
    font-weight: 600;
    line-height: 12px;
    text-transform: uppercase;

    &-item {
      display: flex;
      position: relative;
      gap: 4px;

      &::before {
        margin-right: 4px;
      }

      &--available {
        &::before {
          content: url('../../img/icons/success.svg');
        }
      }

      &--restricted {
        &::before {
          content: url('../../img/icons/restricted.svg');
        }
      }

      a {
        color: $color-primary;
        border-bottom: 1px solid $color-primary;
      }
    }
  }

  &__stats {
    margin-bottom: 20px;

    &-col {
      flex-direction: column;
      align-items: flex-end;
    }

    &-exchange {
      max-width: 98px;
    }

    &-item {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      font-size: 12px;
      line-height: 20px;
      padding: 8px 0;

      &:not(&:last-child) {
        border-bottom: 1px solid $color-divider;
      }

      .tooltip-wrapper {
        overflow: hidden;
        display: flex;
      }

      > div {
        &:first-child {
          white-space: nowrap;
          margin-right: 24px;
          flex-shrink: 1;
        }

        &:last-child {
          display: flex;
          overflow: hidden;

          span:first-child:not(.tooltip-wrapper) {
            display: inline-block;
            white-space: nowrap;
            text-overflow: ellipsis;
          }

          span.tooltip-caption {
            overflow: hidden;
            text-overflow: ellipsis;
            text-align: right;
          }
        }

        div {
          margin-left: 4px;

          & + span {
            margin-left: 4px;
          }
        }

        span {
          color: $color-text-primary;
        }
      }

      &:nth-child(-n + 2) {
        span {
          &:nth-child(2) {
            &::before {
              content: '|';
              color: $color-text-secondary;
              margin: 0 4px;
            }
          }
        }
      }
    }

    &-value {
      display: flex;

      &--crypto {
        font-size: 10px;
        line-height: 12px;

        span {
          color: $color-text-secondary;
          text-transform: uppercase;
          margin-left: 4px;
        }
      }
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    gap: 8px;

    & .button {
      width: 100%;
    }
  }

  &__title {
    color: $color-text-primary;
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 0;
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
    overflow: hidden;
    padding: 8px;
    margin: -8px;

    &-extra {
      padding: 20px;
      display: flex;
      flex-direction: column;
      background-color: $color-surface;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
    }

    &-info {
      position: absolute;
      z-index: 2;
      bottom: 10px;
      left: 10px;
      color: $color-text-primary;

      & .tournaments__list-title {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        padding: 0 6px;
      }
    }

    &-item {
      position: relative;
      border-radius: $border-radius;
      overflow: hidden;
      background-color: $color-surface;
      display: flex;
      flex-direction: column;
      padding: 20px;
      height: auto;

      &--small {
        box-shadow: $card-shadow;
      }

      & > *:not(.tournaments__list-img) {
        z-index: 1;
      }

      &--active {
        border: 1px solid $color-primary;
      }

      &--small {
        .tournaments__list-title {
          margin-top: 20px;
          font-size: 20px;
          font-weight: 700;
          line-height: 28px;
        }

        & .tournaments__list-background {
          &::before {
            opacity: 1;
          }
        }

        & .button {
          width: calc(100% - 40px) !important;
          font-weight: 600;
        }
      }
    }

    &-background {
      position: relative;
      aspect-ratio: 5/4;
      background: $color-background;
      overflow: hidden;
      max-height: 288px;
      width: 100%;

      & + .tournaments__list-title {
        margin-top: 24px;
      }

      .status {
        position: absolute;
        z-index: 3;
        top: 20px;
        left: 20px;
      }
    }

    &-row {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-bottom: 8px;
    }

    &-img {
      position: absolute;
      left: 0;
      top: 0;
      object-fit: cover;
      width: 100%;
      height: 100%;
      z-index: 0;
    }

    &-time {
      display: flex;
      top: 58px;
      left: 20px;
      z-index: 3;
      position: absolute;
      font-size: 10px;
      line-height: 12px;
      font-weight: 600;
      align-items: flex-end;
      color: $color-text-primary;

      .counter {
        display: flex;
        align-items: flex-end;

        > span,
        > .counter__cell {
          align-self: center;
          text-transform: none;
          font-size: 16px;
          line-height: 24px;
          margin-right: 8px;
          padding-left: 8px;
          height: 20px;
          display: flex;
          align-items: start;
          font-weight: 700;
          position: relative;

          span {
            font-weight: 400;
            margin-left: 2px;
            color: $color-text-primary;
          }

          & + span,
          & + .counter__cell {
            &::before {
              content: '';
              width: 1px;
              height: 16px;
              background-color: $color-text-primary;
              position: absolute;
              top: 4px;
              left: 0;
            }
          }
        }

        & span {
          text-transform: lowercase;
          font-weight: 400;
        }

        &.finish {
          & .counter__cell {
            color: $color-error;

            & strong {
              color: $color-error;
            }

            & span {
              color: $color-text-primary;
            }
          }
        }
      }
    }

    &-title {
      font-size: 20px;
      line-height: 28px;
      max-width: 340px;
      font-weight: 700;
      margin-bottom: 8px;
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: break-word;
    }

    &-prize {
      margin-bottom: 16px;
      font-size: 20px;
      line-height: 28px;
      font-weight: 700;
      align-items: center;
      display: flex;

      span {
        color: $color-primary-hover;
        margin-right: 8px;
      }

      > i {
        &:first-of-type {
          margin-right: 8px;
        }
      }

      .icon-info {
        margin-left: 8px;
        align-self: baseline;
        font-size: 18px;
      }
    }

    &-text {
      margin-bottom: 16px;
      font-size: 14px;
      line-height: 24px;

      h1,
      h2,
      h3 {
        color: $color-text-primary;
      }

      p {
        font-size: 14px;
        line-height: 24px;
      }

      &--desktop {
        display: none;
      }
    }

    &-place {
      margin-bottom: 4px;
      font-size: 12px;
      line-height: 20px;
      display: grid;
      grid-template-columns: 25px 1fr 1fr;
      align-items: center;
      padding: 6px 16px;
      background-color: $color-elements;
      border-radius: $border-radius;
      word-break: break-all;

      &.active {
        background-color: $color-elements-hover;
        color: $color-text-primary;

        & span {
          font-weight: 400;
        }
      }

      div,
      > span {
        display: flex;
        gap: 8px;

        img {
          margin-left: -8px;
        }

        &:first-child {
          justify-content: flex-start;
        }

        &:nth-child(2) {
          margin-left: 16px;
          display: inline-block;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }

        &:last-child {
          margin-left: auto;
          text-align: right;
        }

        span {
          font-weight: 700;
          color: $color-text-primary;
        }
      }

      & > div:first-child {
        display: flex;
        align-items: center;
      }

      &:last-of-type {
        margin-bottom: 16px;
      }
    }
  }

  &--prizes {
    .form__input {
      &--select {
        .input-wrapper:focus-within {
          border: 1px solid transparent;
        }
      }
    }
  }
}

.tournaments__list-item--active {
  border: 1px solid $color-primary;
}

.tournaments__prizes {
  padding: 8px;
  margin: -8px;
}

.tab--tournament {
  gap: 20px;
  padding: 0;
}

.page--tournaments {
  .tournaments__list-img {
    opacity: 0.5;
  }
}

.page--tournament {
  .tournaments__list-background {
    background-color: $color-elements;
  }

  .tournaments__header {
    grid-template-columns: 1fr 100px;

    h2 {
      grid-column-start: 1;
      grid-column-end: 3;
    }

    .swiper-buttons {
      grid-column-start: 1;
    }
  }
}

.tournaments__stats-date {
  position: relative;
}

.page--tournaments,
.page--tournament {
  .tournaments {
    &__list {
      &-info {
        width: calc(100% - 10px);
      }
    }
  }
}

.page--tournaments {
  .tournaments {
    &__list {
      grid-template-columns: 1fr;
      overflow: visible;
      grid-gap: 24px;

      &-item {
        padding: 0;
        box-shadow: $card-shadow;
      }

      &-title {
        max-width: 70%;
      }

      &-text {
        max-height: 120px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        margin-bottom: 0;
      }
    }

    &__content {
      margin: 20px;
    }
  }
}

.page--tournament {
  .tournaments__list {
    .tournaments {
      &__list {
        &-item {
          padding: 0 0 20px;

          & > *:not(.tournaments__list-background) {
            margin-left: 20px;
            margin-right: 20px;
          }

          .button {
            margin-top: auto;
          }
        }

        &-title {
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          color: $color-text-primary;
        }

        &-prize {
          color: $color-text-primary;
        }
      }
    }
  }

  .tournaments {
    &__stats {
      &-item {
        font-size: 14px;
      }
    }
  }

  .tournaments__header {
    .button {
      font-weight: 600;
      color: $color-primary-solid;
    }
  }
}

@media all and (min-width: 480px) {
  .tournaments {
    &--single {
      & .tournaments__list {
        &-time {
          top: 20px;
          right: 20px;
          left: initial;
        }

        &-info {
          & .tournaments__list-title {
            -webkit-line-clamp: 3;
          }
        }

        &-text {
          p {
            font-size: 20px;
            line-height: 32px;
          }
        }
      }

      .tournaments__stats-item {
        font-size: 14px;
        line-height: 24px;
      }

      & .tournaments__games {
        font-size: 14px;
        line-height: 16px;
        gap: 24px;

        &-item::after {
          left: -11px;
        }
      }
    }

    &-score {
      &__info {
        flex-direction: row;

        &-item {
          border-top: none;
          border-left: 1px solid $color-divider;
          padding: 8px 0 8px 16px;

          &:first-child {
            padding-left: 0;
            border-left: none;
          }
        }
      }

      &__content {
        &-header,
        &-item {
          grid-template-columns: 50px repeat(3, 1fr);
          gap: 24px;

          > div {
            gap: 8px;

            &:nth-child(3) {
              justify-content: flex-start;
            }

            &:last-child {
              display: flex;
            }
          }
        }

        &-item {
          font-size: 16px;
          line-height: 28px;

          img {
            width: 24px;
            height: 24px;
          }
        }

        &-text {
          font-size: 14px;
          line-height: 24px;
        }
      }
    }

    &__buttons {
      flex-direction: row;
      justify-content: flex-end;
    }

    &__games {
      gap: 12px;
      overflow: hidden;
      flex-direction: row;

      &-item {
        &::after {
          content: '';
          width: 1px;
          height: 100%;
          top: -2px;
          left: -6px;
          background-color: $color-divider;
          position: absolute;
        }

        &:first-child {
          &::after {
            content: none;
          }
        }
      }
    }

    &__header {
      grid-template-columns: 1fr 80px fit-content(100px);
      gap: 16px;

      &--page {
        grid-template-columns: 1fr 280px;

        & .form__input {
          grid-column-end: 1;
          grid-column-end: 3;
        }
      }

      h2 {
        font-size: 32px;
        line-height: 44px;
      }
    }

    &__title {
      grid-column-end: 2;
      grid-column-start: 1;
    }

    &__list {
      &-item {
        padding: 24px;
      }

      &-row {
        flex-direction: row;
        margin-bottom: 16px;
      }

      &-time {
        margin: 0;
      }

      &-extra {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        & .tournaments__games {
          margin-bottom: 0;
        }
      }

      &-text {
        p {
          font-size: 16px;
          line-height: 28px;
        }
      }

      &--grid {
        & .tournaments__list-background {
          height: 200px;

          & .tournaments__list-time {
            top: 20px;
            right: 20px;
            left: initial;
          }
        }
      }

      &-title {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 16px;
      }

      &-prizes {
        font-size: 24px;
        line-height: 32px;
      }

      &-prize {
        font-size: 24px;
        line-height: 32px;
      }

      &-text {
        font-size: 16px;
        line-height: 28px;
      }

      .button {
        width: fit-content;
      }
    }
  }

  .tournaments__list-background,
  .tournaments__list-img {
    aspect-ratio: 28/15;
  }

  .page--tournaments {
    .tournaments__list-text {
      max-height: 203px;
      -webkit-line-clamp: 7;
      margin-bottom: 8px;
    }
  }
}

@media all and (min-width: 550px) {
  .tournaments {
    &--single {
      & .tournaments__list {
        &-info {
          & .tournaments__list-title {
            -webkit-line-clamp: 4;
          }
        }
      }
    }
  }
}

@media all and (min-width: 640px) {
  .tournaments__header--guest {
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (min-width: 700px) {
  .tournaments {
    &--single {
      & .tournaments__content {
        grid-template-columns: 1fr;
      }
    }

    &-score {
      &__info {
        padding: 16px 24px;
        gap: 16px;

        &-item {
          > div {
            font-size: 16px;
            line-height: 16px;
          }

          span {
            font-size: 20px;
            line-height: 20px;
          }
        }
      }

      &__search {
        .search-input {
          min-width: 280px;
        }
      }
    }

    &__content {
      display: grid;
      grid-template-columns: 1fr 280px;
      gap: 24px;
    }

    &__header {
      grid-template-columns: 1fr 80px fit-content(100px);

      &--page {
        grid-template-columns: 1fr 280px 160px;

        & .form__input {
          grid-column-end: 3;
          grid-column-end: 4;
        }
      }

      &--guest {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 32px;
      }
    }

    &__buttons {
      & .button {
        width: 100%;
      }
    }

    &__list {
      &--grid {
        & .tournaments__list-background {
          height: 258px;
          width: 100%;
        }
      }

      &-time {
        top: 20px;
        bottom: initial;
        left: initial;
        right: 20px;
      }

      &-text {
        .tab {
          display: none;
        }

        &--desktop {
          display: block;
        }
      }
    }
  }

  .page--tournament {
    .tournaments__header {
      grid-template-columns: 1fr 80px fit-content(100px);

      h2 {
        grid-column-end: 2;
      }

      .swiper-buttons {
        grid-column-start: 2;
      }
    }
  }
}

@media all and (min-width: 768px) {
  .tournaments {
    &--single {
      & .tournaments__list-title {
        font-size: 32px;
        line-height: 42px;
        max-width: 100%;
      }

      & .tournaments__list-prize {
        margin-bottom: 0;
        margin-left: 4px;
      }
    }

    &-score {
      &__content {
        &-header,
        &-item {
          grid-template-columns: 50px 1fr 200px 200px;
        }
      }
    }

    &__title {
      font-size: 36px;
      line-height: 48px;
    }

    &__list {
      &-title {
        margin-bottom: 24px;
      }

      &-prize {
        margin-bottom: 24px;
      }
    }

    &__content {
      margin-top: 24px;

      &-title {
        font-size: 32px;
        line-height: 44px;
      }
    }

    &__games {
      flex-direction: row;
    }
  }

  .tournaments__stats-exchange {
    max-width: 100%;
  }

  .page--tournaments {
    .tournaments {
      &__content {
        margin: 24px;
      }
    }
  }
}

@media all and (min-width: 1280px) {
  .page--tournament {
    .container {
      max-width: 920px;
      padding: 0;
    }
  }

  .page--tournaments {
    .tournaments {
      &__list {
        grid-gap: 32px;
      }
    }
  }

  .body.opened,
  .chat--opened {
    .tournaments {
      &__list {
        &--grid {
          grid-template-columns: 1fr;
        }
      }
    }
  }

  .tournaments {
    .tabs__wrapper {
      margin-bottom: 40px;
    }

    &--single {
      & .tournaments__content {
        grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
      }

      & .tournaments__list-title {
        font-size: 36px;
        line-height: 44px;
        max-width: 100%;
      }
    }

    &__list {
      &--grid {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    &__title {
      font-size: 44px;
      line-height: 52px;
    }

    &__content {
      grid-template-columns: 1fr 344px;

      &-title {
        margin-top: 40px;
      }
    }
  }
}

@media all and (min-width: 1560px) {
  .body.opened {
    .tournaments {
      &__list {
        &--grid {
          grid-template-columns: repeat(2, 1fr);
        }
      }
    }
  }

  .body.opened.chat--opened {
    .tournaments {
      &__list {
        &--grid {
          grid-template-columns: repeat(1, 1fr);
        }
      }
    }
  }

  .page--tournaments {
    .tournaments {
      &__list {
        grid-template-columns: 1fr 1fr;
        grid-gap: 32px;
      }
    }
  }
}

@media all and (min-width: 1920px) {
  .page--tournament {
    .container {
      max-width: 1162px;
      padding: 0;
    }
  }
}
