@import "../components/tooltips.scss";

.tournaments {
    & .blocked__content {
        margin: auto;
    }

    &--single {
        & .tournaments__list-item {
            background-color: transparent;

            >*:not(.tournaments__list-background) {
                margin-left: 0;
                margin-right: 0;
            }
        }

        & .tournaments__list {
            &-time {
                top: 58px;
                right: initial;
                left: 20px;
            }

            &-info {
                & .tournaments__list-title {
                    -webkit-line-clamp: 2;
                }
            }

            &-text {
                h3 {
                    margin-bottom: 4px;
                }

                p {
                    font-size: 20px;
                    line-height: 32px;
                    margin-bottom: 12px;
                }
            }
        }
    }

    &-score {
        display: grid;
        gap: 24px;

        &__info {
            background-color: $color-elements;
            display: flex;
            flex-direction: column;
            gap: 12px;
            border-radius: $border-radius-small;
            padding: 16px;

            &-item {
                padding-top: 12px;
                border-top: 1px solid $color-divider;
                display: flex;
                gap: 8px;
                align-items: flex-end;
                font-size: 10px;
                font-style: normal;
                font-weight: 600;
                line-height: 12px;
                text-transform: uppercase;

                &:first-child {
                    border-top: none;
                    padding-top: 0;
                }

                span {
                    color: $color-text-primary;
                    font-size: 14px;
                    font-weight: 700;
                    line-height: 15px;
                    text-transform: none;
                }

                .tournaments-header__buster {
                    margin: 0;
                    font-size: 10px;
                    line-height: 12px;
                }
            }
        }

        &__link {
            color: $color-primary;
            font-size: 16px;
            line-height: 18px;
            border-bottom: 1px solid $color-primary;
            width: fit-content;
            white-space: nowrap;
            transition: 200ms;

            &:hover {
                color: $color-primary-hover;
                border-bottom: 1px solid $color-primary-hover;
            }
        }

        &__search {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            gap: 12px;

            &-item {
                display: flex;
                gap: 8px;
            }

            & .search-input {
                width: 100%;
            }
        }

        &__content {
            display: grid;
            gap: 8px;

            &-header,
            &-item {
                display: grid;
                grid-template-columns: minmax(30px, 50px) 1fr 1fr;
                gap: 15px;

                >div {
                    display: flex;
                    align-items: center;
                    gap: 4px;
                    white-space: nowrap;

                    &:nth-child(2) {
                        width: 100%;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        display: inline-block;
                    }

                    &:nth-child(3) {
                        justify-content: flex-end;
                    }
                }

                &>*:last-child {
                    display: none;
                }
            }

            &-header {
                font-size: 10px;
                font-weight: 600;
                line-height: 12px;
                padding: 0 16px;
            }

            &-item {
                font-size: 14px;
                line-height: 24px;
                padding: 8px 16px;
                border-radius: $border-radius-small;
                background-color: $color-surface;

                img {
                    width: 16px;
                    height: 16px;
                }

                span {
                    color: $color-text-primary;
                    font-weight: 700;
                }

                &.active {
                    border: 1px solid $color-primary;
                    background-color: $color-elements;
                }
            }

            &-text {
                font-size: 12px;
                line-height: 20px;
            }
        }
    }

    &__prizes {
        overflow: hidden;

        &-item {
            padding: 24px;
            display: flex;
            background-color: $color-surface;
            border-radius: $border-radius;
            gap: 20px;
        }

        &-img {
            width: 40px;
            height: 40px;
        }

        &-title {
            font-size: 14px;
            line-height: 24px;
            margin-bottom: 8px;
            text-transform: uppercase;
        }

        &-val {
            font-size: 24px;
            font-style: italic;
            font-weight: 700;
            line-height: 32px;

            span {
                color: $color-primary-solid;
                margin-right: 4px;
            }
        }
    }

    &__header {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr;
        margin-bottom: 24px;
        gap: 16px;

        &--guest {
            display: grid;
            align-items: center;
            grid-template-columns: 1fr;
            margin-bottom: 24px;
            gap: 16px;
        }

        &--simple {
            display: flex;
            justify-content: space-between;
        }

        & .form__input {
            margin-bottom: 0;
        }

        & .tab {
            padding: 0;
        }

        h2 {
            font-size: 28px;
            line-height: 36px;
        }
    }

    &__content {
        display: grid;
        gap: 20px;
        margin-top: 20px;
    }

    &__games {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 8px;
        margin-bottom: 24px;
        font-size: 10px;
        font-weight: 600;
        line-height: 12px;
        text-transform: uppercase;

        &-item {
            display: flex;
            position: relative;
            gap: 4px;

            &::before {
                margin-right: 4px;
            }

            &--available {
                &::before {
                    content: url("../../img/icons/success.svg");
                }
            }

            &--restricted {
                &::before {
                    content: url("../../img/icons/restricted.svg");
                }
            }

            a {
                color: $color-primary;
                border-bottom: 1px solid $color-primary;
            }
        }
    }

    &__stats {
        margin-bottom: 20px;
        //text-overflow: ellipsis;
        //overflow: hidden;

        &-col {
            flex-direction: column;
            align-items: flex-end;
        }

        &-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 12px;
            line-height: 20px;
            padding: 8px 0;
            border-bottom: 1px solid $color-divider;

            >div {
                &:first-child {
                    white-space: nowrap;
                    margin-right: 24px;
                    max-width: 170px;
                    overflow: hidden;
                    text-overflow: ellipsis;

                    @media(max-width: 480px) {
                        white-space: normal;
                        word-break: break-all;
                    }
                }

                &:last-child {
                    display: flex;
                    max-width: 170px;

                    @media(max-width: 480px) {
                        max-width: 150px;
                    }

                    span:first-child {
                        display: inline-block;
                        white-space: nowrap;
                        max-width: 100%;
                        text-overflow: ellipsis;
                    }

                    span.tooltip-info__caption {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        max-width: 100%;
                        min-width: 120px;
                        text-align: right;
                    }

                    span.tooltip {
                        white-space: normal;
                        max-width: 100%;
                        position: absolute;
                        text-align: center;
                        padding: 5px;
                        min-width: 100%;
                        word-break: break-word;
                    }
                }

                div {
                    margin-left: 4px;

                    &+span {
                        margin-left: 4px;
                    }
                }
            }

            &:last-child {
                border-bottom: none;
                padding-bottom: 0;
            }

            & span {
                position: relative;
                color: $color-text-primary;

                &+span {
                    margin-left: 4px;
                    padding-left: 4px;
                    position: relative;

                    &::before {
                        content: "";
                        width: 1px;
                        height: 12px;
                        background-color: transparent;
                        position: absolute;
                        bottom: -12px;
                        left: calc(80% - 6px);
                    }
                }
            }

        }


        &-value {
            display: flex;

            &--crypto {
                font-size: 10px;
                line-height: 12px;

                span {
                    color: $color-text-secondary;
                    text-transform: uppercase;
                    margin-left: 4px;
                }
            }
        }
    }

    &__buttons {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .button {
            width: 100%;
        }
    }

    &__title {
        color: $color-text-primary;
        font-size: 28px;
        font-weight: 700;
        line-height: 36px;
        margin-bottom: 0;
    }

    &__list {
        $gap-for-shadow: 5px;
        padding: $gap-for-shadow;
        margin: $gap-for-shadow * -1;
        overflow: hidden;

        &-extra {
            padding: 20px;
            display: flex;
            flex-direction: column;
            background-color: $color-surface;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
        }

        &-info {
            position: absolute;
            z-index: 2;
            bottom: 10px;
            left: 10px;

            & .tournaments__list-title {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                padding: 0 6px;
            }
        }

        &--grid {
            display: grid;
            gap: 24px;

            & .tournaments__list-background {
                height: 224px;

                & .tournaments__list-time {
                    top: 58px;
                    right: initial;
                    left: 20px;
                }
            }
        }

        &-item {
            border-radius: $border-radius;
            overflow: hidden;
            background-color: $color-surface;
            display: flex;
            flex-direction: column;
            padding: 0 0 20px;
            height: auto;
            box-shadow: $button-normal-shadow;

            &--active {
                border: 1px solid $color-primary;
            }

            & .button {
                margin-top: auto;
                width: calc(100% - 40px);
            }

            & .tooltip {
                right: 50%;
                transform: translateX(50%);

                &:before {
                    right: 74px;
                }
            }

            &--small {
                .tournaments__list-title {
                    margin-top: 20px;
                    font-size: 20px;
                    font-style: italic;
                    font-weight: 700;
                    line-height: 28px;
                }

                & .tournaments__list-background {
                    &::before {
                        opacity: 1;
                    }
                }

                & .button {
                    width: calc(100% - 40px) !important;
                    font-weight: 400;
                    margin-top: auto;
                }
            }

            >*:not(.tournaments__list-background) {
                margin-left: 20px;
                margin-right: 20px;
            }
        }

        &-background {
            position: relative;
            aspect-ratio: 5/3.5;
            background: rgba(33, 37, 41, 0.7);
            overflow: hidden;
            max-height: 288px;
            width: 100%;

            &+.tournaments__list-title {
                margin-top: 24px;
            }

            .status {
                position: absolute;
                left: 0;
                z-index: 3;
                top: 20px;
                left: 20px;
                background-color: $color-elements;
                box-shadow: $card-shadow;
            }
        }

        &-time {
            position: absolute;
            left: 0;
            z-index: 3;
        }

        &-img {
            aspect-ratio: 5/3.5;
            object-fit: cover;
            width: 100%;
            position: relative;
            z-index: 2;

            &.default {
                display: flex;
                height: 100%;
                width: auto;
                margin: 0 auto;
            }
        }

        &-time {
            bottom: 20px;
            left: 20px;
            color: $color-text-primary;
            font-size: 10px;
            line-height: 12px;
            text-transform: uppercase;
            height: 32px;
            display: flex;
            align-items: flex-end;
            font-weight: 600;
            padding: 8px 6px 8px 10px;
            background-color: transparent;
            border-radius: $border-radius-small;

            .counter {
                display: flex;
                align-items: flex-end;

                >span,
                >.counter__cell {
                    align-self: center;
                    text-transform: none;
                    font-size: 16px;
                    line-height: 24px;
                    margin-right: 8px;
                    padding-left: 8px;
                    height: 20px;
                    display: flex;
                    align-items: start;
                    font-weight: 700;
                    position: relative;

                    span {
                        font-weight: 400;
                        margin-left: 2px;
                    }

                    &+span,
                    &+.counter__cell {
                        &::before {
                            content: "";
                            width: 1px;
                            height: 16px;
                            background-color: $color-text-primary;
                            position: absolute;
                            top: 4px;
                            left: 0;
                        }
                    }
                }

                & span {
                    text-transform: lowercase;
                    font-weight: 400;
                }

                &.finish {
                    & .counter__cell {
                        color: #d02601;

                        & strong {
                            color: #d02601;
                        }

                        & span {
                            color: #ffffff;
                        }
                    }
                }
            }
        }

        &-title {
            font-size: 24px;
            line-height: 32px;
            color: $color-text-primary;
            font-weight: 700;
            margin-bottom: 8px;
            overflow: hidden;
            text-overflow: ellipsis;
            word-break: break-word;
        }

        &-prize {
            margin-bottom: 18px;
            font-size: 20px;
            line-height: 28px;
            font-weight: 700;
            color: $color-text-primary;
            align-items: center;
            display: flex;

            span {
                color: $color-primary-hover;
                margin-right: 8px;
            }

            >i {
                &:first-of-type {
                    margin-right: 8px;
                }
            }

            .icon-info {
                margin-left: 8px;
            }

            .tooltip-info {
                align-self: baseline;

                .tooltip {
                    // white-space: nowrap;
                    width: fit-content;
                    max-width: fit-content;
                    right: -12px;
                    transform: none;
                    min-width: 140px;

                    &::before {
                        right: 16px;
                        transform: none;
                    }
                }
            }
        }

        &-text {
            margin-bottom: 16px;
            font-size: 14px;
            line-height: 24px;

            h1,
            h2,
            h3 {
                color: $color-text-primary;
            }

            p {
                font-size: 14px;
                line-height: 24px;
            }
        }

        &-place {
            margin-bottom: 4px;
            font-size: 12px;
            line-height: 20px;
            display: grid;
            grid-template-columns: 25px 1fr 1fr;
            align-items: center;
            padding: 6px 16px;
            background-color: $color-elements;
            border-radius: $border-radius-small;

            &.active {
                background-color: $color-divider;
            }

            div,
            >span {
                display: flex;
                gap: 8px;

                img {
                    margin-left: -8px;
                }

                &:first-child {
                    justify-content: flex-end;
                }

                &:nth-child(2) {
                    margin-left: 16px;
                    word-break: break-word;
                }

                &:last-child {
                    margin-left: auto;
                    text-align: right;
                }

                span {
                    font-weight: 700;
                    color: $color-text-primary;
                }
            }

            &:last-of-type {
                margin-bottom: 16px;
            }
        }
    }
}

.page--main {
    .tournaments__header {
        .tournaments__title {
            grid-column: span 2;
        }
    }
}

//.tournaments__stats-item {
//    overflow: visible;
//    width: auto;
//    max-width: 100%;
//
//    & .tooltip-info {
//        display: block;
//        overflow: hidden;
//        text-overflow: ellipsis;
//        white-space: nowrap;
//        width: 100%;
//        height: fit-content;
//        .tooltip {
//            right: 6px;
//            top: -10px;
//            white-space: normal;
//            text-align: left;
//            max-width: calc(100% - 16px);
//        }
//    }
//}

@media all and (min-width: 481px) {
    .tournaments {
        &--single {
            & .tournaments__list {
                &-time {
                    top: 20px;
                    right: 10px;
                    left: initial;
                }

                &-info {
                    & .tournaments__list-title {
                        -webkit-line-clamp: 3;
                    }
                }

                &-text {
                    p {
                        font-size: 20px;
                        line-height: 32px;
                    }
                }
            }

            .tournaments__stats-item {
                font-size: 14px;
                line-height: 24px;
            }

            & .tournaments__games {
                font-size: 14px;
                line-height: 16px;
                gap: 24px;

                &-item::after {
                    left: -11px;
                }
            }
        }

        &-score {
            &__info {
                flex-direction: row;

                &-item {
                    border-top: none;
                    border-left: 1px solid $color-divider;
                    padding: 8px 0 8px 16px;

                    &:first-child {
                        padding-left: 0;
                        border-left: none;
                    }
                }
            }

            &__content {

                &-header,
                &-item {
                    grid-template-columns: 50px repeat(3, 1fr);
                    gap: 24px;

                    >div {
                        gap: 8px;

                        &:nth-child(3) {
                            justify-content: flex-start;
                        }

                        &:last-child {
                            display: flex;
                        }
                    }
                }

                &-item {
                    font-size: 16px;
                    line-height: 28px;

                    img {
                        width: 24px;
                        height: 24px;
                    }
                }

                &-text {
                    font-size: 14px;
                    line-height: 24px;
                }
            }
        }

        &__buttons {
            flex-direction: row;
            justify-content: flex-end;
        }

        &__games {
            flex-direction: row;
            gap: 12px;
            overflow: hidden;

            &-item {
                &::after {
                    content: "";
                    width: 1px;
                    height: 100%;
                    top: -2px;
                    left: -6px;
                    background-color: $color-divider;
                    position: absolute;
                }

                &:first-child {
                    &::after {
                        content: none;
                    }
                }
            }
        }

        &__header {
            grid-template-columns: 1fr 80px fit-content(100px);
            gap: 16px;

            &--page {
                grid-template-columns: 1fr;

                & .form__input {
                    grid-column-end: 1;
                    grid-column-end: 3;
                }
            }

            h2 {
                font-size: 32px;
                line-height: 44px;
            }
        }

        &__title {
            grid-column-end: 2;
            grid-column-start: 1;
        }

        &__list {
            &-extra {
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                & .tournaments__games {
                    margin-bottom: 0;
                }
            }

            &-text {
                p {
                    font-size: 16px;
                    line-height: 28px;
                }
            }

            &--grid {
                & .tournaments__list-background {
                    height: 200px;

                    & .tournaments__list-time {
                        top: 20px;
                        right: 10px;
                        left: initial;
                    }
                }
            }

            &-title {
                font-size: 28px;
                line-height: 36px;
            }

            &-prizes {
                font-size: 24px;
                line-height: 32px;
            }

            &-prize {
                & .tooltip-info .tooltip {
                    white-space: nowrap;
                    right: 50%;
                    transform: translateX(50%);

                    &::before {
                        right: 50%;
                        transform: translateX(50%);
                    }
                }
            }

            &-text {
                font-size: 16px;
                line-height: 28px;
            }

            .button {
                align-self: flex-end;
                margin-top: auto;
            }
        }
    }

    .tournaments__list-background,
    .tournaments__list-img {
        aspect-ratio: 28/20;
    }

    .page--main {
        .tournaments__header {
            .tournaments__title {
                grid-column: span 1;
            }
        }
    }
}

@media all and (min-width: 550px) {
    .tournaments {
        &--single {
            & .tournaments__list {
                &-info {
                    & .tournaments__list-title {
                        -webkit-line-clamp: 4;
                    }
                }
            }
        }
    }
}

@media all and (min-width: 769px) {
    .tournaments {
        &--single {
            & .tournaments__content {
                grid-template-columns: repeat(2, 1fr);
            }
        }

        &-score {
            &__info {
                padding: 16px 24px;
                gap: 16px;

                &-item {
                    >div {
                        font-size: 16px;
                        line-height: 16px;
                    }

                    span {
                        font-size: 20px;
                        line-height: 20px;
                    }
                }
            }

            &__search {
                .search-input {
                    min-width: 280px;
                }
            }
        }

        &__content {
            grid-template-columns: 1fr 300px;
            gap: 24px;
        }

        &__header {
            grid-template-columns: 1fr 80px fit-content(100px);
            // gap: 8px;

            &--page {
                grid-template-columns: 1fr 270px 144px;

                & .form__input {
                    grid-column-end: 3;
                    grid-column-end: 4;
                }
            }

            &--guest {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }

        &__buttons {
            & .button {
                width: 100%;
            }
        }

        &__list {
            &--grid {
                & .tournaments__list-background {
                    height: 258px;
                    width: 100%;
                }
            }

            &-time {
                top: 20px;
                bottom: initial;
                left: initial;
                right: 10px;
            }

            &-item {
                .button {
                    width: fit-content;
                }
            }
        }
    }
}

@media all and (min-width: 769px) {
    .tournaments {
        &--single {
            & .tournaments__list-title {
                font-size: 32px;
                line-height: 42px;
                max-width: 100%;
            }

            & .tournaments__list-prize {
                margin-bottom: 0;
                margin-left: 4px;
            }
        }

        &-score {
            &__content {

                &-header,
                &-item {
                    grid-template-columns: 50px 1fr 200px 200px;
                }
            }
        }

        &__title {
            font-size: 36px;
            line-height: 48px;
        }

        &__header {
            &--page {
                grid-template-columns: 1fr 280px 144px;
            }
        }
    }

    .body.opened.chat--opened {
        .page--tournaments {
            .tournaments {
                &__header {
                    &--page {
                        grid-template-columns: repeat(2, 1fr);
                    }
                }

                &__title {
                    grid-column: span 2;
                }

                .form__input--select {
                    grid-column-start: auto;
                    grid-column-end: auto;
                }
            }
        }
    }
}

@media all and (min-width: 1281px) {

    .body.opened,
    .chat--opened {
        .tournaments {
            &__list {
                &--grid {
                    grid-template-columns: 1fr;
                }
            }
        }
    }

    .tournaments {
        &--single {
            & .tournaments__list-title {
                font-size: 36px;
                line-height: 44px;
                max-width: 100%;
            }
        }

        &__list {
            &--grid {
                grid-template-columns: repeat(2, 1fr);
            }

            &-img {
                margin-top: -40px;
            }

        }

        &__title {
            font-size: 44px;
            line-height: 52px;
        }

        &__header {
            &--page {
                grid-template-columns: 1fr 280px 240px;
            }
        }
    }
}

@media all and (min-width: 1320px) {
    .tournaments {
        &__list {
            &-img {
                margin-top: 0;
            }
        }
    }
}

@media all and (min-width: 1560px) {
    .body.opened {
        .tournaments {
            &__list {
                &--grid {
                    grid-template-columns: repeat(2, 1fr);
                }
            }
        }
    }

    .body.chat--opened {
        .tournaments {
            &__list {
                &--grid {
                    grid-template-columns: repeat(1, 1fr);
                }
            }
        }
    }

    .body.opened.chat--opened {
        .tournaments {
            &__list {
                &--grid {
                    grid-template-columns: repeat(1, 1fr);
                }
            }
        }
    }
}

@media all and (min-width: 1920px) {
    .body.chat--opened {
        .tournaments {
            &__list {
                &--grid {
                    grid-template-columns: repeat(2, 1fr);
                }
            }
        }
    }

    .body.opened,
    .chat--opened {
        .tournaments {
            &__list {
                &--grid {
                    grid-template-columns: repeat(2, 1fr);
                }
            }
        }
    }

    .body.opened.chat--opened {
        .tournaments {
            &__list {
                &--grid {
                    grid-template-columns: repeat(2, 1fr);
                }
            }
        }
    }
}
