.sidebar.opened {
    .tournaments {
        &-header {
            display: block;
        }
    }
}

.header {
    .tournaments-header {
        display: none;
    }
}

.tournaments {
    &-header {
        display: block;
        position: relative;
        padding: 16px 0;
        border-top: 1px solid $color-divider;
        border-bottom: 1px solid $color-divider;

        &__title {
            display: flex;
            align-items: center;
            height: 12px;

            span {
                font-size: 10px;
                font-weight: 600;
                line-height: 12px;
                text-transform: uppercase;
                display: block;
                white-space: nowrap;
                width: 100%;
                text-overflow: ellipsis;
                overflow: hidden;
            }

            &:hover {
                color: $color-text-primary;
            }
        }

        &__content {
            display: flex;
            align-items: flex-end;
            font-size: 12px;
            line-height: 20px;
            gap: 7px;
            flex-wrap: wrap;

            &-item {
                display: flex;
                align-items: flex-end;
                gap: 4px;

                &:last-child {
                    width: 100%;
                }

                span {
                    font-size: 14px;
                    color: $color-text-primary;
                    font-weight: 700;
                    line-height: 22px;
                }
            }
        }

        &__buster {
            background-color: #F0B00B;
            border-radius: $border-radius-small;
            color: $color-background;
            font-size: 10px;
            font-weight: 600;
            line-height: 12px;
            height: 16px;
            margin: 4px 0;
            padding: 0 5px;
            display: flex;
            align-items: center;
        }
    }
}

@media all and (min-width: 1280px) {

    .sidebar,
    .sidebar.opened {
        .tournaments-header {
            display: none;
        }
    }

    .header {
        .tournaments-header {
            display: block;
            max-width: 270px;
            padding: 4px 0 0 12px;
            border-top: none;
            border-bottom: none;

            &:before {
                content: "";
                display: block;
                width: 1px;
                margin-left: 8px;
                height: 40px;
                background: $color-divider;
                position: absolute;
                top: 0;
                left: -6px;
            }

            & .tournaments-header__content {
                flex-wrap: nowrap;
            }
        }
    }
}