.games {
    display: grid;
    gap: 24px;

    .form__input {
        z-index: 2;
    }

    &__list-title {
        width: 100%;
        max-width: 100%;
    }

    &__title {
        display: flex;
        align-items: center;

        i {
            font-size: 32px;
            margin-right: 12px;
        }

        h2 {
            color: $color-text-primary;
            transition: 200ms;
            margin-bottom: 0;
        }

        &:hover {
            h2 {
                color: $color-text-secondary;
            }
        }
    }

    &__list {
        overflow: hidden;
        padding: 8px;
        margin: -8px;

        &-item {
            position: relative;
            border-radius: $border-radius;
            aspect-ratio: 2 / 2.7;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: space-between;
            background-color: $color-surface;
            padding: 12px;
            min-width: 90px;
            box-shadow: 2px 2px 8px 0px rgba(0, 0, 1, 0.95), -2px -2px 8px 0px rgba(56, 56, 63, 0.75);

            > *:not(.games__list-img) {
                position: relative;
                z-index: 2;
                opacity: 0;
            }

            &:hover {
                background-color: $color-surface;

                &::before {
                    visibility: hidden;
                    opacity: 0;
                }

                & .games__list-img {
                    opacity: 0;
                }

                > * {
                    opacity: 1;
                }
            }
        }

        &-img {
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: 1;
            border-radius: 20px;
        }

        &-title {
            width: 100%;
        }

        &-title,
        &-subtitle {
            display: block;
            white-space: nowrap;
            width: 100%;
            text-overflow: ellipsis;
            overflow: hidden;
            text-align: center;
        }

        &-title {
            margin-top: auto;
            color: $color-text-primary;
            font-weight: 700;
            font-size: 16px;
            line-height: 28px;
            display: block;
            overflow: hidden;
        }

        &-subtitle {
            margin-bottom: auto;
            font-size: 12px;
            line-height: 20px;
        }
    }

    &__list {
        .button {
            width: 100%;
            margin-top: 8px;
            transition: opacity 0ms, background-color 200ms;
        }

        i {
            align-self: flex-end;
            cursor: pointer;
            transition: color 200ms;
        }
    }
}

.games__list-img--default {
    object-fit: contain;
}

@media all and (max-width: 381px) {
    .games {
        &__list {
            &-title {
                font-size: 12px;
                font-weight: 400;
            }
            &-subtitle {
                display: none;
            }
            &-item .button:not(:last-child) {
                margin-top: 0;
            }
            .icon-favorite {
                line-height: 16px;
            }
        }
    }
}

@media all and (min-width: 481px) {
    .games {
        &__list {
            &-item {
                padding: 12px;
            }

            &-title {
                font-size: 20px;
                line-height: 28px;

                .tooltip {
                    right: 16px;
                }
            }

            &-subtitle {
                font-size: 14px;
                line-height: 24px;
            }
        }
    }
}

@media all and (min-width: 768px) {
    .games {
        &__title {
            i {
                font-size: 40px;
            }
        }

        &__list {
            &-item {
                border-radius: 16px;

            }

            &-title {
                font-size: 28px;
                line-height: 37px;
            }

            &-subtitle {
                font-size: 16px;
                line-height: 28px;
            }
        }
    }
}

@media all and (min-width: 1024px) {
    .games__list-title {
        width: 100%;
        max-width: 100%;
    }
}

@media all and (min-width: 1280px) {
    .games__list-item {
        padding: 20px;
    }
}
