.transactions {
    display: grid;
    //gap: 32px;

    &__header {
        display: flex;
        align-items: center;
        flex-direction: column;
        grid-gap: 16px;
        margin-bottom: 32px;
    }

    & .input-wrapper:focus-within {
        border: 1px solid transparent;
    }
}

.transactions-list {
    display: flex;
    flex-direction: column;
    grid-gap: 16px;
    margin-bottom: 32px;
}

.transactions-item {
    padding: 12px 16px;
    border-radius: $border-radius;
    background: $color-surface;
    box-shadow: $card-shadow;
    font-size: 14px;
    line-height: 24px;

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px 0;

        &:not(:first-child) {
            border-top: 1px solid $color-divider;
        }
    }

    &__buttons {
        display: flex;
        justify-content: center;
    }

    &__info {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        grid-gap: 12px;
        padding: 12px;
        border-radius: 12px;
        background: $color-elements;
        color: $color-text-primary;
    }

    &__sum {
        color: $color-text-primary;
        font-size: 16px;
        font-weight: 700;
        line-height: 28px;
        text-transform: uppercase;
    }

    &__value,
    &__date {
        color: $color-text-primary;
        font-weight: 700;
        text-align: right;
    }

    &__date {
        display: flex;
        align-items: center;
        grid-gap: 8px;
    }

    & .status {
        border-radius: $border-radius-small;
        background: $color-elements;
        box-shadow: 0 2px 8px 0 rgba(3, 21, 29, 0.12);
        padding: 0 12px;
        font-weight: 500;
        line-height: 24px;
        text-transform: uppercase;

        &--active {
            color: $color-status-active;
        }

        &--rejected {
            color: #d02601;
        }

        &--processing {
            color: #f0b00b;
        }

        &--pending {
            color: #f0b00b;
        }
    }
}

@media all and (min-width: 640px) {
    .transactions {
        &__header {
            flex-direction: row;
        }
    }

    .transactions-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .transactions-item__info {
        & .button {
            width: 100px;
            flex-shrink: 0;
        }
    }
}

@media all and (min-width: 768px) {
    .transactions {
        //gap: 40px;
    }

    .transactions-list {
        margin-bottom: 40px;
    }
}

@media all and (min-width: 1280px) {
    .transactions-item__info {
        flex-direction: row;
    }
}

@media all and (min-width: 1320px) {
    .transactions-list {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
