.user-avatar {
    position: relative;
    &__wrapper {
        display: flex;
        align-items: center;
        grid-gap: 10px;
        cursor: pointer;
        &.active {
            & .user-name {
                & i {
                    transform: rotate(180deg);
                }
            }
        }
    }
    & .user-name {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        color: $color-primary-solid;
        font-size: 14px;
        font-weight: 700;
        line-height: 24px;
        & span {
            display: inline-block;
            width: 100%;
            max-width: 200px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        & i {
            font-size: 24px;
            color: $color-text-secondary;
        }
    }
    & .user-menu {
        position: absolute;
        top: calc(100% + 12px);
        right: 0;
        min-width: 220px;
        padding: 8px 0;
        border-radius: 8px;
        background: $color-surface;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 1, 0.6);
        z-index: 99;

        &.opened {
            display: block;
        }
    }
    &__img {
        width: 40px;
        min-width: 40px;
        height: 40px;
        border-radius: 20px;
        border: 1px solid $color-divider;
        overflow: hidden;
        display: block;
        &.mobile {
            display: none;
        }
    }
}

@media all and (min-width: 480px) {
}
@media all and (min-width: 768px) {
}
@media all and (min-width: 1280px) {
    .user-avatar {
        & .user-name {
            & span {
                width: 98px;
            }
        }
    }
}
