.user-loyalty {
    display: none;
    align-items: center;
    grid-gap: 16px;
    &__block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        &:first-child {
            padding-right: 16px;
            border-right: 1px solid $color-divider;
        }
    }
    &__title {
        color: $color-text-secondary;
        font-size: 10px;
        font-weight: 600;
        line-height: 12px;
        text-transform: uppercase;
        margin-bottom: 4px;
        font-style: normal;
    }
    &__value {
        color: $color-primary-solid;
        font-size: 14px;
        font-weight: 700;
        line-height: 24px;
        & strong {
            display: inline-block;
            margin-left: 2px;
            color: $color-text-secondary;

        }
    }
}

@media all and (min-width: 481px) {}
@media all and (min-width: 769px) {}
@media all and (min-width: 1281px) {}