@import "../base/mixins/scrollbar.scss";

.winners {
    &__header {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        position: relative;
        align-items: center;
        margin-bottom: 24px;
        gap: 16px;
    }

    &__title {
        h2 {
            color: $color-text-primary;
        }
    }

    .form__input {
        padding: 0 8px;
        margin-bottom: 0;
    }

    & .tabs {
        &__content {
            @include scrollbar-secondary-horizontal;
            overflow: auto;
            padding: 8px;
        }
    }

    &-table {
        min-width: fit-content;
        box-sizing: border-box;
        overflow: hidden;
        border-radius: $border-radius-medium;
        box-shadow: $card-shadow;

        &__header,
        &__row {
            display: grid;
            grid-template-columns: repeat(19, minmax(46px, 1fr));
            white-space: nowrap;
            color: $color-text-secondary;

            &-value {
                font-size: 16px;
                line-height: 28px;
                font-weight: 400;
                padding: 16px 24px;

                &:nth-last-child(-n + 3) {
                    text-align: right;
                }

                &:nth-child(1) {
                    grid-column: span 3;
                }
                &:nth-child(2) {
                    grid-column: span 4;
                }
                &:nth-child(3) {
                    grid-column: span 2;
                }
                &:nth-child(4) {
                    grid-column: span 4;
                }
                &:nth-child(5) {
                    grid-column: span 2;
                }
                &:nth-child(6) {
                    grid-column: span 4;
                }
            }
        }

        &__header {
            color: $color-text-primary;

            &-value {
                font-weight: 700;
            }
        }

        &__row {
            &-value {
                &--link {
                    color: $color-primary-link;
                    font-weight: 700;

                    &:hover {
                        color: $color-primary-hover;
                    }
                }
                &--amount {
                    color: $color-text-primary;
                    font-weight: 700;

                    span {
                        color: $color-text-secondary;
                        margin-left: 4px;
                    }
                }
            }

            &:nth-child(odd):not(:first-child) {
                background: $color-elements;
            }
        }
    }
}

.winners__table-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 80px 24px;
    width: calc(100vw - 40px);
}

.winners__table-subtitle {
    font-size: 16px;
    font-family: $font-primary;
    text-transform: uppercase;
}

.winners__table-description {
    text-align: center;
    font-size: 14px;
    font-family: $font-primary;
    color: $color-text-secondary;
}

@media all and (min-width: 480px) {
}

@media all and (min-width: 640px) {
    .winners {
        &__header {
            justify-content: space-between;
        }

        .input {
            &-wrapper {
                transform: none;
                padding: 0;

                & * {
                    transform: none;
                }
            }
        }

        .selectric {
            &-items {
                margin: 0;
            }
        }
    }
}

@media all and (min-width: 768px) {
    .winners {
        &__header {
            margin-bottom: 40px;
        }

        .form__input {
            padding: 0;
            margin-bottom: 0;
        }
    }
}

@media all and (min-width: 940px) {
    .winners__table-content {
        width: auto;
    }
}

@media all and (min-width: 1280px) {
    .winners {
        &__header {
            .section__title {
                width: fit-content;
                margin-bottom: 0;
            }
        }

        .select--tabs {
            margin-left: 80px;
        }
    }
}

@media all and (min-width: 1440px) {
    .winners {
        &__wrapper {
            padding-bottom: 40px;
        }
    }
}
