.footer-menu {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: $color-text-primary;
  padding: 16px 0;

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $color-divider;
    padding-bottom: 16px;

    & span {
      font-size: 20px;
      font-weight: 700;
      line-height: 28px;
      color: $color-primary;
    }

    & i {
      font-size: 24px;
      transition: transform 0.4s ease-in-out;
    }

    &.closed {
      border-bottom: none;
      padding-bottom: 0;
      & i {
        transform: rotate(-90deg);
      }
    }
  }

  &__link {
    &:hover {
      color: $color-primary-hover;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    grid-gap: 16px;
    margin-top: 16px;
  }

  &:first-child {
    .footer-menu__list {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media all and (min-width: 480px) {
}

@media all and (min-width: 580px) {
}

@media all and (min-width: 640px) {
  .footer-menu {
    border: none;

    &__wrapper {
      display: grid;
      grid-gap: 24px;
      width: 100%;
    }

    &__list {
      margin-top: 24px;
    }

    &__title {
      & i {
        display: none;
      }
    }
  }
}

@media all and (min-width: 768px) {
}

@media all and (min-width: 840px) {
  .footer {
    & .casino-info {
      max-width: 640px;
    }
  }
}

@media all and (min-width: 980px) {
}

@media all and (min-width: 1024px) {
  .footer-menu {
    padding: 24px 40px;

    &__title {
      padding-bottom: 24px;
    }

    &__wrapper {
      grid-template-columns: repeat(3, 1fr);
      gap: 40px;
    }
  }
}

@media all and (min-width: 1280px) {
}

@media all and (min-width: 1440px) {
}
