.sidebar-menu {
    display: flex;
    flex-direction: column;
    grid-gap: 16px;
    color: $color-text-secondary;

    &__sub {
        display: none;

        & .sidebar-menu {
            &__item {
                padding-left: 8px;
                font-weight: 400;

                i {
                    font-size: 16px;
                }
            }

            &-link {
                display: grid;
                grid-template-columns: 16px 1fr;
                gap: 8px;
            }
        }
    }

    &__item {

        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        cursor: pointer;

        &.open {
            display: flex;
            flex-direction: column;
            background-color: $color-elements;
            border-radius: 16px;

            & .sidebar-menu__sub {
                display: block;
            }

            .icon-arrow-down {
                transform: rotate(-180deg);
            }
        }
    }

    &__link {
        display: flex;
        align-items: center;
        padding: 8px;
        width: 100%;
        border-radius: $border-radius-small;
        background-color: transparent;
        transition: background-color .4s;

        .icon-arrow-down {
            margin-left: auto;
        }

        &:hover {
            background-color: $color-elements;

            & span {
                color: $color-primary-hover;
            }
        }

        & i {
            font-size: 24px;
            margin-right: 8px;
        }

        & strong {
            padding: 0 8px;
            margin-left: auto;
            color: $color-background;
            font-size: 10px;
            font-weight: 600;
            line-height: 12px;
            text-transform: uppercase;
            border-radius: 24px;
            background: $color-text-placeholder;
            box-shadow: 0 2px 8px 0 rgba(3, 21, 29, 0.12);
        }
    }
}

@media all and (min-width: 640px) {
    .sidebar-menu {
        grid-area: 1/2/10/3;
    }
}

@media all and (min-width: 1280px) {
    .sidebar {
        &:not(.opened) {
            & .sidebar-menu__link {
                &:hover {
                    & span {
                        position: fixed;
                        left: 70px;
                        display: flex;
                        max-width: 100%;
                        padding: 8px 12px;
                        margin-top: 20px;
                        font-size: 10px;
                        font-weight: 500;
                        line-height: 16px;
                        color: $color-text-primary;
                        background-color: $color-elements;
                        border-radius: 8px;
                        transition: none;

                        &:before {
                            content: '';
                            position: fixed;
                            left: 65px;
                            width: 0;
                            height: 0;
                            margin-top: 2px;
                            border-right: 5px solid $color-elements;
                            border-top: 6px solid transparent;
                            border-bottom: 6px solid transparent;
                        }
                    }
                }
            }
        }
    }

    .sidebar-menu {
        &__link {
            justify-content: center;

            & i {
                margin-right: 0;
            }

            & span,
            strong {
                display: none;
            }
        }
    }
}
