.user-menu {
    display: none;
    &__list {
        display: flex;
        flex-direction: column;
    }
    &__item {
        padding: 8px 16px;
    }
    &__link {
        display: flex;
        align-items: center;
        grid-gap: 12px;
        color: $color-text-secondary;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        white-space: nowrap;
        & i {
            font-size: 20px;
        }
        &:hover {
            & span {
                color: $color-text-primary;
            }

            .message-counter {
                color: $color-text-on-bg;
            }
        }
    }
    & .message-counter {
        display: flex;
        align-items: center;
        text-align: center;
        background: $color-primary;
        color: $color-text-on-bg;
        padding: 2px 4px 1px 4px;
        border-radius: 10px;
        font-size: 10px;
        font-weight: 500;
        line-height: 12px;
        margin-left: auto;
    }
}

@media all and (min-width: 480px) {
}
@media all and (min-width: 768px) {
}
@media all and (min-width: 1280px) {
}
