<ul class="accounts-grid">
    {% set currency = ['BTC', 'NOK', 'EUR', 'MXN', 'BTC', 'NOK', 'EUR', 'MXN'] %}
    {% for item in currency %}
        <li class="accounts-item{% if loop.index0 == 0 %} active{% endif %}">
            <label class="accounts-item__label" for="{{item}}">
                <input type="radio" name="account-currency" id="{{item}}">
                <div class="accounts-item__status">
                    {% if loop.index0 == 0 %}
                        <span class="status">Active</span>
                    {% else %}
                        <span class="status">Disabled</span>
                    {% endif %}
                    <div class="accounts-item__buttons">
                        <a href="modals/withdraw.html" class="button button--t2" data-modal>
                            <i class="icon-withdraw"></i>
                        </a>
                        <a href="modals/deposit.html" class="button button--t1" data-modal>
                            <i class="icon-plus"></i>
                        </a>
                    </div>
                </div>
                <div class="accounts-item__row">
                    <span class="accounts-item__title">Currency</span>
                    <span class="accounts-item__currency">{{item}}</span>
                </div>
                <div class="accounts-item__row">
                    <span class="accounts-item__title">Real</span>
                    <div class="accounts-item__value">
                        <span class="currency-real">0,83</span>
                        <span class="currency-crypto">0.00000245</span>
                    </div>
                </div>
                <div class="accounts-item__row">
                    <span class="accounts-item__title">Bonus</span>
                    <div class="accounts-item__value">
                        <span class="currency-real">1 421 320,83</span>
                        <span class="currency-crypto">0.00000245</span>
                    </div>
                </div>
                <div class="accounts-item__row">
                    <span class="accounts-item__title">Total</span>
                    <div class="accounts-item__value">
                        <span class="currency-real">314 663.87</span>
                        <span class="currency-crypto">0.00000245</span>
                    </div>
                </div>
            </label>
        </li>
    {% endfor %}
</ul>
