<div class="container banners-wrapper">
    <div class="banners" data-banners-swiper>
        <div class="swiper-wrapper">
            <div class="banner swiper-slide">
                <img src="../../img/backgrounds/tournament.jpg" alt="banner preview" class="banner__img">
                <h2 class="banner__title">Promo</h2>
                <a href="#" class="banner__link"></a>
            </div>
            <div class="banner swiper-slide">
                <img src="../../img/backgrounds/tournament.jpg" alt="banner preview" class="banner__img">
                <h2 class="banner__title">Slots</h2>
                <a href="#" class="banner__link"></a>
            </div>
            <div class="banner swiper-slide">
                <img src="../../img/backgrounds/tournament.jpg" alt="banner preview" class="banner__img">
                <h2 class="banner__title">Special</h2>
                <a href="#" class="banner__link"></a>
            </div>
            <div class="banner swiper-slide">
                <img src="../../img/backgrounds/tournament.jpg" alt="banner preview" class="banner__img">
                <h2 class="banner__title">Live</h2>
                <a href="#" class="banner__link"></a>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</div>
