<div class="bonuses-list">
        <div class="bonuses-item">
            <div class="bonuses-item__params">
                <ul>
                    <li class="bonuses-item__row">
                        <span class="bonuses-item__title">Bonus amount</span>
                        <span class="bonuses-item__value">0.00000008 BTC</span>
                    </li>
                    <li class="bonuses-item__row">
                        <span class="bonuses-item__title">Bonus wager</span>
                        <span class="bonuses-item__value">X12 BTC</span>
                    </li>
                    <li class="bonuses-item__row">
                        <span class="bonuses-item__title">Free spins</span>
                        <span class="bonuses-item__value">200</span>
                    </li>
                    <li class="bonuses-item__row">
                        <span class="bonuses-item__title">Wager FS</span>
                        <span class="bonuses-item__value">X5</span>
                    </li>
                </ul>
            </div>
            <div class="bonuses-item__img">
                <img src="../../img/components/bonuses/bonus.png" alt="">
                <div class="statuses">
                    {% include '@components/counter.twig' %}
                    <span class="status status--activate">
                        Preactivation
                    </span>

                </div>

            </div>
            <div class="bonuses-item__description">
                <h3 class="bonuses-item__name">Perfect bonus for a nice start adipiscing elit, sed do eiusmod </h3>

                <div class="bonuses-item__buttons">
                    {{ fieldButton({
                    tag: 'a',
                    content: 'learn
                    more',
                    href: '/html/pages/registration.html',
                    sizeClass: '2',
                    typeClass: '2'
                    } ) }}
                    {{ fieldButton({
                    tag: 'a',
                    content: 'Activate',
                    href: '/html/pages/registration.html',
                    sizeClass: '2',
                    typeClass: '1'
                    } ) }}
                </div>
            </div>
        </div>
    {% set k = 11 %}
    {% for i in range(1, k) %}
    <div class="bonuses-item">
        <div class="bonuses-item__params">
            {% include '@components/currencies.twig' %}
            <ul>
                <li class="bonuses-item__row">
                    <span class="bonuses-item__title">Bonus amount</span>
                    <span class="bonuses-item__value">0.00000008 BTC</span>
                </li>
                <li class="bonuses-item__row">
                    <span class="bonuses-item__title">Bonus wager</span>
                    <span class="bonuses-item__value">X12 BTC</span>
                </li>
                <li class="bonuses-item__row">
                    <span class="bonuses-item__title">Free spins</span>
                    <span class="bonuses-item__value">200</span>
                </li>
                <li class="bonuses-item__row">
                    <span class="bonuses-item__title">Wager FS</span>
                    <span class="bonuses-item__value">X5</span>
                </li>
            </ul>
        </div>
        <div class="bonuses-item__img">
            <img src="../../img/components/bonuses/bonus.png" alt="">
            <div class="statuses">
                {% include '@components/counter.twig' %}
                <span class="status status--active">
                    active
                </span>

            </div>

        </div>
        <div class="bonuses-item__description">
            <h3 class="bonuses-item__name">Perfect bonus for a nice start adipiscing elit, sed do eiusmod </h3>

            <div class="bonuses-item__buttons">
                {{ fieldButton({
                tag: 'a',
                content: 'learn
                more',
                href: '/html/pages/registration.html',
                sizeClass: '2',
                typeClass: '2'
                } ) }}
                {{ fieldButton({
                tag: 'a',
                content: 'Get bonus',
                href: '/html/pages/registration.html',
                sizeClass: '2',
                typeClass: '1'
                } ) }}
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="bonuses-item">
        <div class="bonuses-item__params">
            {% include '@components/currencies.twig' %}
            <ul>
                <li class="bonuses-item__row">
                    <span class="bonuses-item__title">Bonus amount</span>
                    <span class="bonuses-item__value">0.00000008 BTC</span>
                </li>
                <li class="bonuses-item__row">
                    <span class="bonuses-item__title">Bonus wager</span>
                    <span class="bonuses-item__value">X12 BTC</span>
                </li>
                <li class="bonuses-item__row">
                    <span class="bonuses-item__title">Free spins</span>
                    <span class="bonuses-item__value">200</span>
                </li>
                <li class="bonuses-item__row">
                    <span class="bonuses-item__title">Wager FS</span>
                    <span class="bonuses-item__value">X5</span>
                </li>
            </ul>
        </div>
        <div class="bonuses-item__img">
            <img src="../../img/components/bonuses/bonuses.jpg" alt="">
            <div class="statuses">
                {% include '@components/counter.twig' %}
                <span class="status status--active">
                    active
                </span>
            </div>
        </div>
        <div class="bonuses-item__description">
            <h3 class="bonuses-item__name">Perfect bonus for a nice start adipiscing elit, sed do eiusmod </h3>

            <div class="bonuses-item__buttons">
                {{ fieldButton({
                tag: 'a',
                content: 'learn
                more',
                href: '/html/pages/registration.html',
                sizeClass: '2',
                typeClass: '2'
                } ) }}
                {{ fieldButton({
                tag: 'a',
                content: 'Get bonus',
                href: '/html/pages/registration.html',
                sizeClass: '2',
                typeClass: '1'
                } ) }}
            </div>
        </div>
    </div>
</div>
