<div class="bonuses-list">
    {% set k = 6 %}
    {% for i in range(1, k) %}
        <div class="bonuses-item">
            <div class="bonuses-item__img">
{#                {% include '@components/counter.twig' %}#}
                <img src="../../img/components/bonuses/bonus.png" alt=""/>
            </div>
            <div class="bonuses-item__description">
                <h3 class="bonuses-item__name">Perfect bonus for a nice start adipiscing elit, sed do eiusmod </h3>
                {% include '@components/currencies.twig' %}
                <div class="bonuses-item__currencies"></div>
                <ul class="bonuses-item__params">
                    <li class="bonuses-item__row">
                        <span class="bonuses-item__title">Max win</span>
                        <span class="bonuses-item__value bonuses-item__value--crypto">200 USD<b>1.3457893 BTC</b></span>
                    </li>
                    <li class="bonuses-item__row">
                        <span class="bonuses-item__title">Bonus amount</span>
                        <span class="bonuses-item__value bonuses-item__value--crypto">200 USD<b>1.3457893 BTC</b></span>
                    </li>
                    <li class="bonuses-item__row">
                        <span class="bonuses-item__title">Bonus wager</span>
                        <span class="bonuses-item__value">X12</span>
                    </li>
                    <li class="bonuses-item__row">
                        <span class="bonuses-item__title">Free spins</span>
                        <span class="bonuses-item__value">200</span>
                    </li>
                    <li class="bonuses-item__row">
                        <span class="bonuses-item__title">Wager FS</span>
                        <span class="bonuses-item__value">X5</span>
                    </li>
                </ul>
                <div class="bonuses-item__buttons">
                    <a href="/html/pages/bonus-info.html" class="button button--s2 button--t2"><span>learn more</span></a>
                    <a href="#" class="button button--s2 button--t1"><span>Get bonus</span></a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

