    {%
        set statuses = {
        'finished': 'Finished',
        'threshold': 'threshold',
        'expired': 'expired',
        'canceled': 'Canceled'
    }
    %}
<div class="bonuses-list">
    {% for items in range(0, 2) %}
        {% for class, label in statuses %}
            {% set count = loop.index0 %}
        <div class="bonuses-item">
            <div class="bonuses-item__img">
                <img src="../../img/components/bonuses/bonuses.jpg" alt=""/>
                <span class="status status--{{ class }}">{{ label }}</span>
            </div>
            <div class="bonuses-item__description">
                <h3 class="bonuses-item__name">Perfect bonus for a nice start adipiscing elit, sed do eiusmod </h3>
                <div class="bonuses-item__currencies"></div>
                <ul class="bonuses-item__params">
                    <li class="bonuses-item__row">
                        <span class="bonuses-item__title">Max win</span>
                        <span class="bonuses-item__value">200 USD</span>
                    </li>
                    <li class="bonuses-item__row">
                        <span class="bonuses-item__title">Bonus amount</span>
                        <span class="bonuses-item__value">200 USD</span>
                    </li>
                    <li class="bonuses-item__row">
                        <span class="bonuses-item__title">Bonus wager</span>
                        <span class="bonuses-item__value">X12</span>
                    </li>
                    <li class="bonuses-item__row">
                        <span class="bonuses-item__title">Free spins</span>
                        <span class="bonuses-item__value">200</span>
                    </li>
                    <li class="bonuses-item__row">
                        <span class="bonuses-item__title">Wager FS</span>
                        <span class="bonuses-item__value">X5</span>
                    </li>
                </ul>
            </div>
        </div>
        {% endfor %}
    {% endfor %}
</div>