<div class="tabs__wrapper">
    <div class="tabs__content active" data-bonuses-active-content>
        {% include '@components/bonuses-list-type-b.twig' %}
        {% include '@components/pagination.twig' %}
    </div>
    <div class="tabs__content">
        2
    </div>
    <div class="tabs__content">
        3
    </div>
    <div class="tabs__content">
        <div class="blocked blocked--page">
            <div class="blocked__content">
                <div class="blocked__empty-img">
                    <img src="../../img/icons/box.svg" alt="">
                </div>
                <h1 class="blocked__title">Oh, we have no bonuses</h1>
                <p class="blocked__text">It seems that we haven't added anything. Please check this page a bit later.</p>
                {{ fieldButton({
                    tag: 'a',
                    content: 'back',
                    href: 'bonuses.html',
                    sizeClass: '3',
                    typeClass: '1'
                } ) }}
            </div>
        </div>
    </div>
</div>
