<div class="button-group">
	<a href="#" class="button-group__link active">
		<span>Play for fun</span>
	</a>
	<a href="#" class="button-group__link" data-game-modal>
		<span>Play for real</span>
	</a>
</div>
