<div class="casino-switcher">
    <a href="#" class="casino-switcher__link active"><i class="icon-casino"></i><span>Casino</span></a>
    <a href="#" class="casino-switcher__link"><i class="icon-sport"></i><span>Sport</span></a>
</div>