<div class="categories__inner">
    <div class="categories__header">
        <h3 class="categories__title">Game categories</h3>

        <div class="swiper-buttons">
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>

        <a href="#providersMenu" class="categories__link" data-sidebar-external data-effect="mfp-move-horizontal">
            <i class="icon-providers"></i>Providers
            <i class="icon-arrow-right"></i>
        </a>
    </div>
    <div class="categories__list" data-categories-items-swiper>
        <div class="swiper-wrapper">
            {% for item in categories %}
                <a href="" class="categories__item swiper-slide">
                    <i class="icon-{{ item.name }}"></i>
                    <div class="categories__item-name">{{ item.name }}</div>
                </a>
            {% endfor %}
        </div>
    </div>
</div>

