<form class="categories-header">
    <div class="search-input">
        <i class="icon-search"></i>
        <input placeholder="Browse games" type="text">
    </div>
    <div class="form__input--switch">
        <input class="switch" type="checkbox" checked="checked">
        <label for="view-fiat">Wager the bonus</label>
    </div>
    <div class="form__input--switch">
        <input class="switch" type="checkbox" checked="checked">
        <label for="view-fiat">Live</label>
    </div>
    {{ fieldInput({
        type: 'select',
        id: 'timezone',
        value: [
            { label: "Popular" },
            { label: "Sort by Z-A  " },
            { label: "Sort by Popular " },
            { label: "Sort by A-Z " }
        ],
        notification: 'Заполнено верно',
        customData: 'data-select-menu'
    }) }}
</form>

