<ul class="currencies">
    <li class="currencies__item"><i class="icon-inr"></i></li>
    <li class="currencies__item"><i class="icon-aed"></i></li>
    <li class="currencies__item"><i class="icon-usdt"></i></li>
    <li class="currencies__item"><i class="icon-btc"></i></li>
    <li class="currencies__item"><i class="icon-eth"></i></li>
    <li class="currencies__item"><i class="icon-eur"></i></li>
    <li><i data-tooltip class="icon-question"><span class="tooltip-text">Available currencies:RUB, PLN, UAH, EUR, USDT, TRX, LTC, ETH, DOGE, DASH, ВТС, BNB, BCH</span></i></li>
</ul>