<div class="currency">
	<div class="currency__block" data-currency>
		<div class="currency__img">
			<i class="icon-usdt"></i>
		</div>
		<div class="currency__wrapper">
			<span class="currency__title">Real</span>
			<div class="currency__name">
				<span>BTC</span>
				<i class="icon-arrow-down"></i>
			</div>
			<span class="currency__value">0.0333333333330123</span>
		</div>
	</div>
	<div class="currency__block">
		<div class="currency__img">
			<i class="icon-usdt"></i>
		</div>
		<div class="currency__wrapper">
			<span class="currency__title">Real</span>
			<div class="currency__name">
				<span>BTC</span>
			</div>
			<span class="currency__value">0.40023</span>
		</div>
	</div>
	<div class="currency-select">

		<div class="tab">
			<ul class="tabs">
				<li>
					<span>Crypto</span>
				</li>
				<li>
					<span>Fiat</span>
				</li>
			</ul>
			<div class="tab__content">
				<div class="tabs__item">
					<ul class="currency-select__list">
						<li class="currency-select__item">
							<div class="currency-select__name">BTC</div>
							<div class="currency-select__value">
								<span>0.00000000</span>
							</div>
						</li>
						<li class="currency-select__item active">
							<div class="currency-select__name">ETH</div>
							<div class="currency-select__value">
								<span>0.00000012</span>
							</div>
						</li>
						<li class="currency-select__item">
							<div class="currency-select__name">USDT</div>
							<div class="currency-select__value">
								<span>0.00000000</span>
							</div>
						</li>
						<li class="currency-select__item">
							<div class="currency-select__name">BNB</div>
							<div class="currency-select__value">
								<span>0.00000000</span>
							</div>
						</li>
						<li class="currency-select__item">
							<div class="currency-select__name">LTC</div>
							<div class="currency-select__value">
								<span>0.00000000</span>
							</div>
						</li>
						<li class="currency-select__item">
							<div class="currency-select__name">LTC</div>
							<div class="currency-select__value">
								<span>0.00000000</span>
							</div>
						</li>
						<li class="currency-select__item">
							<div class="currency-select__name">LTC</div>
							<div class="currency-select__value">
								<span>0.00000000</span>
							</div>
						</li>
					</ul>
					<p class="currency-select__empty">you have no currencies in either account</p>
				</div>
				<div class="tabs__item">
					<ul class="currency-select__list" data-scrollbar="data-scrollbar">
						<li class="currency-select__item">
							<div class="currency-select__name">USD</div>
							<div class="currency-select__value">
								<span>1030</span>
							</div>
						</li>
						<li class="currency-select__item active">
							<div class="currency-select__name">EUR</div>
							<div class="currency-select__value">
								<span>987</span>
							</div>
						</li>
						<li class="currency-select__item">
							<div class="currency-select__name">UAH</div>
							<div class="currency-select__value">
								<span>10000</span>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="currency-select__controls">
			<div class="form__input--switch">
				<input class="switch" id="view-fiat" type="checkbox" checked="checked">
				<label for="view-fiat">View in fiat</label>
			</div>
			<div class="form__input--switch">
				<input class="switch" id="game-fiat" type="checkbox">
				<label for="game-fiat">Game in fiat</label>
			</div>
			<div class="form__input--switch">
				<input class="switch" id="zero-balnce" type="checkbox">
				<label for="zero-balnce">Hide zero balance</label>
			</div>
		</div>
	</div>
</div>
