<div class="documents-grid">
    <div class="documents-item">
        <div class="documents-item__loading">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M31.9738 16C31.9738 7.16344 24.8162 0 15.9869 0C7.15757 0 0 7.16344 0 16H2.66448C2.66448 8.6362 8.62912 2.66667 15.9869 2.66667C23.3446 2.66667 29.3093 8.6362 29.3093 16H31.9738Z" fill="url(#paint0_linear_19633_9060)"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M31.9738 16C31.9738 24.8366 24.8162 32 15.9869 32C7.15757 32 0 24.8366 0 16H2.66448C2.66448 23.3638 8.62912 29.3333 15.9869 29.3333C23.3446 29.3333 29.3093 23.3638 29.3093 16H31.9738Z" fill="url(#paint1_linear_19633_9060)"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M30.3768 13.007C31.1065 12.9128 31.7744 13.4285 31.8685 14.1588C31.956 14.8377 31.9999 15.5215 31.9999 16.2061C31.9999 16.9425 31.4035 17.5394 30.6677 17.5394C29.9319 17.5394 29.3355 16.9425 29.3355 16.2061C29.3355 15.6356 29.2989 15.0658 29.2259 14.5C29.1318 13.7697 29.647 13.1012 30.3768 13.007Z" fill="#BDE322"/>
                <defs>
                    <linearGradient id="paint0_linear_19633_9060" x1="0" y1="16" x2="31.9738" y2="16" gradientUnits="userSpaceOnUse">
                        <stop offset="0.0001" stop-color="#BDE322" stop-opacity="0.5"/>
                        <stop offset="1" stop-color="#BDE322"/>
                    </linearGradient>
                    <linearGradient id="paint1_linear_19633_9060" x1="0" y1="16" x2="31.9738" y2="16" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#BDE322" stop-opacity="0.5"/>
                        <stop offset="1" stop-color="#BDE322" stop-opacity="0"/>
                    </linearGradient>
                </defs>
            </svg>
            <span>Document is being uploaded</span>
        </div>
    </div>
    {% set statuses = {
        'success': 'Uploaded',
        'processing': 'in progress',
        'approved': 'Approved',
        'error': 'rejected'
    }
    %}

    {% set k = 12 %}

    {% for i in range(1, k) %}
        {% for statusClass, label in statuses %}
        <div class="documents-item">
            <span class="documents-item__name">My_passport_1.jpg</span>
            <div class="documents-item__date"><span>21.09.2021</span><span>|</span><span>19:27</span></div>
            <div class="documents-item__footer">
                <div class="documents-item__status status--{{ statusClass }}"><span>{{ label }}</span></div>
                <a href="#" class="download__link"><i class="icon-download"></i></a>
            </div>
        </div>
        {% endfor %}
    {% endfor %}
</div>