<footer class="footer">
    <div class="container">
        <div class="footer-layout">
            <div class="footer-section footer-section--top">
                <div class="casino-info">
                    {% include "@components/logo-footer.twig" %}
                    <div class="casino-info__description">
                        <p>
                            Experience the excitement of playing online slot machines from the comfort of your own home.
                            With our huge selection of slot games that have stunning graphics and suspens.
                        </p>
                    </div>

                </div>

            </div>
            <div class="footer-section">
                <div class="footer-menu__wrapper">
                    {% include "@components/menu/footer-menu-games.twig" %}
                    {% include "@components/menu/footer-menu-about.twig" %}
                    {% include "@components/menu/footer-menu-info.twig" %}
                </div>
            </div>
            <div class="footer-section">
                <div class="footer-description">
                    <img src="../../img/elements/xxx.png" alt="xxx">
                    <p>
                        OurCasino is operated by Theoi ton metriton N.V. (Reg no. 161110), Abraham de Veerstraat 9,
                        Willemstad, P.O. Box 3421, Curaçao, which having all the rights to operate the gaming software
                        and/or offer games of chance under the Curacao License no. 365/JAZ. Payments are processed by
                        Kabja Limited (ΗΕ 436201) registered in 75 Prodromou Avenue, Oneworld Parkview House, 3rd floor
                        2063, Nicosia, Cyprus, acting as the payments agent as per agreement between the two companies.
                    </p>
                </div>
                <div class="footer-copyright">

                    <div class="footer-social">
                        {% set available = ['fb', 'twitter', 'telegram', 'instagram'] %}
                        {% include "@components/socials.twig" %}
                    </div>
                    <div class="footer-copyright__text">
                        <div class="footer-copyright__img">
                            <img src="../../img/elements/18+.svg" alt="">
                        </div>
                        <p>
                            © OurCasino 2022. All rights reserved
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>