<div class="games-categories__list">
	<a class="games-categories__link" href="#">
		<picture>
			<img src="../../../img/game-categories/1.png" alt="">
		</picture>

		<p class="games-categories__name">
			<span>POPULAR</span>
		</p>
	</a>
	<a class="games-categories__link" href="#">
		<picture><img src="../../../img/backgrounds/placeholder7.webp" alt=""></picture>
		<p class="games-categories__name">
			<span>SLOTS</span>
		</p>
	</a>
	<a class="games-categories__link" href="#">
		<picture><img src="../../../img/game-categories/3.png" alt=""></picture>
		<p class="games-categories__name">
			<span>BEST</span>
		</p>
	</a>
	<a class="games-categories__link" href="#">
		<picture><img src="../../../img/backgrounds/placeholder7.webp" alt=""></picture>
		<p class="games-categories__name">
			<span>SPORT</span>
		</p>
	</a>
	<a class="games-categories__link" href="#">
		<picture><img src="../../../img/game-categories/5.png" alt=""></picture>
		<p class="games-categories__name">
			<span>CLASSIC</span>
		</p>
	</a>
	<a class="games-categories__link" href="#">
		<picture><img src="../../../img/game-categories/6.png" alt=""></picture>
		<p class="games-categories__name">
			<span>JACKPOT</span>
		</p>
	</a>
	<a class="games-categories__link" href="#">
		<picture><img src="../../../img/backgrounds/placeholder7.webp" alt=""></picture>
		<p class="games-categories__name">
			<span>NEW</span>
		</p>
	</a>
	<a class="games-categories__link" href="#">
		<picture><img src="../../../img/game-categories/8.png" alt=""></picture>
		<p class="games-categories__name">
			<span>INSTANT</span>
		</p>
	</a>
	<a class="games-categories__link" href="#">
		<picture><img src="../../../img/game-categories/9.png" alt=""></picture>
		<p class="games-categories__name">
			<span>FEATURED</span>
		</p>
	</a>
	<a class="games-categories__link" href="#">
		<picture><img src="../../../img/game-categories/10.png" alt=""></picture>
		<p class="games-categories__name">
			<span>HOT</span>
		</p>
	</a>
</div>
