<div class="game__description">
	<h2 class="game__description-title">About</h2>
	<div class="tab">
		<ul class="tabs">
			<li>
				<span>
					Desc ription
				</span>
			</li>
			<li>
				<span>
					Chara cteristics
				</span>
			</li>
		</ul>
		<div class="tab__content">
			<div class="tabs__item">
				<h3 class="game__description-subtitle">Tom Horn games</h3>
				<div class="game__description-tags">
					<a href="" class="status status--tag status--tag-circle">NEW</a>
					<a href="" class="status status--tag status--tag-circle">Table games</a>
				</div>
				<div class="game__description--text" data-game-description>
					<p>
						Experience the excitement of playing online slot machines from the comfort of your own home.
																																																																																																																																																																																																																																																															                            With
																																																																																																																																																																																																																																																															                            our huge selection of
																																																																																																																																																																																																																																																															                            slot games that have stunning graphics and suspense filled gameplay, you are certain to be kept
																																																																																																																																																																																																																																																															                            on
																																																																																																																																																																																																																																																															                            the edge of your seat
																																																																																																																																																																																																																																																															                            in anticipation of winning.
					</p>
					<p>Our real money slots suit all tastes and budget. Using in our online casino the latest
																																																																																																																																																																																																																																																															                            information
																																																																																																																																																																																																																																																															                            security and safety
																																																																																																																																																																																																																																																															                            codes in combination with the purest mathematics, we guarantee all our visitors reliable
																																																																																																																																																																																																																																																															                            protection
																																																																																																																																																																																																																																																															                            of their personal
																																																																																																																																																																																																																																																															                            data, as well as complete transparency and 100% honesty of all games. Our exclusive gaming
																																																																																																																																																																																																																																																															                            portfolio
																																																																																																																																																																																																																																																															                            and superior
																																																																																																																																																																																																																																																															                            customer service allow us to create an environment that will surely satisfy both the novice in
																																																																																																																																																																																																																																																															                            the
																																																																																																																																																																																																																																																															                            gaming industry and
																																																																																																																																																																																																																																																															                            the very experienced player.</p>
				</div>
				<div class="game__description--btn" data-game-description-btn>
					{{ fieldButton({
		                            tag: 'button',
		                            type: 'submit',
		                            sizeClass: '1',
		                            typeClass: '2',
		                            content: 'SHOW MORE',
		                            customData: 'data-game-description-show'
		                        }) }}
					{{ fieldButton({
		                            tag: 'button',
		                            type: 'submit',
		                            sizeClass: '1',
		                            typeClass: '2',
		                            content: 'SHOW LESS',
		                            customData: 'data-game-description-hide'
		                        }) }}
				</div>
			</div>
			<div class="tabs__item">
				<div class="game__characteristics">
					<ul class="game__characteristics-list">
						{% for item in characteristics %}
							<li class="game__characteristics-item">
								<div class="game__characteristics-title">
									<span>{{item.title}}</span>
								</div>
								<div class="game__characteristics-content">
								<i class="icon-{{item.icon}}"></i>
									<span>{{item.content}}</span>
								</div>
							</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
