<div class="container">
	<div class="game">
		<div class="game__content">
			<div class="game__header">
				<a class="game__header-arrow-back" href="#">
					<i class="icon-arrow-back"></i>
				</a>
				<div class="game__title">
					<span>Charlie Chance and the Curse of Cleopatra</span>
				</div>
				<div class="game__header-dropdown dropdown">
					<i class="icon-dots"></i>
					<div class="dropdown__content">
						<a href="#" class="dropdown__content-item">
							<i class="icon-favorite"></i>
							Add to favorites</a>
						<a href="#" class="dropdown__content-item">
							<i class="icon-fullscreen" data-game-fullscreen></i>
							Full screen</a>
					</div>
				</div>
				<div class="game__header-icons">
					<i class="icon-favorite"></i>
					<i class="icon-fullscreen" data-game-fullscreen></i>
				</div>
			</div>
			<div class="game__iframe">
				<img src="../../img/backgrounds/game.jpg" alt="">
			</div>

			<div class="game__footer">
				<a class="game__share-button init-modal" href="../modals/booster-wins.html" data-modal>
					WIN LOG
					<span class="icon-menu-open"></span>
				</a>
				{% include '@components/button-group.twig' %}
				{# <div class="game__footer-message"> </div> #}
				<a class="game__share-button init-modal" href="/realGame/570109/win/share-last" data-modal="">
					SHARE MY WIN
					<span class="icon-send"></span>
				</a>
			</div>
		</div>
		{% include '@components/game-description.twig' %}
	</div>
</div>
