<div class="container games">
	<div class="container__header">
		<h2 class="container__title container__title--l">
			Table games
		</h2>
		{{ fieldButton({
            tag: 'a',
            href: 'games.html',
            content: 'View all',
            href: '#',
            sizeClass: '1',
            typeClass: '2',
        } ) }}
	</div>
	<div class="games__list" data-games-list>
		{% set k = 10 %}
		{% for i in range(1, k) %}
			<div class="game-card">
				<img src="../../img/backgrounds/placeholder-no-pic.png" alt="game preview" class="game-card__img">
				<button type="button" class="game-card__star">
					<i class="icon-favorite"></i>
				</button>
				<button type="button" class="game-card__play"></button>
				<div class="game-card__footer">
					<h3 class="game-card__subtitle">ELK Games</h3>
					<h2 class="game-card__title">Rocket Reels</h2>
					<button type="button" class="game-card__button-demo">Demo</button>
				</div>
			</div>
		{% endfor %}
	</div>
	{{ fieldButton({
        tag: 'a',
        content: 'Load more',
        href: '',
        sizeClass: '3',
        typeClass: '2',
        customClass: 'games__button-more'
    } ) }}
</div>
