<ul class="header-menu">
    <li class="header-menu__item">
        {{ fieldButton({
        tag: 'a',
        content: 'Sport',
        href: '#',
        sizeClass: '',
        typeClass: '2',
        } ) }}
    </li>
    <li class="header-menu__item">
        {{ fieldButton({
        tag: 'a',
        content: 'Hot games',
        href: '#',
        sizeClass: '',
        typeClass: '2',
        } ) }}
    </li>
    <li class="header-menu__item">
        {{ fieldButton({
        tag: 'a',
        content: 'Bonuses',
        href: '#',
        sizeClass: '',
        typeClass: '2',
        } ) }}
    </li>
    <li class="header-menu__item">
        {{ fieldButton({
        tag: 'a',
        content: 'Tournaments',
        href: '#',
        sizeClass: '',
        typeClass: '2',
        } ) }}
    </li>
</ul>