<!-- Header - logged -->

<header class="header">
	<div class="header-layout">
		<div class="header-logo">
			{% set clicable = true %}
			{% include "logo.twig" %}
		</div>
		{% include "header-menu.twig" %}
		<div class="header-user-area">
			{% include "currency.twig" %}

			{{ fieldButton({
			tag: 'a',
			content: 'Deposit',
			href: '#',
			sizeClass: '',
			typeClass: '1',
			customClass: 'button--deposit',
			iconClass: 'icon-plus'
			} ) }}
			<a href="/html/pages/messages.html" class="button button--has-skew button--t2  button--message">
				<i class="icon-bell"></i>
				<span class="message-counter">99+</span>
			</a>
			{{ fieldButton({
			tag: 'a',
			content: '',
			href: '#',
			sizeClass: '',
			typeClass: '2',
			customClass: 'button--menu',
			iconClass: 'icon-menu-open',
			customData: 'data-sidebar-closer data-sidebar-closer-mobile'
			} ) }}
		</div>
	</div>
</header>
{% include "@components/mobile/mobile-bar.twig" %}
