<header class="header">
	<div class="header-layout">
		<div class="header-logo">
			{% set clicable = true %}
			{% include "logo.twig" %}
		</div>
		{% include "header-menu.twig" %}
		<div class="header-user-area">
			{{ fieldButton({
			tag: 'a',
			content: 'Sign in',
			href: '/html/pages/login.html',
			sizeClass: '',
			customClass: 'button--login',
			typeClass: '1',
			iconClass: 'icon-login'
			} ) }}
			{{ fieldButton({
			tag: 'a',
			content: 'Sign Up',
			href: '/html/pages/registration.html',
			sizeClass: '',
			typeClass: '4'
			} ) }}

			{{ fieldButton({
			tag: 'a',
			content: '',
			href: '#',
			sizeClass: '',
			typeClass: '2',
			customClass: 'button--menu',
			iconClass: 'icon-menu-open',
			customData: 'data-sidebar-closer data-sidebar-closer-mobile'
			} ) }}
		</div>
	</div>
</header>
{% include "@components/mobile/mobile-bar.twig" %}