<div class="container">
    <div class="info-block-list">
        <div class="info-block-item">
            <div class="info-block__img">
                <source srcset="../../img/backgrounds/info-block.webp" type="image/webp">
                <img src="../../img/backgrounds/info-block.png" alt="info-block" />
            </div>
            <div class="info-block__content">
                <h3 class="info-block__title">Largets in play betting area</h3>
                <p class="info-block__text">No commission on book maker & many fancy options</p>
                <a href="#" class="info-block__link">learn more<i class="icon-arrow-link"></i></a>
            </div>
        </div>

        <div class="info-block-item">
            <div class="info-block__img">
                <source srcset="../../img/backgrounds/info-block2.webp" type="image/webp">
                <img src="../../img/backgrounds/info-block2.png" alt="info-block" />
            </div>
            <div class="info-block__content">
                <h3 class="info-block__title">Indian live casino games</h3>
                <p class="info-block__text">Top casino providers</p>
                <a href="#" class="info-block__link">learn more<i class="icon-arrow-link"></i></a>
            </div>
        </div>
    </div>
</div>
