<div class="lang__list">
	<a href="#" class="lang__item active">
		<img src="/img/lang/en.png" alt=""/>
		<span>English</span>
		<i class="icon-check"></i>
	</a>
	<a href="#" class="lang__item">
		<img src="/img/lang/de.png" alt=""/>
		<span>Deutsch</span>
		<i class="icon-check"></i>
	</a>
	<a href="#" class="lang__item">
		<img src="/img/lang/zh.png" alt=""/>
		<span>中文</span>
		<i class="icon-check"></i>
	</a>
</div>
