<div class="loader">
    <div class="loader__inner">
        {# <img src="../../img/logos/logo-mobile.svg" class="loader__logo" /> #}
        <img src="../../img/elements/loader.svg" class="loader__circle" />
    </div>
</div>