<!--
	КОМПОНЕНТ
	Логотип сайта в шапке
-->

<div class="logo">
	{% if clicable == true %}
	<a href="/">
	{% endif %}
		<img class="logo--full" src="../../img/logos/logo.png" alt="Logo">
		{% if clicable == true %}
	</a>
	{% endif %}
</div>
