<!--
	КОМПОНЕНТ
	Логотип сайта в шапке
-->

<div class="logo">
	{% if clicable == true %}
	<a href="/">
	{% endif %}
		<picture>
			<img src="../../img/logos/logo.png" alt="Logo">
		</picture>
	{% if clicable == true %}
	</a>
	{% endif %}
</div>
