<div class="container">
    <div class="reward">
        <div class="reward__title">
            <h2>VIP Reward Breakdown</h2>
        </div>
        <div class="reward__content">
            <div class="reward__row">
                <div class="reward__item-title"></div>
                {% set l = 8 %}
                {% for i in range(1, l) %}
                <div class="reward__item">
                    <div class="reward__heading">Bronze</div>
                </div>
                {% endfor %}
            </div>
            <div class="reward__row">
                <div class="reward__item-title"></div>
                {% set l = 8 %}
                {% for i in range(1, l) %}
                <div class="reward__item">10,000,000.00</div>
                {% endfor %}
            </div>
            {% for items in loyalty_table %}
            <div class="reward__row">
                <div class="reward__item-title">{{items.title}}</div>
                {% set l = 8 %}
                {% for i in range(1, l) %}
                <div class="reward__item">
                    {% if i == 1 %}
                    <i class="icon-star-reward"></i>
                    {% else %}
                    -
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>