{% set available = ['fb', 'google', 'telegram', 'instagram'] %}

<div class="container">
    <div class="main-banner">
        <picture>
            <source srcset="../../img/components/main-banner/main-banner-320.png" media="(min-width: 0px) and (max-width: 320px)">
            <source srcset="../../img/components/main-banner/main-banner-320.webp" media="(min-width: 0px) and (max-width: 320px)" type="image/webp">
            <source srcset="../../img/components/main-banner/main-banner-768.png" media="(min-width: 321px) and (max-width: 769px)">
            <source srcset="../../img/components/main-banner/main-banner-768.webp" media="(min-width: 321px) and (max-width: 769px)" type="image/webp">
            <source srcset="../../img/components/main-banner/main-banner-1280.png" media="(min-width: 769px) and (max-width: 1280px)">
            <source srcset="../../img/components/main-banner/main-banner-1280.webp" media="(min-width: 769px) and (max-width: 1280px)" type="image/webp">
            <source srcset="../../img/components/main-banner/main-banner-1920.webp" type="image/webp">
            <img src="../../img/components/main-banner/main-banner-1920.png" class="main-banner__img" alt="main-banner"/>
        </picture>
        <div class="main-banner__content">
            <h1 class="conatainer__title container__title--l main-banner__title">Enjoy our casino</h1>
            {{ fieldButton({
                tag: 'a',
                content: 'Register now',
                href: 'login.html',
                sizeClass: '1',
                typeClass: '1',
            }) }}
            <span class="main-banner__separator">or</span>
            {% include "@components/socials.twig" %}
        </div>
    </div>
</div>
