<div class="messages-grid">
	{% set k = 8 %}
	{% for i in range(1, k) %}
		<div class="messages-item new">
			<div class="messages-item__header">
				<div class="messages-item__date">
					<span>21.09.2021</span>
					<span>|</span>
					<span>19:27</span>
				</div>
				<div class="messages-item__status">
					<span>New</span>
				</div>
				<a href="#" class="read-more__link">
					<i class="icon-arrow-link"></i>
				</a>
			</div>
			<div class="messages-item__content">
				<div class="messages-item__description">
					<h3 class="messages-item__title">Have a nice Christmas and Happy New Year and something nice for you</h3>
					<p>The player must wager the bonus amount 40 (forty) times to withdraw the winnings. The bonus amount will then be transferred from...</p>
				</div>
				{{ fieldButton({
                    tag: 'a',
                    content: 'learn more',
                    href: '/html/pages/messages-info.html',
                    sizeClass: '1',
                    typeClass: '2'
                } ) }}
			</div>
		</div>
	{% endfor %}
</div>
