<div class="news-grid">
    {% set k = 6 %}
    {% for i in range(1, k) %}
        <div class="news-item">
            {% if loop.index != 7 %}
                <img src="../../img/backgrounds/background-game-{{ random(1..6) }}.jpg" alt="" class="news-item__img">
            {% endif %}
            <div class="news-item__content">
                <div class="news-item__date"><span>21.09.2021</span><span>|</span><span>19:27</span></div>
                <h3 class="news-item__title">Meet our new games and join our community</h3>
                <p class="news-item__description">Experience the excitement of playing online slot machines from the comfort of your own home. With our new ca...</p>
                <a href="#" class="read-more__link">Learn more<i class="icon-arrow"></i></a>
            </div>
        </div>
    {% endfor %}
</div>