<div class="pagination">
    <ul class="pagination__list">
        <li class="pagination__item pagination__item--active"><a href="javascript:void(0)">1</a></li>
        <li class="pagination__item "><a href="javascript:void(0)">2</a></li>
        <li class="pagination__item"><a href="javascript:void(0)">3</a></li>
        <span>...</span>
        <li class="pagination__item"><a href="javascript:void(0)">209</a></li>
    </ul>
</div>