<div class="payments-grid">
    {% set k = 6 %}
    {% for i in range(1, k) %}
        <div class="payments-item">
            {% if loop.index != 7 %}
                <img src="../../img/payments/{{ random(2..5) }}.svg" alt="" class="payments-item__img">
            {% endif %}
            <div class="payments-item__content">
                <div class="payments-item__description">
                    <h3 class="payments-item__title">Visa</h3>
                    <p>Please note using this payment methods the transactions may take from 2 to 4 calendar days. The comission is 0,03% per transaction.</p>
                </div>
                {{ fieldButton({
                    tag: 'a',
                    content: 'Withdraw',
                    href: '',
                    sizeClass: '1',
                    typeClass: '1'
                } ) }}
            </div>
        </div>
    {% endfor %}
</div>