<div class="container payments">
    <div class="providers__header">
        <h2 class="providers__title">Payment
            <span class="providers__title-hidden-word">methods</span>
        </h2>
        <div class="swiper-buttons">
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
    <div class="providers__list swiper-container" data-payments-swiper>
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            {% for i in range(1, 10) %}
            <div class="providers__list-item swiper-slide">
                <a href="" class="providers__list-link">
                    <img src="../../img/payments/1.svg" alt="providers">
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>