<div class="container providers">
	<div class="providers__header">
		<h2 class="providers__title">Providers</h2>
		<div class="swiper-buttons">
			<div class="swiper-button-prev"></div>
			<div class="swiper-button-next"></div>
		</div>
	</div>
	<div class="providers__list swiper-container" data-providers-swiper>
		<div class="swiper-wrapper">
			{% for i in range(1, 20) %}
				<a href="" class="providers__list-item swiper-slide">
					<img src="../../img/backgrounds/placeholder7.webp" alt="providers">
				</a>
			{% endfor %}

		</div>
	</div>
</div>
