{% from "@components/quest.twig" import quest %}

<div class="container">
    <div class="quests-main">
        <div class="section__header">
            <h2 class="section__title quests-main__title">
                Quests
                <i data-tooltip data-tooltip-placement-768="top-start" data-tooltip-placement-1280="left" class="icon-question quests-main__icon">
                    <span class="tooltip-text">Complete the quest before the timer expires to get your reward! After its successful completion, click on the gift to claim the prize! Some quests may be awarded automatically upon completion of the quest.</span>
                </i>
            </h2>
            {{ fieldButton({
                tag: 'a',
                content: 'View all',
                href: '',
                typeClass: '2'
            } ) }}
        </div>
        <div class="quests-main__list">
            {{ quest({
                isDone: 'true',
                isGlowing: 'true',
                isGiftButton: 'true',
                progressPercent: '100',
            }) }}
            {{ quest({
                isDone: 'true',
                isShowPrizeButton: 'true',
                progressPercent: '100',
            }) }}
            {{ quest({
                progressPercent: '30',
            }) }}
            {{ quest({
                isBlocked: 'true',
                progressPercent: '30',
                isDefaultImage: 'false'
            }) }}
        </div>
    </div>
</div>
