{% from "master::macroses.twig" import fieldButton %}

{%- macro quest(options) -%}
	{% set isDone = options.isDone %}
	{% set isBlocked = options.isBlocked %}
	{% set isShowPrizeButton = options.isShowPrizeButton %}
	{% set progressPercent = options.progressPercent %}
	{% set isGlowing = options.isGlowing %}
	{% set isGiftButton = options.isGiftButton %}

	{% set doneClass = '' %}
	{% set blockedClass = '' %}
	{% set glowingClass = '' %}

	{% if isDone == "true" %}
		{% set doneClass = 'quest--done' %}
	{% endif %}

	{% if isBlocked == "true" %}
		{% set blockedClass = 'quest--blocked' %}
	{% endif %}

	{% if isGlowing == "true" %}
		{% set glowingClass = 'quest--glowing' %}
	{% endif %}

	<div class="quest {{ blockedClass }} {{ glowingClass }}">
		<div class="quest__img">
			{% if isDone == "true" %}
				<div class="quest-label">DONE</div>
			{% else %}
				{% include '@components/counter.twig' %}
			{% endif %}
			{% if options.isDefaultImage %}
				<img src="../../img/components/quest/placeholder.svg" alt="" class="quest__img--default">
			{% else %}
				<img src="../../img/components/bonuses/bonus.png" alt="">
			{% endif %}
			{% if isBlocked == "true" %}
				{{ fieldButton({
                    tag: 'a',
                    content: 'Required Experience level 105',
                    href: '#',
                    sizeClass: '1',
                    typeClass: '1',
                    customClass: 'quest__button-lock',
                    iconClass: 'icon-lock',
                    hasSkew: ''
                }) }}
			{% endif %}
		</div>
		<div class="quest-prize">
			<i class="icon-prize"></i>
			<span class="quest-prize__word">Prize:</span>
			200 USD&nbsp;
			<span class="quest-prize__hint">(0.000035 BTC)</span>
		</div>
		<div class="quest__description">
			<div class="quest__title">Play 100 Spins on Diamond Strike</div>
			<div class="quest__subtitle">
				Experience the excitement of playing online slot machines from the comfort of your own home
			</div>
			<div class="quest__footer">
				{% if isShowPrizeButton == "true" %}
					{{ fieldButton({
                        tag: 'a',
                        href: '#',
                        content: 'show prize',
                        iconClass: 'icon-prize',
                        sizeClass: '2',
                        typeClass: '1',
                        customClass: 'quest__button-show-prize'
                    } ) }}
				{% else %}
					<div class="quest-progress">
						<span class="quest-progress__text">progress</span>
						<span class="quest-progress__counter">{{ progressPercent }}/100</span>
						<span class="quest-progress__bar">
							<span class="quest-progress__bar-indicator" style="width: {{ progressPercent }}%;"></span>
						</span>
					</div>
					{% if isGiftButton == 'true' %}
						{{ fieldButton({
    						tag: 'a',
							href: '#',
							sizeClass: '1',
							typeClass: '1',
							iconClass: 'icon-prize-animated',
							customClass: 'quest__button-prize',
							hasSkew: ''
						} ) }}
					{% endif %}
				{% endif %}
			</div>
		</div>
	</div>
{% endmacro %}
