<div class="registration-bonuses-wrapper">
    <h3 class="form__section--title">Redeem Bonus</h3>
    <div data-bonuses data-default-currency="{{ defaultCurrency }}">
        <div class="registration-bonuses">
            <input class="registration-bonuses__hidden-input" name="reg-bonus" type="radio" id="bonuses-1" checked>
            <label class="registration-bonuses__label" for="bonuses-1"><span class="label__bg">10 free spins for 1000 dollars deposit amount</span></label>
            <div class="registration-bonuses__content">
                <div class="registration-bonuses__row">Min deposit: <span class="bold-text">200 USDT</span></div>
                <div class="registration-bonuses__row">Wager: <span class="bold-text">х45</span></div>
                <div class="registration-bonuses__row">Upon cancellation, the bonus amount + deposit amount will be deducted from the account</div>
            </div>
        </div>
        <div class="registration-bonuses">
            <input class="registration-bonuses__hidden-input" name="reg-bonus" type="radio" id="bonuses-2">
            <label class="registration-bonuses__label" for="bonuses-2"><span class="label__bg">200% deposit bonus</span></label>
            <div class="registration-bonuses__content">
                <div class="registration-bonuses__row">Min deposit: <span class="bold-text">200 USDT</span></div>
                <div class="registration-bonuses__row">Wager: <span class="bold-text">х45</span></div>
            </div>
        </div>
    </div>
    <div class="registration-bonuses">
        <input class="registration-bonuses__hidden-input" name="reg-bonus" type="radio" id="bonuses-4">
        <label class="registration-bonuses__label" for="bonuses-4"><span class="label__bg">No bonus</span></label>
    </div>
</div>
