<!--

Компонент.
Форма поиска

-->


<div class="search__wrapper" data-search>
	<div class="search">
		<div class="icon-search"></div>
		<span class="search__placeholder">Search</span>
	</div>

</div>
