<div class="container">
    <div class="seo-block">
        <div class="seo-block__text">
            <h3 class="seo-block__title">Welcome to Our Casino!</h3>
            <div class="seo-block__description" data-accordion-content>
                <p>
                    Hello players! Welcome to Our Casino - the most exciting cryptocurrency casino online, where you will find everything from slots, table games, live games, and more! Here you can play safe and win big where we offer a stack of top bonuses in a stylish environment. Hello players! Welcome to Our Casino - the most exciting cryptocurrency casino online, where you will find everything from slots, table games, live games, and more! Here you can play safe and win big where we offer a stack of top bonuses in a stylish environment.
                </p>
                <p>
                    Choose from an array of the most popular cryptocurrencies to gamble with on every one of our fantastic casino games. Sign up to experience the finest crypto betting around, and very soon every other casino will fade into insignificance.
                </p>
                <p>
                    Choose from an array of the most popular cryptocurrencies to gamble with on every one of our fantastic casino games. Sign up to experience the finest crypto betting around, and very soon every other casino will fade into insignificance.
                </p>
                <p>
                    Choose from an array of the most popular cryptocurrencies to gamble with on every one of our fantastic casino games. Sign up to experience the finest crypto betting around, and very soon every other casino will fade into insignificance.
                </p>
                <p>
                    Choose from an array of the most popular cryptocurrencies to gamble with on every one of our fantastic casino games. Sign up to experience the finest crypto betting around, and very soon every other casino will fade into insignificance.
                </p>
            </div>
            <button class="button button--has-skew button--t2" data-accordion-opener><span>show more</span></button>
        </div>
    </div>
</div>
