<!--
Компонент.
Кнопки социальных сетей
-->


{% set socials = [
    {
        social: 'fb',
        icon: 'icon-facebook',
        class: ''
    },
    {
        social: 'google',
        icon: 'icon-google',
        class: ''
    },
    {
        social: 'instagram',
        icon: 'icon-instagram',
        class: ''
    },
    {
        social: 'twitter',
        icon: 'icon-twitter',
        class: ''
    },
    {
        social: 'telegram',
        icon: 'icon-telegram',
        class: ''
    },
     {
        social: 'metamask',
        icon: 'icon-metamask',
        class: 'active'
    },
        {
        social: 'shield',
        icon: 'icon-shield',
        class: ''
    },
    {
        social: 'apple',
        icon: 'icon-apple',
        class: ''
    }
] %}
{% if available %}
    <ul class="socials">
        {% for item in socials %}
            {% for items in available %}
                {% if available[loop.index0] == item.social %}
                    <li class="socials-item {{ item.class }}"><a class="socials-link" href="#"><i class="{{ item.icon }}"></i></a></li>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </ul>
{% endif %}
