<div class="container">
    <div class="tournaments">
        <div class="tournaments__header">
            <h3 class="tournaments__title">Tournaments</h3>
            <div class="swiper-buttons">
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
            {{ fieldButton({
            tag: 'a',
            content: 'VIEW ALL',
            href: '',
            sizeClass: '1',
            typeClass: '2'
            } ) }}
        </div>
        <div class="tournaments__list" data-tournaments-swiper>
            <div class="swiper-wrapper">
                {% set k = 7 %}
                {% for i in range(1, k) %}
                <div class="tournaments__list-item swiper-slide">
                    <div class="tournaments__list-background">
                        <div class="status status--success">Active</div>
                        {# status--success status--warning status--pending status--subscribed status--unsubscribed
                        status--expired #}
                        {% if i == 1 %}
                        <div class="tournaments__list-time">
                            ends in
                            <div id="counter" class="counter"></div>
                        </div>
                        {% endif %}
                        <img src="../../img/components/bonuses/bonuses.jpg" alt="" class="tournaments__list-img">
                    </div>

                    <div class="tournaments__list-title">Incredible tournament with a great prize for our winners</div>
                    <div class="tournaments__list-prize">
                        <i class="icon-prize"></i>
                        <span>2 550 000</span>
                        USD
                        <div class="tooltip-info">
                            <i class="icon-info"></i>
                            <div class="tooltip">
                                Guaranteed prize fund
                            </div>
                        </div>
                    </div>
                    <div class="tournaments__list-text">
                        Ancient Egypt fans can rattle! The Oracle prophesied about incredible and untold riches that
                        await all players this
                        week. Enjoy a stunning adventure by the waters of the sacred Nile to fabulous and mythical
                        Luxor!
                    </div>
                    {% set k = 4 %}
                    {% for i in range(1, k) %}
                    <div class="tournaments__list-place">
                        <span>{{ i }}</span>
                        <span>Nickname</span>
                        <span>200 589 points</span>
                    </div>
                    {% endfor %}
                    {{ fieldButton({
                    tag: 'a',
                    content: 'Learn more',
                    href: '',
                    sizeClass: '1',
                    typeClass: '1'
                    } ) }}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
