<!--

Компонент.
Блок с информацией пользователя в шапке залогиненного пользователя

-->

<div class="tournaments-header">
    <a href="" class="tournaments-header__title">
        <span>Incredible tournament with a great prize for our winners</span>
        <i class="icon-arrow"></i>
    </a>
    <div class="tournaments-header__content">
        <div class="tournaments-header__content-item">
            Place <span>329</span>/400
        </div>
        <div class="tournaments-header__content-item">
            Points <span>578</span> <div class="tournaments-header__buster"><i class="icon-fire"></i>X2</div>
        </div>
        <div class="tournaments-header__content-item">
            UPD: 11:45
        </div>
    </div>
</div>