<div class="tournaments__prizes" data-prizes-swiper>
    <div class="swiper-wrapper">
        {% set k = 7 %}
        {% for i in range(1, k) %}
            <div class="tournaments__prizes-item swiper-slide">
                {% if loop.index == 1 %}
                    <img class="tournaments__prizes-img" src="../../img/icons/gold.svg" alt="">
                {% elseif loop.index == 2 %}
                    <img class="tournaments__prizes-img" src="../../img/icons/silver.svg" alt="">
                {% elseif loop.index == 3 %}
                    <img class="tournaments__prizes-img" src="../../img/icons/bronze.svg" alt="">
                {% else %}
                    <img class="tournaments__prizes-img" src="../../img/icons/regular.svg" alt="">
                {% endif %}

                <div class="tournaments__prizes-content">
                    <div class="tournaments__prizes-title">
                        {{ i }}
                        place
                    </div>
                    <div class="tournaments__prizes-val">
                        <div class="USD active">
                            <span>2 111 000</span>USD</div>
                        <div class="EUR">
                            <span>2 111 000</span>EUR</div>
                        <div class="PERCENT">
                            <div class="prizes__percent">
                                <div class="prizes__percent-content">
                                    <span class="prizes__percent-val">50%</span>
                                    <span class="prizes__percent-descr">of prize fund*</span>
                                </div>
                                <span class="prizes__percent-note">
                                    *min 5000 USD
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
