<div class="tabs__wrapper">
    {%
        set statuses = {
        'active': 'Approved',
        'pending': 'pending',
        'rejected': 'Rejected',
        'processing': 'in progress'
    }
    %}
    {% set sum = ['0.000024','5.00','0.0000.10','127.00','87.00','12 427 815.00','2 115.00','5.00','75 996.00','889 127.00','895.00','0.70']	%}

    <div class="tabs__content active">
        <ul class="transactions-list">
            {% for items in range(0, 2) %}
                {% for class, label in statuses %}
                    {% set count = loop.index0 %}
                    <li class="transactions-item">
                        <div class="transactions-item__row"><span class="transactions-item__sum">{{ sum[count] }} btc</span><div class="tooltip-info"><i class="icon-info"></i><span class="tooltip">Deposit through the cashier of the casino</span></div> </div>
                        <div class="transactions-item__row"><span class="transactions-item__title">Status</span><span class="status status--{{ class }}">{{ label }}</span></div>
                        <div class="transactions-item__row"><span class="transactions-item__title">ID</span><span class="transactions-item__value">12312323534</span></div>
                        <div class="transactions-item__row"><span class="transactions-item__title">Date</span><div class="transactions-item__date"><span>21.09.2021</span><span>|</span><span>19:27</span></div></div>
                        {% if class == 'processing' %}
                            <div class="transactions-item__info">
                                <span>To complete this transaction you need to go to the payment system by the link which will appear here</span>
                                <button type="submit" class="button button--s2 button--t1"><span>ok</span></button>
                            </div>
                        {% endif %}
                    </li>
                {% endfor %}
            {% endfor %}
        </ul>
    </div>
    <div class="tabs__content">
        <ul class="transactions-list">
            {% for items in range(0, 2) %}
                {% for class, label in statuses %}
                    {% set count = loop.index0 + 2 %}
                    <li class="transactions-item">
                        <div class="transactions-item__row"><span class="transactions-item__sum">{{ sum[count] }} btc</span></div>
                        <div class="transactions-item__row"><span class="transactions-item__title">Status</span><span class="status status--{{ class }}">{{ label }}</span></div>
                        <div class="transactions-item__row"><span class="transactions-item__title">ID</span><span class="transactions-item__value">12312323534</span></div>
                        <div class="transactions-item__row"><span class="transactions-item__title">Date</span><div class="transactions-item__date"><span>21.09.2021</span><span>|</span><span>19:27</span></div></div>
                        {% if class == 'pending' %}
                            <div class="transactions-item__buttons">
                                <button type="submit" class="button button--s3 button--t2"><span>Cancel</span></button>
                            </div>
                        {% endif %}
                    </li>
                {% endfor %}
            {% endfor %}
        </ul>
    </div>
</div>
