<div class="user-loyalty">
    <div class="user-loyalty__block">
        <h3 class="user-loyalty__title">Loyalty level</h3>
        <span class="user-loyalty__value">16</span>
    </div>
    <div class="user-loyalty__block">
        <h3 class="user-loyalty__title">Loyalty points</h3>
        <span class="user-loyalty__value">456 224 <strong>/</strong><strong>500 000</strong></span>
    </div>
</div>