<!--

Компонент.
Блок с информацией пользователя в шапке залогиненного пользователя

-->

<div class="user-avatar">
	<a href="/html/pages/profile.html" class="user-avatar__img mobile">
		<img src="../../img/user/avatar-default.png" alt="">
	</a>
	<div class="user-avatar__wrapper" data-user-menu>
		<a href="/html/pages/profile.html" class="user-avatar__img">
			<img src="../../img/user/avatar-default.png" alt="">
		</a>
		<div class="user-name">
			<span>Michael_78649</span>
			<i class="icon-arrow-down"></i>
		</div>
	</div>
	{% include "@components/menu/user-menu.twig" %}

</div>
