<div class="container">
	<div class="winners">
		<div class="winners__header">
			<div class="winners__title">
				<h1>Recent winners</h1>
			</div>

			{{ fieldInput({
                type: 'select',
                id: 'tabs',
                value: [
                    { label: "All" },
                    { label: "High wins" },
                    { label: "Lucky wins" },
                    { label: "My bets"}
                ],
                customClass: 'select--tabs',
                customData: 'data-tabs data-tabs-save=winners data-tabs-transform=768'
            }) }}
		</div>

		<div class="tabs__wrapper">
			<div class="tabs__content active">
				<div class="winners-table">
					<div class="winners-table__header">
						<div class="winners-table__header-value">User</div>
						<div class="winners-table__header-value">Game</div>
						<div class="winners-table__header-value">Time</div>
						<div class="winners-table__header-value">Bet amount</div>
						<div class="winners-table__header-value">Mult</div>
						<div class="winners-table__header-value">Win amount</div>
					</div>
					{% set k = 10 %}
					{% for i in range(1, k) %}
						<div class="winners-table__row">
							<div class="winners-table__row-value">Ja*****</div>
							<a href="#" class="winners-table__row-value winners-table__row-value--link">Rocket Reels</a>
							<div class="winners-table__row-value">15:45</div>
							<div class="winners-table__row-value winners-table__row-value--amount">240<span>BTC</span>
							</div>
							<div class="winners-table__row-value">0.00x</div>
							<div class="winners-table__row-value winners-table__row-value--amount">240<span>BTC</span>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
			<div class="tabs__content">
				<div class="winners-table">
					<div class="winners-table__header">
						<div class="winners-table__header-value">User</div>
						<div class="winners-table__header-value">Game</div>
						<div class="winners-table__header-value">Time</div>
						<div class="winners-table__header-value">Bet amount</div>
						<div class="winners-table__header-value">Mult</div>
						<div class="winners-table__header-value">Win amount</div>
					</div>
					{% set k = 10 %}
					{% for i in range(1, k) %}
						<div class="winners-table__row">
							<div class="winners-table__row-value">Ja*****</div>
							<a href="#" class="winners-table__row-value winners-table__row-value--link">Rocket Reels</a>
							<div class="winners-table__row-value">15:47</div>
							<div class="winners-table__row-value winners-table__row-value--amount">240<span>BTC</span>
							</div>
							<div class="winners-table__row-value">0.00x</div>
							<div class="winners-table__row-value winners-table__row-value--amount">240<span>BTC</span>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
			<div class="tabs__content">
				<div class="winners-table">
					<div class="winners-table__header">
						<div class="winners-table__header-value">User</div>
						<div class="winners-table__header-value">Game</div>
						<div class="winners-table__header-value">Time</div>
						<div class="winners-table__header-value">Bet amount</div>
						<div class="winners-table__header-value">Mult</div>
						<div class="winners-table__header-value">Win amount</div>
					</div>
					{% set k = 10 %}
					{% for i in range(1, k) %}
						<div class="winners-table__row">
							<div class="winners-table__row-value">Ja*****</div>
							<a href="#" class="winners-table__row-value winners-table__row-value--link">Rocket Reels</a>
							<div class="winners-table__row-value">15:42</div>
							<div class="winners-table__row-value winners-table__row-value--amount">240<span>BTC</span>
							</div>
							<div class="winners-table__row-value">0.00x</div>
							<div class="winners-table__row-value winners-table__row-value--amount">240<span>BTC</span>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
			<div class="tabs__content">
				<div class="winners-table">
					<div class="winners-table__header">
						<div class="winners-table__header-value">User</div>
						<div class="winners-table__header-value">Game</div>
						<div class="winners-table__header-value">Time</div>
						<div class="winners-table__header-value">Bet amount</div>
						<div class="winners-table__header-value">Mult</div>
						<div class="winners-table__header-value">Win amount</div>
					</div>
					<div class="winners__table-content">
						<h3 class="winners__table-subtitle">no bets</h3>
						<p class="winners__table-description">Its seems you haven’t placed your bets yet</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
