<meta charset="utf-8">
<title>Boilerplate</title>
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=2">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&family=Ubuntu:ital,wght@0,400;0,500;0,700;1,400&display=swap"
    rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script>
    window.jQuery || document.write('<script src="../js/jquery.js"><\/script>')
</script>

<noscript>
    <style>
        body {
            width: 100vw !important;
            height: 100vh !important;
            overflow: hidden !important;
        }
        .noscript {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 11111111;

            display: flex;
            align-items: center;
            justify-content: center;

            color: #fff;

            background: #000;
        }
    </style>

    <div class="noscript">
        У вас отключен JS, функционирование сайта невозможно.
    </div>
</noscript>

