{% extends "../master/modals.twig" %}
{% block content %}
    <div class="modal__content">
        <h3 class="modal__title">Please, fill additional data</h3>
        {{ fieldInput({
            type: 'text',
            placeholder: 'First name'
        }) }}
        {{ fieldInput({
            type: 'text',
            placeholder: 'Middle name'
        }) }}
        {{ fieldInput({
            type: 'text',
            placeholder: 'Last name'
        }) }}
        {{ fieldInput({
            type: 'text',
            placeholder: 'Email',
            status: 'error',
            notification: 'Incorrect email'
        }) }}
        {{ fieldInput({
            type: 'tel',
            placeholder: 'Phone'
        }) }}
        {{ fieldInput({
            type: 'checkbox',
            id: 'agree',
            label: 'I unconditionally agree to<a href="terms.html">Terms & Conditions, Data Policy, Cookies Policy</a>and I am over 18 years old',
            notification: 'Необходимо заполнить поле'
        }) }}
        <div class="modal__buttons">
            {{ fieldButton({
                tag: 'a',
                content: 'log out',
                href: '#',
                sizeClass: '1',
                typeClass: '2'
            } ) }}
            {{ fieldButton({
                tag: 'a',
                content: 'save',
                href: '#',
                sizeClass: '1',
                typeClass: '1',
                customClass: 'disabled'
            } ) }}
        </div>
    </div>
{% endblock %}
