{% extends "../master/modals.twig" %}
{% block content %}
    <div class="modal__content">
        <h3 class="modal__title">Get bonus</h3>
        <div class="modal__description">
            <p>Mighty super bonus</p>
        </div>
        <ul class="modal__list">
            <li class="modal__list-item">
                <span class="modal__list-prop">Amount</span>
                <span class="modal__list-val">
                    11 000 USD
                    <span class="modal__list-converted-value">1.4343141</span>
                </span>
            </li>
            <li class="modal__list-item">
                <span class="modal__list-prop">Wager</span>
                <span class="modal__list-val">10</span>
            </li>
            <li class="modal__list-item">
                <span class="modal__list-prop">Game</span>
                <span class="modal__list-val modal__list-val--red">Game name</span>
            </li>
        </ul>
        <div class="modal__description">
            <p>Upon cancellation, penalties will be hold from the account. Are you sure you want to proceed?</p>
        </div>
        <div class="modal__buttons">
            {{ fieldButton({
                tag: 'a',
                content: 'Default',
                href: '#',
                sizeClass: '1',
                typeClass: '2'
            } ) }}
            {{ fieldButton({
                tag: 'a',
                content: 'Default',
                href: '#',
                sizeClass: '1',
                typeClass: '1'
            } ) }}
        </div>
    </div>
{% endblock %}
