{% extends "../master/modals.twig" %}
{% block content %}
<div class="modal__content">
    <h3 class="modal__title">It's BoosterWins</h3>
	<ul class="modal__list modal__list--wins">
		<li class="modal__list-item">
			<span class="modal__list-prop">20:10</span>
			<span class="modal__list-val">5000</span>
			<a href="#" class="icon-send"></a>
		</li>
		<li class="modal__list-item">
			<span class="modal__list-prop">06:10</span>
			<span class="modal__list-val">1000 BTC</span>
			<a href="#" class="icon-send"></a>
		</li>
		<li class="modal__list-item">
			<span class="modal__list-prop">10:10</span>
			<span class="modal__list-val">500</span>
			<a href="#" class="icon-send"></a>
		</li>
	</ul>
</div>
{% endblock %}