{% extends "../master/modals.twig" %}
{% block content %}
    <div class="modal__content">
        <h3 class="modal__title">Cash withdrawal</h3>
        <div class="modal__description">
            <p>Are you sure you want to withdraw 3 456 USD?</p>
        </div>
        <div class="modal__message">
            <i class="icon-warning icon--yellow"></i>
            To complete the transaction please go to your Transaction list and tap the GO button.
        </div>
        <div class="modal__buttons">
            {{ fieldButton({
                tag: 'a',
                content: 'cancel',
                href: '#',
                sizeClass: '1',
                typeClass: '2'
            } ) }}
            {{ fieldButton({
                tag: 'a',
                content: 'withdraw',
                href: '#',
                sizeClass: '1',
                typeClass: '1'
            } ) }}
        </div>
    </div>
{% endblock %}
