{% extends "../master/modals.twig" %}
{% block content %}
    <div class="modal__content">
        <h3 class="modal__title">Cash withdrawal</h3>
        <div class="modal__description">
            <p>Are you sure you want to withdraw 3 456 USD?</p>
        </div>
        <div class="modal__message">
            <i class="icon-warning icon--yellow"></i>
            To make a withdrawal please complete your wager
        </div>
        <div class="modal__buttons">
            {{ fieldButton({
                tag: 'a',
                content: 'got it',
                href: '#',
                sizeClass: '1',
                typeClass: '1'
            } ) }}
        </div>
    </div>
{% endblock %}
