{% extends "../master/modals.twig" %}
{% block content %}
    <div class="modal__content">
        <h3 class="modal__title">Cash withdrawal</h3>
        {{ fieldInput({
            type: 'select',
            id: 'timezone',
            label: 'Currency',
            value: [
            { label: "USD" },
            { label: "EUR" },
            { label: "UAH" }
            ],
            notification: 'Заполнено верно',
            customData: 'data-select-menu'
        }) }}
        {{ fieldInput({
            type: 'text',
            label: 'Amount',
            value: '',
            placeholder: 'Enter the amount'
        }) }}
        <div class="modal__buttons">
            {{ fieldButton({
                tag: 'a',
                content: 'cancel',
                href: '#',
                sizeClass: '1',
                typeClass: '2'
            } ) }}
            {{ fieldButton({
                tag: 'a',
                content: 'Withdraw',
                href: '#',
                sizeClass: '1',
                typeClass: '1',
                customClass: 'disabled'
            } ) }}
        </div>
    </div>
{% endblock %}
