{% extends "../master/modals.twig" %}
{% block content %}
    <div class="modal__content">
        <h3 class="modal__title"></h3>
        {{ fieldInput({
            type: 'text',
            label: 'Amount',
            value: '',
            customClass: 'form__input--descriped',
            placeholder: 'Enter the amount'
        }) }}
        <span class="modal__input-description">
            Amount after tax: 90
            <br/>
            Tax: 10.00 %
        </span>
        {{ fieldInput({
            type: 'text',
            label: 'account number',
            value: '',
            placeholder: 'Enter the account number'
        }) }}
        {{ fieldInput({
            type: 'text',
            label: 'account name',
            value: '',
            placeholder: 'Enter the account name'
        }) }}
        <div class="modal__buttons">
            {{ fieldButton({
                tag: 'a',
                content: 'default',
                href: '#',
                sizeClass: '1',
                typeClass: '2'
            } ) }}
            {{ fieldButton({
                tag: 'a',
                content: 'Withdraw',
                href: '#',
                sizeClass: '1',
                typeClass: '1'
            } ) }}
        </div>
    </div>
{% endblock %}
