{% extends "../master/modals.twig" %}
{% block content %}
    <div class="modal__content">
        <h3 class="modal__title">Check your extensions</h3>
        <div class="modal__message">
            <i class="icon-warning"></i>
            In case of opening an incorrect extension - check which DeFi wallet is set as default in your browser.
        </div>
        <div class="modal__buttons modal__buttons--large">
            <a href="#" class="button button--s2 button--t2">
                <img src="../../img/icons/trustwallet.svg" alt="">
                <span>Trustwallet</span>
            </a>
        </div>
    </div>
{% endblock %}
