{% extends "../master/modals.twig" %}
{% block content %}
    <div class="modal__content">
        <h3 class="modal__title">Phone/Email confirmation</h3>
        <div class="modal__description">
            <p>Please enter the SMS code to complete the registration and get the access to your personal account.</p>
        </div>
        {{ fieldInput({
            type: 'text',
            label: 'SMS code/Email code',
            id: 'bonus-code',
            value: '',
            placeholder: 'Code',
            status: 'error',
            notification: 'Invalid code'
        })}}
        <div class="modal__buttons">
            {{ fieldButton({
                tag: 'a',
                content: 'Resend code',
                href: '#',
                sizeClass: '1',
                typeClass: '2',
                customClass: 'disabled'
            }) }}
            {{ fieldButton({
                tag: 'a',
                content: 'Confirm',
                href: '#',
                sizeClass: '1',
                typeClass: '1',
            }) }}
        </div>
    </div>
{% endblock %}
