<div class="sidebar-external mfp-hide" id="Deposit">
    <div class="sidebar-external__header">
        <h2 class="sidebar-external__title">Deposit / Cash withdrawal</h2>
    </div>
    <div class="sidebar-external__content">
        {{ fieldInput({
        type: 'select',
        id: 'timezone',
        label: 'Currency',
        value: [
        { label: "USD" },
        { label: "EUR" },
        { label: "UAH" }
        ],
        notification: 'Заполнено верно',
        customData: 'data-select-menu'
        }) }}
        {{ fieldInput({
        type: 'select',
        id: 'timezone',
        label: 'Payment method',
        value: [
        { label: "Easy-pay" },
        { label: "Easy-pay" },
        { label: "Easy-pay" }
        ],
        notification: 'Заполнено верно',
        customData: 'data-select-menu'
        }) }}
        {{ fieldInput({
        type: 'text',
        label: 'Amount',
        value: '',
        placeholder: '0.0',
        status: 'notification',
        notification: 'Min: 0.01 ETH / Max: 100 000 ETH (without network fees)'
        }) }}
        {{ fieldInput({
        type: 'text',
        label: 'Dynamic field',
        value: '',
        placeholder: 'Enter the amount'
        }) }}
        <div class="modal__buttons">
            {{ fieldButton({
            tag: 'a',
            content: 'cancel',
            href: '#',
            sizeClass: '1',
            typeClass: '2'
            } ) }}
            {{ fieldButton({
            tag: 'a',
            content: 'Deposit',
            href: '#',
            sizeClass: '1',
            typeClass: '1'
            } ) }}
        </div>
    </div>
</div>