<div class="sidebar-external mfp-hide" id="DepositWalletConnect">
    <div class="sidebar-external__header">
        <h2 class="sidebar-external__title">Deposit</h2>
    </div>
    <div class="sidebar-external__content">
        <div class="form-crypto">
            {{ fieldButton({
            tag: 'a',
            sizeClass: '1',
            typeClass: '3',
            href: '/html/pages/profile.html',
            content: 'back',
            iconClass: 'icon-pointer-left'
            }) }}
            <img src="../../img/icons/walletconnect.png" alt="" class="form-crypto__img">
        </div>

    </div>