<div class="sidebar-external mfp-hide" id="DepositPaybill">
    <div class="sidebar-external__header">
        <h2 class="sidebar-external__title">Deposit</h2>
    </div>
    <div class="sidebar-external__content">
        {{ fieldInput({
        type: 'select',
        id: 'timezone',
        label: 'Currency',
        value: [
        { label: "KES" },
        { label: "EUR" },
        { label: "UAH" }
        ],
        notification: 'Заполнено верно',
        customData: 'data-select-menu'
        }) }}
        {{ fieldInput({
        type: 'select',
        id: 'timezone',
        label: 'Payment method',
        value: [
        { label: "Paybill" },
        { label: "Easy-pay" },
        { label: "Easy-pay" }
        ],
        notification: 'Заполнено верно',
        customData: 'data-select-menu'
        }) }}
        <div class="form__input-wrapper">
            {{ fieldInput({
            type: 'text',
            label: 'Paybill',
            value: '789879852',
            placeholder: 'Paybill'
            }) }}
            {{ fieldButton({
            tag: 'a',
            content: 'copy',
            href: '#',
            sizeClass: '1',
            typeClass: '1'
            } ) }}
        </div>
        <div class="form-crypto">
            <div class="form-crypto__title">Or withdrawal via extension</div>
            <a href="" class="form-crypto__link"><img src="../../img/icons/metamask.svg" alt="">Metamask</a>
            <a href="" class="form-crypto__link"><img src="../../img/icons/trustwallet.svg" alt="">Trustwallet</a>
            <a href="" class="form-crypto__link"><img src="../../img/icons/walletconnect.svg" alt="">WalletConnect</a>
            <div class="form-message">
                <i class="icon-warning"></i>
                Min: 0.01 ETH / Max: 100 000 ETH (without network fees)
            </div>
        </div>
        <div class="modal__buttons">
            {{ fieldButton({
            tag: 'a',
            content: 'cancel',
            href: '#',
            sizeClass: '1',
            typeClass: '2'
            } ) }}
        </div>
    </div>
</div>