<div class="sidebar-external mfp-hide" id="DepositCrypto">
    <div class="sidebar-external__header">
        <h2 class="sidebar-external__title">Deposit</h2>
    </div>
    <div class="sidebar-external__content">
        {{ fieldInput({
        type: 'select',
        id: 'timezone',
        label: 'Currency',
        value: [
        { label: "USDT (TRC-20)" },
        { label: "USDT (TRC-20)" },
        { label: "USDT (TRC-20)" }
        ],
        notification: 'Заполнено верно',
        customData: 'data-select-menu'
        }) }}
        {{ fieldInput({
        type: 'select',
        id: 'timezone',
        label: 'Payment method',
        value: [
        { label: "Easy-pay" },
        { label: "Easy-pay" },
        { label: "Easy-pay" }
        ],
        notification: 'Заполнено верно',
        customData: 'data-select-menu',
        customClass: 'notification'
        }) }}
        <div class="form-crypto">
            <div class="form-crypto__content">
                <div class="form-crypto__address">
                    <div class="form-crypto__title">Сopy crypto-currency wallet hash address</div>
                    <div class="form-crypto__hash">
                        <span>sdf56GhdNMCtysdhvfjl4sdf56GhdNMCtysdhvfjl4hdNMCtysdhvfjl4</span>
                        {{ fieldButton({
                        tag: 'a',
                        content: 'Copy address',
                        href: '#',
                        sizeClass: '4',
                        typeClass: '1'
                        } ) }}
                    </div>
                </div>
                <div class="form-crypto__qr">
                    <div class="form-crypto__title">Or scan </div>
                    <img src="../../img/elements/qr-code.svg" alt="" class="form-crypto__qr-img">
                </div>
            </div>
            <div class="form-message">
                <i class="icon-warning"></i>
                Do not deposit currency in any other network than USDT (TRC-20)
            </div>
            <div class="form-message">
                <i class="icon-warning"></i>
                Do not deposit currency in any other network than USDT (TRC-20)
            </div>
        </div>
        <div class="modal__buttons">
            {{ fieldButton({
            tag: 'a',
            content: 'cancel',
            href: '#',
            sizeClass: '1',
            typeClass: '2'
            } ) }}
        </div>
    </div>
</div>