{% extends "../master/modals.twig" %}
{% block content %}
    <div class="modal__content">
        <h3 class="modal__title">Deposit</h3>
        <img src="../../img/elements/qr.png" alt="" class="modal__qr">
        <ul class="modal__list">
            <li class="modal__list-item">
                <span class="modal__list-prop">Currency</span>
                <span class="modal__list-val">BTC</span>
            </li>
        </ul>
        {{ fieldInput({
            type: 'text',
            label: 'Сrypto-currency wallet hash address',
            placeholder: 'sdf56GhdNMCtysdhvfjl4'
        }) }}
        <div class="modal__buttons">
            {{ fieldButton({
                tag: 'a',
                content: 'cancel',
                href: '#',
                sizeClass: '1',
                typeClass: '2'
            } ) }}
            {{ fieldButton({
                tag: 'a',
                content: 'copy',
                href: '#',
                sizeClass: '1',
                typeClass: '1'
            } ) }}
        </div>
    </div>
{% endblock %}
