{% extends "../master/modals.twig" %}
{% block content %}
    <div class="modal__content">
        <h3 class="modal__title">Deposit</h3>
        <img src="../../img/elements/qr.png" alt="" class="modal__qr">
        <ul class="modal__list">
            <li class="modal__list-item">
                <span class="modal__list-prop">Currency</span>
                <span class="modal__list-val">BTC</span>
            </li>
        </ul>
        <div class="modal__input-icon">
            {{ fieldInput({
                type: 'text',
                label: 'Сrypto-currency wallet hash address',
                value: 'sdf56GhdNMCtysdhvfjl4',
                placeholder: 'Code'
            }) }}
            <i class="icon-copy"></i>
        </div>

        <div class="modal__buttons modal__buttons--large">
            <a href="javascript:void(0)" class="button button--s2 button--t2">
                <img src="../../img/icons/metamask.svg" alt="">
                <span>Metamask</span>
            </a>
            <a href="javascript:void(0)" class="button button--s2 button--t2">
                <img src="../../img/icons/trustwallet.svg" alt="">
                <span>Trustwallet</span>
            </a>
        </div>
    </div>
{% endblock %}
