{% extends "../master/modals.twig" %}
{% block content %}
    <div class="modal__content">
        <h3 class="modal__title">Deposit</h3>
        {{ fieldInput({
            type: 'text',
            label: 'Amount',
            value: '',
            placeholder: 'Enter the amount'
        }) }}
        {{ fieldInput({
            type: 'text',
            label: 'Account ID',
            value: '',
            placeholder: 'Enter the account ID'
        }) }}
        {{ fieldInput({
            type: 'email',
            label: 'Email',
            value: '',
            placeholder: 'Enter your email'
        }) }}
        {{ fieldInput({
            type: 'checkbox',
            id: 'save-info',
            label: 'Save this information for next payments',
        }) }}
        {% include '@components/registration-bonuses.twig' %}
        <div class="modal__buttons">
            {{ fieldButton({
                tag: 'a',
                content: 'Cancel',
                href: '#',
                sizeClass: '1',
                typeClass: '2'
            } ) }}
            {{ fieldButton({
                tag: 'a',
                content: 'Deposit',
                href: '#',
                sizeClass: '1',
                typeClass: '1',
                disabled: 'disabled',
            } ) }}
        </div>
    </div>
{% endblock %}
