{% extends "../master/modals.twig" %}
{% block content %}
    <div class="modal__content">
        <h3 class="modal__title">Deposit with MetaMask</h3>
        {{ fieldInput({
    type: 'text',
    label: 'Amount',
    value: '',
    placeholder: 'Enter the amount',
    status: 'error',
    notification: 'Please enter the amount'
    }) }}
        <div class="modal__buttons">
            {{ fieldButton({
        tag: 'a',
        content: 'cancel',
        href: '#',
        sizeClass: '1',
        typeClass: '2'
        } ) }}
            {{ fieldButton({
        tag: 'a',
        content: 'Deposit',
        href: '#',
        sizeClass: '1',
        typeClass: '1',
        disabled: 'disabled'
        } ) }}
        </div>
    </div>
{% endblock %}
