{% extends "../master/modals.twig" %}
{% block content %}
<div class="modal__content modal__content--center">
    <img src="../../img/icons/error.svg" alt="" class="modal__img">
    <h3 class="modal__title">Error</h3>
    <div class="modal__description">
        <p>Description of error here</p>
    </div>
    <div class="modal__buttons">
        {{ fieldButton({
        tag: 'a',
        content: 'Got it',
        href: '#',
        sizeClass: '4',
        typeClass: '1'
        } ) }}
    </div>
</div>
{% endblock %}