{% extends "../master/modals.twig" %}
{% block content %}
	<div class="modal__content">
		<h3 class="modal__title">View/Game in Fiat</h3>
		<div class="modal__description">
			<p>Please select a fiat currency</p>
		</div>
		<div class="modal__radio">
			{% set k = 24 %}
			{% for i in range(1, k) %}
				{{ fieldInput({
        type: 'radio',
        id: '{{ i }}',
        label: "USD",
        value: ''
        }) }}
			{% endfor %}
		</div>
		<div class="modal__buttons">
			{{ fieldButton({
        tag: 'a',
        content: 'cancel',
        href: '#',
        sizeClass: '1',
        typeClass: '2'
        } ) }}
			{{ fieldButton({
        tag: 'a',
        content: 'confirm',
        href: '#',
        sizeClass: '1',
        typeClass: '1'
        } ) }}
		</div>
	</div>
{% endblock %}
