{% extends "../master/modals.twig" %}
{% block content %}
<div class="modal__content">
    <h3 class="modal__title">Improrer file</h3>
    <div class="modal__description">
        <p>The file size shall be up to 2 Mb, at least 200 x 200 px</p>
    </div>
    <div class="modal__buttons">
        {{ fieldButton({
        tag: 'a',
        content: 'cancel',
        href: '#',
        sizeClass: '1',
        typeClass: '2'
        } ) }}
        {{ fieldButton({
        tag: 'a',
        content: 'Upload',
        href: '#',
        sizeClass: '1',
        typeClass: '1'
        } ) }}
    </div>
</div>
{% endblock %}