{% extends "../master/modals.twig" %}
{% block content %}
<div class="modal__content">
    <div class="loader-static">
        <img src="../../img/elements/loader.svg"/>
    </div>
</div>
{% endblock %}