{% extends "../master/modals.twig" %}
{% block content %}
    <div class="modal__content authorization-modal">
        <div class="authorization-modal__banner">
            <p class="modal__banner-text">Start Your Journey, Login or sign up</p>
            <picture>
                <source srcset="../../img/banner/authorization-desktop.webp" media="(min-width: 768px)"/>
                <img class="modal__banner" src="../../img/banner/authorization-mobile.webp" alt="">
            </picture>
        </div>
        <div class="authorization-modal__content">
            <h3 class="modal__title">Log in or sign up</h3>
            <div class="tab" data-tab-id="userAuthTabs">
                <ul class="tabs">
                    <li data-switch-name="login">
                        <span>Login</span>
                    </li>
                    <li data-switch-name="signup">
                        <span>Sign up</span>
                    </li>
                </ul>
                <div class="tab__content">
                    <div
                        class="tabs__item">
                        {# login #}
                        <form class="form">
                            <fieldset class="form__section form__section--socials">
                                <span class="form__description">Log in with your social media</span>
                                {% set available = ['google', 'fb', 'twitter', 'telegram', 'instagram', 'ok', 'vk', 'apple', 'metamask', 'shield'] %}
                                {% include "@components/socials.twig" %}
                                <span class="form__description">Or complete the form</span>
                            </fieldset>
                            <fieldset class="form__section">
                                {{ fieldInput({
                                    type: 'text',
                                    id: 'login',
                                    placeholder: 'Enter your email',
                                    label: 'Email *'
                                }) }}
                                {{ fieldInput({
                                    type: 'password',
                                    id: 'pass',
                                    placeholder: 'Enter your password',
                                    label: 'Password *',
                                    notification: 'Необходимо заполнить поле'
                                }) }}
                            </fieldset>
                            <fieldset class="form__section form__section--controls">
                                <a href="restore_request.html" class="forgot-link">Forgot password?</a>
                            </fieldset>
                            <fieldset class="form__section form__section--submit">
                                {{ fieldButton({
                                    tag: 'button',
                                    type: 'submit',
                                    sizeClass: '2',
                                    typeClass: '1',
                                    content: 'log in'
                                }) }}
                            </fieldset>
                            <div class="form__container">
                                <p class="form__text">Or continue with</p>
                                <ul class="socials socials--big socials--gray">
                                    <li class="socials-item">
                                        <a class="socials-link" href="#">
                                            <i class="icon-metamask"></i>
                                        </a>
                                    </li>
                                    <li class="socials-item">
                                        <a class="socials-link" href="#">
                                            <i class="icon-steam"></i>
                                        </a>
                                    </li>
                                    <li class="socials-item">
                                        <a class="socials-link" href="#">
                                            <i class="icon-twitch"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="form__addition">
                                Don't have an account?
                                <a data-tab-switch-to="signup" data-tab-id="userAuthTabs">Sign up</a>
                            </div>
                        </form>
                    </div>
                    <div
                        class="tabs__item">
                        {# sign up #}
                        <form class="form">
                            <fieldset class="form__section form__section--socials">
                                <span class="form__description">Log in with your social media</span>
                                {% set available = ['google', 'fb', 'twitter', 'telegram', 'instagram', 'ok', 'vk', 'apple', 'metamask', 'shield'] %}
                                {% include "@components/socials.twig" %}
                                <span class="form__description">Or complete the form</span>
                            </fieldset>
                            <fieldset class="form__section">
                                {{ fieldInput({
                                    type: 'text',
                                    id: 'email-register',
                                    placeholder: 'Enter your email',
                                    label: 'Email *'
                                }) }}
                                <div class="form__input form__input--tel form__input--tooltip input">
                                    <label class="label-input" for="tel">Phone *</label>
                                    <input type="tel" id="tel" value="">
                                    <div class="tooltip-info">
                                        <i class="icon-question"></i>
                                        <span class="tooltip">You must confirm the phone</span>
                                    </div>
                                </div>
                                {{ fieldInput({
                                    type: 'select',
                                    id: 'currency',
                                    label: 'Currency *',
                                    value: [
                                        { label: "USD" },
                                        { label: "EUR" },
                                        { label: "GEL" }
                                    ],
                                    customClass: '',
                                    customData: 'data-tabs'
                                })
                                }}
                                {{ fieldInput({
                                    type: 'password',
                                    id: 'password',
                                    placeholder: 'Your password',
                                    label: 'Password *',
                                    customClass: 'form__input--details'
                                }) }}
                                <div class="form-details">
                                    <span class="form-details__title">Password requirements</span>
                                    <ul class="form-details__list">
                                        <li class="form-details__item">Minimum 6 characters</li>
                                        <li class="form-details__item form-details__item--error">Upper and lower case letters</li>
                                        <li class="form-details__item form-details__item--success">At least one number</li>
                                    </ul>
                                </div>
                                {{ fieldInput({
                                    type: 'password',
                                    id: 'repeat-password',
                                    placeholder: 'Repeat your password',
                                    label: 'Repeat password *',
                                }) }}
                                {{ fieldInput({
                                    type: 'date',
                                    id: 'date',
                                    placeholder: 'DD.MM.YYYY',
                                    label: 'Date of birth'
                                }) }}
                            </fieldset>
                            <fieldset class="form__addition">
                                {{ fieldInput({
                                    type: 'checkbox',
                                    id: 'agreement',
                                    label: "I unconditionally agree to<a href='/terms.html'>Terms & Conditions, Data Policy, Cookies Policy</a>and I am over 18 years old",
                                    status: "error",
                                    notification: "This value must not be empty"
                                }) }}
                                <div class="form__input form__input--checkbox checkbox error">
                                    <input type="checkbox" id="agree1">
                                    <label for="agree1">I am a PEP</label>
                                    <div class="tooltip-info">
                                        <i class="icon-question"></i>
                                        <span class="tooltip">A Politically Exposed Person (PEP) is someone who, through their prominent position or influence, is more susceptible to being involved in bribery or corruption. Examples of PEPs would be members of parliament, ambassadors, heads of state, judges or high ranking military officials, among others. This also extends to immediate family members such as partners and children as well as any business associates of such persons.</span>
                                    </div>
                                    <div class="form__notification form__notification--error">This value must not be empty</div>
                                </div>
                            </fieldset>
                            <fieldset class="form__section">
                                {% include '@components/registration-bonuses.twig' %}
                            </fieldset>
                            <fieldset class="form__section form__section--submit">
                                {{ fieldButton({
                                    tag: 'button',
                                    type: 'submit',
                                    sizeClass: '1',
                                    typeClass: '1',
                                    content: 'create account'
                                }) }}
                            </fieldset>
                            <div class="form__addition">
                                Already have an account?
                                <a data-tab-switch-to="login" data-tab-id="userAuthTabs">Log in</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
