{% extends "../master/modals.twig" %}
{% block content %}
    <div class="modal__content">
        <h3 class="modal__title">Log out</h3>
        <div class="modal__description">
            <p>Are you sure you want to log out?</p>
        </div>
        <div class="modal__buttons">
            {{ fieldButton({
                tag: 'a',
                content: 'cancel',
                href: '#',
                sizeClass: '1',
                customClass: 'close',
                typeClass: '2'
            })}}
            {{ fieldButton({
                tag: 'a',
                content: 'log out',
                href: '#',
                sizeClass: '1',
                typeClass: '1'
            })}}
        </div>
    </div>
{% endblock %}
