{% extends "../master/modals.twig" %}
{% block content %}
<div class="modal__content">
    <h3 class="modal__title">New account</h3>
    <div class="modal__description">
        <p>You already have all available accounts</p>
    </div>
    <div class="modal__buttons">
        {{ fieldButton({
        tag: 'a',
        content: 'ok',
        href: '#',
        sizeClass: '1',
        typeClass: '1'
        } ) }}
    </div>
</div>
{% endblock %}