{% extends "../master/modals.twig" %}
{% block content %}
<div class="modal__content">
    <h3 class="modal__title">New account</h3>
    {{ fieldInput({
    type: 'select',
    id: 'timezone',
    label: 'Currency',
    value: [
    { label: "USD" },
    { label: "EUR" },
    { label: "UAH" }
    ],
    notification: 'Заполнено верно',
    customData: 'data-select-menu'
    }) }}
    <div class="modal__buttons">
        {{ fieldButton({
            tag: 'a',
            content: 'Cansel',
            href: '#',
            sizeClass: '1',
            typeClass: '2'
        } ) }}
        {{ fieldButton({
        tag: 'a',
        content: 'Create',
        href: '#',
        sizeClass: '1',
        typeClass: '1'
        } ) }}
    </div>
</div>
{% endblock %}