{% extends "../master/modals.twig" %}
{% block content %}
<div class="modal__content">
    <h3 class="modal__title">Add a new limit</h3>
    <div class="modal__description">
        <p>You can change limits at any time.</p>
        <p>
            If you increase the amount or change the period, the changes will be applied within 48 hours. Decrease of
            the limit
            amount applied immediately.</p>
    </div>

    {{ fieldInput({
    type: 'select',
    id: 'timezone',
    label: 'Limit type',
    value: [
    { label: "Not set" },
    { label: "Bets amount limit" },
    { label: "Loss limit" },
    { label: "Deposit limit" }
    ],
    customData: 'data-select-menu'
    }) }}
    {{ fieldInput({
    type: 'select',
    id: 'timezone',
    label: 'Period',
    value: [
    { label: "Not set" },
    { label: "1 day" },
    { label: "1 week" },
    { label: "1 month" }
    ],
    notification: 'Заполнено верно',
    customData: 'data-select-menu'
    }) }}
    <div class="modal__wrapper">
        {{ fieldInput({
        type: 'text',
        value: '',
        label: 'Amount',
        placeholder: 'Enter amount'
        }) }}
        <span>USD</span>
    </div>

    <div class="modal__buttons">
        {{ fieldButton({
        tag: 'a',
        content: 'cancel',
        href: '#',
        sizeClass: '1',
        typeClass: '2'
        } ) }}
        {{ fieldButton({
        tag: 'a',
        content: 'add',
        href: '#',
        sizeClass: '1',
        typeClass: '1',
        customClass: 'disabled'
        } ) }}
    </div>
</div>
{% endblock %}
