{% extends "../master/modals.twig" %}
{% block content %}
<div class="modal__content">
    <h3 class="modal__title">Are you sure you want to activate this bonus?</h3>
    <div class="modal__description">
        <p>When you receive cashback, you are automatically subscribed to the next bonus, allowing your bets to count towards
        future bonuses. However, the bonus with a wagering requirement will not be credited to your balance automatically. You
        will receive the bonus only upon your request by clicking the "Receive" button. The time for bonus reception is limited
        and lasts for several hours.</p>
    </div>
    <div class="modal__buttons">
        {{ fieldButton({
        tag: 'a',
        content: 'cancel',
        href: '#',
        sizeClass: '1',
        typeClass: '2'
        } ) }}
        {{ fieldButton({
        tag: 'a',
        content: 'Confirm',
        href: '#',
        sizeClass: '1',
        typeClass: '1'
        } ) }}
    </div>
</div>
{% endblock %}
