{% extends "../master/modals.twig" %}
{% block content %}
    <div class="modal__content">
        <h3 class="modal__title">Please fill out your profile</h3>
        <form class="form">
            <span class="form__description">It is necessary to complete profile to be able to deposit</span>
            <fieldset class="form__section">
                {{ fieldInput({
                        type: 'text',
                        id: 'first-name',
                        placeholder: 'Enter your name',
                        label: 'First name'
                    }) }}
                {{ fieldInput({
                        type: 'text',
                        id: 'last-name',
                        placeholder: 'Enter your last name',
                        label: 'Last name',
                        notification: 'Required field'
                    }) }}
                {{ fieldInput({
                        type: 'date',
                        id: 'date',
                        placeholder: 'DD.MM.YYYY',
                        label: 'Date of birth'
                    }) }}
                {{ fieldInput({
                        type: 'select',
                        id: 'gender',
                        label: 'Gender',
                        value: [
                            { label: 'Male' },
                            { label: 'Female' },
                        ],
                        customData: 'data-select-menu'
                    }) }}
            </fieldset>
            <fieldset class="form__section form__section--submit">
                {{ fieldButton({
                    tag: 'a',
                    href: '#',
                    content: 'cancel',
                    customClass: 'close',
                    sizeClass: '1',
                    typeClass: '2'
                })}}
                {{ fieldButton({
                    tag: 'a',
                    href: '#',
                    type: 'submit',
                    sizeClass: '1',
                    typeClass: '1',
                    content: 'save'
                })}}
            </fieldset>
        </form>
    </div>
{% endblock %}
