{% extends "../master/modals.twig" %}
{% block content %}
<div class="modal__content">
    <h3 class="modal__title">Save changes?</h3>
    <div class="modal__description">
        <p>Proceed without saving changes?</p>
    </div>
    <div class="modal__buttons">
        {{ fieldButton({
        tag: 'a',
        content: 'Proceed',
        href: '#',
        sizeClass: '1',
        typeClass: '2'
        } ) }}
        {{ fieldButton({
        tag: 'a',
        content: 'Save',
        href: '#',
        sizeClass: '1',
        typeClass: '1'
        } ) }}
    </div>
</div>
{% endblock %}