{% extends "../master/modals.twig" %}
{% block content %}
<div class="modal__content">
    <h3 class="modal__title">Share your win</h3>
    <div class="modal__description">
        <p>Choose channel and leave a message for other players</p>
    </div>
	<div class="modal__win-img--wrapper">
		<h4>I win in Booster!</h4>
		<div class="modal__win-img">
			<img src="../../img/games/booster.jpeg">
			<span>27 982 485 USD</span>
		</div>
	</div>
	{{ fieldInput({
		type: 'password',
		label: 'Your message',
		value: '',
		placeholder: 'Share your thoughts'
	}) }}
	{{ fieldInput({
		type: 'select',
		id: 'country',
		label: 'Choose Channels',
		placeholder: 'Select channels',
		value: [
			{ label: "Germany" },
			{ label: "India" },
			{ label: "Austria" },
			{ label: "Poland"}
		],
		notification: 'Заполнено верно',
		customData: 'data-select-menu multiple data-static-placeholder="Select channels"'
	}) }}

    <div class="modal__buttons">
        {{ fieldButton({
	        tag: 'a',
	        content: 'Cancel',
	        href: '#',
	        sizeClass: '1',
	        typeClass: '2'
        } ) }}
        {{ fieldButton({
	        tag: 'a',
	        content: 'Send',
	        href: '#',
	        sizeClass: '1',
	        typeClass: '1'
        } ) }}
    </div>
</div>
{% endblock %}