{% extends "../master/modals.twig" %}
{% block content %}
    <div class="modal__content">
        <h3 class="modal__title modal__title--sign">Sign in</h3>
        <form class="form">
            <fieldset class="form__section form__section--socials">
                {% set available = ['google', 'fb', 'twitter', 'telegram'] %}
                {% include "@components/socials.twig" %}
                <div class="form__description-wrapper">
                    <span class="form__description-line"></span>
                    <span class="form__description">or</span>
                    <div class="form__description-line"></div>
                </div>
            </fieldset>
            <fieldset class="form__section">
                {{ fieldInput({
                    type: 'text',
                    id: 'email-register',
                    placeholder: 'Enter your email',
                    label: 'Email'
                }) }}
                {{ fieldInput({
                    type: 'password',
                    id: 'password',
                    placeholder: 'Enter your password',
                    label: 'Password',
                    customClass: 'form__input--details'
                }) }}
            </fieldset>
            <fieldset class="form__addition form__addition--remember">
                {{ fieldInput({
                    type: 'checkbox',
                    id: 'promoCode',
                    label: "Remember me",
                }) }}
                <a href="registration.html">Forgot password?</a>

            </fieldset>
            <fieldset class="form__section form__section--submit">
                {{ fieldButton({
                    tag: 'button',
                    type: 'submit',
                    sizeClass: '1',
                    typeClass: '1',
                    content: 'Log in'
                }) }}
            </fieldset>
            <div class="form__addition">
                Don't have an account?
                <a href="registration.html">Sing up</a>
            </div>
        </form>
    </div>
{% endblock %}
