{% extends "../master/modals.twig" %}
{% block content %}
<div class="modal__content modal__content--signup">
    <div class="modal__banner--desktop">
        <div class="modal__banner-info">
            <span class="modal__banner-title">Welcome bonus for the first 3 deposits</span>
            <span class="modal__banner-bonus">40 000 USD + 150 free spins</span>
        </div>
        <picture>
            <source srcset="../../img/backgrounds/welcome-bonus.webp" type="image/webp">
            <img src="../../img/backgrounds/welcome-bonus.jpg" alt="">
        </picture>
    </div>
    <div class="modal__signup">
        <h3 class="modal__title modal__title--sign">Sign up</h3>
        <div class="modal__banner">
            <div class="modal__banner-info">
                <span class="modal__banner-title">Welcome bonus</span>
                <span class="modal__banner-subtitle">For the first 3 deposits</span>
                <span class="modal__banner-bonus">40 000 USD + 150 free spins</span>
            </div>
            <picture>
                <source srcset="../../img/backgrounds/welcome-bonus-small.webp" type="image/webp">
                <img src="../../img/backgrounds/welcome-bonus-small.jpg" alt="">
            </picture>
        </div>
        <form class="form">
            <fieldset class="form__section form__section--socials">
                {% set available = ['google', 'fb', 'twitter', 'telegram'] %}
                {% include "@components/socials.twig" %}
                <div class="form__description-wrapper">
                    <span class="form__description-line"></span>
                    <span class="form__description">or</span>
                    <div class="form__description-line"></div>
                </div>
            </fieldset>
            <fieldset class="form__section">
                {{ fieldInput({
                type: 'text',
                id: 'email-register',
                placeholder: 'Enter your email',
                label: 'Email'
                }) }}
                {{ fieldInput({
                type: 'password',
                id: 'password',
                placeholder: 'Enter your password',
                label: 'Password',
                customClass: 'form__input--details'
                }) }}
                {{ fieldInput({
                type: 'select',
                id: 'currency',
                label: 'Currency',
                value: [
                { label: "USD" },
                { label: "EUR" },
                { label: "UAH" }
                ],
                notification: 'Заполнено верно',
                customData: 'data-select-menu'
                }) }}
                {{ fieldInput({
                type: 'checkbox',
                id: 'agreement',
                label: "I unconditionally agree to<a href='/terms.html'>Terms & Conditions, Data Policy, Cookies
                    Policy</a>and I am over 18 years old",
                }) }}
                {{ fieldInput({
                type: 'checkbox',
                id: 'promotions',
                label: "I want to receive promotions by e-mail",
                }) }}
                <div class="form-promocode" data-promocode>
                    {{ fieldInput({
                    type: 'checkbox',
                    id: 'promoCode',
                    label: "I have a promo code",
                    }) }}
                    <div class="form-promocode__input">
                        {{ fieldInput({
                        type: 'text',
                        id: 'promocode-register',
                        placeholder: 'Enter promocode',
                        }) }}
                        {{ fieldButton({
                        tag: 'button',
                        type: 'submit',
                        sizeClass: '1',
                        typeClass: '4',
                        content: 'Activate'
                        }) }}
                    </div>
                </div>
            </fieldset>
            <fieldset class="form__section form__section--submit">
                {{ fieldButton({
                tag: 'button',
                type: 'submit',
                sizeClass: '1',
                typeClass: '1',
                content: 'Create account'
                }) }}
            </fieldset>
            <div class="form__addition">
                Already have an account?
                <a href="registration.html">Sing in</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
