{% extends "../master/modals.twig" %}
{% block content %}
<div class="modal__content modal__content--center">
    <img src="../../img/icons/checks.svg" alt="" class="modal__img">
    <h3 class="modal__title">Congratulations!</h3>
    <div class="modal__description">
        <p>Your registration is complete successfully</p>
    </div>
    <div class="modal__buttons">
        {{ fieldButton({
        tag: 'a',
        content: 'Got it',
        href: '#',
        sizeClass: '1',
        typeClass: '1'
        } ) }}
    </div>
</div>
{% endblock %}