{% extends "../master/modals.twig" %}
{% block content %}
    <div class="modal__content">
        <h3 class="modal__title">Template modal</h3>
        <form class="form">
            <div class="modal__description">
                <p>First paragraph. Lorem, ipsum dolor.</p>
                <p>Second paragraph. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo minus eum nostrum culpa voluptates perferendis qui assumenda ex magni totam.</p>
            </div>
            <fieldset class="form__section">
                {{ fieldInput({
                        type: 'text',
                        id: 'text-example',
                        placeholder: 'placeholder',
                        label: 'text field'
                    }) }}
                {{ fieldInput({
                    type: 'select',
                    id: 'select-example',
                    label: 'select field',
                    value: [
                        { label: 'option 1' },
                        { label: 'option 2' },
                    ],
                    customData: 'data-select-menu'
                }) }}
                <div class="form__input form__input--text form__input--has-hint input error">
                    <label class="label-input" for="text-1-example">text with span field</label>
                    <input type="text" id="text-1-example" value="" placeholder="placeholder"/>
                    <div class="form__notification form__notification--error">This value must not be empty</div>
                </div>
            </fieldset>
            <fieldset class="form__section form__section--submit-2">
                {{ fieldButton({
                    tag: 'a',
                    href: '#',
                    content: 'cancel',
                    customClass: 'close',
                    sizeClass: '1',
                    typeClass: '2'
                })}}
                {{ fieldButton({
                    tag: 'a',
                    href: '#',
                    type: 'submit',
                    sizeClass: '1',
                    typeClass: '1',
                    content: 'save'
                })}}
            </fieldset>
        </form>
    </div>
{% endblock %}
