{% extends "../master/modals.twig" %}
{% block content %}
<div class="modal__content">
    <h3 class="modal__title">It's Test</h3>
    <div class="modal__description">
        <p>Default text</p>
    </div>
    <div class="modal__buttons">
        {{ fieldButton({
        tag: 'a',
        content: 'default',
        href: '#',
        sizeClass: '1',
        typeClass: '2'
        } ) }}
        {{ fieldButton({
        tag: 'a',
        content: 'Default',
        href: '#',
        sizeClass: '1',
        typeClass: '1'
        } ) }}
    </div>
</div>
{% endblock %}