{% extends "../master/modals.twig" %}
{% block content %}
    <div class="modal__content">
        <h3 class="modal__title">You participate in the tournament</h3>
        <p class="modal__description">
            Super Tournament between
            <br>
            04.06.2021 17:16 (UTS+2) and
            <br>
            13.06.2021 18:18 (UTS+2)
            <br>
            You can participate in only one tournament at a time. This tournament will be activated if you're not currently playing in one (tournaments are activated on a time basis).
            <br>
            If you want to participate in this tournament only, you have to unsubscribe from the other ones.
            <br>
            Click OK to confirm your subscription to the tournament.
            <br>
            The participation fee 900 INR will be immediately charged from your account.
            <br>
            Please notice that if you cancel the subscription after the tournament start,  the fee is not refunded.</p>
        <ul class="modal__list">
            <li class="modal__list-item">
                <span class="modal__list-prop">Time until refund</span>
                <span class="modal__list-val">1d 12h 23m</span>
            </li>
        </ul>
        <div class="modal__buttons">
            {{ fieldButton({
                tag: 'a',
                content: 'Cancel',
                href: '#',
                sizeClass: '1',
                typeClass: '2'
            } ) }}
            {{ fieldButton({
                tag: 'a',
                content: 'Ok',
                href: '#',
                sizeClass: '1',
                typeClass: '1'
            } ) }}
        </div>
    </div>
{% endblock %}
