{% extends "../master/modals.twig" %}
{% block content %}
    <div class="modal__content">
        <h3 class="modal__title">Proressive prize fund</h3>
        <ul class="modal__list">
            <li class="modal__list-item">
                <span class="modal__list-prop">1 place</span>
                <span class="modal__list-val">50% of prize fund (min 5000 BTC)</span>
            </li>
            <li class="modal__list-item">
                <span class="modal__list-prop">2 place</span>
                <span class="modal__list-val">30% of prize fund (min 1000 BTC)</span>
            </li>
            <li class="modal__list-item">
                <span class="modal__list-prop">3 place</span>
                <span class="modal__list-val">10% of prize fund (min 500 BTC)</span>
            </li>
        </ul>
        <div class="modal__buttons">
            {{ fieldButton({
                tag: 'a',
                content: 'Got it',
                href: '#',
                sizeClass: '1',
                typeClass: '1'
            } ) }}
        </div>
    </div>
{% endblock %}
