{% extends "../master/modals.twig" %}
{% block content %}
    <div class="modal__content">
        <h3 class="modal__title">Available games</h3>
        <div class="modal__accordion">
            {% for i in range(1,10) %}
                <div class="modal__accordion-item">
                    <div class="modal__accordion-header">
                        <div class="modal__accordion-title">Endorphina
                            <span>(12)</span>
                        </div>
                        <i class="icon-arrow-right"></i>
                    </div>
                    <div class="modal__accordion-content">
                        <p>restricted game 1, restricted game 2</p>
                        <p>
                            <a href="">allowed game 1</a>,
                            <a href="">allowed game 2</a>,
                            <a href="">allowed game 3</a>,
                            <a href="">allowed game 4</a>,
                            <a href="">allowed game 5</a>,
                            <a href="">allowed game 6</a>,
                            <a href="">allowed game 7</a>,
                            <a href="">allowed game 8</a>,
                            <a href="">allowed game 9</a>,
                            <a href="">allowed game 10</a>,
                        </p>
                        <a class="show-more">Show more</a>
                    </div>
                </div>
            {% endfor %}

        </div>
        <div class="modal__buttons">
            {{ fieldButton({
                tag: 'a',
                content: 'Got it',
                href: '#',
                sizeClass: '1',
                typeClass: '1'
            }) }}
        </div>
    </div>
{% endblock %}
