{% extends "../master/modals.twig" %}
{% block content %}
<div class="modal__content">
    <h3 class="modal__title">Check your extensions</h3>
    <div class="modal__message">
        <i class="icon-warning"></i>
        <span>In case of opening an incorrect extension - check which DeFi wallet is set as default in your browser.</span>
    </div>
    <div class="modal__wallet">
        <a href="../modals/metamask.html" data-second-modal><img src="../../img/icons/trustwallet.svg"><span>Trustwallet</span></a>
    </div>
</div>
{% endblock %}