{% extends "../master/modals.twig" %}
{% block content %}
    <div class="modal__content">
        <h3 class="modal__title">Warning</h3>
        <div class="modal__description">
            <p>Description of warning here</p>
        </div>
        <div class="modal__buttons">
            {{ fieldButton({
                tag: 'a',
                content: 'Log out',
                href: '#',
                sizeClass: '1',
                typeClass: '2'
            }) }}
            {{ fieldButton({
                tag: 'a',
                content: 'Verify',
                href: '#',
                sizeClass: '1',
                typeClass: '1'
            }) }}
        </div>
    </div>
{% endblock %}
