{% extends "../master/modals.twig" %}
{% block content %}
    <div class="modal__content modal__content--center">
        <svg width="180" height="180" viewbox="0 0 180 180" xmlns="http://www.w3.org/2000/svg" class="modal__img">
            <path d="M90 30.75C122.723 30.75 149.25 57.2771 149.25 90C149.25 122.723 122.723 149.25 90 149.25C57.2771 149.25 30.75 122.723 30.75 90C30.75 57.2771 57.2771 30.75 90 30.75ZM90 40.625C62.7309 40.625 40.625 62.7309 40.625 90C40.625 117.269 62.7309 139.375 90 139.375C117.269 139.375 139.375 117.269 139.375 90C139.375 62.7309 117.269 40.625 90 40.625ZM90 109.75C94.0904 109.75 97.4062 113.066 97.4062 117.156C97.4062 121.247 94.0904 124.562 90 124.562C85.9096 124.562 82.5938 121.247 82.5938 117.156C82.5938 113.066 85.9096 109.75 90 109.75ZM90 55.4375C92.4239 55.4375 94.4399 57.1841 94.8579 59.4875L94.9375 60.375V94.9375C94.9375 97.6644 92.7269 99.875 90 99.875C87.5761 99.875 85.5601 98.1284 85.1421 95.825L85.0625 94.9375V60.375C85.0625 57.6481 87.2731 55.4375 90 55.4375Z" fill="#FF8300"/>
        </svg>
        <h3 class="modal__title">Warning</h3>
        <div class="modal__description">
            <p>Description of warning here</p>
        </div>
        <div class="modal__buttons">
            {{ fieldButton({
                tag: 'a',
                content: 'Got it',
                href: '#',
                sizeClass: '4',
                typeClass: '1'
            } ) }}
        </div>
    </div>
{% endblock %}
