.checkbox {
    display: flex;
    align-items: center;
    text-align: left;
    gap: 8px;

    input[type="checkbox"] {
        display: none;
        height: 0;
        visibility: hidden;

        &+label {
            position: relative;
            display: inline-block;
            width: auto;
            font-size: 14px;
            padding-left: 32px;
            min-height: 24px;
            line-height: 24px;
            cursor: pointer;

            &:before {
                content: '';
                position: absolute;
                top: 3px;
                left: 3px;
                width: 18px;
                height: 18px;
                display: block;
                background: none;
                border: 2px solid $color-primary-solid;
                border-radius: 4px;
            }

            &:after {
                display: none;
            }

            a {
                text-decoration: underline;
                color: $color-primary;
                margin: 0 4px;

                &:hover {
                    text-decoration: none;
                }
            }
        }

        &:checked+label {
            &:before {
                background: $color-primary-solid;
            }

            &:after {
                content: '';
                display: block;
                position: absolute;
                top: 6px;
                left: 9px;
                width: 6px;
                height: 10px;
                border-bottom: 2px solid $color-text-on-bg;
                border-right: 2px solid $color-text-on-bg;
                transform: rotate(45deg);

            }
        }
        &:disabled + label {
            pointer-events: none;
            &:before {
                border-color: $color-text-secondary;
            }
        }
    }
    &.error {
        input[type="checkbox"] {
            & + label {
                &:before {
                    border-color: $color-error;
                }
            }
            &:checked+label {
                &:before {
                    border-color: $color-primary-solid;
                }
            }
        }
    }
    & .tooltip {
        bottom: auto;
        top: calc(100% + 2px);
        right: 50%;
        transform: translateX(50%);
        max-width: 236px;
        text-align: left;
        z-index: 5;
        &:before {
            top: auto;
            bottom: 100%;
            right: calc(50% - 6px);
            border-top: none;
            border-bottom: 6px solid $color-elements;
        }
        &-info {
            margin-left: 8px;
        }
    }
}

.switch {
    display: inline-block;
    width: 42px;
    height: 24px;
    position: relative;
    background-color: $color-divider;
    border-radius: 12px;
    appearance: none;
    user-select: none;
    cursor: pointer;

    &:before {
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        position: absolute;
        left: 3px;
        top: 2px;
        background-color: $color-text-primary;
        border-radius: 50%;
        transition: all .4s;
    }

    &:checked {
        background-color: $color-primary-solid;

        &:before {
            transform: translateX(16px);
        }
    }

    &:disabled {
        background-color: hsl(0deg 0% 70%);
        cursor: default;

        &:disabled::before {
            background-color: hsl(0deg 0% 90%);
        }
    }
}

@media all and (min-width: 481px) {}

@media all and (min-width: 769px) {}

@media all and (min-width: 1281px) {}
