.form {
    &-wrapper {
        width: 100%;
        max-width: 480px;
        margin: 0 auto;

        h1 {
            margin-bottom: 16px;
        }
    }

    &__title {
        margin-bottom: 16px;
    }

    &__section {
        width: 100%;

        &--row {
            display: flex;
            gap: 16px;
            align-items: flex-end;

            .tooltip-info {
                position: absolute;
                right: 0;
                top: 0;
                width: 24px;
                height: 24px;

                .tooltip {
                    bottom: 70px;
                }
            }

            .form__section--icon {
                .tooltip-info {
                    .tooltip {
                        bottom: 10px;
                        max-width: none;
                    }
                }
            }

            & .button,
            & .form__input {
                margin-bottom: 24px;
            }

            .form__section--icon {
                i {
                    bottom: 28px;
                    font-size: 24px;
                }
            }
        }

        &--icon {
            position: relative;

            i {
                position: absolute;
                top: 30px;
                right: 22px;
                cursor: pointer;
            }
        }

        &--divider {
            border-top: 1px solid $color-divider;
            padding-top: 24px;
        }

        &--submit {
            gap: 12px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .button {
                width: 100%;
            }
        }

        &--controls {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 32px;

            .form__input--checkbox {
                margin-bottom: 0;
                width: auto;
            }
        }

        &--socials {
            margin-bottom: 20px;

            .socials {
                margin-bottom: 20px;
            }
        }

        &--title {
            width: 100%;
            text-align: center;
            font-size: 24px;
            line-height: 32px;
            font-weight: 700;

            color: $color-text-primary;
        }

        & + .captcha,
        & + .form__section--submit {
            margin-top: 8px;
        }
    }

    &__description {
        display: block;
        margin-bottom: 20px;
        font-size: 16px;
        font-weight: 500;
    }

    &__addition {
        font-size: 16px;
        text-align: center;
        margin-top: 24px;

        a {
            text-decoration: underline;
            color: $color-primary;
            margin-left: 4px;

            &:hover {
                text-decoration: none;
            }
        }
    }

    &__notification {
        display: none;
        font-size: 12px;
        line-height: 20px;
        margin-top: 4px;

        &--error {
            color: $color-error;
        }

        &--success {
            color: $color-success;
        }
    }

    .page--login &,
    .page--registration & {
        max-width: 480px;
        width: 100%;
        padding: 16px 0;
        margin: 0 auto;
        border-radius: $border-radius-medium;
    }
}

.form-details {
    padding: 8px 16px;
    margin-bottom: 24px;
}

.form-details__title {
    font-size: 12px;
    line-height: 20px;
    color: $color-text-primary;
}

.form-details__list {
    display: grid;
    gap: 4px;
}

.form-details__item {
    $dot-size: 16px;
    $gap: 8px;
    position: relative;
    font-size: 12px;
    line-height: 20px;
    display: flex;
    gap: $gap;
    padding-left: $dot-size + $gap;
    align-items: center;

    &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: calc($dot-size / 2);
        transform: translate(-50%, -50%);
        background: $color-text-primary;
        width: 5px;
        height: 5px;
        border-radius: 50%;
    }
}

.form-promocode__input {
    display: none;
    gap: 8px;

    &--active {
        display: flex;
    }
}

.upload-doc {
    input {
        display: none;
    }

    &__button {
        width: 100%;
        height: 88px;
        padding: 12px 16px;
        border-radius: $border-radius-small;
        border: 1px dashed $color-text-placeholder;
        margin-bottom: 24px;
    }
}

.forgot-link {
    font-size: 14px;
    text-decoration: underline;
    color: $color-primary;

    &:hover {
        text-decoration: none;
    }
}

.captcha {
    margin-bottom: 24px;
}

.form--question {
    position: relative;
    padding-top: 48px;

    &::before {
        content: '';
        position: absolute;
        top: 24px;
        left: 0;
        width: 100%;
        border-top: 1px solid $color-divider;
    }
}

.page--form {
    & #profile-update-contact {
        & .form__section--row {
            align-items: flex-start;

            & .button {
                margin-top: 24px;
            }
        }
    }
}

@media all and (min-width: 480px) {
    .form {
        &-wrapper {
            background: $color-surface;
            border-radius: $border-radius-medium;
            padding: 40px;
            box-shadow: $card-shadow;

            h1 {
                margin-bottom: 24px;
            }
        }

        &__section {
            &--submit {
                flex-direction: row;
                gap: 16px;

                .button {
                    max-width: 160px;
                }
            }

            &--left {
                justify-content: flex-start;
            }

            &--icon {
                i {
                    top: 28px;
                }
            }
        }
    }

    .form--question {
        & .button {
            width: fit-content;
        }
    }
}

@media all and (min-width: 640px) {
    .form {
        .page--login &,
        .page--registration & {
            padding: 40px;
            box-shadow:
                1px 2px 8px 0 rgba(0, 0, 1, 0.95),
                -2px -2px 8px 0px rgba(56, 56, 63, 0.75);
        }

        &__title {
            margin-bottom: 40px;
        }
    }
}

@media all and (min-width: 768px) {
}

@media all and (min-width: 1280px) {
}
