input[type='text'],
input[type='password'],
input[type='email'],
input[type='tel'],
input[type='search'],
input[type='number'],
textarea {
  width: 100%;
  height: 40px;
  padding: 8px 25px 8px 8px;
  color: $input-color;
  font-family: $font-primary;
  background: $input-background;
  border: 1px solid $input-background;
  border-radius: 1px; //fix при масштабирование мог появится border
  transition: border-color 200ms;
  font-size: 16px;
  font-weight: 400;

  &::placeholder {
    opacity: 1;
    color: $color-text-placeholder;
  }
}

input[type='number'] {
  -moz-appearance: textfield;
}

input[type='tel'] {
  .form__input--tooltip & {
    padding-right: 45px;
  }
}

input[type='password'] {
  padding-right: 30px;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow:
    0 0 0 30px $input-background inset,
    0 0 0 30px $input-background inset,
    0 0 0 30px $input-background inset !important;
  border-color: $input-background;
  font-family: $font-primary;
  font-size: 16px;
  caret-color: #fff;
}

input:-webkit-autofill {
  font-family: $font-primary;
}

.input-wrapper {
  transform: skew(-15deg);
  border-radius: $border-radius-small;
  box-shadow:
    1px 2px 8px 0 rgba(0, 0, 1, 0.95),
    -2px -2px 8px 0px rgba(56, 56, 63, 0.75);
  padding: 0 12px;
  background: $input-background;
  border: 1px solid transparent;
  margin: 0 10px;

  & > * {
    transform: skew(15deg);
  }

  &:focus-within {
    border: 1px solid $color-primary-solid;
  }
}

.form__input {
  position: relative;
  width: 100%;
  margin-bottom: 16px;

  &--checkbox {
    & .input-wrapper {
      transform: none;
      border-radius: 0;
      padding: 0;
      box-shadow: none;
      background: none;

      & > * {
        transform: none;
      }
    }
  }

  &.select {
    z-index: 1;
  }

  &--switch {
    display: flex;
    align-items: center;

    & label {
      font-size: 14px;
      line-height: 20px;
      margin-left: 8px;
      cursor: pointer;
      color: $color-text-primary;
      user-select: none;
    }
  }

  &.error {
    & .input-wrapper {
      border: 1px solid $color-error;
    }

    & .form__notification {
      display: block;
    }
  }

  &.form__input.checkbox.error {
    flex-direction: column;
    align-items: baseline;

    .input-wrapper {
      border: none;
    }

    & .form__notification {
      position: static;
    }
  }

  &.success {
    & .input-wrapper {
      border: 1px solid $color-success;
    }

    & .form__notification {
      display: block;
    }
  }
}

.label-input {
  display: block;
  font-size: $font-size-smaller;
  color: $color-text-secondary;
  padding-left: 8px;
  margin-bottom: 4px;
  line-height: 20px;
}

textarea {
  width: 100%;
  height: 120px;
  resize: none;
  overflow: auto;
  vertical-align: top;
}

.checkbox-label {
  display: flex;
  font-size: 14px;
  line-height: 24px;
  width: 100%;
  gap: 12px;
  align-items: center;
}

.checkbox-input {
  display: none;
}

.checkbox-box {
  $size: 15px;
  width: $size;
  height: $size;
  border: 1.6px solid $color-text-secondary;
  border-radius: 4px;
  position: relative;

  .checkbox-input:checked + &,
  .selected & {
    border: 1.6px solid $color-primary-solid;
    background: $color-primary-solid;
  }

  .checkbox-input:checked + &:after,
  .selected &:after {
    content: '';
    display: block;
    position: absolute;
    top: 1px;
    left: 4px;
    width: 5px;
    height: 8px;
    border-bottom: 1.6px solid #1c1c20;
    border-right: 1.6px solid #1c1c20;
    transform: rotate(45deg);
  }
}

.checkbox-text {
  color: $color-text-secondary;
  flex-grow: 1;
}

.checkbox-count {
  font-size: 10px;
  background: $color-error;
  padding: 2px 4px;
  color: $color-text-primary;
  border-radius: 50px;
  height: 16px;
  line-height: 1.2;
  min-width: 26px;
  display: flex;
  justify-content: center;
}

@media all and (min-width: 480px) {
  .form__input {
    margin-bottom: 24px;
  }
}

@media all and (min-width: 768px) {
}

@media all and (min-width: 1280px) {
}
