.radio {
    text-align: left;

    input[type="radio"] {
        display: none;
        height: 0;
        visibility: hidden;

        &+label {
            position: relative;
            display: inline-block;
            width: auto;
            min-height: 25px;
            padding-left: 24px;
            font-size: 14px;
            line-height: 24px;
            color: $color-text-primary;
            cursor: pointer;

            &::before {
                content: '';
                position: absolute;
                top: 50%;
                left: 0;
                width: 18px;
                height: 18px;
                border: 2px solid $color-text-secondary;
                border-radius: 100%;
                transform: translateY(-50%);
                transition: opacity 0.3s;
            }

            &::after {
                content: '';
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 4px;
                width: 10px;
                height: 10px;
                background-color: $color-primary-solid;
                border-radius: 100%;
                opacity: 0;
                outline: none;
                transition: opacity 0.3s;
            }
        }
    }

    input[type="radio"]:checked {
        &+label {
            &::after {
                opacity: 1;
            }

            &::before {
                border-color: $color-primary-solid;
            }
        }
    }

    input[type="radio"]:disabled {
        &+label {
            cursor: default;

            &::after {
                background: #fff;
            }

            &::before {
                border-color: #a6a6a6;
            }
        }
    }

    a {
        color: #ffd000;
        margin: 0 5px;

        &:hover {
            color: $color-text-primary;
        }
    }
}

// .radio--reverted {
//     input[type="radio"] {
//         &+label {
//             padding-left: 0;
//             padding-right: 35px;

//             &::before {
//                 right: 0;
//                 left: auto;
//             }

//             &::after {
//                 right: 4px;
//                 left: auto;
//             }
//         }
//     }
// }