.select {
  .selectric {
    background: $color-elements;
    border: none;
    box-sizing: border-box;
    border-radius: 40px;
    transition: 0.4s;

    &-open {
      .selectric {
        .label {
          opacity: 1;
        }

        .selectric__button {
          transform: rotate(180deg);
        }
      }
    }

    &-wrapper {
      .label {
        max-width: 95%;
        height: 40px;
        padding: 8px 32px 8px 8px;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        color: $color-text-primary;
      }
    }

    &--placeholder {
      .label {
        color: $color-text-secondary;
      }
    }

    &-items {
      margin-top: 8px;
      background: $color-elements;
      border-radius: $border-radius-small;
      border: none;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);

      li {
        padding: 8px 0px;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        color: $color-text-secondary;
        cursor: pointer;

        &.selected {
          cursor: initial;
        }

        &.selected,
        &:hover {
          color: $color-primary-hover;
          font-weight: 500;
        }
      }
    }

    &__button {
      top: 8px;
      right: 8px;
      width: 24px;
      height: 24px;
      font-size: 24px;
      color: $color-text-secondary;
      text-indent: initial;
    }

    &-disabled {
      opacity: 1;

      .selectric {
        border-color: #3d4047;

        .label {
          color: #b3b6bc;
        }
      }

      .selectric__button {
        &::before {
          border-top-color: #b3b6bc;
        }
      }
    }
  }

  .input-wrapper {
    padding: 0 1px;
  }
}

.tabs__content {
  display: none;

  &.active {
    display: block;
    width: 100%;
  }
}

@media all and (min-width: 480px) {
}

@media all and (min-width: 640px) {
  .select--tabs {
    width: auto;
    margin-bottom: 0;
    flex-shrink: 0;

    .input-wrapper {
      width: fit-content;
      transform: none;
      box-shadow: none;

      &:focus-within {
        border: 1px solid transparent;
      }

      > * {
        transform: none;
      }

      .selectric-items {
        margin-top: 0;
      }
    }

    .selectric {
      display: none;
    }

    .selectric-items {
      position: static;
      display: block;
      width: fit-content !important;
      overflow: hidden;
      backdrop-filter: unset;
      background: $color-elements;
      border-radius: $border-radius;
      // padding: 6px;
      box-shadow: none;

      ul {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 100%;
        width: 100%;
        vertical-align: middle;
        min-height: 28px;
        padding: 6px;
      }

      li {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        min-height: 28px;
        padding: 0 16px;
        margin: 0;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        text-align: center;
        cursor: pointer;
        border-radius: $border-radius-small;
        transition: background 0.3s;
        white-space: nowrap;

        &:hover {
          color: $color-text-primary;
          transition: background 0.3s;
        }

        &.selected {
          display: flex !important;
          cursor: default;
          color: $color-text-on-bg;
          background: $color-primary-solid;
        }
      }
    }
  }
}

@media all and (min-width: 768px) {
}

@media all and (min-width: 1280px) {
}
