<!DOCTYPE html>
<html lang="en">
<head>
	{% block head %}
	    {% include "../fragments/head-no-jq.twig" %}
	{% endblock %}
</head>
<body>
	{% from "macroses.twig" import fieldInput, fieldButton, fieldCaptcha %}
		<main class="blocked">
			{% block content %}
			{% endblock %}
		</main>
	</div>
</body>
</html>
