{#
	Элемент формы:
		- input (text, password, email, tel, date)
		- textarea
		- checkbox
		- radio
		- select

	Эквивалент этого макроса размещен в frontMaster.php в методе fieldInput

#}
{%- macro fieldInput(options) -%}
	{% set type = options.type %}
	{% set id = options.id %}
	{% set name = options.name %}
	{% set label = options.label %}
	{% set placeholder = options.placeholder %}
	{% set value = options.value %}
	{% set status = options.status %}
	{% set notification = options.notification %}
	{% set disabled = options.disabled %}
	{% set customClass = options.customClass %}
	{% set customData = options.customData %}
	{% set checked = options.checked %}
	{% set icon = options.icon %}

	{# Добавляем класс обёртке в зависимости от типа элемента #}
	{%- if type == 'text' or type == 'password' or type == 'email' or type == 'tel' or type == 'date' -%}
		{% set element = 'input' %}
		{% else %}
			{% if type == 'checkbox'%}
				{% set element = 'checkbox' %}
			{%- endif -%}
		{% if type == 'radio'%}
				{% set element = 'radio' %}
		{%- endif -%}
		{% if type == 'textarea'%}
				{% set element = 'textarea' %}
		{%- endif -%}
		{% if type == 'select'%}
				{% set element = 'select' %}
		{%- endif -%}
	{%- endif -%}

	<div class="form__input form__input--{{ type }} {{ element }} {{ disabled }} {{ customClass }} {{ status }}">
		{% if label and element != 'checkbox' and element != 'radio' -%}
			<label class="label-input" for="{{ id }}">{{label}}</label>
		{% endif -%}

		{%- if type == 'password' -%}
			<span class="pass-switch icon-view" data-password-toggler></span>
		{% endif -%}

		{# Если тип инпута date - изменяем на text и добавляем data аттрибут для полноценного стайлинга без браузерных дефолтов #}
		{%- if type == 'date' -%}
			{% set type = 'text' %}
			{% set dateData = 'data-date' %}
		{%- endif -%}

		{# Формируем основной элемент #}
		{%- if element != 'textarea' and element != 'select' -%}
            <div class="input-wrapper">
			    <input
					type="{{ type }}"
		{% endif -%}

		{%- if element == 'textarea' -%}
            <div class="input-wrapper">
			    <textarea
		{% endif -%}

		{%- if element == 'select' -%}
            <div class="input-wrapper">
                <select
                    {% endif -%}

                    id="{{ id }}"

                    {% if element != 'checkbox' and element !=  'select' and element !=  'radio' %}
                        value="{{ value }}"
                        placeholder="{{ placeholder }}"
                    {% endif %}

                    {% if checked %}
                        checked
                    {% endif %}

                    {% if name %}
                        name="{{ name }}"
                    {% endif %}

                    {{ disabled }}
                    {{ customData }}
                    {{ dateData }}
		    >{#

			Хак для удаления пробела внутри тега textarea
			#}{% if element == 'textarea' %}
				{{- value -}}
				</textarea>
			{%- endif -%}

			{%- if element == 'select' %}
			{%- for option in value %}
				<option value="{{ loop.index0 }}" {%- if option.icon %}data-select-icon="{{ option.icon }}{% endif %}">{{ option.label }}</option>
			{%- endfor %}
		</select>
		{% endif %}

		{%- if element == 'checkbox' or element == 'radio' %}
			<label for="{{ id }}">{%- if icon -%}<i class="icon-{{ icon }}"></i>{% endif -%}{{ label }}</label>
		{% endif %}

		{%- if status -%}
			<div class="form__notification form__notification--{{status}}">{{ notification }}</div>
		{% endif -%}
        </div>
	</div>
{%- endmacro -%}


{#
Кнопки
#}
{%- macro fieldButton(options) -%}
	{% set tag = options.tag %}
	{% set type = options.type %}
	{% set sizeClass = options.sizeClass %}
	{% set typeClass = options.typeClass %}
	{% set content = options.content %}
	{% set href = options.href %}
	{% set iconClass = options.iconClass %}
	{% set disabled = options.disabled %}
	{% set customClass = options.customClass %}
	{% set customData = options.customData %}
	{% set hasSkew = options.hasSkew ?? true %}

	<{{ tag }}
	{% if type and tag == 'button' %}
		type="{{ type }}"
		{% if disabled %}
			{{ disabled }}
		{% endif %}
	{% endif %}

	{% if tag == 'a' %}
		{% if href.length == '0' or href == '#' or not href %}
			{% set href = 'javascript:void(0)' %}
		{% endif %}
		href="{{ href }}"
	{% endif %}

	class="button

	{%- if sizeClass %} button--s{{ sizeClass }} {%- endif %}
	{%- if hasSkew %} button--has-skew {%- endif %}
	{%- if typeClass %} button--t{{ typeClass }} {% endif %} {{ customClass }} {{ disabled }}"
	{{- customData }}
	>
	{%- if iconClass %}
		<i class="{{ iconClass }}"></i>
	{%- endif %}
	{%- if content %}
		<span>{{ content }}</span>
	{%- endif %}
	</{{ tag }}>
{% endmacro %}


{#
Каптча
Тип 1 - testme
Тип 2 - recaptcha v.2
#}
{%- macro fieldCaptcha(options) -%}
	{% set type = options.type %}
	{% set name = options.name %}
	{% set label = options.label %}
	{% set placeholder = options.placeholder %}
	{% set status = options.status %}
	{% set notification = options.notification %}
	{% set customClass = options.customClass %}
	{% set customData = options.customData %}

	{% if type == '1' -%}
		{% set img = '../../img/components/captcha/captcha.png' %}
		{% set element = 'captcha--v1' %}
		{# {% else %}
			{% if type == '2' %}
				{% set img = '../../img/components/captcha/recaptcha.png' %}
				{% set element = 'captcha--v2' %}
			{% endif %} #}
	{%- endif -%}
	<div class="form__input form__input--captcha {{ element }} {{ customClass }} {{ status }}" {{ customData }}>
		{% if label and type !=  '2' -%}
			<label class="label-input" for="{{ name }}">{{label}}</label>
		{% endif -%}

		{% if type == '1' -%}
			<div class="captcha">
				<div class="captcha__img">
					<img src="{{ img }}" alt="Captcha img" />
					<a href="javascript:void(0)" class="captcha__reload icon-refresh"></a>
					<input type="text" id="{{ name }}" placeholder="{{ placeholder }}">
				</div>
			</div>
		{% endif -%}

		{% if type == '2' -%}
			<img src="{{ img }}" alt="Captcha img" />
		{% endif -%}

		{%- if status -%}
			<div class="form__notification form__notification--{{status}}">{{ notification }}</div>
		{% endif -%}
	</div>
{% endmacro %}
