<!DOCTYPE html>
<html lang="en">
<head>
	{% block head %}
	    {% include "../fragments/head.twig" %}
	{% endblock %}
</head>
<body class="body">

{#    если понадобится прелоадер#}
{#    <div class="loader">#}
{#        <div class="loader__spinner">#}
{#            <img src="../../img/elements/loader.svg">#}
{#        </div>#}
{#    </div>#}

	{% macro block(name) %}
	{% include name + ".twig" %}
	{% endmacro %}

	{% from "macroses.twig" import fieldInput, fieldButton, fieldCaptcha %}
	{% include '@components/modules/sidebar.twig' %}

    {% if logged %}
	<div class="helper logged">
	{% else %}
	<div class="helper">
	{% endif %}


	{% if logged %}
		{% include '@components/header_logged.twig' %}
	{% else %}
		{% include '@components/header.twig' %}
	{% endif %}
	{# Logged = {{ logged }} #}
		<main class="main">
			{% block content %}
			{% endblock %}
		</main>
	{% include '@components/footer.twig' %}
	</div>
</body>
</html>
