<div class="sidebar-external sidebar-external--providers mfp-hide" id="providersMenu">
    <div class="sidebar-external__header">
        <div class="sidebar-external__header-inner">
            <h2 class="sidebar-external__title">Providers</h2>
        </div>
        <div class="input-wrapper search-input">
            <i class="icon-search"></i>
            <input placeholder="Browse providers" type="text">
        </div>
    </div>
    <div class="sidebar-external__content">
        <div class="providers providers--sidebar">
            <div class="providers__list">
                {% set k = 12 %}
                {% for i in range(1, k) %}
                    <div class="providers__list-item">
                        <a href="" class="providers__list-link">
                            <img src="../../img/providers/endorphina.svg" alt="providers">
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

