<div class="sidebar-promo">
    <h3 class="sidebar-promo__title">Promotions</h3>
    <div class="sidebar-promo__list">
        <a href="#" class="sidebar-promo__item">
            <div class="sidebar-promo__img"><i class="icon-chess"></i></div>
            <div class="sidebar-promo__description">
                <h4 class="sidebar-promo__name">Bonus</h4>
                <p class="sidebar-promo__status">Available</p>
            </div>
        </a>
        <a href="#" class="sidebar-promo__item">
            <div class="sidebar-promo__img"><i class="icon-diamond"></i></div>
            <div class="sidebar-promo__description">
                <h4 class="sidebar-promo__name">Bonus</h4>
                <p class="sidebar-promo__status">Available</p>
            </div>
        </a>
        <a href="#" class="sidebar-promo__item">
            <div class="sidebar-promo__img"><i class="icon-ruby"></i></div>
            <div class="sidebar-promo__description">
                <h4 class="sidebar-promo__name">Bonus</h4>
                <p class="sidebar-promo__status">Available</p>
            </div>
        </a>
        <a href="#" class="sidebar-promo__item">
            <div class="sidebar-promo__img"><i class="icon-money-bag"></i></div>
            <div class="sidebar-promo__description">
                <h4 class="sidebar-promo__name">Bonus</h4>
                <p class="sidebar-promo__status">Available</p>
            </div>
        </a>
    </div>
</div>