<div class="sidebar-external mfp-hide" id="langMenu">
    <div class="sidebar-external__header">
        <h2 class="sidebar-external__title">Languages</h2>
    </div>
    <div class="sidebar-external__content">
        {% include '@components/lang.twig' %}
    </div>
</div>