<div class="sidebar-external mfp-hide" id="gameCategories">
    <div class="sidebar-external__header">
        <div class="sidebar-external__header-inner">
            <h2 class="sidebar-external__title">Game categories</h2>
        </div>
    </div>
    <div class="sidebar-external__content">
        {% include '@components/games-categories.twig' %}
    </div>
</div>
