<aside class="sidebar" data-sidebar>
	<div class="sidebar-content__wrapper">
		<div class="sidebar-logo">
			{% set clicable = true %}
			{% include "@components/logo-sidebar.twig" %}
			{{ fieldButton({
            tag: 'a',
            content: '',
            href: '#',
            sizeClass: '',
            typeClass: '2',
            customClass: 'button--menu',
            iconClass: 'icon-menu-open',
            customData: 'data-sidebar-closer data-sidebar-closer-mobile'
            } ) }}
		</div>
		<div class="sidebar-content">
			{% if logged %}
				{% include '@components/modules/sidebar-user.twig' %}
			{% endif %}
			<div class="sidebar-tournament">
				<div class="sidebar-tournament__title">
					<span>Incredible tournament with a great prize for Incredible tournament with a great prize for Incredible tournament with a great prize for</span>
					<a href="/">
						<i class="icon-arrow-link"></i>
					</a>
				</div>
				<div class="sidebar-tournament__value">
					<p>Place
						<span>329</span>
						<span>400</span>
					</p>
					<p>Points
						<span>578</span>
					</p>
				</div>
				<div class="sidebar-tournament__time">
					<p>Updated at
						<span>11:45</span>
					</p>
				</div>
			</div>
			<a href="" class="button button--has-skew button--sidebar button--search">
				<i class="icon-search"></i>
				<span>Browse games</span>
			</a>
			<a href="#gameCategories" class="button button--sidebar" data-sidebar-external data-effect="mfp-move-horizontal">
				<i class="icon-games"></i>
				<span>Game categories</span>
				<i class="icon-arrow-right"></i>
			</a>
			{% include '@components/modules/sidebar-banner.twig' %}
			{% include '@components/menu/sidebar-menu.twig' %}


			{% include '@components/modules/sidebar-contacts.twig' %}
			<a href="#langMenu" class="button button--has-skew button--lang button--sidebar" data-sidebar-external data-effect="mfp-move-horizontal">
				<img src="/img/lang/en.png" alt=""/>
				<span>English</span>
				<i class="icon-arrow-right"></i>
			</a>
			{% if logged %}
				<a href="#" class="button button--t2 button--has-skew button--logout">
					<i class="icon-logout"></i>
					<span>Log out</span>
				</a>
			{% endif %}

		</div>
	</div>
	{% include '@components/modules/sidebar-game-category.twig' %}
	{% include '@components/modules/sidebar-providers.twig' %}
	{% include '@components/modules/sidebar-lang.twig' %}
</aside>
