<div class="sidebar-contacts">
    <div class="sidebar-contacts__content">
        <h3 class="sidebar-contacts__title">Any questions?</h3>
        <p class="sidebar-contacts__description">Сontact our support</p>
    </div>
    <div class="socials">
        <a href="#" class="socials-link"><i class="icon-telegram"></i></a>
        <a href="#" class="socials-link"><i class="icon-mail"></i></a>
    </div>
</div>