<a href="#" class="sidebar-banner quests">
    <picture>
        <img class="sidebar-banner__bg" src="../../../img/sidebar/quests.jpg" alt="">
    </picture>
    <div class="sidebar-banner__text">
        <h3 class="sidebar-banner__title">Quests</h3>
    </div>

    <div class="sidebar-banner__img">
        <i class="icon-prize"></i>
    </div>
</a>