.mobile-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    width: 100%;
    height: 84px;
    background: $color-primary-hover;
    &__menu {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 12px;
        justify-items: center;
        align-items: center;
        height: 100%;
        & i {
            font-size: 24px;
            color: $color-text-primary;
        }
    }
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        & i {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            border-radius: $border-radius-small;
            background: $color-primary-solid;
        }
        & span {
            display: inline-block;
            margin-top: 8px;
            font-size: 10px;
            font-weight: 600;
            line-height: 12px;
            text-transform: uppercase;
            color: $color-text-primary;
        }

    }
}

@media all and (min-width: 481px) {}
@media all and (min-width: 580px) {}
@media all and (min-width: 640px) {
    .mobile-bar {
        display: none;
    }
}
@media all and (min-width: 769px) {}
@media all and (min-width: 840px) {}
@media all and (min-width: 980px) {}
@media all and (min-width: 1024px) {}
@media all and (min-width: 1281px) {}
@media all and (min-width: 1440px) {}
