@mixin scrollbar-primary {
    $border-color: $color-primary;
    $border-width: 4px;

    border-right: $border-width solid transparent;
    padding-right: calc($border-width / 2);

    &::-webkit-scrollbar {
        background-color: $color-elements;
        width: 4px;
        padding: 4px 0;
        border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $color-divider;
        border-radius: 4px;
    }

    // firefox
    scrollbar-width: thin;
    scrollbar-color: $color-elements $color-divider;
}

@mixin scrollbar-secondary {
    $border-color: $color-primary;
    $border-width: 8px;

    border: $border-width solid transparent;
    padding-right: calc($border-width / 2);

    &::-webkit-scrollbar {
        width: 4px;
        padding: 4px 0;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $border-color;
        border-radius: 4px;
    }

    // firefox
    scrollbar-width: thin;
    scrollbar-color: $border-color transparent;
}

@mixin scrollbar-secondary-horizontal {
    $border-color: $color-divider;
    $border-width: 2px;

    padding-right: calc($border-width / 2);

    &::-webkit-scrollbar {
        height: 4px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $color-divider;
        border-radius: 4px;
    }

    &::-webkit-scrollbar-track {
        background: $color-elements;
    }

    // firefox
    scrollbar-width: thin;
    scrollbar-color: $color-divider $color-elements;
}
