@import "../base/variables.scss";
@import "../components/bonuses-list.scss";
@import "../components/tooltips.scss";
@import "../components/currencies.scss";
@import "../components/counter.scss";
@import "../pages/blocked.scss";
@import "../components/pagination.scss";

.profile__header {
    display: flex;
    flex-direction: column;
    grid-gap: 16px;
    margin-bottom: 40px;
    & h1 {
        margin-bottom: 0;
    }
}
