@import "../base/variables.scss";
@import "../components/counter.scss";
@import "../components/tooltips.scss";
@import "../components/currencies.scss";

.bonus-info {
  &__header {
    display: flex;
    flex-direction: column;
    grid-gap: 24px;
    margin-bottom: 32px;
    & h1 {
      margin-bottom: 0;
      word-break: break-word;
    }

    .button {
      width: fit-content;
    }

    & .status {
      border-radius: $border-radius-small;
      padding: 4px 12px;
      background: $color-elements;
      box-shadow: 0 2px 8px 0 rgba(3, 21, 29, 0.12);
      font-size: 14px;
      font-weight: 600;
      line-height: 24px;
      text-transform: uppercase;
      &--canceled {
        color: $color-error;
      }
      &--threshold {
        color: $color-error;
      }
      &--active {
        color: $color-success;
      }
      &--waiting {
        color: $color-warning;
      }
    }
    .counter {
      background: $color-elements;
      padding: 8px 16px;
      border-radius: 12px;
      width: 100%;
      display: flex;
      justify-content: center;
      &__cell {
        font-size: 20px;
        line-height: 32px;
        color: $color-text-primary;
        margin: 0;
        padding: 0;
        height: auto;
        &:before {
          display: none;
        }
        &:not(:last-of-type) {
          padding-right: 12px;
          border-right: 1px solid $color-divider;
        }
        &:not(:first-of-type) {
          padding-left: 12px;
        }
        & > span {
          color: $color-text-placeholder;
          font-weight: 400;
          margin-left: 4px;
        }
      }
    }
  }
  &__top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__timer {
    margin-bottom: 16px;
    margin-right: 10px;
    align-self: center;
    width: 100%;
  }
  &__date {
    display: flex;
    align-items: center;
    grid-gap: 8px;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
  }
  &__img {
    display: block;
    width: 100%;
    aspect-ratio: 5/3;
    margin-bottom: 32px;
    border-radius: $border-radius;
    overflow: hidden;
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__article {
    & p {
      margin-bottom: 24px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    & a {
      color: $color-primary;
      text-decoration: underline;
      &:hover {
        text-decoration: unset;
      }
    }
  }
  &__table {
    margin-bottom: 40px;
    &-row {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      align-items: flex-start;
      padding: 16px 0;
      border-bottom: 1px solid $color-elements-hover;
      span {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        color: $color-text-primary;
        font-weight: 700;
        margin-top: 4px;
        & b {
          font-weight: 400;
          font-size: 12px;
          line-height: 1;
          color: #a9b3bd;
          font-weight: 500;
        }
      }
    }
  }
  &__games {
    color: $color-primary;
    text-align: left;
    font-weight: 700;
  }
  &__link {
    color: $color-primary;
    &:not(:first-of-type) {
      margin-left: 5px;
    }
  }
  &__buttons {
    margin-top: 40px;
    & .button {
      width: 100%;
    }
  }
}

@media all and (min-width: 381px) {
  .bonus-info {
    &__header {
        .counter {
            width: fit-content;
        }
    }
    &__top {
      align-items: center;
      flex-direction: row;
    }
    &__timer {
      margin-bottom: 0;
    }
  }
}

@media all and (min-width: 481px) {
  .bonus-info {
    &__table {
      &-row {
        flex-direction: row;
        align-items: center;
        span {
          margin-top: 0;
        }
      }
    }
    &__games {
      max-width: calc(100% - 180px);
      text-align: right;
    }
  }
}
@media all and (min-width: 680px) {
  .bonus-info__buttons .button {
    width: auto;
  }
}
