@import "../base/variables.scss";
@import "../components/documents-grid.scss";
@import "../components/pagination.scss";

.page--documents {
  padding-top: 20px;
  padding-bottom: 32px;
  & .blocked__content {
    margin: auto;
  }
}
