@import "../base/variables.scss";

.faq {
    &__title {
        margin-bottom: 32px;
    }

    &__list {
        margin-bottom: 32px;

        &-item {
            border-top: 1px solid $color-divider;
            padding: 16px 0;
            overflow: hidden;
        }

        &-title {
            font-weight: 700;
            font-family: $font-primary;
            color: $color-text-primary;
            font-size: 20px;
            padding-right: 8px;
            line-height: 28px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;

            &.open {
                &+.faq__list-content {
                    height: initial;
                    opacity: 1;
                    margin-top: 24px;
                }

                .faq__list-opener {
                    position: relative;
                    background: $color-surface;

                    &:hover {
                        background-color: $color-elements-hover;
                    }

                    i {
                        transform: skew(15deg) rotate(0);
                        color: $color-primary;
                    }
                }
            }
        }

        &-opener {
            i {
                transform: skew(15deg) rotate(-45deg);
                transition: transform 200ms;
            }
        }

        &-content {
            opacity: 0;
            height: 0;
            margin-top: 0;
            font-size: 16px;
            line-height: 28px;
            padding-right: 40px;
            transition: all 400ms;
            overflow: hidden;
        }
    }
}

@media all and (min-width: 481px) {
    .faq {
        &__list {

            &-title {
                font-size: 24px;
                line-height: 32px;
            }

            &-item {
                padding: 24px 0;
            }

            &-content {
                font-size: 20px;
                line-height: 32px;
            }
        }
    }
}

@media all and (min-width: 1281px) {
    .faq {
        &__list {
            margin-bottom: 40px;
        }
    }
}