@import "../base/variables.scss";
@import "../components/slider-main.scss";
@import "../components/reward.scss";

.loyalty {
    margin-bottom: 24px;

    //чтобы не обрезалась тень карточки
    margin-left: -8px;
    margin-right: -8px;

    &__header {
        display: flex;
        justify-content: space-between;
        position: relative;
        font-family: "Saira", sans-serif;

        //чтобы не обрезалась тень карточки
        padding: 0 8px;
    }

    &__title {
        font-weight: 700;
        font-size: 28px;
        line-height: 36px;
        margin-bottom: 16px;
    }

    &__list {
        display: flex;
        overflow: hidden;
        color: $color-text-on-bg;

        //чтобы не обрезалась тень карточки
        padding: 8px;

        &-item {
            display: flex;
            height: 112px;
            width: 100%;
            margin-right: 24px;
            align-items: center;
            border-radius: $border-radius;
            background: $color-button-primary-gradient;
            box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);

            &:hover {
                background-color: $color-elements;
            }
        }

        &-img {
            margin: 0 29px 0 13px;
            width: 80px;
            height: 80px;
        }

        &-inner {
            font-family: "Saira", sans-serif;
        }

        &-title {
            font-size: 24px;
            line-height: 32px;
            font-weight: 700;
            margin-bottom: 4px;
        }

        &-desc {
            font-size: 20px;
            line-height: 28px;
            font-weight: 500;
        }
    }
}

.container__box {

    & h1,
    & p {
        margin-bottom: 32px;
    }
}

@media all and (min-width: 768px) {
    .loyalty {
        margin-bottom: 32px;
    }

    .container__box {

        & h1,
        & p {
            margin-bottom: 40px;
        }
    }
}