@import "../base/variables.scss";

.messages-info {
    &__header {
        display: flex;
        flex-direction: column;
        align-items: start;
        grid-gap: 24px;
        margin-bottom: 32px;

        & .button--t3 {
            height: 15px;
        }
    }

    &__date {
        display: flex;
        align-items: center;
        grid-gap: 8px;
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
    }

    &__img {
        display: block;
        width: 100%;
        aspect-ratio: 5/3;
        margin-bottom: 32px;
        border-radius: $border-radius;
        overflow: hidden;

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__article {
        & p {
            &:last-child {
                margin-bottom: 0;
            }
        }

        & a {
            color: $color-primary;
            text-decoration: underline;

            &:hover {
                text-decoration: unset;
            }
        }
    }
}

@media all and (min-width: 769px) {
    .messages-info {
        box-shadow: $card-shadow;
    }
}
