@import '../base/variables.scss';
@import '../components/cropper.scss';

.profile {
  display: grid;
  gap: 32px;

  &__link {
    display: flex;
    background-color: $color-surface;
    padding: 12px;
    border-radius: $border-radius-small;
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    box-shadow:
      2px 2px 8px 0px rgba(0, 0, 1, 0.95),
      -2px -2px 8px 0px rgba(56, 56, 63, 0.75);

    i {
      font-size: 24px;
    }

    &:hover {
      i {
        color: $color-text-primary;
      }
    }

    span {
      color: $color-text-primary;
    }

    i {
      font-weight: 400;
      transition: color 200ms;

      &:first-child {
        margin-right: 8px;
      }

      &:last-child {
        margin-left: auto;
      }
    }

    & .message-counter {
      display: flex;
      align-items: center;
      text-align: center;
      background: $color-primary;
      color: $color-text-on-bg;
      padding: 2px 4px 1px 4px;
      border-radius: $border-radius;
      font-size: 10px;
      font-weight: 500;
      line-height: 12px;
      margin-left: auto;
      align-self: center;

      & + i:last-child {
        margin-left: 16px;
      }
    }

    & .icon-exclamation-single {
      width: 20px;
      height: 20px;
      background-color: $color-error;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      margin-left: auto;
      color: $color-text-primary;
      align-self: center;
      font-size: 18px;

      & + i:last-child {
        margin-left: 16px;
      }
    }
  }

  &__content {
    display: grid;
    gap: 16px;

    & > * {
      background-color: $color-surface;
      border-radius: $border-radius;
    }
  }

  &__main,
  &__info {
    padding: 16px;
    box-shadow:
      2px 2px 8px 0px rgba(0, 0, 1, 0.95),
      -2px -2px 8px 0px rgba(56, 56, 63, 0.75);
  }

  &__header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    &-avatar {
      width: 60px;
      aspect-ratio: 1 / 1;
      margin-right: 24px;
      border-radius: 50%;
      border: 1px solid $color-divider;
      overflow: hidden;
      position: relative;
      background-color: $color-elements-hover;

      img {
        object-fit: cover;
        width: 100%;
      }
    }

    &-input {
      opacity: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      cursor: pointer;
    }

    &-player {
      width: fit-content;
      margin-bottom: 0;
      color: $color-text-primary;
      font-size: 20px;
      line-height: 28px;
      word-break: break-all;
    }

    &-text {
      margin-top: 16px;
      font-size: 14px;
      line-height: 24px;
      width: 100%;
    }

    & .button--logout {
      display: none;
    }
  }

  &__socials {
    border-top: 1px solid $color-divider;
    padding-top: 16px;

    &-title {
      font-size: 14px;
      line-height: 24px;
      margin-bottom: 8px;
    }
  }

  &__info {
    &-header {
      display: flex;
      align-items: center;
      gap: 12px;

      & .button {
        width: 100%;
      }
    }

    &-stats {
      margin-top: 14px;

      .currency {
        &__wrapper {
          width: 100%;
        }

        &__name {
          width: auto;
        }

        &__value,
        &__exchange {
          max-width: calc(100% - 16px);
        }

        &-select {
          border: none;
          min-width: auto;
          box-shadow: $modal-shadow;
          left: -16px;
          width: calc(100% + 32px);
          padding-top: 16px;

          &__list {
            border: none;
          }

          .tabs {
            width: calc(100% - 32px);
            margin: auto;
          }
        }
      }
    }

    &-items {
      margin-top: 14px;
    }

    &-item {
      border-top: 1px solid $color-divider;
      padding: 14px 0;

      &:last-child {
        padding-bottom: 0;
      }
    }

    &-title {
      font-size: 14px;
      line-height: 24px;
    }

    &-text {
      font-size: 16px;
      font-weight: 700;
      line-height: 28px;
      color: $color-text-primary;

      span {
        &::before {
          content: '/';
          margin: 0 4px;
        }

        color: $color-text-secondary;
      }
    }
  }

  &__code {
    box-shadow:
      2px 2px 8px 0px rgba(0, 0, 1, 0.95),
      -2px -2px 8px 0px rgba(56, 56, 63, 0.75);
    display: flex;
    overflow: hidden;

    &-img {
      display: none;
    }

    &-content {
      padding: 16px;
      width: 100%;

      & .input {
        margin-bottom: 12px;
      }

      & .button {
        width: 100%;
      }
    }

    &-title {
      font-size: 20px;
      line-height: 28px;
      color: $color-text-primary;
    }

    &-text {
      font-size: 14px;
      line-height: 24px;
      margin-bottom: 16px;
    }
  }
}

@media all and (min-width: 480px) {
  .profile {
    &__code-content {
      padding: 24px;
    }

    &__link {
      padding: 16px;
      font-size: 16px;
      line-height: 24px;

      i:first-child {
        margin-right: 12px;
      }
    }

    &__header {
      display: grid;
      grid-column-gap: 24px;
      grid-template-columns: 80px 1fr 40px;

      &-avatar,
      & .button {
        grid-row-start: 1;
        grid-row-end: 3;
      }

      &-avatar {
        margin-right: 0;
        width: 80px;
      }

      &-player {
        grid-row-start: 1;
        grid-column-start: 2;
        grid-column-end: 3;
        font-size: 28px;
        line-height: 36px;
      }

      &-text {
        grid-row-start: 2;
        grid-column-start: 2;
        grid-column-end: 3;
        margin-bottom: 0;
        margin-top: 4px;
        font-size: 16px;
        line-height: 28px;
      }
    }

    &__socials {
      margin-top: 22px;
      display: flex;
      flex-wrap: wrap;

      &-title {
        font-size: 16px;
        line-height: 28px;
        margin-bottom: 0;
        margin: 4px;
      }

      & .socials {
        display: flex;
        margin-left: auto;
        flex-wrap: wrap;

        &-item {
          width: 32px;

          &.active {
            .socials-link {
              background-color: $color-primary;
            }
          }
        }
      }
    }

    &__info {
      &-header {
        & .button {
          width: fit-content;
        }
      }

      &-stats {
        margin-top: 24px;

        .currency {
          padding-top: 24px;
          flex-direction: row;
          border-top: 1px solid $color-divider;

          &__wrapper {
            max-width: calc(100% - 68px);
          }

          &__block {
            width: 100%;
            max-width: 49%;

            &:first-child {
              border-bottom: none;
              position: relative;
              padding-bottom: 0;

              &:after {
                content: '';
                display: block;
                width: 1px;
                margin-left: 8px;
                height: 40px;
                background: $color-divider;
                position: absolute;
                right: 4px;
              }
            }
          }

          &-select {
            top: 74px;
            left: 0;
            width: 100%;
          }
        }
      }

      &-items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 12px;
      }

      &-item {
        border-top: none;
        padding: 12px 0;

        &:nth-child(even) {
          padding-left: 16px;
        }

        &:nth-child(odd) {
          position: relative;

          &:after {
            content: '';
            display: block;
            width: 1px;
            margin-left: 8px;
            height: 40px;
            background: $color-divider;
            position: absolute;
            right: 4px;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }
    }
  }
}

@media all and (min-width: 540px) {
  .profile {
    &__code {
      &-content {
        display: grid;
        grid-template-columns: 1fr 140px;
        grid-column-gap: 16px;

        & .button,
        & .input {
          grid-row-start: 3;
        }

        & .button {
          width: 140px;
        }

        & .form__input.error,
        & .input {
          margin-bottom: 0;
        }
      }

      &-title,
      &-text {
        grid-column-start: 1;
        grid-column-end: 3;
      }
    }
  }
}

@media all and (min-width: 768px) {
  .profile {
    &__info {
      &-stats {
        .currency {
          &-select {
            left: 0;
            transform: none;
            width: calc(50% - 32px);

            &__controls {
              flex-direction: column;
              align-items: baseline;
            }
          }
        }
      }
    }

    &__code {
      &-img {
        display: block;
        object-fit: cover;
      }

      &-content {
        & .form__notification--error {
          margin-bottom: -24px;
        }
      }
    }
  }
}

@media all and (min-width: 1280px) {
  .profile {
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;

    &__info {
      &-stats {
        .currency-select {
          left: -10px;
          width: calc(50% - 6px);
          transform: none;
        }
      }
    }

    &__code {
      &-img {
        display: none;
      }

      &-content {
        & .form__notification--error {
          margin-bottom: 0;
        }
      }
    }
  }
}

@media all and (min-width: 1560px) {
  .profile {
    &__info {
      &-stats {
        .currency-select {
          left: 0;
          width: calc(50% - 24px);
          transform: none;
        }
      }
    }

    &__code {
      &-img {
        display: block;
      }

      &-content {
        & .form__notification--error {
          margin-bottom: -24px;
        }
      }
    }
  }
}
