@import '../base/variables.scss';
@import '../components/pagination.scss';
@import '../components/counter.scss';
@import '../components/quest.scss';

.quests__title {
    margin-top: 16px;
    margin-bottom: 24px;
}

.quests__list {
    display: grid;
    grid-gap: 20px;
    margin-bottom: 32px;
}

.quests__footer {
    display: flex;
    justify-content: center;
}

@media all and (min-width: 768px) {
    .quests__title {
        font-size: 36px;
        line-height: 48px;
    }

    .quests__list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media all and (min-width: 1280px) {
    .quests__title {
        font-size: 44px;
        line-height: 52px;
        margin-bottom: 40px;
    }

    .quests__list {
        margin-bottom: 40px;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media all and (min-width: 1920px) {
    .quests__list {
        grid-template-columns: repeat(4, 1fr);
    }
}
