@import "../base/variables.scss";
@import "../components/message.scss";
@import "../components/tabs.scss";
@import "../components/dropdown.scss";

.responsible {

  .tab {
    padding: 0;
    margin-top: 16px;
    gap: 16px;
  }

  &__desc {
    font-size: 16px;
    line-height: 28px;
  }

  &__header {
    margin-bottom: 24px;

    h2 {
      color: $color-text-primary;
      font-size: 20px;
      line-height: 28px;
      margin-bottom: 16px;
    }
  }

  &__limits {
    background-color: $color-elements;
    box-shadow: $card-shadow;
    padding: 16px;
    margin-bottom: 24px;
    border-radius: $border-radius;

    &:last-of-type {
      margin-bottom: 0;
    }

    &-header,
    &-item {
      display: flex;
      justify-content: space-between;
    }

    &-header {
      align-items: center;

      h3 {
        font-size: 16px;
        line-height: 28px;
        color: $color-text-primary;
        margin-bottom: 0;
      }
    }

    &-item {
      font-size: 14px;
      line-height: 24px;
      padding: 12px 0;
      border-bottom: 1px solid $color-divider;
      position: relative;

      div {
        display: flex;
        gap: 4px;
      }

      span {
        color: $color-text-primary;
        font-weight: 700;
      }

      @for $i from 1 through 100 {
        &--#{$i} {
          border-bottom: 0;

          &::before,
          &::after {
            content: '';
            height: 3px;
            position: absolute;
            bottom: 0;
            left: 0;
          }

          &::before {
            width: 100%;
            background-color: $color-elements-hover;
            z-index: 1;
          }

          &::after {

            width: $i * 1%;
            z-index: 2;
            background-color: $color-primary-solid;
          }
        }
      }


    }

    &-info {
      font-size: 12px;
      line-height: 20px;
      text-align: right;
      margin-top: 16px;
    }
  }
}

@media all and (min-width: 481px) {
  .page--responsible {
    & .container__box {
      box-shadow: unset;
    }
  }
  .responsible {
    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h2 {
        margin-bottom: 0;
      }

      & .button {
        width: fit-content;
      }
    }

    .select .selectric-items {
      margin-top: 0;
    }

    &__limits {
      &-header {

        h3 {
          font-size: 20px;
          font-weight: 700;
          line-height: 32px;
        }
      }
    }
  }
}

@media all and (min-width: 769px) {
  .responsible {
    background-color: $color-surface;
    border-radius: $border-radius;
    margin: 0 auto;

    & .tab {
      margin-top: 24px;
    }

    &__desc {
      margin-bottom: 40px;

      &:last-of-type {
        margin-bottom: 0;

        p {
          margin-bottom: 0;
        }
      }
    }
  }
}
