{# <div class="mobile-bar">
	<div class="mobile-bar__menu">
		<a class="mobile-bar__item" href="#">
			<i class="icon-games"></i>
			<span>Games</span>
		</a>
		<a class="mobile-bar__item" href="#">
			<i class="icon-search"></i>
			<span>Search</span>
		</a>
		<a class="mobile-bar__item" href="#">
			<i class="icon-chat"></i>
			<span>Chat</span>
		</a>
		<a class="mobile-bar__item" href="#">
			<i class="icon-sport"></i>
			<span>Sport</span>
		</a>
		<a class="mobile-bar__item" href="javascript:void(0)" data-sidebar-closer data-sidebar-closer-mobile>
			<i class="icon-menu-open"></i>
			<span>Menu</span>
		</a>
	</div>
</div> #}
