<div class="container categories--header-navigation" data-swiper-game-categories="header-navigation">
	<div class="container__header container__header--pagination">
		<h2 class="container__title container__title--s">Game categories</h2>
		<a href="#providersMenu" class="categories__link" data-sidebar-external data-effect="mfp-move-horizontal">
			<i class="icon-fire"></i>
			Providers
			<i class="icon-arrow-down"></i>
		</a>
		<button class="categories-search-button">
			<i class="icon-search"></i>
			<span>Browse games</span>
		</button>
		<div class="swiper-buttons">
			<div class="swiper-button-prev"></div>
			<div class="swiper-button-next"></div>
		</div>
	</div>
	<div class="categories__wrapper">
		<div class="categories__list swiper-container">
			<div class="swiper-wrapper">
				{% for i in range(1, 20) %}
					<a href="#" class="categories__item swiper-slide">
						<img src="../../../img/backgrounds/placeholder7.webp" alt="">
						<div class="categories__item-name">Default</div>
					</a>
					<a href="#" class="categories__item swiper-slide">
						<img src="../../../img/game-categories/{{i}}.png" alt="">
						<div class="categories__item-name">Default</div>
					</a>
				{% endfor %}
			</div>
		</div>
		<button class="categories-search-button">
			<i class="icon-search"></i>
			<span>Browse games</span>
		</button>
	</div>
</div>
