{% extends "master::error.twig" %}
{% block content %}
    <div class="blocked__content">
        <div class="blocked__img blocked__img--numbers">
            <img src="../../img/icons/403.svg" alt="">
        </div>
        <h1 class="blocked__title">Forbidden</h1>
        <p class="blocked__text">Access to this resource on the server is denied</p>
    </div>
    
{% endblock %}
