{% extends "master::master.twig" %}
{% block content %}
<div class="blocked blocked--page">
    <div class="blocked__content">
        <div class="blocked__img blocked__img--numbers">
            <img src="../../img/icons/404.svg" alt="">
        </div>
        <h1 class="blocked__title">We can’t find this page</h1>
        <p class="blocked__text">Please go to previos page or visit the homepage</p>
        {{ fieldButton({
        tag: 'a',
        content: 'BACK TO HOMEPAGE',
        href: 'login.html',
        sizeClass: '1',
        typeClass: '1'
        } ) }}
    </div>
</div>
{% include '@components/providers.twig' %}
{% include '@components/payments.twig' %}

{% endblock %}