{% extends "master::error.twig" %}
{% block content %}
    <div class="blocked__content">
        <div class="blocked__img blocked__img--numbers">
            <img src="../../img/icons/500.svg" alt="">
        </div>
        <h1 class="blocked__title">Oops! Something went wrong</h1>
        <p class="blocked__text">Please try to reload the page later</p>
    </div>
    
{% endblock %}
