{#
template for text pages

includes:
- title (h1, h2, h3, h4, h5, h6)
- text (p), text with link (p > a)
- numbered list (ol), usual list (ul)
- image
- video (iframe)
- buttons
#}


{% extends "master::master.twig" %}
{% block content %}
<div class="page page-text">
    <div class="container">
        <article class="article container__box">
            <h1>Main title</h1>
            <section class="article__section">
                <p>
                    Regular paragraph. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto praesentium
                    quas accusamus! Quaerat eaque veritatis dolorum debitis quod velit quae?
                </p>
            </section>
            <section class="article__section">
                <h2>Tags for text formatting</h2>
                <hr>
                <h1>Title H1</h1>
                <h2>Title H2</h2>
                <h3>Title H3</h3>
                <h4>Title H4</h4>
                <h5>Title H5</h5>
                <h6>Title H6</h6>
                <hr>
                <a href="" class="article__link">Text with link</a>
                <em>Italic text</em>
                <b>bold text</b>
                <u>Underlined text</u>
                <s>Strikethrough text</s>
                <p>This text contains
                    <sup>superscript</sup>
                    text
                </p>
                <p>This text contains
                    <sub>subscript</sub>
                    text
                </p>
                <pre>Monospace text</pre>
                <address>Address</address>
                <hr>
            </section>
            <section class="article__section">
                <h2>Numbered list</h2>
                <p>
                    Numbered list without nesting
                </p>
                <ol>
                    <li>First</li>
                    <li>Second</li>
                    <li>Third</li>
                </ol>
            </section>
            <section class="article__section">
                <h2>Circle list</h2>
                <p>
                    Circle list
                </p>
                <ul>
                    <li>First</li>
                    <li>Second</li>
                    <li>Third</li>
                </ul>
            </section>
            <section class="article__section">
                <h2>Numbered list (number > lower-latin)</h2>
                <p>
                    Class for OL tag:
                    <b>article__list-number-letter</b>
                </p>
                <ol class="article__list-number-letter">
                    <li>First</li>
                    <li>Second</li>
                    <li>Third</li>
                    <ul>
                        <li>First</li>
                        <li>Second</li>
                        <li>Third</li>
                    </ul>
                </ol>
            </section>
            <section class="article__section">
                <h2>Numbered list (number > circle)</h2>
                <p>
                    class for OL tag:
                    <b>article__list-number-circle</b>
                </p>
                <ol class="article__list-number-circle">
                    <li>First</li>
                    <li>Second</li>
                    <li>Third</li>
                    <ul>
                        <li>First</li>
                        <li>Second</li>
                        <li>Third</li>
                    </ul>
                </ol>
            </section>
            <section class="article__section">
                <h2>Numbered list (number > number > letter > circle)</h2>
                <p>
                    class for OL tag:
                    <b>article__list-number2-letter-circle</b>
                </p>
                <ol class="article__list-number2-letter-circle">
                    <li>lvl 1 First</li>
                    <li>lvl 1 Second</li>
                    <li>lvl 1 Third
                        <ol>
                            <li>lvl 2 First</li>
                            <li>lvl 2 Second
                                <ol>
                                    <li>lvl 3 First</li>
                                    <li>lvl 3 Second</li>
                                    <li>lvl 3 Third
                                        <ul>
                                            <li>lvl 4 First</li>
                                            <li>lvl 4 Second</li>
                                            <li>lvl 4 Third</li>
                                        </ul>
                                    </li>
                                </ol>
                            </li>
                            <li>lvl 2 Third</li>
                        </ol>
                    </li>
                </ol>
            </section>
            <section class="article__section">
                <h2>Text alignment</h2>
                <p>Text left</p>
                <hr>
                <p style="text-align: center;">Text center</p>
                <hr>
                <p style="text-align: right;">Text right</p>
                <hr>
            </section>
            <section class="article__section">
                <h2>Table content</h2>
                <table border="1" cellpadding="1" cellspacing="1" style="width: 50%;">
                    <caption>Table example</caption>
                    <tbody>
                        <tr>
                            <td>sadgsdghs sdg sgs gsg</td>
                            <td>dgsgsdgs gs dgsdg sdgsg</td>
                        </tr>
                        <tr>
                            <td>sdgsd g sgs dg sdg</td>
                            <td>sdg sg sdg sdg
                            </td>
                        </tr>
                        <tr>
                            <td>sdg sdg sg sdg</td>
                            <td>sgd sdg sdg sg</td>
                        </tr>
                    </tbody>
                </table>
            </section>
            <section class="article__section">
                <h2>Image</h2>
                <img src="https://picsum.photos/700/400" alt="description of image">
            </section>
            <section class="article__section">
                <h2>Video</h2>
                <video id="video1" controls="">
                    <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
                    <source src="https://www.w3schools.com/html/mov_bbb.ogg" type="video/ogg">
                    Your browser does not support HTML5 video.
                </video>
            </section>
            <section class="article__section">
                <h2>Iframe</h2>
                <iframe src="https://www.youtube.com/embed/IrkwMX5tTCM?si=xhM1xCr5Am9EDPf_" title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen controls></iframe>
            </section>
            <section class="article__section">
                <h2>Button types</h2>
                <a href="#" class="button button--s1 button--t1">
                    <span>button type 1</span>
                </a>
                <a href="#" class="button button--s1 button--t2">
                    button type 2
                </a>
                <a href="#" class="button button--s1 button--t3">
                    button type 3
                </a>
            </section>
            <section class="article__section">
                <h2>Button sizes</h2>
                <a href="#" class="button button--s1 button--t2">
                    button size 1 (auto width)
                </a>
                <a href="#" class="button button--s2 button--t2">
                    button size 2 (100% width)
                </a>
                <a href="#" class="button button--s3 button--t2">
                    size 3 (fit content width)
                </a>
                <a href="#" class="button button--s4 button--t2">
                    s4
                </a>
            </section>
            <section class="article__section">
                <h2>Loading button</h2>
                <a href="#" class="button button--s1 button--t2 button--loading">
                    {# <span class="loader--s"><img src="../../img/elements/loader.svg" alt="loading" /></span>#}
                </a>
            </section>
        </article>
    </div>

</div>
{% endblock %}