{% set logged = "yes" %}
{% extends "master::master.twig" %}
{% block content %}
<div class="page page--accounts">
    <div class="container">
        <div class="profile__header">
            {{ fieldButton({
            tag: 'a',
            sizeClass: '1',
            typeClass: '3',
            href: '/html/pages/profile.html',
            content: 'back',
            iconClass: 'icon-pointer-left'
            }) }}
            <div class="accounts__header">
                <h1>Accounts</h1>
                {{ fieldButton({
                tag: 'a',
                sizeClass: '3',
                typeClass: '1',
                content: 'Add account',
                customData: ''
                }) }}
            </div>
        </div>
        {% include '@components/accounts-grid.twig' %}
        {% include '@components/pagination.twig' %}
    </div>
    {% include '@components/providers.twig' %}
    {% include '@components/payments.twig' %}
</div>
{% endblock %}