{% extends "master::master.twig" %}
{% block content %}
<div class="page page--auth">
    <div class="container">
        <h1>Page 2fac step 2 </h1>
    </div>
    <div class="container">
        Page 2fac step 2 content
    </div>
</div>
{% endblock %}