{% extends "master::error.twig" %}
{% block content %}
    <div class="blocked__content">
        <div class="blocked__img">
            <img src="../../img/icons/exclamation.svg" alt="">
        </div>
        <h1 class="blocked__title">This browser is not supported</h1>
        <p class="blocked__text">Please use the latest versions of Google Chrome, Firefox, Microsoft Edge, Opera or Safari</p>
    </div>
    
{% endblock %}
