{% extends "master::master.twig" %}
{% block content %}
	<div class="page page--bonuses-history">
		<div class="container">
			<div class="profile__header">
				{{ fieldButton({
            tag: 'a',
            sizeClass: '1',
            typeClass: '3',
            href: '/html/pages/profile.html',
            content: 'back',
            iconClass: 'icon-pointer-left'
            }) }}
				<h1>Bonuses History</h1>
			</div>
			<div class="bonuses">
				{% include '@components/bonuses-history.twig' %}
			</div>
		</div>
		{% include '@components/providers.twig' %}
		{% include '@components/payments.twig' %}
	</div>
{% endblock %}
