{% extends "master::master.twig" %}
{% block content %}
	<div class="page page--bonuses">
		<div class="container">
			<h1>Bonuses</h1>
			{# для добавления нужного типа бонуса нужно раскоментировать импортируемый компонент и стили для него в
			        bonuses.scss #}
			{# {% include '@components/bonuses-list-type-a.twig' %} #}
			{% include '@components/bonuses-list-type-b.twig' %}
			{% include '@components/pagination.twig' %}
			{# {% include '@components/bonuses-list-type-c.twig' %} #}
		</div>
		{% include '@components/providers.twig' %}
		{% include '@components/payments.twig' %}
	</div>
{% endblock %}
