{% set logged = "yes" %}
{% extends "master::master.twig" %}
{% block content %}
	<div class="page page--bonuses">
		<div class="container">
			<div class="bonuses__header">
				<h1>Bonuses</h1>
				{{ fieldInput({
            type: 'select',
            id: 'tabs',
            value: [
            { label: "Activated" },
            { label: "Subscribed" },
            { label: "Autosubscribed" },
            { label: "All bonuses" }
            ],
            customClass: 'select--tabs',
            customData: 'data-tabs data-tabs-save=bonus_player'
            }) }}
			</div>
			{% include '@components/bonuses-player.twig' %}
		</div>
		{% include '@components/providers.twig' %}
		{% include '@components/payments.twig' %}
	</div>
{% endblock %}
