{% set logged = "yes" %}
{% extends "master::master.twig" %}
{% block content %}
	<div class="page page--text">
		<div class="container">
			<div class="container__box">
				<div class="bonus-info__header">
					{{ fieldButton({
                tag: 'a',
                sizeClass: '1',
                typeClass: '3',
                href: '/html/pages/profile.html',
                content: 'back',
                iconClass: 'icon-pointer-left'
                }) }}
					<h1>Perfect bonus for a nice start</h1>
					<div class="bonus-info__top">
						<div class="bonus-info__timer">
							<div id="counter" class="counter"></div>
						</div>
						<span class="status status--active">active</span>
					</div>

				</div>
				<div class="bonus-info__content">
					<picture class="bonus-info__img">
						<img src="../../img/components/bonuses/bonus-placeholder.png" srcset="../../img/components/bonuses/bonus-placeholder.png 320w, ../../img/components/bonuses/bonus-placeholder.png 800w, ../../img/components/bonuses/bonus-placeholder.png 1200w" alt="Image description"/>
					</picture>
					{% include '@components/currencies.twig' %}
					<div class="bonus-info__table">
						<div class="bonus-info__table-row">Bonus amount:<span>0.00000008 BTC</span>
						</div>
						<div class="bonus-info__table-row">Bonus wager:<span>x12 BTC</span>
						</div>
						<div class="bonus-info__table-row">Free spins:<span>200</span>
						</div>
						<div class="bonus-info__table-row">Wager FS:<span>x5</span>
						</div>
						<div class="bonus-info__table-row">Games<div class="bonus-info__games">
								<a href="/pages/games.html" class="bonus-info__link">Game name</a>
							</div>
						</div>
					</div>
					<div class="bonus-info__article">
						<p>Ancient Egypt fans can rattle! The Oracle prophesied about incredible and untold riches that
																												                        await all players this week. A new 25 Free Spins in. Enjoy a stunning adventure by the waters of
																												                        the sacred Nile to fabulous and mythical Luxor!</p>
						<p>When you Activate the Bonus, all the bets are made from the Casino Bonus Account. All winnings
																												                        are credited to the bonus
							<a href="#">balance before wagering</a>. The player must wager the
																																                        bonus amount 40 (forty) times to withdraw the winnings. The bonus amount will then be
																																                        transferred from your Casino Bonus Account to your Casino Cash Account.</p>
					</div>

					<div class="bonus-info__buttons">
						{{ fieldButton({
                    tag: 'a',
                    content: 'get bonus',
                    href: '#',
                    sizeClass: '1',
                    typeClass: '1'
                    }) }}
					</div>
				</div>
			</div>
		</div>
		{% include '@components/providers.twig' %}
		{% include '@components/payments.twig' %}
	</div>
{% endblock %}
