{% extends "master::master.twig" %}
{% block content %}
<div style="display: grid; grid-template-columns: repeat(3,1fr); padding: 40px; gap: 20px;">
    <div style="display: grid; gap: 20px; height: fit-content;">
        <h2>Buttons</h2>
        <h4>Types</h4>
        <div style="display: flex; gap: 20px;">
            <div style="display: grid; gap: 10px;">
                <h5>Type 1</h5>
                {{ fieldButton({
                tag: 'a',
                content: 'Sign Up',
                href: '/html/pages/registration.html',
                sizeClass: '3',
                typeClass: '1'
                } ) }}
            </div>
            <div style="display: grid; gap: 10px;">
                <h5>Type 2</h5>
                {{ fieldButton({
                tag: 'a',
                content: 'Sign Up',
                href: '/html/pages/registration.html',
                sizeClass: '3',
                typeClass: '2'
                } ) }}
            </div>
            <div style="display: grid; gap: 10px;">
                <h5>Type 3</h5>
                {{ fieldButton({
                tag: 'a',
                content: 'Sign Up',
                href: '/html/pages/registration.html',
                sizeClass: '3',
                typeClass: '3'
                } ) }}
            </div>

        </div>
        <h4>Sizes</h4>
        <div style="display: grid; gap: 20px;">
            <div style="display: grid; gap: 10px;">
                <h5>Size 1</h5>
                {{ fieldButton({
                tag: 'a',
                content: 'Sign Up',
                href: '/html/pages/registration.html',
                sizeClass: '1',
                typeClass: '1'
                } ) }}
            </div>
            <div style="display: grid; gap: 10px;">
                <h5>Size 2</h5>
                {{ fieldButton({
                tag: 'a',
                content: 'Sign Up',
                href: '/html/pages/registration.html',
                sizeClass: '2',
                typeClass: '1'
                } ) }}
            </div>
            <div style="display: grid; gap: 10px;">
                <h5>Size 3</h5>
                {{ fieldButton({
                tag: 'a',
                content: 'Sign Up',
                href: '/html/pages/registration.html',
                sizeClass: '3',
                typeClass: '1'
                } ) }}
            </div>

        </div>

    </div>
    <div style="display: grid; gap: 20px; height: fit-content;">
        <h2>Inputs</h2>
        <div style="display: grid; gap: 10px;">
            <h5>Input</h5>
            {{ fieldInput({
            type: 'text',
            id: 'login',
            placeholder: 'Login, email or phone',
            }) }}
            <h5>Input with label</h5>
            {{ fieldInput({
            type: 'text',
            id: 'login',
            placeholder: 'Login, email or phone',
            label: 'Login, email or phone'
            }) }}
        </div>

    </div>
</div>
{% endblock %}