{% extends "master::master.twig" %}
{% block content %}
<div class="page page--confirm">
    <div class="container">
        <h1>Confirm Page</h1>
    </div>
    <div class="container">
        Confirm content
    </div>
</div>
{% endblock %}