{% extends "master::error.twig" %}
{% block content %}
    <div class="blocked__content">
        <div class="blocked__img">
            <img src="../../img/icons/construction.svg" alt="">
        </div>
        <h1 class="blocked__title">The site is under construction</h1>
        <p class="blocked__text">Please go back a bit later. Sorry for inconvenience.</p>
    </div>
    
{% endblock %}
