{% set logged = "yes" %}
{% extends "master::master.twig" %}
{% block content %}
<div class="page page--documents">
    <div class="container">
        <div class="profile__header">
            {{ fieldButton({
            tag: 'a',
            sizeClass: '1',
            typeClass: '3',
            href: '/html/pages/profile.html',
            content: 'back',
            iconClass: 'icon-pointer-left'
            }) }}
            <div class="documents__header">
                <h1>Documents</h1>
                <form id="form-upload-doc" class="form form--upload" enctype="multipart/form-data"
                    action="/user/upload/save" method="post">
                    <div class="documents__rules">
                        <div>Only JPG, JPEG, PNG, GIF, PDF files up to 10 MB can be uploaded</div>
                    </div>
                    <div class="form-upload-doc__inputs">
                        <input type="hidden" value="65ec90843fa0a2f631880e941752b2ed6b56b350" name="YII_CSRF_TOKEN">
                        <input id="file" accept="image/*" type="file" value="Файл не выбран" name="file">
                        <label for="file" class="button--upload">
                            {{ fieldButton({
                            tag: 'span',
                            sizeClass: '1',
                            typeClass: '1',
                            content: 'upload',
                            customData: 'data-upload-result'
                            }) }}
                        </label>
                    </div>
                </form>
            </div>

        </div>
        {% include '@components/documents-grid.twig' %}
        {# {% include '@components/pagination.twig' %}#}
    </div>
    {% include '@components/providers.twig' %}
    {% include '@components/payments.twig' %}
</div>
{% endblock %}