{% extends "master::master.twig" %}
{% block content %}
<div class="page page--text">
    <div class="container">
        <div class="container__box faq">
            <h1 class="faq__title">Frequently asked questions</h1>
            <div class="faq__list">
                {% for item in faq %}
                <div class="faq__list-item">
                    <div class="faq__list-title">{{ item.title }}
                        <button class="faq__list-opener button button--has-skew button--t1">
                            <i class="icon-close"></i>
                        </button>
                    </div>
                    <div class="faq__list-content">
                        <p>{{ item.content}}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
            {{ fieldButton({
            tag: 'a',
            content: 'BACK TO HOMEPAGE',
            href: 'login.html',
            sizeClass: '1',
            typeClass: '2'
            } ) }}
        </div>
    </div>
    {% include "@components/providers.twig" %}
    {% include '@components/payments.twig' %}
</div>

{% endblock %}