{% extends "master::master.twig" %}
{% block content %}
	<div class="page page--games">
		{% include '@components/banners.twig' %}

		<div class="container">
			<h1 class="container__title container__title--m">Popular</h1>
			<div class="games__list">
				{% set k = 24 %}
				{% for i in range(1, k) %}
					<div class="game-card">
						<img src="../../../img/components/winners/winner-6.jpg" alt="game preview" class="game-card__img">
						<button type="button" class="game-card__star">
							<i class="icon-favorite"></i>
						</button>
						<button type="button" class="game-card__play"></button>
						<div class="game-card__footer">
							<h3 class="game-card__subtitle">ELK Games</h3>
							<h2 class="game-card__title">Rocket Reels</h2>
							<button type="button" class="game-card__button-demo">Demo</button>
						</div>
					</div>
				{% endfor %}
			</div>
			{% include "@components/pagination.twig" %}
		</div>

		{% include '@components/winners.twig' %}
		{% include "@components/seo-block.twig" %}
		{% include "@components/providers.twig" %}
		{% include '@components/payments.twig' %}
	</div>
{% endblock %}
