{% extends "master::master.twig" %}
{% block content %}
	<div class="page page--game">
		{% include '@components/game.twig' %}
		{% include '@components/winners.twig' %}
		{% include '@components/providers.twig' %}
        {% include '@components/payments.twig' %}
	</div>
{% endblock %}
