{% extends "master::master.twig" %}
{% block content %}
	<div class="page page--games">
		{% include '@components/banners.twig' %}
		{% include '@components/game-categories/categories-header-navigation.twig' %}

		<div class="container">
			<h1 class="container__title container__title--m">All games</h1>
		</div>

		<div class="container">
			<div class="games__list" data-games-list>
				{% set k = 10 %}
				{% for i in range(1, k) %}
					<div class="game-card">
						<img src="../../img/backgrounds/placeholder-no-pic.png" alt="game preview" class="game-card__img">
						<button type="button" class="game-card__star">
							<i class="icon-favorite"></i>
						</button>
						<button type="button" class="game-card__play"></button>
						<div class="game-card__footer">
							<h3 class="game-card__subtitle">ELK Games</h3>
							<h2 class="game-card__title">Rocket Reels</h2>
							<button type="button" class="game-card__button-demo">Demo</button>
						</div>
					</div>

				{% endfor %}
			</div>
			{% include "@components/pagination.twig" %}
		</div>

		{% include '@components/winners.twig' %}
		{% include "@components/seo-block.twig" %}
		{% include "@components/providers.twig" %}
		{% include '@components/payments.twig' %}
	</div>
{% endblock %}
