{% extends "master::master.twig" %}
{% block content %}
<div class="page page--text">
    <div class="container">
        <h1>Help Page</h1>
    </div>
    <div class="container">
        Help content
    </div>
</div>
{% endblock %}