{% extends "master::master.twig" %}
{% block content %}
<div class="page page--login">
    <div class="container">
        <h1>Login Page</h1>
    </div>
    <div class="container">
        Login content
    </div>
</div>
{% endblock %}