{% extends "master::master.twig" %}
{% block content %}
    <div class="page page--login">
        <div class="container">
            {% include "@components/authentication/login.twig" %}
        </div>
    </div>
{% endblock %}
