{% extends "master::master.twig" %}
{% block content %}
<div class="page page--text">
    {% include '@components/main-slider/one-slide.twig' %}
    <div class="container">
        <div class="container__box">
            <h1>Loyalty program</h1>
            <div class="loyalty">
                <div class="loyalty__header">
                    <div class="loyalty__title">Providers</div>
                    <div class="swiper-buttons">
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                </div>
                <div class="loyalty__list swiper-container" data-loyalty-swiper>
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        {% for item in loyalty %}
                        <div class="loyalty__list-item swiper-slide">
                            <img src="{{ item.img }}" alt="" class="loyalty__list-img">
                            <div class="loyalty__list-inner">
                                <div class="loyalty__list-title">{{ item.title }}</div>
                                <div class="loyalty__list-desc">{{ item.point }}
                                    points</div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <p>Great news! Drops and Wins bring the action back in 2022! Starting from 9th of February 2022 to 8th of
                February 2023, you can expect a full year of prizes in our Daily Prize Drops and Weekly Tournaments for
                our best performing and newly released Slots games at every stage. Enjoy exclusive games, collect points
                and share a €6 500 000 in total prize pool.
            </p>
            {{ fieldButton({
            tag: 'a',
            content: 'BACK TO HOMEPAGE',
            href: 'login.html',
            sizeClass: '1',
            typeClass: '2'
            } ) }}
        </div>
    </div>
    {% include '@components/loyalty-table.twig' %}
    {% include "@components/providers.twig" %}
    {% include '@components/payments.twig' %}
</div>


{% endblock %}