{% set logged = "yes" %}
{% extends "master::master.twig" %}
{% block content %}
    <div class="page page--main">
        {% include '@components/main-slider/one-slide.twig' %}
        {% include '@components/banners.twig' %}
        {% include '@components/winners.twig' %}
        {% include '@components/providers.twig' %}
        {% include '@components/game-categories/categories-header-navigation.twig' %}
        {% include '@components/games.twig' %}
        {% include '@components/games.twig' %}
        {% include '@components/tournaments.twig' %}
        {% include '@components/games.twig' %}
        {% include '@components/quests-main.twig' %}
        {% include '@components/info-block.twig' %}
        {% include '@components/seo-block.twig' %}
    </div>
    {% include '@components/modules/sidebar-providers.twig' %}
    {% include '@components/chat-button.twig' %}
{% endblock %}
