{% set logged = "yes" %}
{% extends "master::master.twig" %}
{% block content %}
<div class="page page--messages">
    <div class="container">
        <div class="profile__header">
            {{ fieldButton({
            tag: 'a',
            sizeClass: '1',
            typeClass: '3',
            href: '/html/pages/profile.html',
            content: 'back',
            iconClass: 'icon-pointer-left'
            }) }}
            <h1>Notifications</h1>
        </div>
        {% include '@components/messages.twig' %}
        {% include '@components/pagination.twig' %}
    </div>
    {% include '@components/providers.twig' %}
    {% include '@components/payments.twig' %}
</div>

{% endblock %}