{% set logged = "yes" %}
{% extends "master::master.twig" %}
{% block content %}
<div class="page page--messages-info">
    <div class="container">
        <div class="container__box messages-info">
            <div class="messages-info__header">
                {{ fieldButton({
                tag: 'a',
                sizeClass: '1',
                typeClass: '3',
                href: '/html/pages/profile.html',
                content: 'back',
                iconClass: 'icon-pointer-left'
                }) }}
                <h1>New tournament begins</h1>
                <div class="messages-info__date"><span>21.09.2021</span><span>|</span><span>19:27</span></div>
            </div>
            <div class="messages-info__content">
                <picture class="messages-info__img">
                    <img src="../../img/components/bonuses/bonus.png"
                        srcset="../../img/components/bonuses/bonus.png 320w, ../../img/components/bonuses/bonus.png 800w, ../../img/components/bonuses/bonus.png 1200w"
                        alt="Image description" />
                </picture>
                <div class="messages-info__article">
                    <p>Ancient Egypt fans can rattle! The Oracle prophesied about incredible and untold riches that
                        await all players this week. A new 25 Free Spins in. Enjoy a stunning adventure by the waters of
                        the sacred Nile to fabulous and mythical Luxor!</p>
                    <p>When you Activate the Bonus, all the bets are made from the Casino Bonus Account. All winnings
                        are credited to the bonus <a href="#">balance before wagering</a>. The player must wager the
                        bonus amount 40 (forty) times to withdraw the winnings. The bonus amount will then be
                        transferred from your Casino Bonus Account to your Casino Cash Account.</p>
                </div>
            </div>
        </div>
    </div>
    {% include '@components/providers.twig' %}
    {% include '@components/payments.twig' %}
</div>

{% endblock %}