{% extends "master::master.twig" %}
{% block content %}
<div class="page" style="margin: 40px 0 80px;">
    <div class="container" style="display: grid;grid-template-columns: 1fr 1fr 1fr 1fr; gap: 24px; text-align: center;">
        <div style="display: flex;flex-direction: column;gap: 12px;">
            <h2>Notification</h2>
            {{ fieldButton({
            tag: 'a',
            sizeClass: '2',
            typeClass: '1',
            content: 'success',
            href: '../modals/success.html',
            customData: 'data-modal'
            }) }}
            {{ fieldButton({
            tag: 'a',
            sizeClass: '2',
            typeClass: '1',
            content: 'error',
            href: '../modals/error.html',
            customData: 'data-modal'
            }) }}
            {# {{ fieldButton({
            tag: 'a',
            sizeClass: '2',
            typeClass: '1',
            content: 'warning',
            href: '../modals/warning.html',
            customData: 'data-modal'
            }) }} #}
            {{ fieldButton({
            tag: 'a',
            sizeClass: '2',
            typeClass: '1',
            content: 'warning',
            href: '../modals/warning-2.html',
            customData: 'data-modal'
            }) }}
            {{ fieldButton({
            tag: 'a',
            sizeClass: '2',
            typeClass: '1',
            content: 'verification',
            href: '../modals/verification.html',
            customData: 'data-modal'
            }) }}
            {{ fieldButton({
            tag: 'a',
            sizeClass: '2',
            typeClass: '1',
            content: 'verification 2',
            href: '../modals/verification-2.html',
            customData: 'data-modal'
            }) }}
            {{ fieldButton({
            tag: 'a',
            sizeClass: '2',
            typeClass: '1',
            content: 'confirmation-phone-mail',
            href: '../modals/confirmation-phone-mail.html',
            customData: 'data-modal'
            }) }}
        </div>
        <div style="display: flex;flex-direction: column;gap: 12px;">
            <h2>Profile page</h2>
            {{ fieldButton({
            tag: 'a',
            sizeClass: '2',
            typeClass: '1',
            content: 'File',
            href: '../modals/file.html',
            customData: 'data-modal'
            }) }}
            {{ fieldButton({
            tag: 'a',
            sizeClass: '2',
            typeClass: '1',
            content: 'Save changes',
            href: '../modals/save.html',
            customData: 'data-modal'
            }) }}
            {{ fieldButton({
            tag: 'a',
            sizeClass: '2',
            typeClass: '1',
            content: 'New account',
            href: '../modals/new-account.html',
            customData: 'data-modal'
            }) }}
            {{ fieldButton({
            tag: 'a',
            sizeClass: '2',
            typeClass: '1',
            content: 'New account select',
            href: '../modals/new-account-select.html',
            customData: 'data-modal'
            }) }}
            {{ fieldButton({
            tag: 'a',
            sizeClass: '2',
            typeClass: '1',
            content: 'profile filling',
            href: '../modals/profile-filling.html',
            customData: 'data-modal'
            }) }}
        </div>
        <div style="display: flex;flex-direction: column;gap: 12px;">
            <h2>Withdrawal</h2>
            {{ fieldButton({
            tag: 'a',
            sizeClass: '2',
            typeClass: '1',
            content: 'step 1',
            href: '../modals/cash-withdrawal.html',
            customData: 'data-modal'
            }) }}
            {{ fieldButton({
            tag: 'a',
            sizeClass: '2',
            typeClass: '1',
            content: 'notification 1',
            href: '../modals/cash-withdrawal-notification-1.html',
            customData: 'data-modal'
            }) }}
            {{ fieldButton({
            tag: 'a',
            sizeClass: '2',
            typeClass: '1',
            content: 'notification 2',
            href: '../modals/cash-withdrawal-notification-2.html',
            customData: 'data-modal'
            }) }}
            {{ fieldButton({
            tag: 'a',
            sizeClass: '2',
            typeClass: '1',
            content: 'form',
            href: '../modals/cash-withdrawal-form.html',
            customData: 'data-modal'
            }) }}
            {{ fieldButton({
            tag: 'a',
            sizeClass: '2',
            typeClass: '1',
            content: 'Tax module: form',
            href: '../modals/cash-withdrawal-2-form.html',
            customData: 'data-modal'
            }) }}
            {{ fieldButton({
            tag: 'a',
            sizeClass: '2',
            typeClass: '1',
            content: 'Tax module: notification',
            href: '../modals/cash-withdrawal-2-notification.html',
            customData: 'data-modal'
            }) }}
        </div>
        <div style="display: flex;flex-direction: column;gap: 12px;">
            <h2>Deposit</h2>
            {{ fieldButton({
            tag: 'a',
            sizeClass: '2',
            typeClass: '1',
            content: 'qr',
            href: '../modals/deposit-qr.html',
            customData: 'data-modal'
            }) }}
            {{ fieldButton({
            tag: 'a',
            sizeClass: '2',
            typeClass: '1',
            content: 'default',
            href: '../modals/deposit-default.html',
            customData: 'data-modal'
            }) }}
            {{ fieldButton({
            tag: 'a',
            sizeClass: '2',
            typeClass: '1',
            content: 'crypto wallets',
            href: '../modals/deposit-crypto-wallets.html',
            customData: 'data-modal'
            }) }}
            {{ fieldButton({
            tag: 'a',
            sizeClass: '2',
            typeClass: '1',
            content: 'with metamask',
            href: '../modals/deposit-metamask.html',
            customData: 'data-modal'
            }) }}
            {{ fieldButton({
            tag: 'a',
            sizeClass: '2',
            typeClass: '1',
            content: 'trustwallet',
            href: '../modals/trustwallet.html',
            customData: 'data-modal'
            }) }}
            {{ fieldButton({
            tag: 'a',
            sizeClass: '2',
            typeClass: '1',
            content: 'bonuses',
            href: '../modals/deposit-bonuses.html',
            customData: 'data-modal'
            }) }}
        </div>
        <div style="display: flex;flex-direction: column;gap: 12px;">
            <h2>Bonus</h2>
            {{ fieldButton({
            tag: 'a',
            sizeClass: '2',
            typeClass: '1',
            content: 'bonuses',
            href: '../modals/bonuses-default.html',
            customData: 'data-modal'
            }) }}
            {{ fieldButton({
            tag: 'a',
            sizeClass: '2',
            typeClass: '1',
            content: 'preactivation',
            href: '../modals/preactivation.html',
            customData: 'data-modal'
            }) }}
        </div>
        <div style="display: flex;flex-direction: column;gap: 12px;">
            <h2>Tournaments</h2>
            {{ fieldButton({
            tag: 'a',
            sizeClass: '2',
            typeClass: '1',
            content: 'list',
            href: '../modals/tournaments-list.html',
            customData: 'data-modal'
            }) }}
            {{ fieldButton({
            tag: 'a',
            sizeClass: '2',
            typeClass: '1',
            content: 'text',
            href: '../modals/tournaments-text.html',
            customData: 'data-modal'
            }) }}
            {{ fieldButton({
            tag: 'a',
            sizeClass: '2',
            typeClass: '1',
            content: 'games',
            href: '../modals/tournaments-games.html',
            customData: 'data-modal'
            }) }}
        </div>
        <div style="display: flex;flex-direction: column;gap: 12px;">
            <h2>Game</h2>
            {{ fieldButton({
            tag: 'a',
            sizeClass: '2',
            typeClass: '1',
            content: 'Your Booster Wins ',
            href: '../modals/booster-wins.html',
            customData: 'data-modal'
            }) }}
            {{ fieldButton({
            tag: 'a',
            sizeClass: '2',
            typeClass: '1',
            content: 'share-my-win',
            href: '../modals/share-my-win.html',
            customData: 'data-modal'
            }) }}
        </div>
        <div style="display: flex;flex-direction: column;gap: 12px;">
            <h2>Other</h2>
            {{ fieldButton({
            tag: 'a',
            sizeClass: '2',
            typeClass: '1',
            content: 'additional data',
            href: '../modals/additional-data.html',
            customData: 'data-modal'
            })}}
            {{ fieldButton({
            tag: 'a',
            sizeClass: '2',
            typeClass: '1',
            content: 'check extensions',
            href: '../modals/check-extensions.html',
            customData: 'data-modal'
            })}}
            {{ fieldButton({
            tag: 'a',
            sizeClass: '2',
            typeClass: '1',
            content: 'fiat',
            href: '../modals/fiat.html',
            customData: 'data-modal'
            }) }}
            {{ fieldButton({
            tag: 'a',
            sizeClass: '2',
            typeClass: '1',
            content: 'template',
            href: '../modals/template.html',
            customData: 'data-modal'
            }) }}
            {{ fieldButton({
            tag: 'a',
            sizeClass: '2',
            typeClass: '1',
            content: 'new-limit',
            href: '../modals/new-limit.html',
            customData: 'data-modal'
            }) }}



            {# modal buttons #}
        </div>
    </div>
</div>
{% endblock %}
