{% extends "master::master.twig" %}
{% block content %}
<div class="page page--news">
    <div class="container">
        <h1>News Page</h1>
    </div>
    <div class="container">
         News Page content
    </div>
</div>
{% endblock %}
