{% extends "master::master.twig" %}
{% block content %}
<div class="page page--news-info">
    <div class="container">
        <h1>News Info Page</h1>
    </div>
    <div class="container">
        News Info content
    </div>
</div>
{% endblock %}
