{% extends "master::master.twig" %}
{% block content %}
<div class="page page--blocked">
    <div class="container">
        <div class="profile__header">
            {{ fieldButton({
            tag: 'a',
            sizeClass: '1',
            typeClass: '3',
            href: '/html/pages/main.html',
            content: 'back',
            customClass: 'button--back',
            iconClass: 'icon-pointer-left'
            }) }}
            <h1>All Games/Notifications</h1>
        </div>
    </div>
    <div class="container">
        <div class="blocked__content">
            <div class="blocked__empty-img">
                <img src="../../img/icons/box.svg" alt="">
            </div>
            <h1 class="blocked__title">You have no games/notifications</h1>
            <p class="blocked__text">We'll send you several soon
            </p>
            {{ fieldButton({
            tag: 'a',
            content: 'GO back',
            href: 'games.html',
            sizeClass: '4',
            typeClass: '1'
            } ) }}
        </div>
    </div>
    {% include '@components/providers.twig' %}
    {% include '@components/payments.twig' %}
</div>
{% endblock %}