{% extends "master::error.twig" %}
{% block content %}
    <div class="blocked__content">
        <div class="blocked__img">
            <img src="../../img/icons/lock.svg" alt="">
        </div>
        <h1 class="blocked__title">This site is not available</h1>
        <p class="blocked__text">Sorry, the resource is not available for your GeO</p>
    </div>
    
{% endblock %}
