{% extends "master::master.twig" %}
{% block content %}
    <div class="page page--form">
        <div class="container">
            <div class="form-wrapper">
                <h1>Set new password</h1>
                <form class="form">
                    <fieldset class="form__section form__section--icon">
                        {{ fieldInput({
                            type: 'password',
                            id: 'pass',
                            placeholder: 'Password',
                            label: 'New password'
                        }) }}
                        <i class="switch-icon icon-eye-blind"></i>
                    </fieldset>
                    <fieldset class="form__section form__section--icon">
                        {{ fieldInput({
                            type: 'password',
                            id: 'pass',
                            placeholder: 'Repeat your password',
                            label: 'Repeat password',
                            notification: 'Необходимо заполнить поле'
                        }) }}
                        <i class="switch-icon icon-eye-blind"></i>
                    </fieldset>
                    <fieldset class="form__section form__section--submit">
                        {{ fieldButton({
                            tag: 'button',
                            type: 'submit',
                            sizeClass: '1',
                            typeClass: '1',
                            content: 'save'
                        }) }}
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    {% include '@components/providers.twig' %}
    {% include '@components/payments.twig' %}
{% endblock %}
