{% extends "master::master.twig" %}
{% block content %}
	<div class="page page--form">
		<div class="container">
			<div class="form-wrapper">
				<h1>Password recovery</h1>
				<form class="form">
                    <div class="tab">
                        <ul class="tabs">
                            <li><span>Email</span></li>
                            <li><span>Phone</span></li>
                        </ul>
                        <div class="tab__content">
                            <div class="tabs__item">
                                <fieldset class="form__section">
                                    {{ fieldInput({
                                        type: 'text',
                                        id: 'email',
                                        placeholder: 'Enter email address',
                                        label: 'Enter email'
                                    }) }}
                                </fieldset>
                            </div>
                            <div class="tabs__item">
                                <fieldset class="form__section">
                                    {{ fieldInput({
                                        type: 'text',
                                        id: 'phone',
                                        placeholder: 'Enter phone number',
                                        label: 'Enter phone'
                                    }) }}
                                </fieldset>
                            </div>
                        </div>
                    </div>
					<fieldset class="form__section form__section--submit">
						{{ fieldButton({
                            tag: 'button',
                            type: 'submit',
                            sizeClass: '2',
                            typeClass: '1',
                            content: 'recover',
							customClass: 'disabled'
                        }) }}
					</fieldset>
				</form>
			</div>
		</div>
		{% include '@components/providers.twig' %}
		{% include '@components/payments.twig' %}
	</div>
{% endblock %}
