{% extends "master::master.twig" %}
{% block content %}
	<div class="page page--form">
		<div class="container">
			<div class="form-wrapper">
				<h1>Password recovery</h1>
				<form class="form">
					<fieldset class="form__section form__section--icon">
						{{ fieldInput({
                            type: 'text',
                            id: 'pass',
                            value: '123456',
                            placeholder: 'Enter code',
                            label: 'Verification code',
                        }) }}
						{{ fieldInput({
                            type: 'text',
                            id: 'pass',
                            status: 'error',
                            value: '123456',
                            placeholder: 'Enter code',
                            notification: 'The verification code is expired',
                            label: 'Verification code',
                        }) }}
					</fieldset>
					<fieldset class="form__section form__section--submit">
						{{ fieldButton({
                            tag: 'button',
                            type: 'submit',
                            sizeClass: '2',
                            typeClass: '2',
                            content: 'request code',
                        }) }}
						{{ fieldButton({
                            tag: 'button',
                            type: 'submit',
                            sizeClass: '2',
                            typeClass: '1',
                            content: 'restore',
                            customClass: 'disabled'
                        }) }}
					</fieldset>
					<fieldset class="form__section form__section--submit">
						{{ fieldButton({
                            tag: 'button',
                            type: 'submit',
                            sizeClass: '2',
                            typeClass: '2',
                            content: 'request code',
                            customClass: 'disabled'
                        }) }}
						{{ fieldButton({
                            tag: 'button',
                            type: 'submit',
                            sizeClass: '2',
                            typeClass: '1',
                            content: 'restore',
                            customClass: 'disabled'
                        }) }}
					</fieldset>
				</form>
			</div>
		</div>
		{% include "@components/providers.twig" %}
		{% include '@components/payments.twig' %}
	</div>
{% endblock %}
