{% set logged = "yes" %}
{% extends "master::master.twig" %}
{% block content %}
<div class="page page--form">
    <div class="container">
        <div class="form-wrapper">
            {{ fieldButton({
            tag: 'a',
            sizeClass: '1',
            typeClass: '3',
            content: 'back',
            iconClass: 'icon-pointer-left'
            }) }}
            <h1>Profile info</h1>
            <div class="tab tab--form">
                {{ fieldInput({
                type: 'select',
                id: 'tabs',
                value: [
                { label: "Personal" },
                { label: "Location" },
                { label: "Contacts" },
                { label: "Security" }
                ],
                customClass: 'select--tabs',
                customData: 'data-tabs data-tabs-save=profile'
                }) }}
                <div class="tabs__wrapper">
                    <div class="tabs__content active">
                        <form class="form">
                            <fieldset class="form__section">
                                {{ fieldInput({
                                type: 'text',
                                id: '',
                                placeholder: 'Enter First name',
                                label: 'First name'
                                }) }}
                                {{ fieldInput({
                                type: 'text',
                                id: '',
                                placeholder: 'Enter second name',
                                label: 'Second name'
                                }) }}
                                {{ fieldInput({
                                type: 'text',
                                id: '',
                                placeholder: 'Enter your last name',
                                label: 'Last name'
                                }) }}
                                {{ fieldInput({
                                type: 'select',
                                id: 'timezone',
                                label: 'Gender',
                                value: [
                                { label: "Male" },
                                { label: "Female" }
                                ],
                                notification: 'Заполнено верно',
                                customData: 'data-select-menu'
                                }) }}
                                {{ fieldInput({
                                type: 'text',
                                id: '',
                                placeholder: 'XX.XX.XXXX',
                                label: 'Date of birth',
                                customData: 'data-date'
                                }) }}
                                {{ fieldInput({
                                type: 'text',
                                id: '',
                                placeholder: 'Nickname',
                                label: 'Nickname'
                                }) }}
                            </fieldset>
                            <fieldset class="form__section form__section--submit form__section--left">
                                {{ fieldButton({
                                tag: 'button',
                                type: 'submit',
                                sizeClass: '1',
                                typeClass: '1',
                                content: 'update data'
                                }) }}
                            </fieldset>
                        </form>
                    </div>
                    <div class="tabs__content">
                        <form class="form">
                            <fieldset class="form__section">
                                {{ fieldInput({
                                type: 'select',
                                id: 'timezone',
                                label: 'Country',
                                placeholder: 'Choose your country',
                                value: [
                                { label: "USA" },
                                { label: "UAE" }
                                ],
                                notification: 'Заполнено верно',
                                customData: 'data-select-menu'
                                }) }}
                                {{ fieldInput({
                                type: 'text',
                                id: '',
                                placeholder: 'Enter your city',
                                label: 'City'
                                }) }}
                                {{ fieldInput({
                                type: 'text',
                                id: '',
                                placeholder: 'Enter your postcode',
                                label: 'Post code'
                                }) }}
                                {{ fieldInput({
                                type: 'text',
                                id: '',
                                placeholder: 'Enter your last name',
                                label: 'Last name'
                                }) }}
                                {{ fieldInput({
                                type: 'text',
                                id: '',
                                placeholder: 'Enter your address',
                                label: 'Address'
                                }) }}
                            </fieldset>
                            <fieldset class="form__section form__section--submit form__section--left">
                                {{ fieldButton({
                                tag: 'button',
                                type: 'submit',
                                sizeClass: '1',
                                typeClass: '1',
                                content: 'update data'
                                }) }}
                            </fieldset>
                        </form>
                    </div>
                    <div class="tabs__content">
                        <form class="form">
                            <fieldset class="form__section form__section--row">
                                <div class="form__section form__section--icon">
                                    {{ fieldInput({
                                    type: 'text',
                                    id: '',
                                    placeholder: 'Email',
                                    label: 'Email'
                                    }) }}
                                    <div class="tooltip-info">
                                        <i class="icon-question-circle"></i>
                                        <div class="tooltip">
                                            You shall confirm the email
                                        </div>
                                    </div>
                                </div>

                                {{ fieldButton({
                                tag: 'button',
                                type: 'submit',
                                sizeClass: '1',
                                typeClass: '2',
                                content: 'confirm'
                                }) }}
                            </fieldset>
                            {{ fieldInput({
                            type: 'checkbox',
                            id: 'agree',
                            label: 'I want to receive newsletters and promotions'
                            }) }}
                            <fieldset class="form__section form__section--row form__section--divider">
                                <div class="form__section form__section--icon">
                                    {{ fieldInput({
                                    type: 'text',
                                    id: '',
                                    placeholder: 'Phone',
                                    label: 'Phone'
                                    }) }}
                                    <div class="tooltip-info">
                                        <i class="icon-question-circle"></i>
                                        <div class="tooltip">
                                            You shall confirm the phone
                                        </div>
                                    </div>
                                </div>

                                {{ fieldButton({
                                tag: 'button',
                                type: 'submit',
                                sizeClass: '1',
                                typeClass: '2',
                                content: 'confirm'
                                }) }}
                            </fieldset>
                            {{ fieldInput({
                            type: 'checkbox',
                            id: 'agree',
                            label: 'I want to receive newsletters and promotions'
                            }) }}
                            <fieldset class="form__section form__section--submit form__section--left">
                                {{ fieldButton({
                                tag: 'button',
                                type: 'submit',
                                sizeClass: '1',
                                typeClass: '1',
                                content: 'save'
                                }) }}
                            </fieldset>
                        </form>
                    </div>
                    <div class="tabs__content">
                        <form class="form ">
                            <fieldset class="form__section form__section--icon">
                                {{ fieldInput({
                                type: 'password',
                                id: '',
                                placeholder: 'Enter your previous password',
                                value: 'dsadsadasdsa',
                                label: 'Previous password'
                                }) }}
                                <i class="switch-icon icon-eye-blind"></i>
                            </fieldset>
                            <fieldset class="form__section form__section--icon">
                                {{ fieldInput({
                                type: 'password',
                                id: '',
                                placeholder: 'Enter your new password',
                                label: 'New password'
                                }) }}
                                <i class="switch-icon icon-eye-blind"></i>
                            </fieldset>
                            <fieldset class="form__section form__section--icon">
                                {{ fieldInput({
                                type: 'password',
                                id: '',
                                placeholder: 'Repeat password',
                                label: 'Repeat new password'
                                }) }}
                                <i class="switch-icon icon-eye-blind"></i>
                            </fieldset>

                            <fieldset class="form__section form__section--submit form__section--left">
                                {{ fieldButton({
                                tag: 'button',
                                type: 'submit',
                                sizeClass: '1',
                                typeClass: '2',
                                content: 'clear all'
                                }) }}
                                {{ fieldButton({
                                tag: 'button',
                                type: 'submit',
                                sizeClass: '1',
                                typeClass: '1',
                                content: 'update data'
                                }) }}
                            </fieldset>
                        </form>
                        <form action="" class="form form--question">
                            <fieldset class="form__section form__section--icon">
                                {{ fieldInput({
                                type: 'select',
                                id: 'timezone',
                                label: 'Security question',
                                placeholder: 'Select question',
                                value: [
                                { label: "Select question" },
                                { label: "Select question" }
                                ],
                                notification: 'Заполнено верно',
                                customData: 'data-select-menu'
                                }) }}
                                <i class="switch-icon icon-eye-blind"></i>
                            </fieldset>
                            <fieldset class="form__section form__section--icon">
                                {{ fieldInput({
                                type: 'text',
                                id: '',
                                placeholder: 'Write answer here',
                                label: 'Answer'
                                }) }}
                            </fieldset>

                            <fieldset class="form__section form__section--submit form__section--left">
                                {{ fieldButton({
                                tag: 'button',
                                type: 'submit',
                                sizeClass: '1',
                                typeClass: '1',
                                content: 'save'
                                }) }}
                            </fieldset>
                        </form>
                        <div class="form form--f2a"></div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class="container tabs-hidden-block">
        <div class="f2a-simple">
            <h2 class="f2a-simple__title">Two factor authentication</h2>
            <div class="status status--success">Connected</div>
            <div class="f2a-simple__description">
                <p>Significantly increases the security of your account and protects it from unauthorized access. To
                    use
                    two-factor
                    authentication, you must install the Google Authenticator app.</p>
            </div>
            {{ fieldButton({
            tag: 'button',
            type: 'submit',
            sizeClass: '1',
            typeClass: '1',
            content: 'Disconnect'
            }) }}

            {{ fieldButton({
            tag: 'button',
            type: 'submit',
            sizeClass: '1',
            typeClass: '2',
            content: 'Connect'
            }) }}
        </div>
    </div>
    {% include '@components/providers.twig' %}
    {% include '@components/payments.twig' %}
</div>
{% endblock %}