{% set logged = "yes" %}
{% extends "master::master.twig" %}
{% block content %}
	<div class="page page--profile">
		<div class="container">
			<h1>Profile</h1>
			<div class="profile">
				<div class="profile__content">
					<div class="profile__main">
						<div class="profile__header">
							<form class="profile__header-avatar">
								<picture>
									<img src="../../img/user/avatar-default.svg" alt="">
								</picture>
								<input type="file" class="profile__header-input">
							</form>
							<h2 class="profile__header-player">Michael_78649</h2>
							<p class="profile__header-text">Casino ID c40a44d7-bd02-4ed3-8304-87281dd06334</p>
							{{ fieldButton({
                        tag: 'a',
                        content: '',
                        href: '#',
                        sizeClass: '',
                        typeClass: '2',
                        customClass: 'button--logout',
                        iconClass: 'icon-logout'
                        } ) }}
						</div>
						<div class="profile__socials">
							<div class="profile__socials-title">Add your socials</div>
							{% set available = ['google','twitter','fb', 'telegram','instagram', 'metamask', 'trust',
                        'apple'] %}
							{# для зеленого фона добавть к socials-link класс active #}
							{% include "@components/socials.twig" %}
						</div>
					</div>
					<div class="profile__info">
						<div class="profile__info-header">
							{{ fieldButton({
                        tag: 'a',
                        content: 'Deposit',
                        href: '',
                        sizeClass: '1',
                        typeClass: '1',
                        iconClass: 'icon-plus'
                        } ) }}
							{{ fieldButton({
                        tag: 'a',
                        content: 'Withdraw',
                        href: '',
                        sizeClass: '1',
                        typeClass: '2',
                        } ) }}
						</div>
						<div class="profile__info-stats">
							{% include "@components/currency.twig" %}
							<div class="profile__info-items">
								<div class="profile__info-item">
									<div class="profile__info-title">Experience level</div>
									<div class="profile__info-text">99</div>
								</div>
								<div class="profile__info-item">
									<div class="profile__info-title">Experience points</div>
									<div class="profile__info-text">99 567<span>140 000</span>
									</div>
								</div>
								<div class="profile__info-item">
									<div class="profile__info-title">Loyalty level</div>
									<div class="profile__info-text">101</div>
								</div>
								<div class="profile__info-item">
									<div class="profile__info-title">Loyalty points</div>
									<div class="profile__info-text">99 567<span>140 000</span>
									</div>
								</div>
							</div>

						</div>
					</div>
					<div class="profile__code">
						<img class="profile__code-img" src="../../img/profile/promocode.svg" alt="">
						<form class="profile__code-content">
							<div class="profile__code-title">Promocode</div>
							<div class="profile__code-text">Get your promocode via personal messages or social networks
							</div>
							{{ fieldInput({
                        type: 'text',
                        placeholder: 'Enter a promocode'
                        }) }}
							{{ fieldButton({
                        tag: 'a',
                        type: 'submit',
                        content: 'Apply',
                        href: '',
                        sizeClass: '1',
                        typeClass: '1',
                        } ) }}
						</form>
					</div>
				</div>
				<div class="profile__links">
					{% for item in profileLinks %}
						<a href="" class="profile__link">
							<i class="icon-{{ item.icon }}"></i>
							<span>{{ item.title }}</span>
							{% if loop.index == 4 %}
								<span class="message-counter">99+</span>
							{% endif %}
							{% if loop.index == 8 %}
								<i class="icon-exclamation-single"></i>
							{% endif %}
							<i class="icon-pointer-right"></i>
						</a>
					{% endfor %}
				</div>
			</div>
		</div>
		{% include '@components/providers.twig' %}
		{% include '@components/payments.twig' %}
	</div>

{% endblock %}
