{% from "@components/quest.twig" import quest %}

{% extends "master::master.twig" %}
{% block content %}
    <div class="page page--quests">
        <div class="container">
            <div class="quests">
                {{ fieldButton({
                    tag: 'a',
                    sizeClass: '1',
                    typeClass: '3',
                    href: '/html/pages/main.html',
                    content: 'back',
                    iconClass: 'icon-pointer-left'
                }) }}
                <h1 class="quests__title">Quests</h1>
                <div class="quests__list">
                    {% for i in 1..12 %}
                        {% if i == 1 %}
                            {{ quest({
                                isDone: 'true',
                                isGlowing: 'true',
                                isGiftButton: 'true',
                                progressPercent: '100',
                            }) }}
                        {% elseif i == 2 %}
                            {{ quest({
                                isDone: 'true',
                                isShowPrizeButton: 'true',
                                progressPercent: '100',
                                isDefaultImage: 'true'
                            }) }}
                        {% elseif i == 3 %}
                            {{ quest({
                                progressPercent: '30',
                            }) }}
                        {% else %}
                            {{ quest({
                                isBlocked: 'true',
                                progressPercent: '30',
                            }) }}
                        {% endif %}
                    {% endfor %}
                </div>
                {% include '@components/pagination.twig' %}
            </div>
        </div>
        {% include '@components/providers.twig' %}
        {% include '@components/payments.twig' %}
    </div>
{% endblock %}
