{% extends "master::master.twig" %}
{% block content %}
<div class="page page--registration">
    <div class="container">
        {% include '@components/authentication/registration.twig' %}
    </div>
</div>
{% endblock %}
