{% set logged = "yes" %}
{% extends "master::master.twig" %}
{% block content %}
    <div class="page page--responsible">
        <div class="container">
            <div class="container__box">
                <div class="responsible">
                    {{ fieldButton({
                        tag: 'a',
                        sizeClass: '1',
                        typeClass: '3',
                        href: '/html/pages/profile.html',
                        content: 'back',
                        iconClass: 'icon-pointer-left'
                    }) }}
                    <h1>Responsible gaming</h1>
                    <div class="tab">
                        {{ fieldInput({
                            type: 'select',
                            id: 'tabs',
                            value: [
                                { label: "Gaming limits" },
                                { label: "Withdrawal" }
                            ],
                            customClass: 'select--tabs',
                            customData: 'data-tabs'
                        }) }}
                        <div class="tabs__wrapper">
                            <div class="tabs__content active">
                                <div class="responsible__desc">
                                    <p>We offer you the variety of different options that you can set up to control your
                                        finances while
                                        gambling.</p>
                                </div>
                                <div class="responsible__header">
                                    <h2>Gaming limits</h2>
                                    {{ fieldButton({
                                        tag: 'a',
                                        sizeClass: '2',
                                        typeClass: '1',
                                        customClass: 'disabled',
                                        content: 'add new',
                                        iconClass: 'icon-plus'
                                    }) }}
                                </div>
                                <div class="responsible__limits">
                                    <div class="responsible__limits-header">
                                        <h3>Bets amount limit</h3>
                                        <div class="dropdown">
                                            <i class="icon-dots"></i>
                                            <div class="dropdown__content">
                                                <a href="#" class="dropdown__content-item">Edit</a>
                                                <a href="#" class="dropdown__content-item">Delete</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="responsible__limits-item">
                                        <div>Period</div>
                                        <div>1 week</div>
                                    </div>
                                    <div class="responsible__limits-item">
                                        <div>Amount</div>
                                        <div><span>2000</span>USD</div>
                                    </div>
                                    <div class="responsible__limits-item responsible__limits-item--50">
                                        <div>Already spent</div>
                                        <div><span>1000</span>USD</div>
                                    </div>
                                    <div class="responsible__limits-info">This limit was set in USD on 22.10.2021 21:10
                                    </div>
                                </div>
                                <div class="responsible__limits">
                                    <div class="responsible__limits-header">
                                        <h3>Loss limit</h3>
                                        <div class="dropdown">
                                            <i class="icon-dots"></i>
                                            <div class="dropdown__content">
                                                <a href="" class="dropdown__content-item">Edit</a>
                                                <a href="" class="dropdown__content-item">Delete</a>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="responsible__limits-item">
                                        <div>Period</div>
                                        <div>1 week</div>
                                    </div>
                                    <div class="responsible__limits-item">
                                        <div>Amount</div>
                                        <div><span>2000</span>USD</div>
                                    </div>
                                    <div class="responsible__limits-item responsible__limits-item--73">
                                        <div>Already spent</div>
                                        <div><span>1000</span>USD</div>
                                    </div>
                                    <div class="responsible__limits-info">This limit was set in USD on 22.10.2021 21:10
                                    </div>
                                </div>
                            </div>
                            <div class="tabs__content ">
                                <div class="responsible__desc">
                                    <p>We offer you the option to exclude yourself from gaming. Self-exclusion means that
                                        you
                                        will not be able to participate
                                        in any gaming activity. Including real and bonus money games.
                                        You can also exclude yourself permanently. In that case you will not be able to log
                                        in
                                        into your account at all.</p>
                                </div>
                                <div class="responsible__header">
                                    <h2>Self-exclusion</h2>
                                    {{ fieldButton({
                                        tag: 'a',
                                        sizeClass: '2',
                                        typeClass: '1',
                                        content: 'add new',
                                        iconClass: 'icon-plus'
                                    }) }}
                                </div>
                                <div class="responsible__desc">
                                    <p>You have no limits</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    {% include '@components/providers.twig' %}
    {% include '@components/payments.twig' %}
    </div>
{% endblock %}