{% extends "master::error.twig" %}
{% block content %}
    <div class="blocked__content">
        <div class="blocked__img">
            <img src="../../img/icons/lock.svg" alt="">
        </div>
        <h1 class="blocked__title">Access is temporarily restricted</h1>
        <p class="blocked__text">Your recent actions seemed suspicious to us, in this regard, <br> the security system temporarily restricted access to the resource</p>
    </div>
    
{% endblock %}
