{% extends "master::master.twig" %}
{% block content %}
<div data-controller="symfony--ux-vue--vue" data-symfony--ux-vue--vue-component-value="GamesSearch" data-v-app="">
    <div class="search-modal active" style="display: block;">
        <div class="search-modal-background"></div>
        <div class="search-modal-body open">
            <div class="search-modal-header">
                <h2>Search</h2><i class="icon-close"></i>
            </div>
            <div class="search-modal-body-header">
                <div class="search-icon"><i class="icon-search"></i></div>
                <div class="close-icon" style=""><i class="icon-close"></i></div>
                <form class="search-widget-form" action="#">
                    <div class="input-wrapper">
                        <input maxlength="100" type="text" placeholder="Browse games">
                    </div>
                </form>
            </div>
            <div class="search-modal-body-games">
                <div>
                    <div class="search-widget-game-list">
                        <div class="game-item">
                            <div class="game-content">
                                <div class="game-img"><img
                                        data-src="https://gis-static.com/games/772c50b6e70a91f89f0266e2ebfb9992/BGaming/0a6fdc0808604660a73eca4e2856e59f.png"
                                        alt="Capymania Orange" class=" lazyloaded"
                                        src="https://gis-static.com/games/772c50b6e70a91f89f0266e2ebfb9992/BGaming/0a6fdc0808604660a73eca4e2856e59f.png">
                                </div>
                                <div class="game-info">
                                    <div class="game-name">Capymania Orange</div>
                                    <div class="game-provider">BGaming</div>
                                </div>
                            </div>
                            <div class="game-buttons"><button
                                    class="game-button button button--has-skew button--t2"><span>Demo</span></button><button
                                    class="game-button button button--has-skew button--t1"><span>Real</span></button>
                            </div>
                        </div>
                        <div class="game-item">
                            <div class="game-content">
                                <div class="game-img"><img
                                        data-src="https://gis-static.com/games/772c50b6e70a91f89f0266e2ebfb9992/BGaming/bf02805c71ed43bd9934d939cf24ef0e.png"
                                        alt="Capymania Green" class=" lazyloaded"
                                        src="https://gis-static.com/games/772c50b6e70a91f89f0266e2ebfb9992/BGaming/bf02805c71ed43bd9934d939cf24ef0e.png">
                                </div>
                                <div class="game-info">
                                    <div class="game-name">Capymania Green</div>
                                    <div class="game-provider">BGaming</div>
                                </div>
                            </div>
                            <div class="game-buttons"><button
                                    class="game-button button button--has-skew button--t2"><span>Demo</span></button><button
                                    class="game-button button button--has-skew button--t1"><span>Real</span></button>
                            </div>
                        </div>
                        <div class="game-item">
                            <div class="game-content">
                                <div class="game-img"><img
                                        data-src="https://gis-static.com/games/ThreeOaks/88c343ef4606e716ed0d50b5bba59aa57bcaf7b6.png"
                                        alt="Aztec Fire 2" class=" lazyloaded"
                                        src="https://gis-static.com/games/ThreeOaks/88c343ef4606e716ed0d50b5bba59aa57bcaf7b6.png">
                                </div>
                                <div class="game-info">
                                    <div class="game-name">Aztec Fire 2</div>
                                    <div class="game-provider">3 Oaks</div>
                                </div>
                            </div>
                            <div class="game-buttons"><button
                                    class="game-button button button--has-skew button--t2"><span>Demo</span></button><button
                                    class="game-button button button--has-skew button--t1"><span>Real</span></button>
                            </div>
                        </div>
                        <div class="game-item">
                            <div class="game-content">
                                <div class="game-img"><img
                                        data-src="https://gis-static.com/games/Endorphina/cd06e7c728b7b561b23812a57cc93fa68f19fe67.png"
                                        alt="2023 Hit Slot Dice" class=" lazyloaded"
                                        src="https://gis-static.com/games/Endorphina/cd06e7c728b7b561b23812a57cc93fa68f19fe67.png">
                                </div>
                                <div class="game-info">
                                    <div class="game-name">2023 Hit Slot Dice</div>
                                    <div class="game-provider">Endorphina</div>
                                </div>
                            </div>
                            <div class="game-buttons"><button
                                    class="game-button button button--has-skew button--t2"><span>Demo</span></button><button
                                    class="game-button button button--has-skew button--t1"><span>Real</span></button>
                            </div>
                        </div>
                        <div class="game-item">
                            <div class="game-content">
                                <div class="game-img"><img
                                        data-src="https://gis-static.com/games/Endorphina/20894663ab31be090d552d1f9fc2d83b5fd1a7b5.png"
                                        alt="Royal Xmass Dice" class=" lazyloaded"
                                        src="https://gis-static.com/games/Endorphina/20894663ab31be090d552d1f9fc2d83b5fd1a7b5.png">
                                </div>
                                <div class="game-info">
                                    <div class="game-name">Royal Xmass Dice</div>
                                    <div class="game-provider">Endorphina</div>
                                </div>
                            </div>
                            <div class="game-buttons"><button
                                    class="game-button button button--has-skew button--t2"><span>Demo</span></button><button
                                    class="game-button button button--has-skew button--t1"><span>Real</span></button>
                            </div>
                        </div>
                        <div class="game-item">
                            <div class="game-content">
                                <div class="game-img"><img
                                        data-src="https://gis-static.com/games/Platipus/e76b121657dcf30874af7a3508daea8c03ffad9c.png"
                                        alt="American Roulette" class=" lazyloaded"
                                        src="https://gis-static.com/games/Platipus/e76b121657dcf30874af7a3508daea8c03ffad9c.png">
                                </div>
                                <div class="game-info">
                                    <div class="game-name">American Roulette</div>
                                    <div class="game-provider">Platipus</div>
                                </div>
                            </div>
                            <div class="game-buttons"><button
                                    class="game-button button button--has-skew button--t2"><span>Demo</span></button><button
                                    class="game-button button button--has-skew button--t1"><span>Real</span></button>
                            </div>
                        </div>
                        <div class="game-item">
                            <div class="game-content">
                                <div class="game-img"><img
                                        data-src="https://gis-static.com/games/PGSoft/f382d3523cf01bc2b27e05de35e060c607aec300.png"
                                        alt="Tsar Treasures" class=" lazyloaded"
                                        src="https://gis-static.com/games/PGSoft/f382d3523cf01bc2b27e05de35e060c607aec300.png">
                                </div>
                                <div class="game-info">
                                    <div class="game-name">Tsar Treasures</div>
                                    <div class="game-provider">PGSoft</div>
                                </div>
                            </div>
                            <div class="game-buttons"><button
                                    class="game-button button button--has-skew button--t2"><span>Demo</span></button><button
                                    class="game-button button button--has-skew button--t1"><span>Real</span></button>
                            </div>
                        </div>
                        <div class="game-item">
                            <div class="game-content">
                                <div class="game-img"><img
                                        data-src="https://gis-static.com/games/772c50b6e70a91f89f0266e2ebfb9992/BGaming/9491e4a28afe44bdb3b78de74ea145f3.png"
                                        alt="Hottest 666" class=" lazyloaded"
                                        src="https://gis-static.com/games/772c50b6e70a91f89f0266e2ebfb9992/BGaming/9491e4a28afe44bdb3b78de74ea145f3.png">
                                </div>
                                <div class="game-info">
                                    <div class="game-name">Hottest 666</div>
                                    <div class="game-provider">BGaming</div>
                                </div>
                            </div>
                            <div class="game-buttons"><button
                                    class="game-button button button--has-skew button--t2"><span>Demo</span></button><button
                                    class="game-button button button--has-skew button--t1"><span>Real</span></button>
                            </div>
                        </div>
                        <div class="game-item">
                            <div class="game-content">
                                <div class="game-img"><img
                                        data-src="https://gis-static.com/games/Atmosfera/bc2a970230ea1322c75cbefbf2fb3f86086994f4.png"
                                        alt="BlackJack E" class=" lazyloaded"
                                        src="https://gis-static.com/games/Atmosfera/bc2a970230ea1322c75cbefbf2fb3f86086994f4.png">
                                </div>
                                <div class="game-info">
                                    <div class="game-name">BlackJack E</div>
                                    <div class="game-provider">Atmosfera</div>
                                </div>
                            </div>
                            <div class="game-buttons"><button
                                    class="game-button button button--has-skew button--t2"><span>Demo</span></button><button
                                    class="game-button button button--has-skew button--t1"><span>Real</span></button>
                            </div>
                        </div>
                        <div class="game-item">
                            <div class="game-content">
                                <div class="game-img"><img
                                        data-src="https://gis-static.com/games/Turbogames/f248d480ac5692f1fb17811d0fa11458a3427230.png"
                                        alt="Trading Dice" class="lazyload"></div>
                                <div class="game-info">
                                    <div class="game-name">Trading Dice</div>
                                    <div class="game-provider">Turbogames</div>
                                </div>
                            </div>
                            <div class="game-buttons"><button
                                    class="game-button button button--has-skew button--t2"><span>Demo</span></button><button
                                    class="game-button button button--has-skew button--t1"><span>Real</span></button>
                            </div>
                        </div>
                        <div class="game-item">
                            <div class="game-content">
                                <div class="game-img"><img
                                        data-src="https://gis-static.com/games/011be2c798c16b1ad58cf30f3aa78dcb/Betsoft/f3a494d7a789d2c12a67488d5a447d6df64665aa.png"
                                        alt="Tycoons: Billionaire Bucks" class="lazyload"></div>
                                <div class="game-info">
                                    <div class="game-name">Tycoons: Billionaire Bucks</div>
                                    <div class="game-provider">Betsoft</div>
                                </div>
                            </div>
                            <div class="game-buttons"><button
                                    class="game-button button button--has-skew button--t2"><span>Demo</span></button><button
                                    class="game-button button button--has-skew button--t1"><span>Real</span></button>
                            </div>
                        </div>
                        <div class="game-item">
                            <div class="game-content">
                                <div class="game-img"><img
                                        data-src="https://gis-static.com/games/011be2c798c16b1ad58cf30f3aa78dcb/Betsoft/b12bf156f5c7a9586a82dfd36f4b8b46c8f8031b.png"
                                        alt="Rise of Triton" class="lazyload"></div>
                                <div class="game-info">
                                    <div class="game-name">Rise of Triton</div>
                                    <div class="game-provider">Betsoft</div>
                                </div>
                            </div>
                            <div class="game-buttons"><button
                                    class="game-button button button--has-skew button--t2"><span>Demo</span></button><button
                                    class="game-button button button--has-skew button--t1"><span>Real</span></button>
                            </div>
                        </div>
                        <div class="game-item">
                            <div class="game-content">
                                <div class="game-img"><img
                                        data-src="https://gis-static.com/games/AmigoGaming/4f5f1a50f9b6d479a001f83d0025c884f43ef5d3.png"
                                        alt="Frozen Crown" class="lazyload"></div>
                                <div class="game-info">
                                    <div class="game-name">Frozen Crown</div>
                                    <div class="game-provider">Amigo Gaming</div>
                                </div>
                            </div>
                            <div class="game-buttons"><button
                                    class="game-button button button--has-skew button--t2"><span>Demo</span></button><button
                                    class="game-button button button--has-skew button--t1"><span>Real</span></button>
                            </div>
                        </div>
                        <div class="game-item">
                            <div class="game-content">
                                <div class="game-img"><img
                                        data-src="https://gis-static.com/games/Endorphina/07168592711de9e8a6d15ec97f31e84e4e15615b.png"
                                        alt="Santa’s Puzzle" class="lazyload"></div>
                                <div class="game-info">
                                    <div class="game-name">Santa’s Puzzle</div>
                                    <div class="game-provider">Endorphina</div>
                                </div>
                            </div>
                            <div class="game-buttons"><button
                                    class="game-button button button--has-skew button--t2"><span>Demo</span></button><button
                                    class="game-button button button--has-skew button--t1"><span>Real</span></button>
                            </div>
                        </div>
                        <div class="game-item">
                            <div class="game-content">
                                <div class="game-img"><img
                                        data-src="https://gis-static.com/games/772c50b6e70a91f89f0266e2ebfb9992/BGaming/42ccf957783e4fc8af2a97312e336490.png"
                                        alt="Gemza" class="lazyload"></div>
                                <div class="game-info">
                                    <div class="game-name">Gemza</div>
                                    <div class="game-provider">BGaming</div>
                                </div>
                            </div>
                            <div class="game-buttons"><button
                                    class="game-button button button--has-skew button--t2"><span>Demo</span></button><button
                                    class="game-button button button--has-skew button--t1"><span>Real</span></button>
                            </div>
                        </div>
                        <div class="game-item">
                            <div class="game-content">
                                <div class="game-img"><img
                                        data-src="https://gis-static.com/games/AmigoGaming/b37f257e2b8c0ef9e29e9927b0edffed0fc9fb8f.png"
                                        alt="Jaguar Treasures" class="lazyload"></div>
                                <div class="game-info">
                                    <div class="game-name">Jaguar Treasures</div>
                                    <div class="game-provider">Amigo Gaming</div>
                                </div>
                            </div>
                            <div class="game-buttons"><button
                                    class="game-button button button--has-skew button--t2"><span>Demo</span></button><button
                                    class="game-button button button--has-skew button--t1"><span>Real</span></button>
                            </div>
                        </div>
                        <div class="game-item">
                            <div class="game-content">
                                <div class="game-img"><img
                                        data-src="https://gis-static.com/games/Platipus/3371e5c15b10639941f459473858ab08e0a69c1d.png"
                                        alt="First of Olympians" class="lazyload"></div>
                                <div class="game-info">
                                    <div class="game-name">First of Olympians</div>
                                    <div class="game-provider">Platipus</div>
                                </div>
                            </div>
                            <div class="game-buttons"><button
                                    class="game-button button button--has-skew button--t2"><span>Demo</span></button><button
                                    class="game-button button button--has-skew button--t1"><span>Real</span></button>
                            </div>
                        </div>
                        <div class="game-item">
                            <div class="game-content">
                                <div class="game-img"><img
                                        data-src="https://gis-static.com/games/OneTouch/60b08da5508f45ef83b115e563aeb49f.png"
                                        alt="Wealthy Sharks" class="lazyload"></div>
                                <div class="game-info">
                                    <div class="game-name">Wealthy Sharks</div>
                                    <div class="game-provider">OneTouch</div>
                                </div>
                            </div>
                            <div class="game-buttons"><button
                                    class="game-button button button--has-skew button--t2"><span>Demo</span></button><button
                                    class="game-button button button--has-skew button--t1"><span>Real</span></button>
                            </div>
                        </div>
                        <div class="game-item">
                            <div class="game-content">
                                <div class="game-img"><img
                                        data-src="https://gis-static.com/games/Playson/296f5628b9524ee1a84404cd00169427.png"
                                        alt="Crystal Land 2" class="lazyload"></div>
                                <div class="game-info">
                                    <div class="game-name">Crystal Land 2</div>
                                    <div class="game-provider">Playson</div>
                                </div>
                            </div>
                            <div class="game-buttons"><button
                                    class="game-button button button--has-skew button--t2"><span>Demo</span></button><button
                                    class="game-button button button--has-skew button--t1"><span>Real</span></button>
                            </div>
                        </div>
                        <div class="game-item">
                            <div class="game-content">
                                <div class="game-img"><img
                                        data-src="https://gis-static.com/games/772c50b6e70a91f89f0266e2ebfb9992/BGaming/8b75faa75d124c709dfc781e53778d23.png"
                                        alt="Ice Scratch Bronze" class="lazyload"></div>
                                <div class="game-info">
                                    <div class="game-name">Ice Scratch Bronze</div>
                                    <div class="game-provider">BGaming</div>
                                </div>
                            </div>
                            <div class="game-buttons"><button
                                    class="game-button button button--has-skew button--t2"><span>Demo</span></button><button
                                    class="game-button button button--has-skew button--t1"><span>Real</span></button>
                            </div>
                        </div>
                        <div class="game-item">
                            <div class="game-content">
                                <div class="game-img"><img
                                        data-src="https://gis-static.com/games/772c50b6e70a91f89f0266e2ebfb9992/BGaming/c8d0a7eea6c0405bafbc8cdec97bc69c.png"
                                        alt="Ice Scratch Silver" class="lazyload"></div>
                                <div class="game-info">
                                    <div class="game-name">Ice Scratch Silver</div>
                                    <div class="game-provider">BGaming</div>
                                </div>
                            </div>
                            <div class="game-buttons"><button
                                    class="game-button button button--has-skew button--t2"><span>Demo</span></button><button
                                    class="game-button button button--has-skew button--t1"><span>Real</span></button>
                            </div>
                        </div>
                        <div class="game-item">
                            <div class="game-content">
                                <div class="game-img"><img
                                        data-src="https://gis-static.com/games/772c50b6e70a91f89f0266e2ebfb9992/BGaming/c0948062a87e46b0826ec981da4ac04e.png"
                                        alt="Ice Scratch Gold" class="lazyload"></div>
                                <div class="game-info">
                                    <div class="game-name">Ice Scratch Gold</div>
                                    <div class="game-provider">BGaming</div>
                                </div>
                            </div>
                            <div class="game-buttons"><button
                                    class="game-button button button--has-skew button--t2"><span>Demo</span></button><button
                                    class="game-button button button--has-skew button--t1"><span>Real</span></button>
                            </div>
                        </div>
                        <div class="game-item">
                            <div class="game-content">
                                <div class="game-img"><img
                                        data-src="https://gis-static.com/games/Wazdan/98576796c89c813e74f782c4ea7d835f66300c35.jpg"
                                        alt="25 Coins" class="lazyload"></div>
                                <div class="game-info">
                                    <div class="game-name">25 Coins</div>
                                    <div class="game-provider">Wazdan</div>
                                </div>
                            </div>
                            <div class="game-buttons"><button
                                    class="game-button button button--has-skew button--t2"><span>Demo</span></button><button
                                    class="game-button button button--has-skew button--t1"><span>Real</span></button>
                            </div>
                        </div>
                        <div class="game-item">
                            <div class="game-content">
                                <div class="game-img"><img
                                        data-src="https://gis-static.com/games/ThreeOaks/efd702ca59fb2bc27ad2fb41eaa67ff2148d3c37.png"
                                        alt="Gold Nuggets" class="lazyload"></div>
                                <div class="game-info">
                                    <div class="game-name">Gold Nuggets</div>
                                    <div class="game-provider">3 Oaks</div>
                                </div>
                            </div>
                            <div class="game-buttons"><button
                                    class="game-button button button--has-skew button--t2"><span>Demo</span></button><button
                                    class="game-button button button--has-skew button--t1"><span>Real</span></button>
                            </div>
                        </div>
                        <div class="game-item">
                            <div class="game-content">
                                <div class="game-img"><img
                                        data-src="https://gis-static.com/games/Caleta/19c38d839f7aca2c4b7f35c5936fb78f31e622f4.png"
                                        alt="Whale of Fortune" class="lazyload"></div>
                                <div class="game-info">
                                    <div class="game-name">Whale of Fortune</div>
                                    <div class="game-provider">Caleta</div>
                                </div>
                            </div>
                            <div class="game-buttons"><button
                                    class="game-button button button--has-skew button--t2"><span>Demo</span></button><button
                                    class="game-button button button--has-skew button--t1"><span>Real</span></button>
                            </div>
                        </div>
                        <div class="game-item">
                            <div class="game-content">
                                <div class="game-img"><img
                                        data-src="https://gis-static.com/games/Gamebeat/c2c8d74c587c41cebda528c9c6bb3da9.png"
                                        alt="Giggly Greedy Story" class="lazyload"></div>
                                <div class="game-info">
                                    <div class="game-name">Giggly Greedy Story</div>
                                    <div class="game-provider">Gamebeat</div>
                                </div>
                            </div>
                            <div class="game-buttons"><button
                                    class="game-button button button--has-skew button--t2"><span>Demo</span></button><button
                                    class="game-button button button--has-skew button--t1"><span>Real</span></button>
                            </div>
                        </div>
                        <div class="game-item">
                            <div class="game-content">
                                <div class="game-img"><img
                                        data-src="https://gis-static.com/games/PGSoft/eeca01cef16efa6e89c3266e675e512df2536ee7.png"
                                        alt="Mafia Mayhem" class="lazyload"></div>
                                <div class="game-info">
                                    <div class="game-name">Mafia Mayhem</div>
                                    <div class="game-provider">PGSoft</div>
                                </div>
                            </div>
                            <div class="game-buttons"><button
                                    class="game-button button button--has-skew button--t2"><span>Demo</span></button><button
                                    class="game-button button button--has-skew button--t1"><span>Real</span></button>
                            </div>
                        </div>
                        <div class="game-item">
                            <div class="game-content">
                                <div class="game-img"><img
                                        data-src="https://gis-static.com/games/Wazdan/2188930262269be559ac42e85b4d12730740e485.jpg"
                                        alt="Hot Slot: 777 Stars Extremely Light" class="lazyload"></div>
                                <div class="game-info">
                                    <div class="game-name">Hot Slot: 777 Stars Extremely Light</div>
                                    <div class="game-provider">Wazdan</div>
                                </div>
                            </div>
                            <div class="game-buttons"><button
                                    class="game-button button button--has-skew button--t2"><span>Demo</span></button><button
                                    class="game-button button button--has-skew button--t1"><span>Real</span></button>
                            </div>
                        </div>
                        <div class="game-item">
                            <div class="game-content">
                                <div class="game-img"><img
                                        data-src="https://gis-static.com/games/OneTouch/72388c5f18b4479b910bde81fbed6dc8.png"
                                        alt="Colosseum Clash" class="lazyload"></div>
                                <div class="game-info">
                                    <div class="game-name">Colosseum Clash</div>
                                    <div class="game-provider">OneTouch</div>
                                </div>
                            </div>
                            <div class="game-buttons"><button
                                    class="game-button button button--has-skew button--t2"><span>Demo</span></button><button
                                    class="game-button button button--has-skew button--t1"><span>Real</span></button>
                            </div>
                        </div>
                        <div class="game-item">
                            <div class="game-content">
                                <div class="game-img"><img
                                        data-src="https://gis-static.com/games/Playson/026a4a652b0d46a0bdcdfaceffa6a7ed.png"
                                        alt="Jelly Valley" class="lazyload"></div>
                                <div class="game-info">
                                    <div class="game-name">Jelly Valley</div>
                                    <div class="game-provider">Playson</div>
                                </div>
                            </div>
                            <div class="game-buttons"><button
                                    class="game-button button button--has-skew button--t2"><span>Demo</span></button><button
                                    class="game-button button button--has-skew button--t1"><span>Real</span></button>
                            </div>
                        </div>
                        <div class="game-item">
                            <div class="game-content">
                                <div class="game-img"><img
                                        data-src="https://gis-static.com/games/772c50b6e70a91f89f0266e2ebfb9992/BGaming/a3ac391ca11043309899cfac28b85781.png"
                                        alt="Slot Machine" class="lazyload"></div>
                                <div class="game-info">
                                    <div class="game-name">Slot Machine</div>
                                    <div class="game-provider">BGaming</div>
                                </div>
                            </div>
                            <div class="game-buttons"><button
                                    class="game-button button button--has-skew button--t2"><span>Demo</span></button><button
                                    class="game-button button button--has-skew button--t1"><span>Real</span></button>
                            </div>
                        </div>
                        <div class="game-item">
                            <div class="game-content">
                                <div class="game-img"><img
                                        data-src="https://gis-static.com/games/Hacksawgaming/edb7f5c5878d4defa3a02797bd61d969.png"
                                        alt="Dark Summoning" class="lazyload"></div>
                                <div class="game-info">
                                    <div class="game-name">Dark Summoning</div>
                                    <div class="game-provider">Hacksawgaming</div>
                                </div>
                            </div>
                            <div class="game-buttons"><button
                                    class="game-button button button--has-skew button--t2"><span>Demo</span></button><button
                                    class="game-button button button--has-skew button--t1"><span>Real</span></button>
                            </div>
                        </div>
                        <div class="game-item">
                            <div class="game-content">
                                <div class="game-img"><img
                                        data-src="https://gis-static.com/games/Thunderkick/2fde72de6859419e9c38411654d886fa.png"
                                        alt="Hellapeños" class="lazyload"></div>
                                <div class="game-info">
                                    <div class="game-name">Hellapeños</div>
                                    <div class="game-provider">Thunderkick</div>
                                </div>
                            </div>
                            <div class="game-buttons"><button
                                    class="game-button button button--has-skew button--t2"><span>Demo</span></button><button
                                    class="game-button button button--has-skew button--t1"><span>Real</span></button>
                            </div>
                        </div>
                        <div class="game-item">
                            <div class="game-content">
                                <div class="game-img"><img
                                        data-src="https://gis-static.com/games/Tomhorn/361854ea17a1b2350a16bff48edef2ec7873261e.png"
                                        alt="81 Joker X" class="lazyload"></div>
                                <div class="game-info">
                                    <div class="game-name">81 Joker X</div>
                                    <div class="game-provider">Tomhorn</div>
                                </div>
                            </div>
                            <div class="game-buttons"><button
                                    class="game-button button button--has-skew button--t2"><span>Demo</span></button><button
                                    class="game-button button button--has-skew button--t1"><span>Real</span></button>
                            </div>
                        </div>
                        <div class="game-item">
                            <div class="game-content">
                                <div class="game-img"><img
                                        data-src="https://gis-static.com/games/Platipus/20f0b029a9e8f47362bdb85f921c7eca24ff4a25.png"
                                        alt="Dragon’s Money" class="lazyload"></div>
                                <div class="game-info">
                                    <div class="game-name">Dragon’s Money</div>
                                    <div class="game-provider">Platipus</div>
                                </div>
                            </div>
                            <div class="game-buttons"><button
                                    class="game-button button button--has-skew button--t2"><span>Demo</span></button><button
                                    class="game-button button button--has-skew button--t1"><span>Real</span></button>
                            </div>
                        </div>
                        <div class="game-item">
                            <div class="game-content">
                                <div class="game-img"><img
                                        data-src="https://gis-static.com/games/Endorphina/fe4b171482ca81c505213b7d4af5d1b7f11dc5d6.png"
                                        alt="Hot Puzzle" class="lazyload"></div>
                                <div class="game-info">
                                    <div class="game-name">Hot Puzzle</div>
                                    <div class="game-provider">Endorphina</div>
                                </div>
                            </div>
                            <div class="game-buttons"><button
                                    class="game-button button button--has-skew button--t2"><span>Demo</span></button><button
                                    class="game-button button button--has-skew button--t1"><span>Real</span></button>
                            </div>
                        </div>
                        <div class="game-item">
                            <div class="game-content">
                                <div class="game-img"><img
                                        data-src="https://gis-static.com/games/3962be5e18b1e84fdd95613e87dfda1a/NetEnt/25a6be87cf3f9b561a177f98a9447515a96ecc53.png"
                                        alt="Jingle Bells Bonanza" class="lazyload"></div>
                                <div class="game-info">
                                    <div class="game-name">Jingle Bells Bonanza</div>
                                    <div class="game-provider">NetEnt</div>
                                </div>
                            </div>
                            <div class="game-buttons"><!--v-if--><button
                                    class="game-button button button--has-skew button--t1"><span>Real</span></button>
                            </div>
                        </div>
                        <div class="game-item">
                            <div class="game-content">
                                <div class="game-img"><img
                                        data-src="https://gis-static.com/games/OneTouch/1acca9d5b48f4850817020a1cef8a108.png"
                                        alt="Christmas Grand Heist Feature Buy" class="lazyload"></div>
                                <div class="game-info">
                                    <div class="game-name">Christmas Grand Heist Feature Buy</div>
                                    <div class="game-provider">OneTouch</div>
                                </div>
                            </div>
                            <div class="game-buttons"><button
                                    class="game-button button button--has-skew button--t2"><span>Demo</span></button><button
                                    class="game-button button button--has-skew button--t1"><span>Real</span></button>
                            </div>
                        </div>
                        <div class="game-item">
                            <div class="game-content">
                                <div class="game-img"><img
                                        data-src="https://gis-static.com/games/TripleProfitsGames/22e5e69237fb546a152715a6913e7bb709216856.png"
                                        alt="Amazing Christmas" class="lazyload"></div>
                                <div class="game-info">
                                    <div class="game-name">Amazing Christmas</div>
                                    <div class="game-provider">Triple Profits Games</div>
                                </div>
                            </div>
                            <div class="game-buttons"><button
                                    class="game-button button button--has-skew button--t2"><span>Demo</span></button><button
                                    class="game-button button button--has-skew button--t1"><span>Real</span></button>
                            </div>
                        </div>
                        <div class="game-item">
                            <div class="game-content">
                                <div class="game-img"><img
                                        data-src="https://gis-static.com/games/Gamebeat/0745f3338eab472396c58d2f68234243.png"
                                        alt="Fruitfellas Xmas Wheel" class="lazyload"></div>
                                <div class="game-info">
                                    <div class="game-name">Fruitfellas Xmas Wheel</div>
                                    <div class="game-provider">Gamebeat</div>
                                </div>
                            </div>
                            <div class="game-buttons"><button
                                    class="game-button button button--has-skew button--t2"><span>Demo</span></button><button
                                    class="game-button button button--has-skew button--t1"><span>Real</span></button>
                            </div>
                        </div>
                        <div class="game-item">
                            <div class="game-content">
                                <div class="game-img"><img
                                        data-src="https://gis-static.com/games/772c50b6e70a91f89f0266e2ebfb9992/BGaming/08904a940dee4b37a33090a50f64af8c.png"
                                        alt="Gift X" class="lazyload"></div>
                                <div class="game-info">
                                    <div class="game-name">Gift X</div>
                                    <div class="game-provider">BGaming</div>
                                </div>
                            </div>
                            <div class="game-buttons"><button
                                    class="game-button button button--has-skew button--t2"><span>Demo</span></button><button
                                    class="game-button button button--has-skew button--t1"><span>Real</span></button>
                            </div>
                        </div>
                        <div class="game-item">
                            <div class="game-content">
                                <div class="game-img"><img
                                        data-src="https://gis-static.com/games/Caleta/49d20a2b3157dd7115356390b4fe2ccff6e87e6d.png"
                                        alt="Jingle Bell Bingo" class="lazyload"></div>
                                <div class="game-info">
                                    <div class="game-name">Jingle Bell Bingo</div>
                                    <div class="game-provider">Caleta</div>
                                </div>
                            </div>
                            <div class="game-buttons"><button
                                    class="game-button button button--has-skew button--t2"><span>Demo</span></button><button
                                    class="game-button button button--has-skew button--t1"><span>Real</span></button>
                            </div>
                        </div>
                        <div class="game-item">
                            <div class="game-content">
                                <div class="game-img"><img
                                        data-src="https://gis-static.com/games/Caleta/ddbdee9113e98a89f45a58d7dbb0eb22c5cda7b7.png"
                                        alt="Cherry Christmas" class="lazyload"></div>
                                <div class="game-info">
                                    <div class="game-name">Cherry Christmas</div>
                                    <div class="game-provider">Caleta</div>
                                </div>
                            </div>
                            <div class="game-buttons"><button
                                    class="game-button button button--has-skew button--t2"><span>Demo</span></button><button
                                    class="game-button button button--has-skew button--t1"><span>Real</span></button>
                            </div>
                        </div>
                        <div class="game-item">
                            <div class="game-content">
                                <div class="game-img"><img
                                        data-src="https://gis-static.com/games/Hacksawgaming/fd2c7b0ab8b54d10a416efad482f5c21.png"
                                        alt="Xmas Drop" class="lazyload"></div>
                                <div class="game-info">
                                    <div class="game-name">Xmas Drop</div>
                                    <div class="game-provider">Hacksawgaming</div>
                                </div>
                            </div>
                            <div class="game-buttons"><button
                                    class="game-button button button--has-skew button--t2"><span>Demo</span></button><button
                                    class="game-button button button--has-skew button--t1"><span>Real</span></button>
                            </div>
                        </div>
                        <div class="game-item">
                            <div class="game-content">
                                <div class="game-img"><img
                                        data-src="https://gis-static.com/games/Playson/9401155bd2c74c0d9d67361b3095a586.png"
                                        alt="Fire Temple: Hold and Win" class="lazyload"></div>
                                <div class="game-info">
                                    <div class="game-name">Fire Temple: Hold and Win</div>
                                    <div class="game-provider">Playson</div>
                                </div>
                            </div>
                            <div class="game-buttons"><button
                                    class="game-button button button--has-skew button--t2"><span>Demo</span></button><button
                                    class="game-button button button--has-skew button--t1"><span>Real</span></button>
                            </div>
                        </div>
                        <div class="game-item">
                            <div class="game-content">
                                <div class="game-img"><img
                                        data-src="https://gis-static.com/games/011be2c798c16b1ad58cf30f3aa78dcb/Betsoft/2db3b1e0b84c4505bb946eea3e03ebb1f53f4d6a.png"
                                        alt="Enchanted: Forest of Fortune - Hold &amp; Win" class="lazyload"></div>
                                <div class="game-info">
                                    <div class="game-name">Enchanted: Forest of Fortune - Hold &amp; Win</div>
                                    <div class="game-provider">Betsoft</div>
                                </div>
                            </div>
                            <div class="game-buttons"><button
                                    class="game-button button button--has-skew button--t2"><span>Demo</span></button><button
                                    class="game-button button button--has-skew button--t1"><span>Real</span></button>
                            </div>
                        </div>
                        <div class="game-item">
                            <div class="game-content">
                                <div class="game-img"><img
                                        data-src="https://gis-static.com/games/ThreeOaks/aa908292e6fcac10541b0ff94b9fa118224bf7fe.png"
                                        alt="Olaf Viking" class="lazyload"></div>
                                <div class="game-info">
                                    <div class="game-name">Olaf Viking</div>
                                    <div class="game-provider">3 Oaks</div>
                                </div>
                            </div>
                            <div class="game-buttons"><button
                                    class="game-button button button--has-skew button--t2"><span>Demo</span></button><button
                                    class="game-button button button--has-skew button--t1"><span>Real</span></button>
                            </div>
                        </div>
                        <div class="game-item">
                            <div class="game-content">
                                <div class="game-img"><img
                                        data-src="https://gis-static.com/games/Wazdan/a2c8d16d2681990624668a7871464ba06fe955a3.png"
                                        alt="9 Bells" class="lazyload"></div>
                                <div class="game-info">
                                    <div class="game-name">9 Bells</div>
                                    <div class="game-provider">Wazdan</div>
                                </div>
                            </div>
                            <div class="game-buttons"><button
                                    class="game-button button button--has-skew button--t2"><span>Demo</span></button><button
                                    class="game-button button button--has-skew button--t1"><span>Real</span></button>
                            </div>
                        </div>
                        <div class="game-item">
                            <div class="game-content">
                                <div class="game-img"><img
                                        data-src="https://gis-static.com/games/Turbogames/898d68c263084212ab86357c92a49d05.png"
                                        alt="VORTEX" class="lazyload"></div>
                                <div class="game-info">
                                    <div class="game-name">VORTEX</div>
                                    <div class="game-provider">Turbogames</div>
                                </div>
                            </div>
                            <div class="game-buttons"><button
                                    class="game-button button button--has-skew button--t2"><span>Demo</span></button><button
                                    class="game-button button button--has-skew button--t1"><span>Real</span></button>
                            </div>
                        </div>
                        <div class="game-item">
                            <div class="game-content">
                                <div class="game-img"><img
                                        data-src="https://gis-static.com/games/Endorphina/9c2e89f3d4842b353db4f3de2776ffc6e1995f1a.png"
                                        alt="Royal Xmass 2" class="lazyload"></div>
                                <div class="game-info">
                                    <div class="game-name">Royal Xmass 2</div>
                                    <div class="game-provider">Endorphina</div>
                                </div>
                            </div>
                            <div class="game-buttons"><button
                                    class="game-button button button--has-skew button--t2"><span>Demo</span></button><button
                                    class="game-button button button--has-skew button--t1"><span>Real</span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><button class="button button--sidebar button--search" data-sidebar-external=""
        data-effect="mfp-move-horizontal"><i class="icon-search loaded"></i><span>Browse games</span></button>
</div>
{% endblock %}