{% extends "master::master.twig" %}
{% block content %}
    <div class="page page--text">
        <div class="container">
            <div class="container__box">
                <article class="article">
                    <h1>Terms & Conditions</h1>
                    <p>Welcome to CryptoVegas.<br>
                        To use our services, you must create an account and accept the terms and conditions below.</p>
                    <h2>Assistance for problem gaming</h2>
                    <p>If you think that you start spending more money than you can afford, or in case gaming starts interfering with your normal daily routines, we strongly advise to consider several measures that can help, such as setting personal limits on your gaming activities, opting for self-exclusion, and seeking help and support from trusted independent bodies. You can adjust your profile with various limits offered and make your game safe.</p>
                    <h2>Self-exclusion by request</h2>
                    <p>You may also contact our Support Team at responsible@emojino.com and inform us about your decision to stop gambling at the website for a certain period of time. We will take all measures to block your access to your user account and make sure that you receive no promotional materials.</p>

                </article>
                {{ fieldButton({
                    tag: 'a',
                    content: 'BACK TO HOMEPAGE',
                    href: 'login.html',
                    sizeClass: '1',
                    typeClass: '2'
                } ) }}
            </div>
        </div>
    </div>
    {% include '@components/providers.twig' %}
{% endblock %}

