{% extends "master::master.twig" %}
{% block content %}
    <div id="casino-toast" class="toast-top">
        <div class="casino-toast toast-success">
            <div class="toast-message">Message text here</div>
        </div>
        <div class="casino-toast toast-info">
            <div class="toast-message">Message text here</div>
        </div>
        <div class="casino-toast toast-error">
            <div class="toast-message">Message text here</div>
        </div>
    </div>
{% endblock %}
