{% extends "master::master.twig" %}
{% block content %}
	<div class="page page--tournament">
		<div class="container">
			<div class="tournaments tournaments--single">
				{{ fieldButton({
                    tag: 'a',
                    sizeClass: '1',
                    typeClass: '3',
                    href: '/html/pages/main.html',
                    content: 'back',
                    iconClass: 'icon-pointer-left'
                }) }}
				<div class="tournaments__list-item">
					<div class="tournament__list-card">
						<div class="tournaments__list-background">
							<picture>
								<source srcset="../../img/backgrounds/placeholder.webp" media="(min-width: 0px) and (max-width: 767px)" type="image/webp">
								<source srcset="../../img/backgrounds/placeholder-768.webp" media="(min-width: 768px) and (max-width: 1279px)" type="image/webp">
								<source srcset="../../img/backgrounds/placeholder-large.webp" type="image/webp">
								<img
								src="../../img/backgrounds/placeholder-large.png" class="tournaments__list-img" alt="bonus"/>
							{# <img src="../../img/backgrounds/tournament.jpg" class="tournaments__list-img" alt="bonus"/> #}
							</picture>
							<div class="status status--success">in progress</div>
							<div class="tournaments__list-time">
								ends in
								<div id="counter" class="counter"></div>
							</div>
							<div class="tournaments__list-info">
								<div class="tournaments__list-title">Incredible tournament with a great prize for
																																																						                                    our
																																																						                                    winners
								</div>
								<div class="tournaments__list-prize">
									<i class="icon-prize-tournaments"></i>
									<span>2 550 000</span>
									USD
									<i data-tooltip class="icon-info">
										<span class="tooltip-text">Guaranteed prize fund</span>
									</i>
								</div>
							</div>
						</div>
						<div class="tournaments__list-extra">
							<div class="tournaments__games">
								<div class="tournaments__games-item tournaments__games-item--available">
									Available games:
									<a href="">2333</a>
								</div>
								<div class="tournaments__games-item tournaments__games-item--restricted">
									Restricted games:
									<a href="">2333</a>
								</div>
							</div>
							{{ fieldButton({
                                tag: 'a',
                                content: 'Subscribe',
                                href: '',
                                sizeClass: '3',
                                typeClass: '1'
                            } ) }}
						</div>
					</div>
					<h2 class="tournaments__content-title">About</h2>
					<div class="tournaments__content">
						<div class="">
							<div class="tournaments__list-text">
								<div class="tab tab--tournament">
									<ul class="tabs">
										<li class="current">
											<span>Conditions</span>
										</li>
										<li>
											<span>Strategy</span>
										</li>
									</ul>
									<div class="tab__content">
										<div class="tabs__item">
											<p>
												Many elderly clients who enjoy playing live games or slot machines
																																																																								                                                at
																																																																								                                                times struggle
																																																																								                                                to get out of their houses in order to go to a land based casino.
																																																																								                                                That’s
																																																																								                                                how was
																																																																								                                                born; to bring the real casino entertainment to the screens of our
																																																																								                                                clients. Be it
																																																																								                                                mobile phone, tablet, laptop, desktop and even further mirror
																																																																								                                                viewing on
																																																																								                                                a smart TV
																																																																								                                                (local jurisdiction laws apply and it is the clients responsibility
																																																																								                                                to
																																																																								                                                keep upto
																																																																								                                                date with the restrictions) is some of the ways customers can enjoy
																																																																								                                                this
																																																																								                                                facility
																																																																								                                                from wherever they wish.
											</p>
										</div>
										<div class="tabs__item">
											<p>
												Points are awarded based on the maximum single win. For each win,
																																																																								                                                the
																																																																								                                                player is
																																																																								                                                awarded points in accordance with the settings. Points are not
																																																																								                                                summed
																																																																								                                                up, but from
																																																																								                                                all the values for the tournament, the maximum result for each
																																																																								                                                player is
																																																																								                                                selected.
																																																																								                                                The tournament table is formed according to the best maximum result
																																																																								                                                of
																																																																								                                                the players.
											</p>
										</div>
									</div>
								</div>
								<div class="tournaments__list-text--desktop">
									<h3>Conditions</h3>
									<p>
										Many elderly clients who enjoy playing live games or slot machines at times
																																																												                                        struggle
																																																												                                        to get out of their houses in order to go to a land based casino. That’s how
																																																												                                        was
																																																												                                        born; to bring the real casino entertainment to the screens of our clients.
																																																												                                        Be
																																																												                                        it
																																																												                                        mobile phone, tablet, laptop, desktop and even further mirror viewing on a
																																																												                                        smart
																																																												                                        TV
																																																												                                        (local jurisdiction laws apply and it is the clients responsibility to keep
																																																												                                        upto
																																																												                                        date with the restrictions) is some of the ways customers can enjoy this
																																																												                                        facility
																																																												                                        from wherever they wish.
									</p>
									<h3>Strategy</h3>
									<p>
										Points are awarded based on the maximum single win. For each win, the player
																																																												                                        is
																																																												                                        awarded points in accordance with the settings. Points are not summed up,
																																																												                                        but
																																																												                                        from
																																																												                                        all the values for the tournament, the maximum result for each player is
																																																												                                        selected.
																																																												                                        The tournament table is formed according to the best maximum result of the
																																																												                                        players.
									</p>
								</div>
							</div>
						</div>
						<div class="">
							<div class="tournaments__stats">
								<div class="tournaments__stats-item">
									<div>Starts</div>
									<div>
										<span>01.05.2022</span>
										<span>08:00</span>
										<div>(UTC + 2)</div>
									</div>
								</div>
								<div class="tournaments__stats-item">
									<div>Ends</div>
									<div>
										<span>01.05.2022</span>
										<span>08:00</span>
										<div>(UTC + 2)</div>
									</div>
								</div>
								<div class="tournaments__stats-item">
									<div>Participation fee</div>
									<div>
										<span>15</span>
										<div>USD</div>
									</div>
								</div>
								<div class="tournaments__stats-item">
									<div>Minimum bet</div>
									<div>
										<span>100</span>
										<div>USD</div>
									</div>
								</div>
								<div class="tournaments__stats-item">
									<div>Number of prizes</div>
									<div>
										<span>4</span>
									</div>
								</div>
								<div class="tournaments__stats-item">
									<div>Tournament strategy</div>
									<div>
										<span data-tooltip class="tooltip-wrapper">
											<span class="tooltip-caption">Win Multiplier GradationWin Multiplier GradationWin Multiplier Gradation</span>
											<span class="tooltip-text">Win Multiplier GradationWin Multiplier GradationWin Multiplier Gradation</span>
										</span>
									</div>
								</div>
								<div class="tournaments__stats-item">
									<div>Tournament points</div>
									<div>
										<span>1 USD = 800 points</span>
									</div>
								</div>
								<div class="tournaments__stats-item">
									<div>Exchange rates</div>
									<div>
										<span>1 USD</span>
										<div>=</div>
										<span class="tournaments__stats-exchange">
											0,94 EUR, 135.163 JPU, 1.44001 AUD, 0.01795 LTC, 0.00005 XBT, 0.00082 ETH,
																																																																		                                        457.544 KZT, 1,288.5 KRW, 1.28895 CAD,
																																																																		                                        54.1013 RUB
										</span>
									</div>
								</div>
							</div>

						</div>
					</div>


				</div>
			</div>
		</div>
		<div class="container">
			<div class="tournaments">
				<div class="tournaments__header">
					<h2 class="tournaments__title">Scores</h2>
				</div>
				<div class="tournaments-score">
					<div class="tournaments-score__info">
						<div class="tournaments-score__info-item">
							your Place
							<div class="tournaments-score__info-place">
								<span>7</span>
								/ 200
							</div>
						</div>
						<div class="tournaments-score__info-item">
							your Points
							<span>200 589 000</span>
							<div class="tournaments-header__buster">
								<i class="icon-fire"></i>X2</div>
						</div>
						<div class="tournaments-score__info-item">
							You may win
							<span>0 USD</span>
						</div>
					</div>
					<div class="tournaments-score__search">
						<div class="tournaments-score__search-item">
							<div class="form__input form__input--text input error search-input">
								<i class="icon-search"></i>
								<div class="search-input__wrapper">
									<input type="text" id="" value="" placeholder="Search">
								</div>
								<div class="form__notification form__notification--error">You must enter more than
																																																						                                    two
																																																						                                    characters to search
								</div>
							</div>
							{{ fieldButton({
                                tag: 'a',
                                content: 'Search',
                                href: '',
                                sizeClass: '1',
                                typeClass: '1'
                            } ) }}
						</div>
						<a class="tournaments-score__link" href="#">How is the prize calculated?</a>
					</div>
					<div class="tournaments-score__content">
						<div class="tournaments-score__content-header">
							<div>Place</div>
							<div>Nickname</div>
							<div>Points</div>
							<div>Prize</div>
						</div>
						{% set k = 7 %}
						{% for i in range(1, k) %}
							<div class="tournaments-score__content-item {% if loop.index == 6 %} active {% endif %}">
								<div>
									{% if loop.index == 1 %}
										<img src="../../img/icons/gold.svg" alt="">
									{% elseif loop.index == 2 %}
										<img src="../../img/icons/silver.svg" alt="">
									{% elseif loop.index == 3 %}
										<img src="../../img/icons/bronze.svg" alt="">
									{% else %}
										<img src="../../img/icons/regular.svg" alt="">
									{% endif %}
									{{ i }}
								</div>
								{% if loop.index == 5 %}
									<div>Long nickname for test</div>
								{% else %}
									<div>Cartman_Eric</div>
								{% endif %}
								<div>200 589 000
									{% if loop.index == 4 %}
										<div class="tournaments-header__buster">
											<i class="icon-fire"></i>X2</div>
									{% endif %}
								</div>
								<div>
									{% if loop.index == 1 %}
										2 550 000 USD
									{% endif %}
									{% if loop.index == 2 %}
										<span>2 550 000 USD</span>
									{% endif %}
								</div>
							</div>
						{% endfor %}
						<div class="tournaments-score__content-text">
							200 participants in total
						</div>
					</div>
				</div>
				{% include '@components/pagination.twig' %}
			</div>
		</div>
		<div class="container">
			<div class="tournaments--prizes">
				<div class="games">
					<div class="swiper-header">
						<h3 class="swiper-header__title">Prize fund</h3>
						{{ fieldInput({
                            type: 'select',
                            id: 'currency',
                            value: [
                                { label: "USD" },
                                { label: "EUR" },
                                { label: "PERCENT"},
                            ],
                            customData: 'data-select-menu'
                        }) }}
						<div class="swiper-buttons">
							<div class="swiper-button-prev"></div>
							<div class="swiper-button-next"></div>
						</div>
					</div>
					<div class="swiper-header swiper-header--flex">
						<h3 class="swiper-header__title">Prize fund</h3>
						<div class="swiper-buttons">
							<div class="swiper-button-prev"></div>
							<div class="swiper-button-next"></div>
						</div>
					</div>
					{% include '@components/tournaments-prizes.twig' %}
				</div>
			</div>
		</div>
		<div class="container">
			<div class="games games--tournaments">
				<div class="swiper-header">
					<h3 class="swiper-header__title">Participatings games</h3>
					{{ fieldInput({
                            type: 'select',
                            id: 'currency',
                            value: [
                                { label: "USD" },
                                { label: "EUR" },
                            ],
                            customData: 'data-select-menu'
                        }) }}
					<div class="swiper-buttons">
						<div class="swiper-button-prev"></div>
						<div class="swiper-button-next"></div>
					</div>
				</div>

				<div class="games__list" data-games-tournament-swiper>
					<div class="swiper-wrapper">
						{% set k = 7 %}
						{% for i in range(1, k) %}
							<div class="games__list-item swiper-slide">
								{% if loop.index != 7 %}
									<img src="../../img/backgrounds/background-game-{{i}}.jpg" alt="" class="games__list-img">
								{% else %}
									<img src="../../img/components/quest/placeholder.svg" alt="" class="games__list-img games__list-img--default">
								{% endif %}

								<i class="icon-favorite"></i>
								<div class="games__list-title">Rocket Reels</div>
								<div class="games__list-subtitle">ELK Games</div>
								{{ fieldButton({
                            tag: 'a',
                            content: 'Demo',
                            href: '',
                            sizeClass: '1',
                            typeClass: '2'
                            } ) }}
								{{ fieldButton({
                            tag: 'a',
                            content: 'Play',
                            href: '',
                            sizeClass: '1',
                            typeClass: '1'
                            } ) }}
							</div>

						{% endfor %}
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="tournaments">
				<div class="tournaments__header">
					<h2 class="tournaments__title">You may also like</h2>
					<div class="swiper-buttons">
						<div class="swiper-button-prev swiper-button-prev--gray">
							<i class="icon-swiper-arrow"></i>
						</div>
						<div class="swiper-button-next swiper-button-next--gray">
							<i class="icon-swiper-arrow"></i>
						</div>
					</div>
					{{ fieldButton({
                        tag: 'a',
                        content: 'VIEW ALL',
                        href: '',
                        sizeClass: '1',
                        typeClass: '2',
                    } ) }}
				</div>
				<div class="tournaments__list" data-tournaments-swiper>
					<div class="swiper-wrapper">
						{% set k = 7 %}
						{% for i in range(1, k) %}
							<div class="tournaments__list-item tournaments__list-item--small swiper-slide">
								<div class="tournaments__list-background">
									<div class="status status--pending">Pending</div>
									{# status--success status--warning status--pending status--subscribed status--unsubscribed
																																																						                            status--expired #}
									{% if i == 1 %}
										<img src="../../img/backgrounds/placeholder.webp" alt="" class="tournaments__list-img">
									{% else %}
										<img src="../../img/backgrounds/tournament.jpg" alt="" class="tournaments__list-img">
									{% endif %}
								</div>
								<div class="tournaments__list-title">Incredible tournament with a great prize for
																																																						                                    our
																																																						                                    winners
								</div>
								<div class="tournaments__list-prize">
									<i class="icon-prize"></i>
									<span>2 550 000</span>
									USD
									<i data-tooltip class="icon-info">
										<span class="tooltip-text">Guaranteed prize fund</span>
									</i>
								</div>
								{{ fieldButton({
                                    tag: 'a',
                                    content: 'Learn more',
                                    href: '',
                                    sizeClass: '1',
                                    typeClass: '2',
                                    customClass: 'button--yellow'
                                } ) }}
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="page">
		{% include '@components/providers.twig' %}
		{% include '@components/payments.twig' %}
	</div>
{% endblock %}
