{% extends "master::master.twig" %}
{% block content %}
	<div class="page page--tournaments">
		<div class="container container--gap">
			<div class="tournaments tab--tournaments">
				<div class="tournaments__header tournaments__header--page">
					<h1 class="tournaments__title">Tournaments (logged user)</h1>
					<div>
						<ul class="tabs">
							<li>
								<span>All tournaments</span>
							</li>
							<li>
								{# <span>My tournaments</span> #}
								<div class="loader loader--small">
									<div class="loader__inner">
										<img src="../../img/elements/loader.svg" class="loader__circle" alt="loading"/>
									</div>
								</div>
							</li>
						</ul>
					</div>

					{{ fieldInput({
                        type: 'select',
                        id: 'timezone',
                        value: [
                            { label: "All statuses" },
                            { label: "In progress" },
                            { label: "Upcoming" },
                            { label: "Ended" }
                        ],
                        notification: 'Заполнено верно',
                        customData: 'data-select-menu'
                    }) }}
				</div>

				<div class="tournaments__header--guest">
					<h1 class="tournaments__title tournaments__title--list">Tournaments (guest)</h1>
					{{ fieldInput({
                        type: 'select',
                        id: 'tabs',
                        value: [
                            { label: "All" },
                            { label: "In progress" },
                            { label: "Upcoming" },
                            { label: "Ended" }
                        ],
                        customClass: 'select--tabs select--tabs-B',
                        customData: 'data-tabs'
                    }) }}
				</div>
				<div class="tabs__wrapper">
					<div class="tabs__content active">
						<div class="tournaments__list tournaments__list--grid">
							{% set k = 6 %}
							{% for i in range(1, k) %}
								<div class="tournaments__list-item {{ i == 1 ? 'tournaments__list-item--active' : '' }}">
									<div class="tournaments__list-background">
										{% if i == 1 %}
											<picture>
												<source srcset="../../img/backgrounds/placeholder.webp" media="(min-width: 0px) and (max-width: 767px)" type="image/webp">
												<source srcset="../../img/backgrounds/placeholder-768.webp" media="(min-width: 768px) and (max-width: 1279px)" type="image/webp">
												<source srcset="../../img/backgrounds/placeholder-large.webp" type="image/webp">
												<img src="../../img/backgrounds/placeholder-large.png" class="tournaments__list-img" alt="bonus"/>
											</picture>
										{% else %}
											<img src="../../img/backgrounds/tournament.jpg" alt="" class="tournaments__list-img">
										{% endif %}
										<div class="status status--success">
											<i class="icon-play"></i>
											In progress</div>
										{% if i == 1 %}
											<div class="tournaments__list-time">
												ends in
												<div id="counter" class="counter finish"></div>
											</div>
										{% endif %}
										<div class="tournaments__list-info">
											<div class="tournaments__list-title">Incredible tournament with a great
																																																																																																																																																												                                                prize
																																																																																																																																																												                                                for
																																																																																																																																																												                                                our
																																																																																																																																																												                                                winners
											</div>
											<div class="tournaments__list-prize">
												<i class="icon-prize-tournaments"></i>
												<span>2 550 000</span>
												USD
												<i data-tooltip class="icon-info">
													<span class="tooltip-text">Guaranteed prize fund</span>
												</i>
											</div>
										</div>

									</div>
									<div class="tournaments__content">
										<div class="">
											<div class="tournaments__games">
												<div class="tournaments__games-item tournaments__games-item--available">
													Available games:
													<a href="">2333</a>
												</div>
												<div class="tournaments__games-item tournaments__games-item--restricted">
													Restricted games:
													<a href="">2333</a>
												</div>
											</div>
											{% if i != 1 %}
												<div class="tournaments__list-place">
													<div>
														<img src="../../img/icons/gold.svg" alt="">
														1
													</div>
													<div>Nickname</div>
													<div>200 589 points</div>
												</div>
												<div class="tournaments__list-place">
													<div>
														<img src="../../img/icons/silver.svg" alt="">
														2
													</div>
													<div>Nickname</div>
													<div>200 589 points</div>
												</div>
												<div class="tournaments__list-place">
													<div>
														<img src="../../img/icons/bronze.svg" alt="">
														3
													</div>
													<div>Nickname</div>
													<div>200 589 points</div>
												</div>
												<div class="tournaments__list-place">
													<div>
														<img src="../../img/icons/regular.svg" alt="">
														4
													</div>
													<div>Nickname</div>
													<div>200 589 points</div>
												</div>
												<div class="tournaments__list-place active">
													<div>
														899
													</div>
													<div>Michael_78 (you)</div>
													<div>
														<span>100 000 USD</span>
													</div>
												</div>
											{% else %}
												<div class="tournaments__list-text">
													<p>
														Many elderly clients who enjoy playing live games or slot
																																																																																																																																																																																						                                                        machines
																																																																																																																																																																																						                                                        at
																																																																																																																																																																																						                                                        times
																																																																																																																																																																																						                                                        struggle to
																																																																																																																																																																																						                                                        get out of their houses in order
																																																																																																																																																																																						                                                        to go to a land based casino. That’s how was born; to bring the
																																																																																																																																																																																						                                                        real
																																																																																																																																																																																						                                                        casino
																																																																																																																																																																																						                                                        entertainment to the screens of our clients.
																																																																																																																																																																																						                                                        Be it mobile phone, tablet, laptop, desktop and even further
																																																																																																																																																																																						                                                        mirror
																																																																																																																																																																																						                                                        viewing on a
																																																																																																																																																																																						                                                        smart
																																																																																																																																																																																						                                                        TV (local jurisdiction laws apply
																																																																																																																																																																																						                                                        and it is the clients responsibility to keep upto date with the
																																																																																																																																																																																						                                                        restrictions) is
																																																																																																																																																																																						                                                        some of
																																																																																																																																																																																						                                                        the way...
													</p>

												</div>
											{% endif %}
										</div>
										<div class="tournaments__content-right">
											<div class="tournaments__stats">
												<div class="tournaments__stats-item">
													<div>Starts</div>
													<div>
														<span class="tournaments__stats-date">01.05.2022</span>
														<span>08:00</span>
														<div>(UTC + 2)</div>
													</div>
												</div>
												<div class="tournaments__stats-item">
													<div>Ends</div>
													<div>
														<span class="tournaments__stats-date">01.05.2022</span>
														<span>08:00</span>
														<div>(UTC + 2)</div>
													</div>
												</div>
												<div class="tournaments__stats-item">
													<div>Participation fee</div>
													<div class="tournaments__stats-col">
														<div class="tournaments__stats-value">
															<span>15</span>
															<div>USD</div>
														</div>
														<div class="tournaments__stats-value--crypto">
															1.0234132674<span>btc</span>
														</div>
													</div>
												</div>
												<div class="tournaments__stats-item">
													<div>Minimum bet</div>
													<div class="tournaments__stats-col">
														<div class="tournaments__stats-value">
															<span>15</span>
															<div>USD</div>
														</div>
														<div class="tournaments__stats-value--crypto">
															1.0234132674<span>btc</span>
														</div>
													</div>
												</div>
												<div class="tournaments__stats-item">
													<div>Number of prizes</div>
													<div>
														<span>4</span>
													</div>
												</div>
												<div class="tournaments__stats-item">
													<div>Tournament strategy</div>
													<div>
														<span data-tooltip class="tooltip-wrapper">
															<span class="tooltip-caption">Win Multiplier GradationWin Multiplier GradationWin Multiplier Gradation</span>
															<span class="tooltip-text">Win Multiplier GradationWin Multiplier GradationWin Multiplier Gradation</span>
														</span>
													</div>
												</div>
											</div>
											<div class="tournaments__buttons">
												{{ fieldButton({
                                                    tag: 'a',
                                                    content: 'Learn more',
                                                    href: '',
                                                    sizeClass: '1',
                                                    typeClass: '2',
                                                    customClass: 'button--yellow'
                                                } ) }}
												{{ fieldButton({
                                                    tag: 'a',
                                                    content: 'Subscribe',
                                                    href: '',
                                                    sizeClass: '1',
                                                    typeClass: '1'
                                                } ) }}
											</div>
										</div>
									</div>
								</div>
							{% endfor %}
						</div>
					</div>
					<div class="tabs__content">
						Second tab
					</div>
				</div>
				{% include '@components/pagination.twig' %}
			</div>
		</div>
		{% include "@components/providers.twig" %}
		{% include '@components/payments.twig' %}
	</div>
{% endblock %}
