{% set logged = "yes" %}
{% extends "master::master.twig" %}
{% block content %}
<div class="page page--transactions">
    <div class="container">
        <div class="transactions">
            <div class="">
                {{ fieldButton({
                tag: 'a',
                sizeClass: '1',
                typeClass: '3',
                href: '/html/pages/profile.html',
                content: 'back',
                iconClass: 'icon-pointer-left'
                }) }}
                <div class="transactions__header">
                    <h1>Transaction history</h1>
                    {{ fieldInput({
                    type: 'select',
                    id: 'tabs',
                    value: [
                    { label: "Deposit" },
                    { label: "Withdrawal" }
                    ],
                    customClass: 'select--tabs',
                    customData: 'data-tabs data-tabs-save=transactions_tabs'
                    }) }}
                </div>
            </div>
            {% include '@components/transactions-list.twig' %}
            {% include '@components/pagination.twig' %}
        </div>
    </div>
    {% include "@components/providers.twig" %}
    {% include '@components/payments.twig' %}
</div>
{% endblock %}