{% extends "master::master.twig" %}
{% block content %}
<div class="page page--update-data">
    <div class="container">
        <h1>Update Page</h1>
    </div>
    <div class="container">
        Update content
    </div>
</div>
{% endblock %}
