/*!*************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/css/static-page/index.scss ***!
  \*************************************************************************************************************************/
html,
body {
  overflow-x: hidden;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  min-height: 100vh;
  text-decoration-skip: none;
}

iframe {
  border: 0;
}

main {
  display: block;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

li {
  display: block;
}

dl {
  margin-top: 0;
  margin-bottom: 0;
}

dd {
  margin-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: inherit;
}

blockquote {
  margin: 0;
  padding: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

sup {
  position: relative;
  top: -0.5em;
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0;
}

strong {
  font-weight: bold;
}

figure {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

img {
  max-width: 100%;
  height: auto;
  border: 0;
  vertical-align: middle;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  overflow: visible;
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  text-align: inherit;
  text-transform: inherit;
  letter-spacing: inherit;
  font: inherit;
  cursor: pointer;
  -webkit-font-smoothing: inherit;
}

button,
[type=text],
[type=password],
[type=submit],
[type=search],
[type=email],
[type=tel],
textarea {
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

::-moz-focus-inner {
  padding: 0;
  border: 0;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

th {
  vertical-align: middle;
}

td {
  vertical-align: middle;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  outline: 0;
}

input::-ms-clear,
input::-ms-reveal {
  display: none;
}

input[type=radio],
input[type=checkbox] {
  margin: 0;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

#titlediv {
  display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  color: var(--background-on);
  background-color: var(--surface);
  border: 0;
  -webkit-text-fill-color: var(--background-on);
  -webkit-box-shadow: none;
  transition: background-color 5000s ease-in-out 0s;
}

input:-internal-autofill-selected,
input:-internal-autofill-previewed {
  color: var(--background-on) !important;
  background-color: var(--surface) !important;
  -webkit-box-shadow: inset 0 76px var(--surface) !important;
  -webkit-text-fill-color: var(--background-on) !important;
  border: 1px solid var(--surface) !important;
}

html {
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
}

body {
  font-size: 16px;
  font-family: "Open Sans", sans-serif !important;
  line-height: 28px;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: normal;
  user-select: none;
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  
}

h1 {
  display: block;
  width: 100%;
  font-size: 28px;
  line-height: 36px;
  font-weight: 700;
  
  color: #FFFFFF;
}

h2 {
  display: block;
  width: 100%;
  font-size: 30px;
  font-weight: 700;
}

h3 {
  font-size: 24px;
  font-weight: 700;
}

p {
  margin-bottom: 20px;
}

li,
a {
  user-select: none;
}

.text__link {
  text-decoration: underline;
  color: #b0a39b;
}
.text__link:hover {
  color: #ff6b00;
}

@media all and (min-width: 481px) {
  body {
    font-size: 20px;
    line-height: 32px;
  }
  h1 {
    font-size: 36px;
    line-height: 48px;
  }
}
@media all and (min-width: 769px) {
  h1 {
    font-size: 44px;
    line-height: 52px;
  }
}
.blocked {
  background-color: #141417;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px;
}
.blocked--page {
  height: initial;
  padding-bottom: 32px;
}
.blocked__content {
  background-color: #141417;
  padding: 20px;
  text-align: center;
  border-radius: 20px;
  width: 100%;
  max-width: 814px;
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 1, 0.95), -2px -2px 8px 0px rgba(56, 56, 63, 0.75);
}
.blocked__img {
  background-color: #19191d;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-radius: 16px;
  margin-bottom: 20px;
}
.blocked__img img {
  width: 60px;
}
.blocked__img--numbers img {
  width: 78px;
}
.blocked__title {
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 8px;
}
.blocked__text {
  font-size: 12px;
  line-height: 20px;
}

@media all and (min-width: 481px) {
  .blocked__content {
    padding: 40px;
  }
  .blocked--page {
    padding-bottom: 40px;
  }
  .blocked__img {
    width: 120px;
    height: 120px;
    margin-bottom: 32px;
  }
  .blocked__img img {
    width: 72px;
  }
  .blocked__img--numbers img {
    width: 94px;
  }
  .blocked__title {
    font-size: 28px;
    line-height: 36px;
  }
  .blocked__text {
    font-size: 14px;
    line-height: 24px;
  }
}
@media all and (min-width: 640px) {
  .blocked {
    padding: 40px 32px 40px;
  }
}
@media all and (min-width: 769px) {
  .blocked--page {
    padding-bottom: 80px;
  }
  .blocked__img {
    width: 180px;
    height: 180px;
    margin-bottom: 40px;
  }
  .blocked__img img {
    width: 108px;
  }
  .blocked__img--numbers img {
    width: 142px;
  }
  .blocked__title {
    font-size: 36px;
    line-height: 48px;
  }
  .blocked__text {
    font-size: 16px;
    line-height: 28px;
  }
}
