@import "../../base/mixins/scrollbar.scss";

.categories {
    &--header-navigation {
        @extend %categories-slider-navigation-top;
    }

    @media all and (min-width: 768px) {
        &--header-navigation {
            gap: 40px;
        }
    }
}

.categories__list {
    $gap-for-shadow: 4px;

    %categories-slider-navigation-top & {
        width: 100vw;
        height: 72px;
        margin-left: -16px;
        margin-top: $gap-for-shadow * -1;
        margin-bottom: $gap-for-shadow * -1;
        padding: $gap-for-shadow 104px $gap-for-shadow 25px;
    }

    @media all and (min-width: 768px) {
        %categories-slider-navigation-top & {
            padding: $gap-for-shadow;
            margin: 0;
            width: 100%;
            transform: skew(-15deg);
        }
    }
}

.categories__item {
    %categories-slider-navigation-top & {
        width: 120px;
        background: $color-background;
        transform: skew(-15deg);
        box-shadow:
            1px 1px 4px 0px rgba(0, 0, 1, 0.95),
            -1px -1px 4px 0px rgba(155, 151, 183, 0.35);

        @media all and (min-width: 768px) {
            transform: none;
        }
        & > * {
            transform: skew(15deg);
        }

        i {
            font-size: 40px;
            height: 40px;
        }

        & img {
            width: 40px;
            max-height: 40px;
            object-fit: contain;
        }
    }

    %categories-slider-navigation-top & {
        &:hover {
            background-color: $color-elements-hover;
        }
    }
}
