@import "./categories-header-navigation.scss";

.categories__header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
    align-items: flex-start;
    margin-bottom: 24px;

    @media all and (min-width: 640px) {
        flex-direction: row;
        justify-content: space-between;
    }
}

.categories__title {
    color: $color-text-secondary;
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;
    font-family: $font-primary;

    @media all and (min-width: 1280px) {
        font-size: 32px;
        line-height: 44px;
    }
}

.categories__list {
    display: flex;
    gap: 8px;
    width: 100%;
    overflow: hidden;

    @media all and (min-width: 768px) {
        gap: 16px;
    }

    @media all and (min-width: 1920px) {
        gap: 40px;
    }
}

.categories__list-wrapper {
    position: relative;

    &::before,
    &::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        width: 60px;
        pointer-events: none;
        z-index: 2;
    }

    &::before {
        left: 0;
        background: linear-gradient(
            to right,
            #f7f6f4 0%,
            rgba(247, 246, 244, 0) 100%
        );
    }

    &::after {
        right: 0;
        background: linear-gradient(
            to left,
            #f7f6f4 0%,
            rgba(247, 246, 244, 0) 100%
        );
    }

    @media all and (min-width: 768px) {
        &::before,
        &::after {
            width: 80px;
        }
    }
}

.categories__item {
    flex-shrink: 0;
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
    border-radius: $border-radius-small;

    & i {
        display: flex;
        align-items: center;
    }

    @media all and (min-width: 1280px) {
        width: 124px;
    }

    @media all and (min-width: 1920px) {
        width: 138px;
    }
}

.categories__item-name {
    color: $color-text-primary;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    text-transform: uppercase;
}

.categories__item-img {
    max-height: 48px;
}

.categories__link {
    background-color: $color-elements;
    color: $color-text-primary;
    gap: 8px;
    width: 100%;
    height: 40px;
    border-radius: $border-radius-small;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    padding: 0 8px;
    transition:
        background-color 200ms,
        color 200ms;
    box-shadow:
        1px 1px 4px 0px rgba(0, 0, 1, 0.95),
        -1px -1px 4px 0px rgba(155, 151, 183, 0.35);

    &:hover {
        background-color: $color-elements-hover;
        color: $color-primary-hover;
    }

    i {
        color: $color-text-secondary;
        font-size: 24px;
        margin-right: 8px;

        &:last-child {
            rotate: 270deg;
            margin-left: auto;
            margin-right: 0;
        }
    }

    @media all and (min-width: 640px) {
        max-width: 240px;
    }
}

.categories__wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.categories-search-button {
    display: flex;
    align-items: center;
    transform: skew(-15deg);
    border-radius: $border-radius-small;
    font-size: 14px;
    color: $color-text-placeholder;
    cursor: pointer;
    box-shadow:
        1px 1px 4px 0px rgba(0, 0, 1, 0.95),
        -1px -1px 4px 0px rgba(155, 151, 183, 0.35);
    gap: 8px;

    & > * {
        transform: skew(15deg);
    }

    & i {
        font-size: 18px;
        color: $color-primary;
    }

    .container__header & {
        justify-content: flex-start;
        padding: 9px 16px;
        height: 40px;
        background-color: $color-elements;
        grid-column: span 2;
        width: 100%;
    }

    .categories__wrapper & {
        display: none;
    }

    @media all and (min-width: 768px) {
        font-size: 16px;

        .container__header & {
            display: none;
        }

        .categories__wrapper & {
            display: flex;
            justify-content: center;
            height: calc(100% - 8px);
            width: 86px;
            background-color: transparent;
            border: 1px solid $color-primary;

            span {
                display: none;
            }
        }
    }

    @media all and (min-width: 1280px) {
        .categories__wrapper & {
            width: 204px;

            span {
                display: block;
            }
        }
    }

    @media all and (min-width: 1920px) {
        .categories__wrapper & {
            width: 256px;
        }
    }
}
