.footer {
  .casino-info {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 24px;
    align-items: center;

    @media all and (min-width: 768px) {
      gap: 40px;
      margin-bottom: 40px;
    }
  }

  .casino-info__description {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;

    & p {
      margin-bottom: 0;
      text-align: center;
    }
  }

  & .socials {
    padding: 20px 32px;
    border: 1px solid $color-primary;
    transform: skew(-15deg);
    border-radius: 8px;
    grid-template-columns: repeat(4, 28px);

    > * {
      transform: skew(15deg);
    }
  }

  &-section--top {
    margin: 0 auto;
  }

  @media all and (min-width: 1280px) {
    &-section--top {
      display: flex;
      gap: 40px;
    }
  }

  @media all and (min-width: 1920px) {
    margin-top: 80px;
  }
}

.footer-layout {
  padding-top: 24px;
  padding-bottom: 32px;
  border-top: 1px solid $color-divider;
  display: grid;
  gap: 24px;

  @media all and (min-width: 640px) {
    padding-top: 40px;
    padding-bottom: 0;
    gap: 40px;
  }
}

.footer-description,
.footer-copyright {
  display: flex;
  flex-direction: column;
  grid-gap: 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;

  & p {
    margin-bottom: 0;
  }

  & img {
    width: 40px;
    height: 100%;
  }

  @media all and (min-width: 640px) {
    flex-direction: row;
  }
}

.footer-description {
  padding: 0 0 24px;
  align-items: center;
  text-align: center;

  @media all and (min-width: 480px) {
    text-align: left;
  }

  img {
    filter: grayscale(1);
    height: 56px;
    width: auto;
  }
}

.footer-copyright {
  align-items: center;
  justify-content: space-between;
  padding: 24px 16px 0;
  border-top: 1px solid $color-divider;
  gap: 28px;

  @media all and (min-width: 768px) {
    padding: 40px 0;
  }

  &__img {
    img {
      height: 56px;
      width: auto;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media all and (min-width: 480px) {
      flex-direction: row;
    }
  }
}
