.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  padding: 12px 16px;
  height: 82px;
  background: rgba(20, 20, 23, 0.5);
  backdrop-filter: blur(10px);
  z-index: 11;

  & .currency {
    position: unset;
    display: flex;
    flex-direction: row;
    margin-right: 8px;

    &__block:first-child {
      padding-bottom: 0;
      border-bottom: none;
      cursor: pointer;
      &::after {
        content: '';
      }
    }

    &__img {
      display: none;
    }
  }

  & .user-avatar__img.mobile {
    display: block;
  }

  & .user-avatar__wrapper {
    pointer-events: none;

    & .user-avatar__img {
      display: none;
    }
  }

  & .user-avatar .user-name {
    display: none;
  }

  &-logo {
    display: none;
  }

  & .header-user-area {
    & .button {
      flex-shrink: 0;

      &--message {
        display: none;
      }
    }
  }
}

.header-layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header-menu {
  display: none;
}

html[lang="hi"] {
    .header-user-area {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        grid-gap: 10px;
        width: 100%;
        @media all and (min-width: 391px) {
            grid-gap: 16px;
        }
        .button {
            padding: 0 10px;
            @media all and (min-width: 391px) {
                padding: 0 16px;
            }
        }
    }
}

.header-user-area {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  grid-gap: 16px;
  width: 100%;

  & .currency {
    flex-grow: 1;
    width: 100%;
    max-width: calc(100% - 136px);
    margin-right: auto;

    &[data-currency] {
      &:hover {
        cursor: pointer;
      }
    }

    &__block {
      width: fit-content;
      max-width: 50%;

      &:first-child {
        &::after {
          display: none;
          margin-left: auto;
        }
      }

      &:nth-child(2) {
        border-left: 1px solid $color-divider;
        padding-left: 8px;
      }
    }

    &__wrapper {
      width: 100%;
    }

    &__name {
      i {
        display: none;
      }
    }

    &__value,
    &__exchange {
      font-size: 12px;
      min-width: 64px;
      max-width: 100%;
      text-align: end;
    }

    &-select {
      width: calc(100vw - 32px);
      padding-top: 16px;
    }

    & .tabs {
      width: calc(100% - 32px);
      margin: auto;
    }
  }
}

@media all and (min-width: 480px) {
  .header {
    &-logo {
      display: flex;
      flex-shrink: 0;
      margin-right: 8px;
    }
  }

  .header-user-area, html[lang="hi"] .header-user-area {
    width: auto;
    max-width: calc(100% - 135px);

    & .currency {
      justify-content: flex-end;
      max-width: calc(100% - 148px);
      margin-right: 0;

      &-select {
        right: 0;
        width: 100%;
      }
    }
  }
}

@media all and (min-width: 640px) {
  .header {
    padding: 0 32px;
    height: 80px;
  }

  .header-user-area, html[lang="hi"] .header-user-area {
    & .currency {
      max-width: 240px;

      &__block {
        &:first-child {
          padding-right: 10px;
        }
      }

      &__name {
        width: calc(100% + 16px);

        i {
          display: block;
        }
      }
    }

    .button--login {
      width: fit-content;
      padding: 0 16px;

      & span {
        display: inline-block;
      }

      & i {
        margin-right: 8px;
      }
    }

    .button--chat,
    .button--menu {
      display: flex;
    }
  }
}

@media all and (min-width: 768px) {
  .header {
    .header-user-area, html[lang="hi"] .header-user-area {
      max-width: 100%;

      & .currency {
        max-width: 320px;

        &__wrapper {
          max-width: calc(100% - 32px);
        }

        &-select {
          min-width: 548px;
          left: unset;
          transform: none;
          padding-top: 24px;

          &__list {
            padding: 0 24px;
          }
        }

        & .tabs {
          width: calc(100% - 48px);
          margin: auto;
        }

        &__value {
          font-size: 14px;
        }

        &__img {
          display: inherit;
        }
      }
    }

    & .button--deposit {
      width: inherit;

      span {
        display: flex;
      }
    }
  }
}

@media all and (min-width: 1024px) {
  .header {
    & .user-avatar__wrapper {
      pointer-events: unset;

      & .user-avatar__img {
        display: block;
      }
    }

    & .user-avatar__img.mobile {
      display: none;
    }

    & .user-avatar .user-name {
      display: flex;
    }
  }
}

@media all and (min-width: 1280px) {
  .header {
    padding: 0 80px;
    &-menu {
      display: flex;
      align-items: center;
      gap: 16px;
    }

    .header-user-area, html[lang="hi"] .header-user-area {
      padding-left: 8px;

      & .currency {
        max-width: 260px;
      }
    }
  }
}

@media all and (min-width: 1440px) {
  .header {
    .header-user-area, html[lang="hi"] .header-user-area {
      & .currency {
        max-width: 320px;
      }
    }
  }
}

@media all and (min-width: 1560px) {
  .header {
    & .header-user-area, html[lang="hi"] & .header-user-area {
      gap: 24px;

      & .button--message {
        display: flex;
      }
    }
  }
}
