.sidebar-user {
  .currency {
    &__wrapper {
      max-width: calc(100% - 40px);
    }

    &__block {
      position: relative;
      width: 50%;
      margin-bottom: 8px;
      &::after {
        position: absolute;
        right: 0;
      }
    }
  }
}

@media all and (min-width: 480px) {
}
@media all and (min-width: 768px) {
}
@media all and (min-width: 1280px) {
}
