.sidebar {
  display: none;
  background: $color-surface;
  z-index: 11;
  box-shadow: 0px 18px 20px 0px rgba(0, 0, 1, 0.6);

  &-logo {
    display: none;
  }

  &.opened {
    display: block;
    position: fixed;
    top: 82px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;

    & .button--deposit {
      display: none;
    }

    & .currency {
      display: none;
    }

    & .user-loyalty {
      display: flex;
    }

    & .button--sidebar {
      justify-content: space-between;

      & span {
        display: inline-block;
      }

      & i {
        &:last-child {
          display: flex;
        }
      }
    }
  }

  &-content {
    @include scrollbar-primary;

    grid-gap: 16px;
    display: flex;
    flex-direction: column;
    padding: 20px;

    &__wrapper {
      @include scrollbar-primary;

      height: 100%;
      max-height: calc(100vh - 82px);
      overflow: auto;
    }

    .button--lang {
      img {
        width: 24px;
        height: 24px;
      }
    }
  }

  &-user {
    display: flex;
    flex-direction: column;
    grid-gap: 16px;
  }

  &-external {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    background: $color-background;
    box-shadow: 0 20px 40px 0 rgba(3, 21, 29, 0.2);

    &__header {
      padding: 16px 20px;
      border-bottom: 1px solid $color-divider;
      display: flex;
      flex-direction: column;
      gap: 16px;

      &-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        grid-gap: 80px;
      }
    }

    &__title {
      font-size: 20px;

      font-weight: 700;
      line-height: 36px;
      margin-bottom: 0;
    }

    &__content {
      height: calc(100% - 82px);
      padding: 20px;
      overflow-y: scroll;
      scrollbar-color: $color-divider $color-surface;
      scrollbar-width: thin;

      &::-webkit-scrollbar {
        width: 4px;
      }

      &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      }

      &::-webkit-scrollbar-thumb {
        background-color: $color-divider;
        outline: 1px solid $color-divider;
      }
    }
  }

  &-tournament {
    border-top: 1px solid $color-divider;
    border-bottom: 1px solid $color-divider;
    padding: 12px 0;
    min-width: 0; //fix что бы не растягивало родительский блок при grid
    &::-webkit-scrollbar-thumb {
      background-color: $color-divider;
      outline: 1px solid $color-divider;
    }
  }

  &-tournament {
    border-top: 1px solid $color-divider;
    border-bottom: 1px solid $color-divider;
    padding: 12px 0;
    min-width: 0; //fix что бы не растягивало родительский блок при grid

    &__title {
      display: flex;
      font-size: 10px;
      font-weight: 500;
      line-height: 12px;
      text-transform: uppercase;
      margin-bottom: 4px;
      gap: 4px;

      & span {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      & .icon-arrow-link {
        font-size: 8px;
      }
    }

    &__value,
    &__time {
      display: flex;
      font-size: 12px;
      font-weight: 400;
      line-height: 20px;

      p {
        margin: 0;
      }
    }

    &__value {
      margin-bottom: 3px;
      gap: 8px;

      span {
        &:first-child {
          color: $color-text-primary;
          font-size: 14px;
          font-weight: 700;
          line-height: 24px;
          margin-left: 4px;
        }

        &:nth-child(2) {
          &::before {
            content: '/';
            margin-right: 2px;
          }
        }
      }
    }
  }
}

.mfp-content .sidebar-external .mfp-close {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 40px;
  padding: 0 16px;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: 0.02em;
  border-radius: 8px;
  box-sizing: border-box;
  user-select: none;
  cursor: pointer;
  transition: all 0.5s;
  grid-gap: 8px;
  box-shadow:
    1px 2px 6px 0px rgba(0, 0, 1, 0.95),
    -1px -2px 6px 0px rgba(155, 151, 183, 0.35);
  color: $color-primary;
  background-color: $color-elements;
  transform: skew(-15deg);
  opacity: 1;

  &:hover {
    background: $color-elements-hover;
  }

  i {
    transform: skew(15deg);
    pointer-events: none;
  }
}

.mfp-bg ~ .sidebar.opened::before {
  background: transparent;
  .mfp-bg ~ .sidebar.opened::before {
    background: transparent;
  }
}

.mfp-bg {
  background: rgba(20, 20, 23, 0.8) !important;
  opacity: 1 !important;
}

.body.opened {
  position: fixed;
  left: 0;
  width: 100%;
  overflow: hidden;
  gap: 0;
}

@media all and (min-width: 480px) {
  .sidebar {
    &-external {
      width: 320px;
    }
  }
}

@media all and (min-width: 640px) {
  .sidebar {
    &.opened {
      max-height: 100vh;
      bottom: auto;

      &::after {
        content: '';
        height: 100vh;
        background: rgba(20, 20, 23, 0.8);
        position: absolute;
        z-index: 8;
        width: 100%;
        height: 100vh;
      }
    }

    &-content {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 16px 20px;
      padding: 32px;
    }
  }
}

@media all and (min-width: 769px) {
  .sidebar {
    &-external {
      &__header {
        gap: 20px;
        padding: 20px 40px;
      }

      &--providers {
        width: 768px;
      }

      &__content {
        padding: 40px;
      }
    }
  }

  .mfp-content .sidebar-external .mfp-close {
    top: 20px;
    right: 40px;
  }
}

@media all and (min-width: 1280px) {
  .sidebar {
    &.opened {
      &::after {
        content: none;
      }

      & .currency {
        display: flex;
      }
    }

    & .button--deposit {
      display: flex;

      & span {
        display: none;
      }
    }

    &.opened {
      position: unset;
      z-index: 11;
      width: auto;

      &::before {
        content: '';
        width: 100vw;
        height: 100vh;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        background: rgba(20, 20, 23, 0.8);
      }

      & .logo--small {
        display: none;
      }

      & .logo--full {
        display: block;
      }

      & .sidebar-logo {
        & i {
          transform: rotate(180deg) skew(15deg);
        }
      }

      & .button--deposit {
        display: flex;

        & span {
          display: inline-block;
        }
      }

      & .sidebar-promo {
        display: block;
      }

      & .sidebar-contacts__title,
      .sidebar-contacts__description {
        display: inherit;
      }

      & .sidebar-contacts {
        padding: 12px 16px;

        & .socials {
          margin-top: 12px;
        }

        & .socials-link {
          background: $color-text-placeholder;

          &:hover {
            background: $color-primary-solid;
          }
        }
      }

      & .sidebar-banner {
        padding: 12px 16px;

        &__text {
          display: block;
        }
      }

      .sidebar-menu {
        &__link {
          justify-content: flex-start;

          & i {
            margin-right: 8px;
          }

          & span,
          strong {
            display: inline-block;
            word-break: break-word;
          }
        }
      }
    }

    &-logo {
      position: relative;
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 40px;
      border-bottom: 1px solid $color-divider;

      & .logo--full {
        display: none;
      }
    }

    &-content {
      display: flex;
      padding: 24px 40px;
      height: calc(100% - 80px);
      overflow: auto;
      scrollbar-color: $color-divider $color-surface;
      scrollbar-width: thin;
      // fix for cryptofiat and scrollbar
      padding-left: 230px;
      margin-left: -190px;

      &::-webkit-scrollbar {
        width: 4px;
      }

      &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      }

      &::-webkit-scrollbar-thumb {
        background-color: $color-divider;
        outline: 1px solid $color-divider;
      }

      &__wrapper {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        width: 80px;
        max-height: 100%;
        background-color: $color-surface;
        overflow: unset;
        z-index: 2;
      }
    }

    &-tournament {
      &__title {
        font-size: 14px;
        line-height: 20px;

        & .icon-arrow-link {
          font-size: 10px;
        }
      }

      &__value,
      &__time {
        font-size: 14px;
        line-height: 24px;
      }

      &__value {
        span {
          &:first-child {
            font-size: 16px;
            line-height: 28px;
          }
        }
      }
    }
  }
}
