.sidebar-contacts {
    padding: 12px 16px;
    border-radius: $border-radius-small;
    background: $color-elements;
    display: flex;
    justify-content: space-between;

    &__title {
        color: $color-primary-solid;
        font-size: 14px;
        font-weight: 700;
        line-height: 24px;
        margin-bottom: 0;
        font-style: normal;
    }

    &__description {
        color: $color-text-secondary;
        font-size: 12px;
        font-weight: 400;
        line-height: 20px;
        margin-bottom: 0;
    }

    & .socials {
        margin-top: 12px;
        grid-template-columns: 32px 32px;

    }

    & .socials-link {
        height: 32px;
    }
}

@media all and (min-width: 769px) {
    .sidebar-contacts {
        margin-bottom: 0;
    }
}

@media all and (min-width: 1280px) {
    .sidebar-contacts {
        padding: 8px;
        order: 3;

        &__title,
        &__description {
            display: none;
        }

        & .socials {
            margin-top: 0;
        }

        & .socials-link {
            background: transparent;
        }
    }
}