.sidebar-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-gap: 8px;
    padding: 12px 16px;
    border-radius: $border-radius-small;
    color: $color-text-primary;
    height: 39px;
    position: relative;
    overflow: hidden;
    min-height: 39px;

    >*:not(.sidebar-banner__bg) {
        z-index: 2;
    }

    &__title {
        color: $color-text-primary;
        font-size: 14px;
        font-weight: 700;
        line-height: 24px;
        margin-bottom: 0;
        font-style: normal;
    }

    &__text {
        margin-right: auto;
    }

    &__img {
        font-size: 24px;
    }

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    &.quests {
        order: 1;
        height: 39px;
    }
}

@media all and (min-width: 1280px) {
    .sidebar-banner {
        padding: 8px;
    }
}
