.sidebar-promo {
    &__title {
        color: $color-text-primary;
        font-size: 16px;
        font-weight: 700;
        line-height: 28px;
        margin-bottom: 8px;
        font-style: normal;

    }
    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 8px;
    }
    &__item {
        display: flex;
        align-items: center;
        border-radius: 8px;
        padding: 8px;
        grid-gap: 8px;
        background: $color-elements;
    }
    &__img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 8px;
        background: $color-divider;
        color: $color-text-primary;
        font-size: 24px;
    }
    &__name {
        color: $color-primary-solid;
        font-size: 12px;
        font-weight: 700;
        line-height: 20px;
        margin-bottom: 0;
        font-style: normal;
    }
    &__status {
        color: $color-text-secondary;
        font-size: 12px;
        font-weight: 400;
        line-height: 20px;
        margin-bottom: 0;
    }
}

@media all and (min-width: 481px) {}
@media all and (min-width: 769px) {}
@media all and (min-width: 1281px) {}
